<template>
  <div lang="en" dir="ltr">
    <page-header content="information for visitors" />
    <div class="row justify-center">
      <div class="col col-md-10">
        <h2 id="arrival-directions" class="text-h4">Arrival Directions</h2>
        <p>
          To arrive at the University, it is best to get directions from
          <a :href="gmaps_url">Google Maps</a>,
          <a :href="moovit_url">Moovit</a> or <a :href="waze_url">Waze</a>.
          Additional arrival instructions to the University are available on the
          <a :href="links.bgu_maps">University page</a>.
        </p>

        <p>
          Within the University, the department of mathematics resides in the
          <em>Deichman building</em>, number <code>58b</code> (see maps below,
          click campus map for a more detailed version).
        </p>

        <div id="maps" class="row">
          <div class="col col-lg-8">
            <div class="embed">
              <iframe
                :src="links.google_map"
                width="99%"
                height="99%"
                allowfullscreen=""
              />
            </div>
          </div>

          <div class="col col-lg-8">
            <figure>
              <a :href="links.bgu_campus_lg" class="noarrow">
                <img :src="links.bgu_campus_sm" alt="campus map" class="map" />
              </a>
            </figure>
          </div>
        </div>

        <h2 id="general-information" class="text-h4">General information</h2>

        <p>
          The <a :href="links.visitors">University’s visitors page</a>
          contains general information for overseas students and other visitors,
          including the
          <a :href="links.calendar">academic calendar</a>
        </p>

        <p>
          Additional information for visitors is available on the
          <Link href="/community/wiki">Visitors’ Wiki</Link>.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/Components/PageHeader.vue'

export default {
  components: {
    PageHeader,
  },
  data() {
    return {
      links: {
        bgu_maps: 'http://in.bgu.ac.il/en/Pages/maps.aspx',
        google_map:
          "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.484310371182!2d34.80205711612159!3d31.262696181455848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502665889049f19%3A0xb625305a93623408!2sDeichmann+Building+for+Mathematics%2C+Be'er+Sheva!5e0!3m2!1sen!2sil!4v1475692710515",
        bgu_campus_sm:
          'http://in.bgu.ac.il/SiteAssets/Pages/maps/marcus_map.png',
        bgu_campus_lg: 'http://in.bgu.ac.il/maps/marcus_map.pdf',
        calendar:
          'http://in.bgu.ac.il/en/Global/Documents/OSP%20Docs/Academic%20Calendar%202022-2023.pdf',
        visitors: 'http://in.bgu.ac.il/en/Global/Pages/default.aspx',
      },
    }
  },
  computed: {
    gmaps_url() {
      return this.$page.props.settings?.gmaps_url?.value
    },
    moovit_url() {
      return this.$page.props.settings?.moovit_url?.value
    },
    waze_url() {
      return this.$page.props.settings?.waze_url?.value
    },
  },
}
</script>

<style lang="css" scoped>
.map {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.embed {
  border: 2px inset;
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &::before {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
</style>
