<div class="h-100 carousel-item<%= @active %><%= carousel_item_show.css_class %>" data-bs-interval="<% interval(carousel_item_show) %>">

  <% if type = carousel_item_show.type_html %>
    <% unless @toastjs_done %>
      <% extrajs do %>
        <%= javascript_include_tag 'toast' %>
      <% end %>
      <% @toastjs_done = true %>
    <% end %>
    <div class="toast position-absolute" role="alert" aria-live="assertive"
         aria-atomic="true" data-autohide="false">
      <div class="toast-header">
        <%= type %>
      </div>
    </div>
  <% end %>

  <%# carousel_item_show.as_carousel %>
  <%= render partial: carousel_item_show.show_partial,
  object: carousel_item_show %>
</div>

<% @active = '' %>

