<div class="col d-flex flex-column 
  carousel-item-resource<%= small ? ' carousel-item-resource-small' : '' %>">
  <% if carousel_item_record.has_content? %>
    <%= render carousel_item_record.resource, small: small %>
  <% end %>
</div>
