<% h1, h2, h3 = small ? %i[h3 h4 h5] : %i[h1 h2 h3] %>
<% in_locale(:he) do %>
  <<%= h1 %> dir="auto"><%= course %></<%= h1 %>>

  <% if course&.lecturer.present? %>
    <<%= h2 %> class="text-center" dir="auto"><%= course.lecturer %></<%= h2 %>>
  <% end %>

  <% if course.some_info.present? && !small %>

    <div class="row justify-content-center align-items-center flex-grow-1">
      <div class="col mx-2 col-md-10 my-auto course rounded lead 
                  font-weight-bold mathjax w-100" dir="auto">
        <%= markdown(course.some_info,
                     wrapper: { class: %w[block-truncate],
                                style: 'background-color: inherit;' }) %>
      </div>
    </div>

  <% end %>

<% end %>

<%# vim: sw=2 fo=tcqwa ft=eruby.html:
%>

