<% provide(:title, event) %>
<%= h1 do %>
  <%= event %>
<% end %>

<div class="row-flex justify-content-center">
  <div class="d-flex flex-column col">
    <dl class="row details-dl">
      <dt class="col-5"><%= tt 'coord.time' %></dt>
      <dd class="col-7"><%= date_range(event.starts, event.ends) %></dd>
      <dt class="col-5"><%= tt 'coord.place' %></dt>
      <dd class="col-7"><%= event.location %></dd>

      <% unless current_page?(event.web) %>
        <dt class="col-5"><%= tt 'teaching.webpage' %></dt>
        <dd class="col-7"><%= event.linked %></dd>
      <% end %>
    </dl>
    <div class="m-auto mathjax expander" dir="auto">
      <%= markdown(event.description) %>
    </div>
  </div>
    <% if event.descfiles.present? %>
    <div class="col">
      <%= embed event.descfiles %>
    </div>
  <% end %>
</div>



