<div class="row">
  <div class="col col-md-6">
    <%= f.input :activates, as: :date_picker, html5: true %>
  </div>
  <div class="col col-md-6">
    <%= f.input :expires, as: :date_picker, html5: true %>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    <%= f.input :order %>
  </div>
  <div class="col col-md-6">
    <%= f.input :interval %>
  </div>
</div>

<div>
  <div>
    <%= type = selector(
      f, :type, [ResourceCarouselItem, UrlCarouselItem, ImageCarouselItem],
      input: { disabled: false, readonly: false }
    ) %>
  </div>
  <div>

    <%= type.for(ResourceCarouselItem) do %>
      <% f.object.resources.build %>
      <ul>
        <%= f.simple_fields_for :resources do |ff| %>
          <li>
            <%= res = selector(
              ff, :resource_type, resource_types, cast: false,
            ) %>
          <%= res.each do |cls| %>
            <%= ff.input :resource_id,
              label: cls.name, collection: try("#{cls.name.underscore}_list"),
              as: :select %>
          <% end %>
          <%= ff.input :_destroy, as: :boolean, label: 'Remove' %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= type.for(UrlCarouselItem) do %>
      <%= f.input :url %>
    <% end %>

    <%= type.for(ImageCarouselItem) do %>
      <%= f.input :image, as: :attachment_preview %>
    <% end %>

  </div>

</div>

