<div class="d-flex flex-column w-100 h-100">
  <% if resource_carousel_item.title.present? %>
    <h1><%= resource_carousel_item.title %></h1>
  <% end %>
  <div class="row carousel-resource-row">
    <%= render resource_carousel_item.resources,
      small: resource_carousel_item.small %>
  </div>
</div>
