<% in_locale(:he) do %>
  <h1><%= role %></h1>

  <% if role.description.present? %>
    <div class="row row-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body mathjax">
            <%= markdown(role.description) %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

<% unless role_users(role).empty? %>
  <div class="d-flex justify-content-around">
    <%= render role_users(role), role: role %>
  </div>
<% end %>
<% end %>

