<% h1, h2, h3 = small ? %i[h3 h4 h5] : %i[h1 h2 h3] %>
<% in_locale(seminar.allowed_locale) do %>
  <<%= h1 %> dir="auto"><%= seminar %></<%= h1 %>>

  <% meeting = seminar.object.meetings.from_time.first&.decorate %>

  <% if meeting.present? %>
    <% if meeting.announcement.blank? %>
      <<%= h2 %> class="my-2" dir="auto"><%= meeting.title %></<%= h2 %>>
      <<%= h3 %> class="my-2 text-center" dir="auto">
      <%= meeting.full_speaker(false) %>
      </<%= h3 %>>
      <div class="row justify-content-center">
        <div>
          <div class="coords">
            <p dir="auto">
            <em><%= l meeting.date, format: :daylong %>, 
              <%= l meeting.starts %> &ndash; <%= l meeting.ends %></em>, 
            <b><%= meeting.room %></b>
            </p>
          </div>
          <% if meeting.unusual %>
            <div class="lead text-center">
              <p dir="auto">
              <strong><%= tt :unusual, what: meeting.unusual %>!</strong>
              </p>
            </div>
          <% end %>
        </div>
      </div>

      <% if meeting.has_abstract? && !small %>
        <div class="row justify-content-center align-items-center flex-grow-1">
          <div class="col col-md-10 my-auto">
            <div class="lead font-weight-bold seminar" dir="auto">
              <%= markdown(meeting.abstract, wrapper: { 
                class: %w[mathjax block-truncate],
                style: 'background-color: inherit;'
              }) %>
            <%= embed meeting.descfiles %>

            </div>
          </div>
        </div>
      <% end %>

    <% else %>

      <div class="row justify-content-center">
        <div class="col col-md-10 my-2">
          <div class="bordered well mathjax lead text-center" dir="auto">
            <%= markdown(meeting.announcement) %>
          </div>
        </div>
      </div>

    <% end %>

  <% end %>

<% end %>

