<div class="card bordered front mx-1" dir="rtl">
  <div class="card-header">
    <h2><%= user %></h2>
  </div>

  <div class="card-body row">
    <div class="col-<%= user.photo ? '8' : '12' %>">
      <dl class="row card-text">
        <dt class="col-4"><%= tt('email') %></dt>
        <dd class="col-8"><%= user.email_address %></dd>
        <dt class="col-4"><%= tt('phone') %></dt>
        <dd class="col-8"><%= user.phone %></dd>
        <dt class="col-4"><%= tt('office') %></dt>
        <dd class="col-8"><%= user.office %></dd>
      </dl>
    </div>
    <% if user.photo %>
      <div class="col">
        <%= user.photo_html(class: %w[img-fluid avatar]) %>
      </div>
    <% end %>
  </div>

</div>

