<div id="carousel"
     class="carousel slide h-100"
     data-ride="<%= Rails.env.development? ? 'false' : 'carousel' %>" 
     data-interval="<%= interval %>" data-pause="false">
     <div class="carousel-inner h-100">
       <% @active = ' active' %>
       <%= render partial: 'carousel_item_show', collection: current_objects %>
     </div>
     <% if Rails.env.development? %>
       <a class="carousel-control-prev"
          href="#carousel" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" 
          href="#carousel" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     <% end %>
</div>
