<%= h1 %>

<h2>Current</h2>
<ul id="item-list">
<%= render partial: 'carousel_item', collection: objects.current %>
</ul>

<h2>Future</h2>
<ul id="item-list-future">
<%= render partial: 'carousel_item', collection: objects.future %>
</ul>

<h2>Past</h2>
<ul id="item-list-past">
<%= render partial: 'carousel_item', collection: objects.past %>
</ul>

<%# form_button %>
<%# don't use modal, it is difficult with image %>
<%= new_button %>
<%= action_button(:carousel) %>

