<% extracss do %>
  <%= stylesheet_link_tag 'carousel', media: 'all',
      'data-turbolinks-track' => true %>
<% end %>

<%= h1 do %>
  <%= object %><%= object.action_list %>
<% end %>
<dl>
  <dd>Activates</dd><dt><%= object.activates %></dt>
  <dd>Expires</dd><dt><%= object.expires %></dt>
  <dd>Order</dd><dt><%= object.order %></dt>
  <dd>Interval</dd><dt><%= object.interval %></dt>
</dl>
<div class="carousel-preview">
  <% @active = ' active' %>
  <%= render 'carousel_item_show', carousel_item_show: object %>
</div>
