<div class="col attach-container">
  <div class="thumb-container">
    <%= blob.linked img_opts: {size: local_assigns.fetch(:size, :normal)} %>
    <span class="attach-actions">
      <%= blob.destroy_btn(icon: {size: nil}) %>
    </span>
  </div>
</div>


