ניתן לעקוב אחר הפנייה בכתובת:

[פנייה <%= @issue.slug %>](<%= @issue.show_url %>)

==

בברכה,

צוות המחלקה למתמטיקה

### <%= t('teaching.issues.show.extra_people') %>

<% @departments.each do |dept| %>

#### <%= dept %>
<% dept.people.each do |who| %>
- <%= who %>
<% end %>
<% end %>

### <%= tt(IssuesAgudaRep, count: 2) %>
- <%= @aguda_rep %>

