שלום רב,

פנייה חדשה הוגשה על ידי <%= @reporter %> בתאריך <%= l @issue.created_at, format: :long %> 
בקורס <%= @course.to_label(nil, :to_s) %>.

### *<%= Issue.human_attribute_name(:title) %>*: <%= @issue %>

<%= md_render 'details' %>

הפנייה הועברה לטיפול המחלקה, ותשובה תשלח בהקדם.

<%= md_render 'signature' %>

<%# vim: ft=eruby.markdown:
%>
