**חשוב!**

הוגשה פנייה בנוגע לקורס <%= @course.to_label(nil, :to_s) %>, אולם בקורס 
לא מוגדר מרצה. הפנייה נוצרה בהצלחה, אך יש
[לעדכן את המרצה](<%= @course.edit_url %>)
ולאחר מכן לשלוח את הודעת הפנייה מתוך [עמוד הפנייה](<%= @issue.show_url %>)

בברכה,
מערכת הפניות

