**חשוב!**

נעשה ניסיון להגיש פנייה במערכת הפניות לסטודנטים, אולם לא מוגדרים מטפלי 
פניות במערכת, אז פנייה כזו לא תטופל.

על מנת לפתור את הבעיה, יש לנקוט בצעדים הבאים:

- יש להגדיר מטפלי פניות מתוך חברי המחלקה הקבועים:

  1. יש למצוא את [חברי המחלקה](<%= people_members_url %>)
     הרלוונטיים וללחוץ על `עריכה` (`edit`).
  2. ברשימת התפקידים יש לסמן תפקיד של
     מטפל פניות (<%= AppSetup.issues_roles.map{|x| "`#{x}`"}.join(', ') %>)
  3. ללחוץ על כפתור העדכון

- ליידע את מטפלי הפניות בבעיה ולפתור את הבעיה מול מגישי הפנייה (אולי 
  לבקש להגיש את הפנייה מחדש). פנייה זו הוגשה
  על-ידי [<%= @student %>](mailto:<%= @student.email_address %>).

בברכה,

מערכת הפניות

<%# vim: ft=eruby.markdown tw=72
%>
