שלום רב,

התשובה הסופית בפנייה *<%= @issue %>*
שמספרה `<%= @issue.slug %>`
בקורס **<%= @course.to_label(nil, :to_s) %>**
ניתנה על ידי <%= @replier %> בתאריך <%= l @issue.published_at, format: :long %>.

#### לשון התשובה:

<%= blockquote(@issue.response.content) %>

------------------------------------------------------------------------

פרטי הפנייה כפי שהוגשה:

<%= md_render 'details' %>

<%= md_render 'signature' %>

