שלום רב,

ניתנה תשובה בפנייה שמספרה `<%= @issue.slug %>`,
  *<%= @issue %>*
בקורס **<%= @course.to_label(nil, :to_s) %>**.

התשובה ניתנה על ידי *<%= @replier %>* בתאריך <%= l @issue.replied_at, format: :long %>.

#### לשון התשובה:

<%= blockquote(@issue.response.content) %>

במידה ולא ייתקבלו הערות תוך <%= @issue.publish_delay %> שעות מזמן התשובה, תשובה זו תפורסם לסטודנטים.

------------------------------------------------------------------------

### פרטי הפנייה כפי שהוגשה:

<%= md_render 'details' %>

<%= md_render 'signature' %>

