<% @highlight_head_done ||= false %>
<% unless @highlight_head_done %>
  <% @highlight_head_done = true %>

  <%# highlight has only min versions %>

  <% extracss do %>
    <%= unpkg_css_tag '@highlightjs/cdn-assets', 'styles/default.min.css' %>
  <% end %>

  <% extrajs do %>
    <%= unpkg_js_tag '@highlightjs/cdn-assets', 'highlight.min.js' %>
    <%= unpkg_js_tag '@highlightjs/cdn-assets', 'languages/erb.min.js' %>
    <%= unpkg_js_tag '@highlightjs/cdn-assets', 'languages/latex.min.js' %>
    <%= unpkg_js_tag '@highlightjs/cdn-assets', 'languages/markdown.min.js' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/#{CLIPBOARD_VERSION}/clipboard.min.js", 'code_block'
    %>

<% end %>
<% end %>

<% content = code_block.code || yield(code_block) %>
<% if content.present? %>
<pre class="pre-code pre-scrollable <%= code_block.pre_classes %>" 
     id="<%= code_block.id %>-pre"><%= code_block.copy_button %><%= code_block.code_tag(content) %></pre>
<% end %>

