<%= tabs(embed.files, cls: []) do |f| %>
  <div class="embed-responsive embed-responsive-a4 file-embed">
    <object class="embed-responsive-item" width=99% height=99% 
            data="<%= f.web %>">
      <%= f.linked(embed.link_opts) %>
    </object>
  </div>
<% end %>
