<% unless embed.files.empty? %>
  <% content_for :preamble do %>
    \usepackage{pdfpages}
  <% end %>

  <% embed.tex_include_files(@latex_config) do |f| %>
    \includepdf[pages=-]{<%= f %>}
  <% end %>
<% end %>

