<%= render 'form_includes' %>

<%= form_modal.modal = modal form_modal.title, 
  **form_modal.modal_opts.deep_merge(
    id: form_modal.modal_id, button: false
) do |modal| %>

  <%= modal.header(
    class: "modal-header form-modal-header flex-column"
  ) do |modal| %>
    <div class="d-flex justify-content-between form-modal-title">
      <%= modal.header_title %><%= modal.close_button %>
    </div>
    <div class="modal-flash" dir="auto"></div>
  <% end %>

  <%= simple_form_for form_modal.form_path, form_modal.simple_form_opts do |f| %>

    <%= modal.body do |body| %>
      <%= render form_modal.partial, f: f, id_prefix: form_modal.id_prefix %>
    <% end %>

    <%= modal.footer(class: 'modal-footer form-modal-footer') do |footer| %>

      <% if form_modal.partial_prefix.present? %>
        <%= hidden_field_tag :partial_prefix, form_modal.partial_prefix,
          id: "#{form_modal.modal_id}-partial-prefix" %>
      <% end %>
      <%= hidden_field_tag :id_prefix, form_modal.id_prefix,
        id: "#{form_modal.modal_id}-id-prefix" %>
      <div class="form-row align-items-center justify-content-between">
        <div title="<%= tt 'forms.modmessage_tip' %>"
             data-toggle="tooltip" class="col-auto d-inline-flex px-0">
          <%=  label_tag(:message, tt('forms.modmessage'), class: "mb-0") %>
          <%=  text_area_tag(:message, nil,
                             class: %w[form-control form-control-sm], rows: 1,
                             id: "#{form_modal.modal_id}-modmessage",
                            ) %>
        </div>
        <div class="col-auto d-inline-flex px-0">
          <%= button_tag glyphicon(:submit), name: 'commit',
            class: %w[btn btn-primary],
            data: {
              disable: true,
              disable_with: glyphicon(:hourglass, nosr: true)
            } %>
        </div>
      </div>

    <% end %>

  <% end %>

<% end %>

<% if form_modal.button %>
  <% footer_gitem do %>
    <%= form_modal.button_tag %>
  <% end %>
<% end %>


