<% unless @graph_modal.present? %>
  <%= @graph_modal = modal(
    tag.span(id: 'sigma-popup-title'),
            id: 'sigma-node-modal', button: false) do |modal| %>

    <%= modal.header do |mod| %>
      <h4><span class='sigma-popup-field' id='sigma-popup-title'></span>
        <span class='small sigma-popup-field' id='sigma-popup-shid'></span></h4>
      <span class='sigma-popup-field' id='sigma-popup-credits'></span>
      <%= mod.close_button %>
    <% end %>

    <%= modal.body do |body| %>
      <div class='sigma-popup-field' id='sigma-popup-description'></div>
    <% end %>

    <% if Rails.env.development? %>
      <%= modal.footer do |footer| %>
 <code><pre>
        <var>x</var>: <span class='sigma-popup-field' id="sigma-popup-x"></span>
        <var>y</var>: <span class='sigma-popup-field' id="sigma-popup-y"></span>
        <var>size</var>: <span class='sigma-popup-field' id="sigma-popup-size"></span>
   </pre></code>
 <% end %>
   <% end %>



  <% end %>
  
  <%= render 'graph/sigma_graph' %>

<% end %>

<% unless graph.bare %>
<h2 class="my-3"><%= tt :dependency, count: 2 %></h3>
<h4 class="text-center my-3"><%= tt :dependency_tip %></h5>
<% end %>
<%= tag.div **graph.div_opts %>

