<% content_for modal.close_button_content do %>
  <%= dismiss_button :modal, data: { target: "##{modal.id}" } %>
<% end %>

<% content_for modal.header_title_content do %>
  <h4 class="modal-title" id="<%= modal.id %>-label">
    <%= modal.title %>
  </h4>
<% end %>

<% content_for modal.header_content do %>
  <%= modal.header_title %>
  <%= modal.close_button %>
<% end %>

<% if modal.button? %>
<div class="text-center mx-auto my-1">
  <%= modal.button_tag %>
</div>
<% end %>

<% unless modal.nobody? %>
  <div class="<%= modal.cssclass %> fade" dir="auto" id="<%= modal.id %>"
       tabindex="-1" 
       role="dialog" aria-labelledby="<%= modal.id %>-label" aria-hidden="true">
       <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered <%= modal.dialog_opts[:class] || '' %>"
         role="document">
     <div class="modal-content" id="<%= modal.id %>-content">
         <%= yield modal %>
     </div>
   </div>
</div>
<% end %>
