<nav aria-label="navigation">
  <ul class="pagination pagination-sm">
    <%= pager.prev_item %>

    <% pager.list.each do |x| %>
      <%= pager.item(x) %>
    <% end %>

    <%= pager.next_item %>
  </ul>
</nav>

