<% unless @cond_vis_done %>
<% extrajs do %>
  <%= javascript_include_tag 'cond_vis' %>
<% end %>
<% @cond_vis_done = true %>
<% end %>

<%= selector.form.input selector.field,
	selector.input.merge(collection: selector.col.map{|v| [tt(v), v]}) %>

