<% if tabs.display? %>
  <% unless @included_dynamic_js %>
    <% extrajs do %>
      <%= javascript_include_tag 'dynamic' %>
    <% end %>
    <% @included_dynamic_js = true %>
  <% end %>

  <%= tag.nav **tabs.opts.except(:context, :block) do %>

    <ul class="tabs-menu nav nav-pills nav-justified flex-column flex-sm-row" 
        role="tablist" id="<%= tabs.id_prefix %>tabs-btn-list">
      <% tabs.each_item(first: ' active') do |name, id, item, first| %>
        <% tab_id = "#{id}-tab" %>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="tab-btn nav-link<%= first %>" data-toggle="tab" 
             id="<%= id %>-btn" href="#<%= tab_id %>" 
             aria-controls="<%= tab_id %>" role="tab">
             <span><%= name %></span>
          </a>
        </li>
      <% end %>
    </ul>

  <% end %>

  <div class="tab-content" id="<%= tabs.id_prefix %>item-list">
    <% tabs.each_item(first: ' show active') do |name, id, item, first| %>
      <div class="tab-pane fade<%= first %>" id="<%= id %>-tab" role="tabpanel">
        <%= yield(item, name, id) %>
      </div>
    <% end %>
  </div>

<% else %>
  <% tabs.each_item do |name, id, item| %>
    <div>
      <%= yield(item, name, id) %>
    </div>
  <% end %>
<% end %>

