<% unless @dt_head_done.present? %>
  <% @dt_head_done = true %>

  <% extracss do %>
    <%= stylesheet_link_tag "https://cdn.datatables.net/v/bs4/#{DT_PLUGINS}/datatables.#{ASSETMIN}css"
  %>
<%# stylesheet_link_tag "https://cdn.datatables.net/plug-ins/#{DATATABLES_VERSION}/integration/font-awesome/dataTables.fontAwesome.css" 
%>
  <% end %>

  <% extrajs do %>
    <%= javascript_include_tag "https://cdn.datatables.net/v/bs4/#{DT_PLUGINS}/datatables.#{ASSETMIN}js"
    %>
  <%# javascript_include_tag "dataTables.hideEmptyColumns.#{ASSETMIN}js" %>
  <%= javascript_include_tag 'tables' %>
  
  <%# commented out to avoid nginx 502 bad gateway TODO %>
  <%= unpkg_js_tag 'jquery-expander' %>
  <%= javascript_include_tag 'expander' %>
  <% end %>

<% end %>

<%# div used for css, 10-bidi-fixes %>
<div class="table-responsive" dir="<%= loc2dir %>">
<%= tag.table(**table.table_opts) do %>
  <%= yield(table) %>
<% end %>
</div>

