<% extrajs do %>
  <%= javascript_include_tag 'toast' %>
<% end %>

<% content_for toast.close_button_content do %>
  <button type="button" data-dismiss="toast" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
<% end %>

<% content_for toast.header_title_content do %>
  <strong class="toast-title" id="<%= toast.id %>-label">
    <%= toast.title %>
  </strong>
  <% if toast.subtitle.present? %>
    <small><%= toast.subtitle %></small>
  <% end %>
<% end %>

<% content_for toast.header_content do %>
  <%= toast.header_title %>
  <%= toast.close_button %>
<% end %>

<% content_for :toasts do %>
  <div class="toast mt-3 <%= toast.cssclass %>" 
       role="alert" aria-live="assertive" aria-atomic="true" 
       dir="auto" data-autohide="false" id="<%= toast.id %>">
<%= toast.header %>
<%= toast.body do %>
  <%= yield toast %>
<% end %>
</div>
<% end %>

