<%= tag.button(tree_button.title, title: tree_button.modal_title,
                class: %w[tree-button-button],
                data: {toggle: :modal, 
                       target: "##{tree_button.id}", 
                       mtitle: tree_button.modal_title,
                       tree: tree_button.data,
}
               ) %>

<% unless @modal %>
  <% content_for :inner_footer do %>
    <%= render @modal = tree_button.modal!(context: self) do |mod| %>
      <%= mod.header %>
      <%= mod.body id: tree_button.container_id  do %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "graph/#{tree_button.type}" %>

<% end %>

<% tree_button.modal = @modal %>


