<template>
  <Head :title="title ? `${title} - ${$t('dep.home')}` : $t('dep.home')">
    <slot />
  </Head>
</template>

<script>
import { Head } from '@inertiajs/vue3'

export default {
  components: {
    Head,
  },
  props: {
    title: String,
  },
}
</script>
