<template>
  <div>
    <div v-if="$page.props.flash.alert" class="mx-auto">
      <q-alert :close-text="$t('close')" type="warning">
        {{ $page.props.flash.alert }}
      </q-alert>
    </div>
    <q-snackbar
      v-if="$page.props.flash.notice"
      app
      bottom
      value="1"
      color="success"
    >
      {{ $page.props.flash.notice }}
    </q-snackbar>
  </div>
</template>
