<template>
  <q-item>
    <q-btn-toggle
      v-model="locale"
      class="fit"
      push
      spread
      no-wrap
      glossy
      rounded
      :options="localeOptions"
    />
  </q-item>
</template>

<script>
import { useQuasar } from 'quasar'
import { useI18n } from 'vue-i18n'
import { watch } from 'vue'

import he from 'quasar/lang/he'
import en from 'quasar/lang/en-US'

import Base from '@/models/Base'

const langs = {
  he,
  en,
}

export default {
  setup() {
    const $q = useQuasar()
    const { locale } = useI18n({ useScope: 'global' })

    watch(locale, (val) => {
      $q.lang.set(langs[val])
      Base.locale = val
    })

    return {
      locale,
      localeOptions: [
        { value: 'en', label: 'English', dir: 'ltr', lang: 'en' },
        { value: 'he', label: 'עברית', dir: 'rtl', lang: 'he' },
      ],
    }
  },
}
</script>
