<template>
  <simple-form dark dense>
    <template #header="{ title }">
      <div class="row">
        <span class="text-h6">
          {{ title }}
          <q-icon name="$help">
            <q-tooltip anchor="top middle" max-width="66em" dir="ltr">
              <p>
                The login id is the University user name (email without the
                domain)
              </p>

              The password can be any of the following options:
              <ol>
                <li
                  v-for="method in methods"
                  :key="method"
                  v-html="$t(`auth.methods.${method}`)"
                />
              </ol>
              <p>
                E.g., if your University email is
                <kbd>dude@bgu.ac.il</kbd>, your university password is
                <kbd>foobar</kbd>, and your id is <kbd>123456789</kbd>, you may
                login with <kbd>dude</kbd> as the User Id, and
                <kbd>foobar;123456789</kbd> as the password.
              </p>
            </q-tooltip>
          </q-icon>
        </span>
        <q-space />
        <q-btn type="submit" icon="$enter" />
      </div>
    </template>
    <sf-text-field
      attr="email"
      dense
      dark
      class="q-mb-md"
      autocomplete="username"
      :suffix="suffix"
      required
    />
    <sf-password-field
      dense
      dark
      class="q-mb-md"
      autocomplete="password"
      required
    />

    <template #actions>
      <span v-show="false" />
    </template>
  </simple-form>
</template>

<script>
import SimpleForm from '@/Shared/SimpleForm/SimpleForm.vue'
import SfTextField from '@/Shared/SimpleForm/SfTextField.vue'
import SfPasswordField from '@/Shared/SimpleForm/SfPasswordField.vue'
import objectProvider from '@/mixins/objectProvider'
import UserSession from '@/models/UserSession'

export default {
  components: {
    SimpleForm,
    SfTextField,
    SfPasswordField,
  },
  mixins: [objectProvider],
  data() {
    return {
      session: {
        email: '',
        password: '',
      },
      show: false,
      methods: ['bgu', 'native', 'pam'],
    }
  },
  computed: {
    object() {
      return this.$bless(this.session, UserSession)
    },
    suffix() {
      return `@...${this.$setting('mail_domain')}`
    },
  },
}
</script>
