<template>
  <q-list id="sidemenu">
    <q-expansion-item
      v-for="(section, i) in permittedSections"
      :key="i"
      :icon="'$' + section.title"
      :label="ttC(`menu.${section.title}.title`)"
      group="sidemenu"
      :content-inset-level="1"
      dark
    >
      <template v-for="(item, k) in section.items" :key="k">
        <q-separator v-if="item == '|'" dark />
        <side-menu-link v-else :section="section.title" :item="item" />
      </template>
    </q-expansion-item>
  </q-list>
</template>

<script>
import SideMenuLink from '@/Layouts/parts/SideMenuLink.vue'

export default {
  components: {
    SideMenuLink,
  },
  data() {
    return {
      sections: [
        {
          title: 'people',
          items: ['members', 'postdocs', 'students', 'adjuncts'],
        },
        {
          title: 'research',
          items: [
            'faculty',
            'research_groups',
            'seminars',
            'events',
            '|',
            'center',
          ],
        },
        {
          title: 'teaching',
          items: [
            'cterm',
            'hours',
            'issues',
            'issues_users',
            '|',
            'handbook',
            'grad',
            'generic_courses',
            'catalog',
          ],
        },
        {
          title: 'community',
          items: [
            'visitors',
            'history',
            'school',
            'wiki',
            'imu',
            '|',
            'facebook',
          ],
        },
        {
          title: 'internal',
          items: ['resources', 'support', 'git', 'xmail', '|', 'about'],
        },
        {
          title: 'admin',
          items: ['app_setup', 'roles', 'versions', 'jobs', 'carousel_items'],
        },
      ],
    }
  },
  computed: {
    permittedSections() {
      return this.sections.filter((section) => this.policy(section.title))
    },
  },
  methods: {
    policy(cat) {
      return this.$page.props?.auth?.policy[cat] ?? true
    },
  },
}
</script>

<style lang="css" scoped>
#sidemenu {
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
