<template>
  <q-item v-ripple :href="route" :class="cls" dark v-bind="$attrs">
    <slot :tkey="tkey" :route="route">
      <q-item-label>{{ ttC(tkey) }}</q-item-label>
    </slot>
  </q-item>
</template>

<script>
export default {
  props: {
    section: String,
    item: String,
  },
  computed: {
    route() {
      try {
        return this.$route[`${this.section}_${this.item}`]()
      } catch (error) {
        return `/${this.section}/${this.item}`
      }
    },
    tkey() {
      return `menu.${this.section}.${this.item}`
    },
    cls() {
      return {
        'router-link-active': this.$page.url === this.route,
      }
    },
  },
}
</script>
