<template>
  <q-list id="usermenu">
    <q-separator dark />
    <q-expansion-item
      :icon="user.photo_url ? `img:${user.photo_url}` : '$loggedin'"
      :label="user.menu_item_title"
      header-class="text-info"
      default-opened
      dark
    >
      <q-btn-group glossy spread class="q-px-md">
        <q-btn
          icon="$userpage"
          glossy
          size="sm"
          :href="show_path"
          :label="ttC('menu.people.homepage')"
        />
        <q-btn
          glossy
          size="sm"
          :href="user.edit_path"
          color="secondary"
          icon="$edit"
          :label="ttC('actions.edit')"
        />
      </q-btn-group>

      <q-separator v-if="groups" dark />
      <q-expansion-item
        v-if="groups"
        :label="ttC('menu.research.research_groups')"
        :content-inset-level="1"
        group="usermenu"
        dark
      >
        <q-item v-for="item in groups" :key="item[0]" :href="item[1]">
          <q-item-section>
            <q-item-label>{{ item[0] }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-expansion-item>

      <q-separator v-if="seminars" dark />
      <q-expansion-item
        v-if="seminars"
        :label="ttC('menu.research.seminars')"
        :content-inset-level="1"
        group="usermenu"
        dark
      >
        <q-item v-for="item in seminars" :key="item[0]" :href="item[1]">
          <q-item-section>
            <q-item-label>{{ item[0] }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-expansion-item>

      <q-separator v-if="courses" dark />
      <q-expansion-item
        v-if="courses"
        :label="ttC('menu.teaching.courses')"
        :content-inset-level="1"
        group="usermenu"
        dark
      >
        <q-item v-for="item in courses" :key="item[0]" :href="item[1]">
          <q-item-section>
            <q-item-label>{{ item[0] }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-expansion-item>

      <q-separator dark />

      <q-item :href="$route.logout()">
        <q-item-section>
          <q-item-label>{{ ttC('logout') }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
  </q-list>
</template>

<script>
export default {
  data() {
    return {
      uexpanded: false,
    }
  },
  computed: {
    user() {
      return this.$page.props.auth?.user
    },
    groups() {
      return this.auth_presence('groups')
    },
    seminars() {
      return this.auth_presence('seminars')
    },
    courses() {
      return this.auth_presence('courses')
    },
    show_path() {
      return this.$getRoute('people_user', this.user.to_param || this.user.id)
    },
  },
  methods: {
    auth_presence(what) {
      const auth = this.$page.props.auth
      return auth && auth[what] && auth[what].length > 0 ? auth[what] : null
    },
  },
}
</script>

<style lang="css" scoped>
#usermenu {
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
