<%= trasto_field(f, [:name], nil) %>

<%= f.input :webpage, as: :url, input_html: { dir: :ltr } %>

<%= f.input :catalog_id %>

<%= f.input :slug, input_html: { dir: :ltr } %>

<%= f.input :bgu_name, input_html: { dir: :rtl } %>

<%= f.association :people, collection: policy_scope(IssuesStaff).decorate %>

<%= f.association :courses,
  collection: policy_scope(GenericCourse).reorder(:shid).decorate, 
  as: :custom_check_boxes %>

