<%= h1 do %>
  <%= get_title %><%= object.action_list %>
<% end %>

<div class="mathjax" dir="auto">
  <strong><%= tt 'name' %>:</strong>
  <%= link_to_if(department.webpage, department, department.webpage) %>
</div>

<div class="mathjax" dir="auto">
  <strong><%= tt 'teaching.catalog' %>:</strong>
  <%= department.catalog_id %>
</div>

<%= form = form_button issues_staff, partial: 'teaching/issues_users/form', 
  button: false, form_opts: {as: :issues_user} %>
<h2>
    <%= tt IssuesStaff, count: 2 %>
    <%= form.button_tag(class: %w[btn btn-primary btn-sm mx-2]) if form %>
</h2>
<ul id="item-list">
  <% department.people.each do |p| %>
    <li><%= p.linked_with_actions %></li>
  <% end %>
</ul>

<h2><%= tt Course, count: 2 %></h2>
<ul>
  <% department.courses.each do |c| %>
    <li><%= c.linked(c.to_label) + c.action_list %></li>
  <% end %>
</ul>

