<% content_for :inner_header do %>
  <div id="issues-login-box" class="d-flex mx-auto justify-content-center">
    <div class="p-1 lead border rounded-right">
      <%= tt IssuesUser %>
    </div>

    <% if current_issues_user_session %>
      <div id="issues-login-id" class="p-1 lead border">
        <%= current_issues_user.decorate.linked_with_actions %>
      </div>
      <div class="p-0 lead border rounded-left">
        <%= link_to tt(:logout), logout_teaching_issues_path, method: :delete, 
          class: %w[btn btn-primary] %>
      </div>

    <% else %>
      <div class="p-0 lead border rounded-left">
        <%= link_to tt(:login), login_teaching_issues_path, 
          class: %w[btn btn-primary] %>
      </div>
    <% end %>

  </div>
<% end %>
<%= render template: 'layouts/application' %>

