<%= f.input :name %>
<%= f.input :description, pagedown %>
<%= f.association :members, collection: User.academic.decorate %>
<%= f.association :seminars, collection: Term.default.seminars %>
<%= f.input :slug %>
<%= f.input_admins %>
