<tr>
  <td data-order="<%= person.last %>">
    <%= person.linked_with_actions %>
  </td>

  <%= person.email_td %>

  <td>
      <div class="expander mathjax" dir="auto">
        <%= markdown(person.interests) %>
      </div>
  </td>
  <td><%=  list_to_l(person.object.courses.this_year.decorate) if person.respond_to?(:courses) %></td>
</tr>
