<% cache object_cache_key(research_group) do %>
  <h2><%= research_group.linked_with_actions %></h2>
  <% if xeditable?(research_group) or research_group.description.present? %>
    <div class="row-flex justify-content-center">
      <div class="col col-lg-10 lead bordered">
        <%= editable_or research_group, :description, type: :textarea do %>
          <span class="mathjax" dir="auto">
            <%= markdown(research_group.description) %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless (seminars = research_group.seminars.object.this_term).empty? %>
    <h3><%= tt Seminar, count: 2 %></h3>
    <div class="row-flex justify-content-center">
      <div class="col col-lg-10 lead">
        <ul dir="auto">
          <% seminars.each do |s| %>
            <li><%= s.decorate.the_fullname(:linked) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% unless research_group.lmembers.empty? %>
    <h3><%= tt 'research.members' %></h3>
    <%= table title: "#{research_group.to_id}-table" do |table| %>
      <thead>
        <tr>
          <%= table.th(tt 'name') %>
          <%= table.th(tt 'email', class: :email) %>
          <%= table.th(tt 'research.interests') %>
          <%= table.th(tt(Course, count: 2)) %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'research/research_groups/person', 
          collection: research_group.lmembers %>
      </tbody>
    <% end %>
  <% end %>

<% end %>

