<%= h1 do %>
  <%= get_title %>
  <div class="text-center smaller">
    <div class="btn-group">
      <%= link_to(tt('people.alpha'), research_faculty_path, class: %w[btn btn-secondary]) %>
      <%= link_to(tt('people.bygroup'), faculty_research_research_groups_path, class: %w[btn btn-secondary disabled]) %>
    </div>
  </div>
<% end %>

<%= tabs(ResearchGroup.all.to_a.push(
  [tt('research.other_group'), 'other']
)) do |grp| %>
<h2><%= grp.try(:decorate) || tt('research.other_group') %></h2>
<div class="card-columns columns-wide">
  <%= render partial: 'people/members/member_research', 
    collection:  grp.respond_to?(:pop) ? groupless : grp.members.members.decorate, as: 'member' %>
</div>
<% end %>

