# <%= tt 'mir#index', scope: [:admin] %>

<%= Date.today.strftime('%a, %b %d %Y') %>

## Responders

<% if responders.present? %>
<% responders.each do |resp| %>
- [<%= resp %>](<%= resp.edit_url %>)
<% end %>
<% else %>
**No issues responders are present, issues system is inactive**
<% end %>

[Faculty members](<%= people_members_url %>) can be assigned as issue responders

## Catalogue Courses

<%= generic %>

## Active Courses for <%= term.year - 1 %> -- <%= @term.year %>

### Current term

<%= tcourses %>

### Other term

<%= ocourses %>

## Departments

<%= depts %>

Please [visit this list](<%= admin_mir_url %>) on the web to fix any issues.

