<% cache object_cache_key(member) do %>
  <% editable = member.policy.edit? %>
  <div class="card bordered facresearch">

    <div class="card-header">
      <div class="row-flex align-items-center justify-content-between">

        <div class="col-8 member-title px-0">
          <h3 class="card-title">
            <%= member.linked_with_actions %>
          </h3>

          <% if editable || member.phd_from.present? %>
          <h5 class="card-subtitle mt-1">
            <b><%= tt :phd %></b>: <%= editable_or member, :phd_from do %>
            <span class="phdfrom"><%= member.phd_from %></span><% end %>, <%= 
          editable_or member, :phd_year %>
          </h5>
        <% end %>

        </div>

        <% if member.photo.present? %>
          <div class="col member-photo px-0">
            <%= member.photo_html(class: %w[avatar]) %>
          </div>
        <% end %>
      </div>

    </div>

      <div class="card-body">
    <% if editable || member.interests.present? %>
      <div class="card-subbody">
        <h4 class="card-title"><%= tt 'research.interests' %></h4>
        <div class="card-text" dir="ltr">
          <%= editable_or member, :interests, type: :textarea do %>
            <div class="mathjax">
              <%= markdown(member.interests) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if editable || member.research_groups.present? %>
      <div class="card-subbody">
        <h4 class="card-title"><%= tt ResearchGroup, count: 2 %></h4>
        <div class="card-text">
          <%= editable_or member, :research_group_ids, type: :checklist, 
            source: ResearchGroup.all.map{|r| 
            {value: r.id, text: r.decorate.to_s}} do %>
            <ul dir="ltr">
              <% member.research_groups.each do |x| %>
                <li><%= x.linked %></li>
              <% end %>
            </ul>

          <% end %>
        </div>
      </div>
    <% end %>

    <% if editable || member.postdocs.present? %>
      <div class="card-subbody">
        <h4 class="card-title"><%= tt Postdoc, count: 2 %></h4>
        <%= editable_select member, :postdocs, Postdoc.all do %>
          <ul class="card-text">
            <% member.postdocs.each do |p| %>
              <li><%= p.linked %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <% if editable || member.cur_students.present? %>
      <div class="card-subbody">
        <h4 class="card-title"><%= tt Student, count: 2 %></h4>
        <%= editable_select member, :students, User.students.all do %>
          <ul class="card-text">
            <% member.cur_students.decorate.each do |p| %>
              <li><%= p.linked %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <% if editable || member.past_students.present? %>
      <div class="card-subbody">
        <h4 class="card-title"><%= tt 'people.past_students' %></h4>
        <%= editable_select member, :students, User.past_students.all do %>
          <ul class="card-text">
            <% member.past_students.decorate.each do |p| %>
              <li><%= p.linked %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
      </div>
  </div>
<% end %>

