<%= h1 %>
<% @noeditable = true %>
<%# todo: provide proper translations
%>
<h3 id="people.members.head">
  <% if I18n.locale == :he %>
    ראו גם את <%= link_to('מחקר אנשי הסגל', research_faculty_path) %>
<% else %>
  You may also be interested in the 
  <%= link_to('faculty research interests', research_faculty_path) %>.
<% end %>
</h3>

<div class="row justify-content-center my-3 editable-allowed">
  <div class="col col-lg-10">
    <%= tabs([
      [tt(Regular, count: 2), 'Regular', members],
      #[tt(Kamea, count: 2), 'Kamea', kamea],
      [tt('people.emeriti'), 'Emeriti', emeriti],
      [tt('people.memoriam'), 'Memoriam', deceased],
    ].select{|x| x.last.present?  }, color: %w[bg-primary-lighter]) do |l| %>
    <h2><%= l[0] %></h2>
    <% if l[1] == 'Memoriam' %>
      <div>
        <dl class="text-center">
          <%= render partial: 'memoriam', collection: l[2], 
            as: :person %>
        </dl>
      </div>
    <% else %>
      <%= render 'table', people: l[2],
        table_opts: { title: l[1], id: "item-list-#{l[1]}" } %>
    <% end %>
  <% end %>
  </div>
</div>


<%= form_button partial: 'people/form' %>

<% content_for :notes do %>
  <li>
    People marked with <%= KameaDecorator.marks(title: nil) %>
    are supported by the KAMEA Program
  </li>
<% end %>

<% content_for :notes_he do %>
  <li>
    הסימון <%= KameaDecorator.marks(title: nil) %>
    מציין סגל בתמיכת תכנית קמע
  </li>
<% end %>
