<template>
  <div>
    <q-tabs
      :model-value="tab"
      align="justify"
      dark
      outside-arrows
      active-color="yellow-3"
      active-bg-color="teal-10"
      indicator-color="red"
      @update:model-value="setTab"
    >
      <q-tab
        v-for="group in items"
        :key="group.to_param"
        :name="group.to_param"
        :label="group.to_s"
      />
    </q-tabs>

    <research-group-item v-if="rgroup" :object="rgroup" />
  </div>

  <form-dialog v-slot="slotProps">
    <research-group-form modal v-bind="slotProps" />
  </form-dialog>

  <q-page-sticky position="top-right" :offset="[18, 10]">
    <new-btn />
  </q-page-sticky>
</template>

<script>
import ResearchGroupForm from '@/Components/research/ResearchGroupForm.vue'
import ResearchGroupItem from '@/Components/research/ResearchGroupItem.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import NewBtn from '@/Shared/NewBtn.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    ResearchGroupForm,
    ResearchGroupItem,
    FormDialog,
    NewBtn,
  },
  extends: IndexPage,
  props: {
    // selected group
    researchGroup: Object,
  },
  data() {
    const res = {
      tab: this.researchGroup?.to_param,
    }
    return res
  },
  computed: {
    rgroup() {
      return this.$bless(this.researchGroup)
    },
  },
  methods: {
    setTab(group) {
      this.tab = group
      this.$inertia.reload({
        only: ['researchGroup'],
        data: { researchGroup: group },
      })
    },
  },
}
</script>

<style lang="css">
.grid-mas {
  column-fill: balance;
  column-count: 2;
}

.q-card {
  break-inside: avoid;
}
</style>
