<template>
  <div class="row justify-evenly items-start">
    <setting-item
      v-for="item in items"
      :key="item"
      :object="object"
      :attr="item"
      :options="options"
    />
  </div>
</template>

<script>
import SettingItem from '@/Components/Admin/SettingItem.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    SettingItem,
  },
  extends: ShowPage,
  data() {
    return {
      options: this.$page.props.formInfo.roles.map((r) => this.$bless(r)),
    }
  },
  computed: {
    items() {
      return Object.keys(this.object)
        .map((it) => it.replace(/_id(s?)$/, '$1'))
        .filter((at) => this.$te(`settings.attributes.${at}.name`))
    },
  },
}
</script>
