<%# cache object_cache_key(course_list) do %>
  <li>
    <%= course_list.linked_with_actions %>
    <% if course_list.prereqs.present? %>
      <h6 class="my-3"><%= tt ProgPrereq, count: 2 %>:</h6>
      <ul>
        <% course_list.prereqs.each do |prereq| %>
          <li><%= prereq.linked_with_actions %>(<%= prereq.degree&.linked_with_actions %>, <%= prereq.ac_year&.linked_with_actions %>)</li>
        <% end %>
      </ul>
    <% end %>
  </li>
  <%# end %>
