<tr>
  <td role="gridcell" data-order="<%= course.shid %>" class="align-self-center">
    <%= course.shid_linked(short: true) %>
  </td>
  <td role="gridcell" data-order="<%= course %>">
    <%= course.linked_with_actions %>
  </td>
  <%# NOTE: editable cannot be used in decorators, so we have to do this here %>
  <td role="gridcell">
    <%= [editable_or(course, :lectures, type: :number),
         editable_or(course, :exercises, type: :number)]
      .select(&:present?)
    .join(is_rtl? ? '\\' : '/').html_safe %>
  </td>
  <td role="gridcell">
    <%= course.credits %>
  </td>
  <td role="gridcell">
    <%= course.map_terms(policy.edit?) do |term|
      editable_bool(course, term, tt("g#{term}", scope: %w[teaching term name]))
    end.join(', ').html_safe
  %>
  </td>
  <td role="gridcell" class="d-flex justify-content-between">
    <div><%= editable_select(course, :requires, GenericCourse.all) %></div>
    <% if course.requires.present? %>
      <%= tree_button(course.to_sigma_graph({}, {}, true),
                      'sigma_graph',
                      modal_title: tt('teaching.generic_course.prereq_tree'),
                      modal_opts: {style: 'height: 600px'}) %>
    <% end %>
  </td>
</tr>

