<% bare = local_assigns[:bare] %>
<%= table(data: false, class: bare ? %w[mb-0] : [], id: nil) do |table| %>
  <% unless bare && object.remarks.blank? %>
  <caption class="mathjax px-1">
    <% unless bare %><%= object %>. <% end
    %><%= markdown(object.remarks, inline: true) %>
  </caption>
<% end %>
  <thead>
    <tr>
      <%= table.th tt 'teaching.courseid' %>
      <%= table.th tt(:name_of, Course, count: 1) %>
      <%= table.th tt 'teaching.course_hours' %>
      <%= table.th(tt 'teaching.credits', count: '') %>
      <%= table.th tt(Term, count: 2)%>
      <%= table.th tt 'teaching.requires' %>
    </tr>
  </thead>
  <% if local_assigns[:total] || (local_assigns[:total].nil? && object.courses.count > 1) %>
  <tfoot>
    <tr>
      <th colspan="3">
        <div style="text-align: end"><%= tt 'teaching.tcredits' %></div>
      </th>
      <th><%= object.credits %></th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
<% end %>
  <tbody>
    <%= render partial: 'course', collection: object.courses %>
  </tbody>
<% end %>

