<%= f.association :shnaton, collection: Shnaton.all.decorate %>
<%= trasto_field(f, [:name, :remarks], nil, remarks: pagedown) %>
<%= f.association :courses, 
  collection: GenericCourse.all.reorder(:shid).decorate, 
  as: :custom_check_boxes, input_html: {multiple: true} %>

<%= f.input :credits, input_html: {
  value: f.object.dcredits ? f.object.credits : nil } %>

<%= f.association :prereqs, 
  collection: ProgPrereqDecorator.all.select{|x| x.shnaton == f.object.shnaton}, 
  input_html: {multiple: true} %>
