<li>
  <%= prog_prereq.linked_with_actions %>:
  <%= markdown(prog_prereq.to_short.capitalize, inline: true) %>
  (<%= prog_prereq.degree.linked_with_actions %>) <% if prog_prereq.parent %>,
    <%= t('in', what: prog_prereq.parent.linked_with_actions) %>
  <% end %>
</li>

