<%= h1 do %>
  <%= get_title %><%= course_list.action_list %>
<% end %>

<div class="row justify-content-center">
  <div class="col col-lg-10">
    <div class="card mb-3">
      <h5 class="card-header"><%= course_list.linked_with_actions %></h5>
      <% if course_list.courses.empty? %>
        <div class="mathjax">
        <%= markdown(course_list.remarks) %>
        </div>
      <% else %>
        <%= render 'ctable', object: course_list %>
      <% end %>
    </div>
  </div>
</div>

<% if course_list.prereqs.present? %>
  <h2><%= tt ProgPrereq, count: 2 %></h2>
  <ul>
    <%= render course_list.prereqs %>
  </ul>
<% end %>

<%= graph(course_list.to_sigma_graph) if course_list.to_sigma_graph[:nodes].present? %>

