<% extrajs do %>
  <%= javascript_include_tag 'pass' %>
<% end %>

<div class="my-3">
  <h3><%= tt :personal_details %></h3>
<fieldset>
  <div class="row">
  <%= trasto_field(
    f, [:first, :last],  
    first: {input_html: {autocomplete: 'given-name'},
            wrapper: :horizontal_form}, 
    last: {input_html: {autocomplete: 'family-name'},
           wrapper: :horizontal_form},
           langdiv_opts: { class: %w[col-md-6] },
  ) %>
  </div>
  <div class="row">
    <div class="col-md-6">
  <%= f.input :rank, collection: %i[Prof Dr Mr Ms Emeritus],
    wrapper: :horizontal_form %>
    </div>
    <div class="col-md-6">
  <%= f.input :email, input_html: {autocomplete: 'username'},
    wrapper: :horizontal_form %>
    </div>
  </div>
  <%= f.input :syspass, as: :boolean, input_html: {id: :syspass} %>
  <%= f.input :password, disabled: person.syspass, wrapper: :horizontal_form, 
    input_html: {id: :password, autocomplete: 'new-password'} %>
  <%= f.input :password_confirmation, disabled: person.syspass,
    wrapper: :horizontal_form,
    input_html: {id: :password_confirmation, autocomplete: 'new-password'} %>
  <%= f.input :webpage, as: :url, wrapper: :horizontal_form %>
  <div class="row">
    <div class="col-md-6">
  <%= f.input :office, wrapper: :horizontal_form %>
  </div>
    <div class="col-md-6">
  <%= f.input :phone, wrapper: :horizontal_form,
    input_html: { autocomplete: 'tel-local-suffix' } %>
  </div>
  </div>
  <%= f.input :photos, as: :image_preview %>
</fieldset>
</div>

<fieldset>
<div class="card">
  <div class="card-body" id="state">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :start, as: :date_picker %>
      </div>
      <div class="col-md-4">
        <%= f.input :finish, as: :date_picker %>
      </div>
      <div class="col-md-4">
        <%= f.input :deceased, as: :date_picker %>
      </div>
    </div>

    <%= f.input :onleave, as: :boolean, input_html: {id: :onleave} %>

    <%= f.simple_fields_for :leaves do |leaves_form| %>
      <div id="leave_form"<%= person.onleave ? '' : ' hidden="hidden"' %>>
        <div class="card">
          <div class="card-body">
            <%= leaves_form.input :duration %>
            <%= trasto_field(
              leaves_form, [:note], nil, 
              note: pagedown(label_id: 'people.leave', 
                             input_html: { rows: 5 })) %>
        </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
</fieldset>

<div class="my-3">
<h3><%= tt 'admin.roles#index' %></h3>

<fieldset>
<div class="card">
  <div class="card-body" id="roles">
    <%= f.input :admins, value_method: :id, 
      collection: form_roles.decorate,
      as: :custom_check_boxes, readonly: false, disabled: false,
      input_html: { multiple: true } %>
    <%= f.button :submit, tt('actions.new', Role), class: 'btn btn-primary' %>
  </div>
</div>
</fieldset>
</div>

<h3><%= tt :professional_details %></h3>
<div class="bg-warning">
<%= status = selector(f, :status, User.statuses.map(&:constantize), 
                       label_method: ->(it) { tt(it) },
                       input: { data: { style: 'btn-warning' }}) %>
</div>

<%= status.each do |type| %>
  <%= render "people/edit_extra/#{type.model_name.param_key}", f: f %>
<% end %>


