<tr>
  <td role="gridcell" data-order="<%= person.last %>" dir="auto">
    <%= person.linked_with_actions %>
  </td>
  <td role="gridcell" dir="rtl">
    <%= editable_md person, :hours, class: 'dir-rtl' %>
  </td>
  <td role="gridcell" class="email text-center" dir="auto">
    <%= editable_md person, :oh_location %>
  </td>
  <td role="gridcell" class="email"><%= my_editable person, :phone %></td>
  <%= person.email_td(dir: :auto) %>
</tr>

