<div class="row-center">
  <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5">
    <div class="bordered well p-1">
      <h4>Notes</h4>
      <ul>
        <%= yield :notes %>
        <li>From abroad, dial <code>+972-8-64x-xxxx</code>. 
          In Israel, dial <code>08-64-x-xxxx</code>.</li>
        <li>The mail domain is <code>@<%= Setting.mail_domain %></code>, 
          unless explicitly shown otherwise</li>
        <li>All offices are in the
          <%= link_to(Setting.building[I18n.locale.to_s],
                      community_visitors_path) %>
                    building unless denoted differently, e.g. Building number/213.</li>
      </ul>
    </div>
  </div>
</div>
