<div class="row-center">
  <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5">
    <div class="bordered well p-1">
      <h4>הערות</h4>
      <ul>
        <%= yield :notes_he %>
        <li>מחו"ל, יש לחייג <code dir="ltr">+972-8-64x-xxxx</code>. 
          בישראל, יש לחייג <code dir="ltr">08-64-x-xxxx</code>.</li>
        <li>לכתובת הדואל יש להוסיף <code dir="ltr">@<%= Setting.mail_domain %></code>, אלא אם צוין 
          אחרת</li>
        <li>כל המשרדים נמצאים 
          ב<%= link_to('בניין דייכמן', community_visitors_path) %> (#58)
          אלא אם צוין אחרת</li>
      </ul>
    </div>
  </div>
</div>
