<% student ||= false %>
<div class="card">
  <h4 class="card-header"><%= tt 'research.title' %></h4>
  <div class="card-body">
    <fieldset>
      <fieldset>

        <h5><%= tt :heading, scope: %i[research webid] %></h5>
        <div class="row">
        <% User::WEB_IDS.each do |wid| %>
          <div class="col-lg-6">
            <%= f.input wid, 
              label: object.webid_generic_link(wid),
              wrapper: :horizontal_form,
              hint: object.webid_hint(wid)
            %>
          </div>
        <% end %>
        </div>
      </fieldset>

      <% unless student %>
        <%= f.input :phd_from, wrapper: :horizontal_form %>
        <%= f.input :phd_year, wrapper: :horizontal_form %>
      <% end %>
      <%= f.input :interests, pagedown %>

      <div class="input-group">
        <%= f.association :research_groups,
          label: tt(ResearchGroup, count: 2), 
          as: :custom_check_boxes %>
      </div>
    </fieldset>
  </div>
</div>

