<% @topts ={
id: 'item-list',
data: {order: [[1, :asc], [2, :asc]]},
}.deep_merge(local_assigns[:table_opts] || {})
%>
<%= table(**@topts) do |tbl| %>
  <thead>
    <tr>
      <%= tbl.th(tt(:photo), 
                  data: {orderable: false, width: "#{PHOTO_WIDTH}px"}, 
                  id: "avatar-#{tbl.id}", class: :avatar) %>
      <%= tbl.th(tt(:name), data: {width: '24rem'}) %>
      <%= tbl.th(tt(:email), class: :email) %>
      <%= tbl.th(tt(:office), class: :email) %>
      <%= tbl.th(tt(:phone), class: :email) %>
      <%= render((par_path ||= params[:controller]) + '/table_head', 
                 table: tbl) %>
    </tr>
  </thead>
  <tbody>
  <%=  render partial: people, collection: people, layout: 'table_row', as: 'person' %>
  </tbody>
<% end %>

