<% cache object_cache_key(person) do %>
  <tr class="<%= person.retired? ? 'retired' : 'active' %>">

  <td role="gridcell">
    <%= person.photo_html(class: %w[avatar], 'data-orderable': false) %>
  </td>

  <td role="gridcell" data-order="<%= person.last %>">
    <%= link_to(
      person.to_html(wrapper: {}) +
        person.marks(data: { fa_transform: 'shrink-6 up-4' }),
        person.show_path
    ) %>
    <%= academicon_links(person) %>
       <%= person.action_list %>
      <% unless params[:controller] == 'people/admins' %>
        <%= person.roles_html %>
       <% end %>

    <% unless person.all_notes.empty? %>
      <div>
        <%= person.all_notes.map{|x| markdown(x)}.join("\n").html_safe %>
      </div>
    <% end %>

  </td>

  <%= person.email_td %>

  <td role="gridcell">
    <%= my_editable person, :office %>
  </td>

  <td role="gridcell">
    <%= my_editable person, :phone %>
  </td>

  <%= yield %>

</tr>
<% end %>
