<div class="card">
  <h4 class="card-header"><%= tt('teaching.title') %></h4>
  <div class="card-body">
    <fieldset>
    <%= f.input :hours, wrapper: :horizontal_form %>
    <%= f.input :oh_location, wrapper: :horizontal_form %>
    </fieldset>
  </div>
</div>

