<% @noeditable = true %>
<%= render 'datetime' %>

<%= h1 %>
<% if policy(User).reset_hours? %>
  <%= simple_form_for :reset_hours do |f| %>
    <div class="d-flex justify-content-center mb-3">
  <div dir="auto" class="form-row align-items-center">
    <div class="col-auto">
      <button name="commit" class="btn btn-primary">Clear</button> office hours unmodified since:
    </div>
    <div class="col-auto">
      <%= f.input :since, as: :date_picker, html5: true,
        label_html: {   class: 'sr-only' },
        value: @reset_date || Date.today - 6.months,
        wrapper_html: { class: 'mb-0' } %>
    </div>
  </div>
    </div>
<% end %>
    <% end %>
<% unless @teachers.empty? %>
  <div class="editable-allowed row justify-content-center">
    <div class="col col-lg-10">
      <%= table do |table| %>
        <thead>
          <tr>
            <%= table.th(tt :name) %>
            <%= table.th(tt 'actions.hours') %>
            <%= table.th(tt 'coord.room') %>
            <%= table.th(tt :phone) %>
            <%= table.th(tt :email) %>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'hours_row', collection: @teachers, 
            as: 'person' %>
        </tbody>
      <% end %>
    </div>
  </div>
<% end %>

