<%= h1 do %>
  <%= get_title %>
  <div class="text-center smaller">
    <div class="btn-group">
      <%= link_to(tt('people.alpha'), research_faculty_path, 
                  class: %w[btn btn-secondary disabled]) %>
      <%= link_to(tt('people.bygroup'), faculty_research_research_groups_path, 
                  class: %w[btn btn-secondary]) %>
    </div>
  </div>
<% end %>
<div class="card-columns columns-wide">
  <%= render partial: 'member_research', collection: @members, as: 'member' %>
</div>
