<% provide(:title, person) %>
<div class="row-center">
  <div class="media col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <%= person.photo_html(class: %w[avatar]) %>
    <div class="media-body m-6 mb-3 mt-3 page-header ">
      <h1 class="text-start">
  <%= person %>
  <%= person.action_list %>
      </h1>
      <% if person.has_webpage? %>
        <h4><%= link_to(tt(:personal_web), person.web) %></h4>
      <% end %>
      <h5><%= person.roles_html %></h5>
    </div>
  </div>
</div>

<% research_extra = render "people/show_extra/#{person.class.model_name.param_key}" rescue ''.html_safe %>
<% if person.interests.present? || research_groups.present? || person.has_webids? || research_extra.present? %>
<div class="row-center my-3">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <div class="card">
      <h4 class="card-header"><%= tt 'research.title' %></h4>
      <div class="card-body">
        <div dir="auto" class="card-text mathjax">
          <%= markdown(person.interests) %>
        </div>

        <% unless research_groups.blank? %>
          <div class="pb-2 mt-3">
            <h5><%= tt ResearchGroup, count: 2 %></h5>
            <div dir="auto">
              <%= list_to_l(research_groups) %>
            </div>
          </div>
        <% end %>

        <% if person.has_webids? %>
          <div class="pb-2 mt-3">
            <h5><%= tt :heading, scope: %i[research webid] %></h5>
            <%= person.webids_html %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>

<% unless courses.blank? %>
  <div class="row-center my-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card" id="teaching.courses.panel">
        <div class="card-header">
          <h4 class="card-title"><%= tt('teaching.this_term') %></h4>
        </div>
        <div class="card-body">
          <ul class="card-text">
            <% courses.each do |c| %>
              <li><%= c.linked %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row-center">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= tt 'contact_details' %></h4>
      </div>
      <div class="card-body">
        <dl class="row details-dl">
          <dt class="col-sm-5"><%= tt :office %></dt>
          <dd class="col-sm-7">
          <%= person.office %>
          <% unless person.office == person.oh_location || person.oh_location.blank? %>
            (<%= tt 'teaching.hours' %>: <%= person.oh_location %>)
          <% end %>
          </dd>
          <dt class="col-sm-5"><%= tt :phone %></dt>
          <dd class="col-sm-7"><%= person.phone %></dd>
          <dt class="col-sm-5"><%= tt :email %></dt>
          <dd class="col-sm-7"><%= person.mailed(person.email) %></dd>
          <% unless person.hours.blank? %>
            <dt class="col-sm-5"><%= tt 'teaching.hours' %></dt>
            <dd class="col-sm-7"><%= person.hours %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>

<% if policy.role_history? && person.role_events.global.present? %>
  <div class="row-center my-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Role History</h4>
        </div>
        <div class="card-body">
          <ul>
            <% person.role_events.global.order(created_at: :desc).each do |ee| %>
              <li>
                <%= ee.to_s(:linked, show_role: true, show_user: false) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>



