<li>Eliot Brenner, Ph.D. 2005, Yale University, mentored by Dr. Barak Weiss. </li>
<li>Sudipta Dutta, Ph.D Indian Statistical Institute, mentored by Prof. Vladimir Fonf.</li>
<li>Yuval Gabay, Ph.D Cornell University, mentored by Prof. Menachem Kojman </li>
<li>Natalya Gulko, Ph.D Ben-Gurion University of the Negev, mentored by Prof. Yitzchak Rubinstein </li>
<li>Henryk Michalevski, Ph.D. 2002, Warsaw University, mentored by Prof. Menachem Kojman.</li>
<li>Elina Moldavskaya, Ph.D. 2004, University of Kiev, mentored Professors M. Lin, D. Turaeev, M. Braverman </li>
<li>Frederick Leitner, Ph.D. 2005, University of Arizona mentored by Prof. Amnon Yekutieli. </li>
<li>Irena Lerman, Ph.D 2006, Ben Gurion University of the Negev, mentored by Prof. Yitzchak Rubinstein</li>
<li>Akira Sano, Ph.D University of Illinois at Urbana-Champaign, mentored by Prof. Amnon Besser and Dr. Nadya Gurevich. </li>
<li>Yossi Strauss, Ph. D Tel-Aviv University, mentored by Prof. Paul Fuhrmann.</li>
<li>Yoav Yaffe, Ph.D. 2004, Hebrew University of Jerusalem, mentored by Prof. Menachem Kojman. </li>
