<li>Robert Bonnet, Universite de Savoie, France </li>
<li>Alexander Brudnyi, University of Calgary, Alberta, Canada</li>
<li>Yitwah Cheung, San Francisco State University, U.S.A.</li>
<li>Henk de Snoo, Gorningen University, Netherlands</li>
<li>Aad Dijksma, University of Groningen, Netherlands</li>
<li>Jerzy Dydak, University of Tennessee at Knoxville, U.S.A </li>
<li>Manfred Einsiedler, Ohio State University, U.S.A</li>
<li>Gennadiy Feldman, Institute for Low Temperature Physics, Kharkov, Ukraine </li>
<li>Hillel Gauchmann, Eastern Illinois University,  U.S.A </li>
<li>Stefan Geschke, Freje University, Berlin, Germany </li>
<li>Eknath P. Ghate, Tata Institute of Fundamental Research, India </li>
<li>Michael Goldshtein, University of Toronto, Canada</li>
<li>Sergey Gonchenko, Nizhny Novgorod University, Russia</li>
<li>Peter Grabner, Graz University, Austria</li>
<li>C.K. Gupta, University of Manitoba, India</li>
<li>James Hirschon, Kobe University, Japan </li>
<li>Pat Hooper, Northwestern University, U.S.A </li>
<li>Vadim Kaimanovitch, International University, Bremen, Germany </li>
<li>Dmytro Kaliuzhny, Drexel University, U.S.A </li>
<li>Yefiem Katsov, Hanover College, U.S.A </li>
<li>Alexander Kirillov, Nizhny Novgorod University, Russian </li>
<li>Heinz Langer, Technical University, Vienna, Austria </li>
<li>David Lehavi, Princeton University, U.S.A </li>
<li>Daniel Markiewicz, Technion, Israel </li>
<li>Francois Maucourant, University of Rennes I, France </li>
<li>Pierre Milman, University of Toronto, Canada </li>
<li>Stanislav Molchanov, University of North Carolina at Charlotte, U.S.A </li>
<li>Vladimir Pestov, University of Ottawa, Canada </li>
<li>Vera Pless, Illinois University, Chicago, U.S.A </li>
<li>Alexander Ramm, Kansas State University, U.S.A </li>
<li>Leiba Rodman, College of William and Mary, U.S.A </li>
<li>Mikael R&oslash;rdam, Syddansk Univresitet, Denmark </li>
<li>David Joseph Saltman, University of Texas at Austin, U.S.A </li>
<li>Georgy Shabat, Moscow State University and Independent University of Moscow, Russia </li>
<li>Ivan Shestakov, University of California San Diego, U.S.A </li>
<li>Leonid Shilnikov, Nizhny Novgorod University, Russia </li>
<li>Eugene Srahov, Hebrew University, Israel </li>
<li>Andrey Vladimirov, Wias University, Germany </li>
<li>Wilhelm Winter, Munster University, Germany </li>
<li>Przemyslaw Jacek Wojtaszczyk, Warsaw University, Poland </li>
<li>Tamar Ziegler, Institute of advanced study, Princeton, U.S.A</li>

