<ul>
  <li class="card-text"><em>Dr. Guy Cohen</em>, for his Ph.D. thesis:
    <q><b>Parameter Estimation of Random Fields</b></q>, under the
    supervision of Prof. Michael Lin and Prof. Yossi Francos.</li>
  <li class="card-text"> <em>Dr. Yossi Moshe</em>, for his Ph.D thesis on 
    <q><b>Combinatial Number Theory</b></q>, under the supervision
    of Prof. Danny Berend.</li>
</ul>
