<ul>
  <li class="card-text"><em>Dr. Victoria Lubich</em>, for her Ph.D. thesis:
    <q><b>The Application of Shelah's PCF Theory to General Topological 
        Properties</b></q>,
    under the supervision of Prof. Menahem Kojman.</li>

  <li class="card-text"><em>Dr. Viatcheslav Bikov</em>, for his Ph.D. thesis: 
    <q><b>Problems of Applied Mathematics and Their Application to 
        Combustion Theory</b></q>, under the supervision of Prof.  
    Vladimir Goldstein.</li>
</ul>
