<ul>
  <li class="card-text"><em>Mr. Andrey Melnikov</em>, for his M.Sc. thesis: 
    <q><b>Overdetermined 2D systems invariant in one direction and 
        their transfer functions</b></q>, under the supervision of 
    Prof. Victor Vinnikov.</li>
</ul>
