<ul>
  <li class="card-text"> <em>Mr. Noam Solomon</em>, for his M.Sc. thesis: 
    <q><b>Elliptic $p$-adic polylogarithms and arithmetic 
        applications</b></q> under the supervision of Prof. Amnon 
    Besser.</li>
</ul>
