<ul>
  <li class="card-text"><em>Mr. Lior Fishman</em>, for his M.Sc. thesis: 
    <q><b>Schmidt's Game and the Intersection of Badly Approximable 
        Linear  Forms with Fractals</b></q> prepared under the 
    supervision of Prof.  Barak Weiss.</li>
</ul>
