<ul>
  <li class="card-text"><em>Dr. Yonah Maissel</em>, for his Ph.D. thesis: 
    <q><b>Locally Moving Groups and Reconstruction Problems</b></q> 
    prepared under the supervision of Prof. Matti Rubin.</li>
</ul>
