<ul>
  <li class="card-text"> <em>Mr. Haim Atyah</em>, for his Ph.D. 
    work <q><b>On the characteristics of a class of Gaussian processes 
        within the white noise space setting:</b></q>
    prepared under the supervision of Prof. Daniel Alpay.</li>
</ul>
