<ul>
  <li class="card-text"><em>Dr. Edmund Ben-Ami</em>, for his Ph.D. thesis 
    <q><b>Locally moving groups and reconstruction problems</b></q> 
    prepared under the supervision of Prof. Matti Rubin.</li>
</ul>
