<ul>
  <li class="card-text"><em>Dr. Liran Shaul</em>, for his Ph.D. thesis
    <q><b>Rigid Dualizing Complexes Over Complete Commutative Rings</b></q> 
    prepared under the supervision of Prof. Amnon Yekutieli.</li>
</ul>
