<div class="row justify-content-center align-items-center">
  <div class="d-flex justify-content-center flex-column col-xl-6 col-lg-8 col-md-10">
<%= f.input :login, input_html: {autocomplete: 'username'} %>
<%= f.input :password, input_html: {autocomplete: 'current-password'}  %>
  </div>

  <div class="col-xl-6 col-lg-8 col-md-10">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          <%= tt(:title, scope: %i[auth], cascade: false) %>
        </h5>
      </div>
      <div class="card-body">
        <%= render 'login_help', methods: IssuesUser.auth_methods %>
      </div>
    </div>
  </div>
</div>

