<template>
  <user-table
    :people="items"
    :user="object"
    :title="$page_title()"
    class="q-my-lg"
  />
</template>

<script>
import UserTable from '@/Components/people/UserTable.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    UserTable,
  },
  extends: IndexPage,
}
</script>
