<div class="row-flex justify-content-around">
  <%= f.input :minp, input_html: { step: 0.5 } %>
  <%= f.input :maxp, input_html: { step: 0.5 } %>
</div>
<div class="row-flex justify-content-around">
<%= f.input :minc %>
<%= f.input :maxc %>
</div>
