<div class="justify-content-center mt-3">
  <% unless local_assigns[:bare] %>
  <div class="card mb-3">
    <h5 class="card-header"><%= course_list.linked_with_actions %></h5>
  <% end %>

    <% if course_list.courses.empty? %>
      <div class="mathjax m-1">
        <%= markdown(course_list.remarks) %>
      </div>
    <% else %>
      <%= render 'ctable', local_assigns.merge(object: course_list) %>
    <% end %>
  <% unless local_assigns[:bare] %>
  </div>
<% end %>
</div>

