<% extrajs do %>
  <%= javascript_include_tag 'selectvis' %>
<% end %>
<%= f.association :degree, collection: shnaton.degrees.all.decorate, 
  include_blank: false %>
<%# f.association :parent, collection: f.object.degree.prereqs.all.decorate %>
<%= trasto_field(f, [:name, :description], nil, description: pagedown) %>
<%= f.association :course_lists, as: :multiselect,
  collection: shnaton.course_lists.all.decorate
%>

<%= f.input :slug %>

<%= f.input :type, collection: types, include_blank: false %>
<% types.each do |type| %>
    <% old = f.object %>
    <% f.object = f.object.try(:info) || 
      f.object.becomes(type.to_s.constantize).info %>
    <% content = render "#{type.to_s.underscore}_fields", f: f rescue nil %>
    <% f.object = old %>
    <% next unless content %>
  <div id="<%= type %>"<%= f.object.type == type.to_s ? '' : ' hidden' %>
       class="prog-type card">
       <h5 class="card-header">
         <%= t('forms.fields_for_html', 
                what: tt("simple_form.options.prog_prereq.type.#{type}")) %>
       </h5>
    <div class="card-body">
      <fieldset<%= f.object.type == type.to_s ? '' : ' disabled' %> 
      class="prog-prereq" id="<%= type %>-fieldset">
        <%= content %>
      </fieldset>
    </div>
  </div>
<% end %>

