<div class="card">
  <h5 class="card-header">
    <%= prog_prereq.linked_with_actions %>
  </h5>
  <div class="card-body">
    <% if local_assigns[:show_degree] %>
    <h5 class="mt-1"><%= tt Degree, count: 1 %></h5>
    <%= prog_prereq.degree.linked_with_actions %>
    <hr/>
  <% end %>

    <div>
      <h5 class="mt-1"><%= tt CourseList, count: 2 %></h5>
      <% if prog_prereq.course_lists.present? %>
        <ul>
          <% prog_prereq.course_lists.each do |list| %>
            <li><%= list.linked_with_actions %></li>
          <% end %>
        </ul>
      <% end %>
  </div>
  <div class="card-deck mt-3">
    <%= render prog_prereq.subreqs %>
  </div>
  </div>
</div>

