<% lists = object.course_lists %>
<% bare = lists.count == 1 %>
<% if (lists.count > 0) %>
<p class="lead">
<%= object.to_long.humanize.html_safe %>
  <%= t :fromw, what: t('teaching.the_course_list', count: lists.count), 
    count: lists.count %><% if bare %><%= lists[0].action_list %><% end %>:
</p>
<% end %>

<%# for modal form %>
<div id="<%= object.to_id %>-item-list">
  <%= render lists, bare: bare %>
</div>

