<% lists = object.course_lists %>
<% if (lists.count > 0) %>
<%= lesc object.to_long.humanize.html_safe %> <%= t :fromw, what: '' -%>
<% end -%>
<%- lists.each do |list| %>
    <%= render list %>
<% end %>

