<% if object.course_lists.count > 1 %>
  <%= tt 'teaching.prog_prereq.course_lists_taken' %>
\begin{itemize}
<% object.course_lists.each do |list| %>
<%= render list, prep: '\item ', total: true %>
<% end %>
\end{itemize}
<% elsif object.course_lists.count == 1 %>
  <%= tt 'teaching.prog_prereq.course_list_taken',
    count: 2 %> <%= render object.course_lists[0], total: true %>
<% end %>

<%# vim: ft=eruby.tex 
%>
