<p class="lead">
  <% if object.course_lists.count > 1 %>
    <%= tt 'teaching.prog_prereq.course_lists_taken' %>
  <% elsif object.course_lists.count == 1 %>
    <%= tt 'teaching.prog_prereq.course_list_taken', 
      count: object.course_lists[0].courses.count  %><%= object.course_lists[0].action_list %>
  <% end %>
</p>
<div id="<%= object.to_id %>-item-list">
  <%= render object.course_lists, bare: object.course_lists.count < 2 %>
</div>

