<li>
  <em><%= subreq.linked_with_actions %></em>:
  <%= subreq.to_long(en: 'among the courses ', he: 'מבין הקורסים ').humanize.html_safe %>
  <%= list_to_l(subreq.course_lists[0].try(:courses)) %>
</li>
