<%= h1 %>
<% if degree_id %>
  <h2><%= degree.decorate.to_html %></h2>

  <div class="card-columns">
    <%= render degree.prereqs.decorate %>
  </div>

<%= new_button(nil,
               new_teaching_ac_year_shnaton_degree_prog_prereq_path(ac_year)) %>
<% else %>
  <% shnaton.degrees.each do |degree| %>
    <h2><%= degree.decorate.linked_with_actions %></h2>

    <div class="card-columns">
      <%= render degree.prereqs.decorate %>
    </div>
  <% end %>
  <% if unattached.present? %>
    <h2><%= tt 'teaching.prog_prereqs!unattached' %></h2>
    <div class="card-columns">
      <%= render unattached %>
    </div>
  <% end %>
<% end %>



