<%= h1 do %>
  <%= get_title %><%= object.action_list %>
<% if degree.present? %>
  <h3><%= degree.decorate.linked_with_actions %></h3>
<% end %>
<% end %>

<div class="mathjax">
  <% if object.description.present? %>
    <h2><%= tt :description %></h2>
    <%= markdown(object.description) %>
  <% end %>

  <%= render "show_#{object.type.underscore}" %>
</div>

<%= form_button course_list, partial: 'teaching/course_lists/form' %>


<% if object.subreqs.present? %>
  <h4><%= tt 'add_req' %></h4>
  <ul>
  <%= render collection: object.subreqs, partial: "subreq" %>
  </ul>
<% end %>

<%# new_button(tt('teaching.subreq', count: 1), 
               degree.decorate.new_prereq_path(parent: object)) %>


<%= graph(object.to_sigma_graph) if object.to_sigma_graph[:nodes].present? %>

