<table class="table table-sm table-hover" id="address-table">

  <tr>
    <td><%= tt :phone %></td>
      <td>
      <%= link_to(tag.span(Setting.dept_phone, dir: 'ltr'), 
                  "tel:#{Setting.dept_phone.gsub(' ', '.')}") %>
    </td>
  </tr>

  <tr>
    <td><%= tt :fax %></td>
      <td>
      <%= link_to(tag.span(Setting.dept_fax, dir: 'ltr'), 
                  "fax:#{Setting.dept_fax.gsub(' ', '.')}") %>
    </td>
  </tr>

  <tr>
    <td><%= tt :email %></td>
      <td>
        <%= email_html(full_email) %>
    </td>
  </tr>

  <tr>
    <td><%= tt :building %></td>
      <td>
      <a href="<%= community_visitors_path %>">
        <%= Setting.building[I18n.locale.to_s]  rescue '' %>
      </a>
      </td>
  </tr>

  <tr>
    <td><%= tt :mail %></td>
    <td><pre title="mailing address"><%= Setting.dept_snail_i18n[I18n.locale.to_s] %></pre></td>
  </tr>


</table>
