<% extracss do %>
  <%= unpkg_css_tag "tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.#{ASSETMIN}css" %>
<% end %>
<% extrajs do %>
  <%= unpkg_js_tag 'moment' %>
  <%= unpkg_js_tag 'moment/locale/he.js' %>
  <%= unpkg_js_tag 'tempusdominus-bootstrap-4' %>

  <%= javascript_include_tag 'datetime' %>
<% end %>

