<% flash2alert = {
notice: 'success',
alert: 'warning',
} %>
<div class="alert d-flex alert-<%= flash2alert[type.to_sym] %> alert-dismissible fade show"
     dir="auto" role="alert">
     <%= dismiss_button :alert %>
     <%= glyphicon(type) %>
     <span class="flash-text px-3" dir="auto"><%= message.html_safe %></span>
</div>

