<hr />

<div class="form-group">
  <%=  label_tag(:message, tt('forms.modmessage')) %>
  <%=  text_area_tag(:message, nil, class: %w[form-control], rows: 3) %>
  <p id="messageHelp" class="form-text text-muted">
  <%= tt 'forms.modmessage_tip' %>
  </p>
</div>
<%= f.button :submit, data: { disable: true, disable_with: t(:wait)},
  id: 'main-form-submit' %>

