<% unless @form_done %>
  <% @form_done = true %>

  <%= render 'datetime' %>
  <% extracss do %>
    <%= unpkg_css_tag "cropperjs/dist/cropper.#{ASSETMIN}css" %>
    <%= unpkg_css_tag "blueimp-file-upload/css/jquery.fileupload.css" %>
    <%= unpkg_css_tag "bootstrap-select/dist/css/bootstrap-select.#{ASSETMIN}css" %>
    <%= stylesheet_link_tag 'forms', 'data-turbolinks-track' => true %>

  <% end %>

  <% extrajs do %>
    <%= unpkg_js_tag 'cropperjs', defer: true %>
    <%= unpkg_js_tag 'jquery-cropper', defer: true %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/#{FILESTYLE_VERSION}/bootstrap-filestyle.#{ASSETMIN}js", defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload/js/vendor/jquery.ui.widget.js', defer: true %>
    <%= unpkg_js_tag 'blueimp-load-image/js/load-image.all.min.js', defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload/js/cors/jquery.xdr-transport.js', defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload', defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload/js/jquery.fileupload-process.js', defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload/js/jquery.fileupload-image.js', defer: true %>
    <%= unpkg_js_tag 'blueimp-file-upload/js/jquery.fileupload-validate.js', defer: true %>
    <%= unpkg_js_tag 'bootstrap-select', defer: true %>

    <%= javascript_include_tag 'forms', defer: true %>
  <% end %>

<% end %>

