<div dir="ltr">
<p>The login id is the University user name (email without the domain)</p>

The password can be any of the following options:
<ol>
  <% methods.each do |meth| %>
    <li><%= tt(meth, scope: %i[auth methods], cascade: false).html_safe %></li>
  <% end %>
</ol>

<p>
E.g., if your University email is <tt>dude@bgu.ac.il</tt>, your university 
password is <tt>foobar</tt>, and your id is <tt>123456789</tt>, you may login 
with <tt>dude</tt> as the User Id, and <tt>foobar;123456789</tt> as the 
password.
</p>
</div>

