<div dir="rtl">
<p>שם המשתמש הוא שם המשתמש באוניברסיטה (כמו בכתובת האימייל ללא הדומיין)</p>

הסיסמא יכולה להיות אחת האפשרויות הבאות:
<ol>
  <% methods.each do |meth| %>
    <li><%= tt(meth, scope: %i[auth methods], cascade: false).html_safe %></li>
  <% end %>
</ol>

<p>
לדוגמא, אם כתובת האימייל היא <tt>dude@bgu.ac.il</tt>, הסיסמא האוניברסיטאית היא 
<tt>foobar</tt>, ומספר הזהות הוא <tt>123456789</tt>, ניתן להיכנס למערכת עם 
<tt>dude</tt> כשם המשתמש, ועם <tt>foobar;123456789</tt> בתור הסיסמא.
</p>
</div>


