<p class="no-indent form-hint" dir="rtl">
  ניתן להשתמש ב-<a href="http://kramdown.gettalong.org/quickref.html">markdown</a> 
  לעיצוב הטקסט, לדוגמא טקסט <code>**</code><strong>מודגש</strong><code>**</code>
  או <code>*</code><i>נטוי</i><code>*</code>, או <code>##</code> עבור כותרות.

ניתן גם לכתוב ביטויים מתמטיים בקידוד TeX בין סימני <code>$$,$$</code> וכדומה. 
<a href="http://kramdown.gettalong.org/syntax.html#math-blocks">שימו לב</a> 
ש<strong>שני</strong> סימני דולר נדרשים עבור ביטויים מתמטיים רצים.

נא <em>לא</em> להשתמש ב-html, או בביטויים מתמטיים ללא סימון
</p>

