<p class="no-indent form-hint" dir="ltr">
It is possible to use 
<a href="http://kramdown.gettalong.org/quickref.html">markdown</a> for markup, 
e.g., <code>**</code><strong>bold</strong><code>**</code>, 
<code>*</code><i>italic</i><code>*</code> and <code>##</code> for headings.

It is also possible to use tex math notation within <code>$$,$$</code> etc. 
<a href="http://kramdown.gettalong.org/syntax.html#math-blocks">Note</a> 
that <strong>two</strong> dollar signs are required for inline math. 
Please <em>do not</em> use html, or mathematical notation without math 
delimiters.
</p>

