<%= render 'form_includes' %>

<%= h1 %>

<div class="row-center">
  <div class="col col-lg-10 col-xl-8">
    <%= simple_form_for form_path, form_opts do |f| %>
      <%= render 'form', f: f %>
      <%= render 'form_footer', f: f %>
    <% end %>
  </div>
</div>


