<%= h1 %>
<div class="row">
  <div class="col">
    <ul>
      <% @pchanges.each do |item, change| %>
        <li><strong><%= item.decorate %></strong>
          <% if change.present? %>
            <ul>
              <% change.each do |key, val| %>
                <li><bdi><b><%= key %></b>:
                  From <span 
                         class="change-value<%= 
                           val[0].present? ? '' : ' change-value-empty' %>"><%=
                           markdown(val[0].presence || 'EMPTY', inline: true)
                           %></span> to <span 
                                          class="change-value<%= val[1].present? ? '' : ' change-value-empty' %>"><%= markdown(val[1].presence || 'EMPTY', inline: true) %></span>.
                  </bdi></li>
              <% end %>
            </ul>
          <% end %>
          <% if item.errors.present? %>
            <h5><%= tt :error, count: 2 %></h5>
            <p><%= item.errors.full_messages.to_sentence %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= index_button %>

