<li> <a href="http://www.math.bgu.ac.il/~yairgl/Conferences/Avner/pages/main.html">Avner Magen Memorial Lecture Day</a>, July 18, 2011. </li>
<li> <!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf_2011.html --><i>Function Theory And Operator Theory: Infinite Dimensional And Free Settings</i>, June 27-30, 2011.</li>
<li> <a href="http://www.math.bgu.ac.il/~urionn/Amitsur17.html">The 17th Amitsur Memorial Symposium</a>, May 25-26, 2011.</li>
<li> <a href="http://www.math.bgu.ac.il/~ergodic">Ergodic Theorems, Group Actions and Applications</a>, May 15-20, 2011.</li>
<li> Special Lecture by Prof. Giovanni Landi (Universita di Trieste): <!-- BROKEN: http://www.math.bgu.ac.il/colloq/Calendar?event=701f78a12ac890489d3ef0ec8b472f36 --><i>Gauge theories and noncommutative geometry</i>, March 11, 2011.</li>
<li> <a href="/files/center/events/NorikoSakurai.pdf">Inauguration of the Noriko Sakurai Postdoctoral Fellowship</a>, Computer Science Auditorium, the Alon Building for hi-tech (building 37), from 15:00 to 17:00, March 9, 2011. </li>
<li> <a href="http://www.math.bgu.ac.il/~yairgl/Conferences/Around_T/Around_T.html">Property (T) and around</a>, February 6-11 2011.</li>

