<li> Shibananda Biswas, Ph.D., Indian Statistical Institute, India, mentored by Prof. Victor Vinnikov.</li>
<li> Panagiotis Cheilaris, Ph.D. City University of New York 2008, mentored by Dr. Shakhar Smorodinsky.</li>
<li> Christopher Jankowski, Ph. D. University of Pennsylvania 2009, mentored by Dr. Daniel Markiewicz and Dr. Ilan Hirshberg.</li>
<li> Zoltan Leka, Ph.D. University of Szeged 2009., mentored by Prof. Michael Lin.</li>
<li> Yonah Maissel, Ph.D. Ben-Gurion University 2008, mentored by Prof. Matti Rubin.</li>
<li> Viorica Motreanu, Ph.D. University of Perpignan, mentored by Dr. Vladimir Goldshtein.</li>
<li> Mihai Popa, Ph.D. University of California - Los Angeles, mentored by Prof. Victor Vinnikov.</li>
<li> David Ralston, Ph.D. Rice University, USA, mentored by Prof. Barak Weiss.</li>
<li> Assaf Rinot, Ph.D. Tel Aviv University, Israel, mentored by Prof. Uri Avraham.</li>
<li> Amir Sapir, Ph.D. Ben-Gurion University of the Negev, mentored by Prof. Dani Berend.</li>
<li> Ahuva Shkop, Ph.D. University of Illinois at Chicago, USA , mentored by Dr. Assaf Hasson.</li>
<li> Pooja Singla, Ph.D. Institute of Mathematical Sciences - Chennai,  mentored by Dr. Uri Onn.</li>
<li> Santi Spadaro, Ph.D. Auburn University 2009, mentored by Prof. Menachem Kojman.</li>
<li> Dani Szpruch, Ph.D. Tel Aviv University 2009, mentored by Dr. Nadya Gurevich.</li>
<li> Vladimir Tsygankov, Ph.D. Moscow State University, Russia, mentored by Dr. Ilya Tyomkin.</li>
