<li> Prof. Abraham Aizenbud, Massachusetts Institute of Technology, USA </li>
<li> Prof. Leonid Bogachev, University of Leeds, UK </li>
<li> Prof. Alexander Brudniy, University of Calgary, Canada </li>
<li> Dr. Zanco Clemente, University of Milan, Italy </li>
<li> Dr. Jamshid Derakhshan, Oxford University, UK </li>
<li> Prof. Alexander Dranishnikov, University of Florida, USA </li>
<li> Prof. Boris Goldengorin, Higher School of Economics, Russia </li>
<li> Prof. Peter Grabner, Graz University of Technology, Austria </li>
<li> Prof. Gregory Gutin, University of London, UK </li>
<li> Dr. Benjamin Klopsch, University of London, UK </li>
<li> Prof. Salma Kuhlman, Konstanz University, Germany </li>
<li> Dr. Ehud Meir, Cambridge University, UK </li>
<li> Prof. Gary Seitz, University of Oregon, USA </li>
<li> Prof. Stanimir Troyanski, University of Murcia, Spain </li>
<li> Prof. Libor Vesely, University of Milan, Italy </li>
<li> Prof. Alexandre Zvonkin, University of Bordeaux, France</li>
