# frozen_string_literal: true

<% module_namespacing do -%>
class <%= class_name %>Resource < ApplicationResource
  defaults
  <%- resource_attributes.each do |a| -%>
  <%- if [:id, :created_at, :updated_at].include?(a.name.to_sym) -%>
  attribute :<%= a.name %>, :<%= a.type %>, writable: false
  <%- else -%>
  attribute :<%= a.name %>, :<%= a.type %>
  <%- end -%>
  <%- end -%>
end
<% end -%>
