<template>
  <div class="graph-container">
    <q-tooltip :target="target" :model-value="tooltipv && tooltipv.length > 0">
      <div v-html="tooltipv" />
    </q-tooltip>
    <svg ref="graph" />
  </div>
</template>

<script>
import * as d3 from 'd3'

function edgeDraw(d) {
  return `M ${d.source.x} ${d.source.y} L ${d.target.x} ${d.target.y}`
}

function translate(d) {
  return `translate(${d.x}, ${d.y})`
}

export default {
  props: {
    nodes: {
      type: Array,
      required: true,
    },
    edges: {
      type: Array,
      required: true,
    },
    tooltip: {
      type: Function,
    },
  },
  data() {
    return {
      tooltipv: null,
      target: false,
    }
  },
  mounted() {
    const elem = this.$refs.graph
    // Global element layout and defs
    const width = elem.clientWidth
    const height = elem.clientHeight
    const mx = 0.05
    const my = 0.2
    const wx = width * mx
    const ssvg = d3.select(elem)

    // arrow
    ssvg
      .append('defs')
      .append('marker')
      .attr('id', 'arrowhead')
      .attr('viewBox', '-0 -5 10 10')
      .attr('refX', 20)
      .attr('refY', 0)
      .attr('orient', 'auto')
      .attr('markerWidth', 8)
      .attr('markerHeight', 8)
      .attr('xoverflow', 'visible')
      .append('svg:path')
      .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
      .attr('fill', '#999')
      .style('stroke', 'none')

    // get and process the graph data
    const nodeById = new Map()
    this.nodes.forEach((n) => {
      n.in ||= []
      n.out ||= []
      nodeById.set(n.id, n)
    })
    this.edges.forEach((e) => {
      e.source = nodeById.get(e.source)
      e.target = nodeById.get(e.target)
      e.source.out.push(e)
      e.target.in.push(e)
    })
    const minx = this.nodes.reduce((p, n) => Math.min(p, n.x), Infinity)
    const dx = this.nodes.reduce((p, n) => Math.max(p, n.x), 0) - minx + 1
    const miny = this.nodes.reduce((p, n) => Math.min(p, n.y), Infinity)
    const dy = this.nodes.reduce((p, n) => Math.max(p, n.y), 0) - miny + 1

    // actual graph svg group
    const svg = ssvg.append('g')

    const edgepaths = svg
      .selectAll('.graph-edge')
      .data(this.edges)
      .join('path')
      .attr('class', 'graph-edge')
      .attr('marker-end', 'url(#arrowhead)')
      .attr('id', (d) => d.id)

    const node = svg
      .selectAll('.graph-node')
      .data(this.nodes)
      .join('g')
      .attr('class', 'graph-node')
      .attr('id', (d) => d.id)

    const vue = this
    function mousemove() {
      const tt = vue.tooltip(d3.select(this).data()[0])
      if (tt && tt.length > 0) {
        vue.target = `#${this.id}`
        vue.tooltipv = tt
      } else {
        vue.tooltipv = null
      }
    }

    function mouseleave() {
      vue.tooltipv = null
    }

    node
      .append('circle')
      .attr('r', (d) => d.size * 3)
      .attr('id', (d) => `${d.id}-node`)
      .on('mousemove', this.tooltip ? mousemove : null)
      .on('mouseleave', this.tooltip ? mouseleave : null)
    node
      .append('svg:a')
      .attr('xlink:href', (d) => d.url)
      .append('text')
      .text((d) => d.label)
      .attr('transform', (d) => `translate(0, ${d.size * 5 + 5})`)

    function normx(x, w) {
      const res = ((x - minx) * width * (1 - 2 * mx)) / dx + wx
      return Math.max(w + wx, Math.min(res, width - w - wx))
    }

    function normy(y) {
      return ((y - miny) * height * (1 - 2 * my)) / dy + height * my
    }

    node
      .datum((d, i, ar) => {
        d.x = normx(d.x, ar[i].getBBox().width)
        d.y = normy(d.y)
        return d
      })
      .attr('transform', translate)
      .call(
        d3.drag().on('drag', function (e, d) {
          if (d) {
            d.x = e.x
            d.y = e.y
            d3.select(this).attr('transform', translate)
            d.in.forEach((e) => d3.select('#' + e.id).attr('d', edgeDraw(e)))
            d.out.forEach((e) => d3.select('#' + e.id).attr('d', edgeDraw(e)))
          }
        })
      )

    edgepaths.attr('d', edgeDraw)
    // TODO: move graph rendering to here, taking into account dir, etc.
    //     const simulation = d3.forceSimulation(this.nodes)
    //       .force('link', d3.forceLink(this.edges).id(d => d.id))
    //       .force('charge', d3.forceManyBody().strength(-6000))
    //       .force('center', d3.forceCenter(width / 2, height / 2))
    //       .on('tick', () => {
    // link
    //   .attr('x1', d => d.source.x)
    //   .attr('y1', d => d.source.y)
    //   .attr('x2', d => d.target.x)
    //   .attr('y2', d => d.target.y)
    //         node
    //           .attr('transform', d => `translate(${d.x}, ${d.y})`)
    //         edgepaths
    //           .attr('d', d =>
    //             `M ${d.source.x} ${d.source.y} Q
    //             ${(d.source.x+d.target.x)/2+(d.target.y-d.source.y)/4}
    //             ${(d.source.y+d.target.y)/2+(d.source.x-d.target.x)/4}
    //             ${d.target.x} ${d.target.y}`)

    //      }
    //      )
  },
}
</script>

<style lang="postcss">
svg {
  height: 100%;
  width: 100%;
}
.graph-edge {
  stroke: black;
  stroke-width: 2;
  fill: transparent;
}
.graph-node {
  & circle {
    stroke: #fff;
    stroke-width: 5px;
    fill: #f0c000;
  }

  & text {
    stroke: red;
  }
}
</style>
