<template>
  <q-btn
    v-if="object.editable"
    outline
    round
    size="xs"
    color="negative"
    icon="$edit"
    class="edit-btn"
    :href="href"
    @click="href ? null : openForm()"
  />
</template>

<script>
import objectMixin from '@/mixins/objectMixin'

export default {
  mixins: [objectMixin],
  props: {
    page: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    href() {
      return this.page ? this.object.edit_path : null
    },
  },
  methods: {
    openForm() {
      this.$emitter.emit('openForm', this.object)
    },
  },
}
</script>
<style lang="postcss">
.edit-btn {
  z-index: 4000;
}
</style>
