<template>
  <div>
    <q-responsive v-for="doc in files" :key="doc.url" :ratio="210 / 297">
      <object width="99%" height="99%" :data="doc.url">
        <q-btn :href="doc.url">{{ doc.filename }}</q-btn>
      </object>
    </q-responsive>
  </div>
</template>

<script>
export default {
  props: {
    files: {
      type: Array,
      required: true,
    },
  },
}
</script>
