<template>
  <q-dialog v-model="isOpen" full-width>
    <slot :success="() => (isOpen = false)" />
  </q-dialog>
</template>

<script>
import objectMixin from '@/mixins/objectMixin'
import { objectKey } from '@/mixins/keys'
import { computed } from 'vue'

export default {
  mixins: [objectMixin],
  provide() {
    return {
      [objectKey]: computed(() => this.formObject),
    }
  },
  data() {
    return {
      isOpen: false,
      formObject: this.object,
    }
  },
  mounted() {
    this.$emitter.on('openForm', (obj) => {
      this.formObject = obj
      this.isOpen = true
    })
  },
}
</script>
