<template>
  <slot v-if="external" name="external">
    <div class="row justify-between q-my-lg">
      <div class="col">
        <h5 class="no-margin" v-html="title" />
      </div>
      <div v-if="items.length > 0" class="col">
        <q-input
          v-if="searchable"
          v-model="filter"
          debounce="300"
          dense
          type="search"
          :placeholder="ttC('search')"
          class="q-mx-md"
        >
          <template #append>
            <q-icon name="$search" />
          </template>
        </q-input>
      </div>
      <div v-if="newObject" class="col-1 text-center">
        <new-btn :object="newObject" />
      </div>
    </div>
  </slot>
  <q-table
    v-model:pagination="pagination"
    :columns="columns"
    :rows="items"
    row-key="id"
    :filter="filter"
    :title="external ? null : title"
    v-bind="$attrs"
    :card-container-class="cardContainerClass"
    :rows-per-page-options="rowsPerPageOptions"
    :visible-columns="visibleColumns"
  >
    <template v-if="!external" #top-right>
      <q-input
        v-if="searchable"
        v-model="filter"
        borderless
        dense
        debounce="300"
        type="search"
        :placeholder="ttC('search')"
      >
        <template #append>
          <q-icon name="$search" />
        </template>
      </q-input>
      <new-btn v-if="newObject" :object="newObject" />
    </template>

    <template v-for="(col, ind) in columns" :key="ind" #[tname(col)]="props">
      <q-td dir="auto" :props="props">
        <span v-html="props.value" /><edit-btn
          v-if="col.edit"
          :object="props.row"
          size="xs"
          dense
        />
      </q-td>
    </template>

    <template v-for="(index, sname) in $slots" :key="index" #[sname]="sdata">
      <slot :name="sname" v-bind="sdata" />
    </template>
  </q-table>
</template>

<script>
import NewBtn from '@/Shared/NewBtn.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import Base from '@/models/Base'

export default {
  components: {
    NewBtn,
    EditBtn,
  },
  props: {
    external: Boolean,
    title: String,
    items: {
      type: Array,
      required: true,
    },
    attrs: {
      type: Array,
      required: true,
    },
    searchable: {
      type: Boolean,
      default: true,
    },
    newObject: {
      type: Base,
      default: null,
    },
  },
  data() {
    return {
      filter: '',
      search: '',
      pagination: {
        page: 1,
        rowsPerPage: this.getItemsPerPage(),
      },
    }
  },
  computed: {
    columns() {
      return ['id', ...this.attrs].map(this.makeCol)
    },
    visibleColumns() {
      return this.columns
        .filter((col) => col.name !== 'id' && this.colExists(col.field))
        .map((col) => col.name)
    },
    cardContainerClass() {
      return this.$q.screen.gt.sm ? 'grid-masonry grid-masonry--2' : null
    },
    rowsPerPageOptions() {
      return this.$q.screen.gt.md ? [3, 6] : [3]
    },
  },
  methods: {
    tname(col) {
      return `body-cell-${col.name}`
    },
    getItemsPerPage() {
      return 'grid' in this.$attrs ? 6 : 60
    },
    colExists(col) {
      return this.items.some(
        typeof col === 'function' ? col : (row) => row[col]
      )
    },
    makeCol(field, extra = {}) {
      if (Array.isArray(field)) {
        const ex =
          typeof field[1] === 'function' ? { field: field[1] } : field[1]
        extra = { ...extra, ...ex }
        field = field[0]
      }
      const res =
        typeof field === 'object'
          ? field
          : {
              name: field,
              label: this.ttC(field),
              field: field,
              align: 'auto',
              sortable: true,
            }
      return { ...res, ...extra }
    },
  },
}
</script>
<style lang="css" scoped>
.q-card {
  break-inside: avoid;
}
.grid-masonry--2 {
  column-count: 2;
}

.grid-masonry--3 {
  column-count: 3;
}

.grid-masonry {
  flex-direction: column;
  column-fill: balance;
  display: block;
}
</style>
