<template>
  <q-btn
    v-if="object"
    icon="$add"
    color="accent"
    fab-mini
    class="q-mx-lg"
    @click="openForm()"
  />
</template>

<script>
import objectMixin from '@/mixins/objectMixin'

export default {
  mixins: [objectMixin],
  methods: {
    openForm() {
      this.$emitter.emit('openForm', this.object)
    },
  },
}
</script>
