<template>
  <q-list>
    <q-item
      v-for="object in objects"
      :key="object.oid"
      :href="object.show_path"
    >
      <q-item-section avatar><q-icon :name="$bullet()" /></q-item-section>
      <q-item-section>
        <q-item-label>
          <slot :object="object">{{ object }}</slot>
        </q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  props: {
    objects: {
      type: Array,
      required: true,
    },
  },
}
</script>
