<template>
  <span
    ><pe-temporal :time="time" :date="date" :attr="starts"
      ><template #display="{ scope }"
        ><span v-if="scope.editable" class="editable"
          >{{ startsv }} &ndash; </span
        ><span v-else v-html="range" /></template
    ></pe-temporal>
    <pe-temporal :time="time" :date="date" :attr="ends"
      ><template #display="{ scope }"
        ><span v-if="scope.editable" class="editable" v-html="endsv" /><span
          v-else
          v-html="''" /></template></pe-temporal
  ></span>
</template>

<script>
import PeTemporal from '@/Shared/SimpleForm/PeTemporal.vue'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    PeTemporal,
  },
  mixins: [objectMixin],
  props: {
    time: Boolean,
    date: Boolean,
    starts: {
      type: String,
      default: 'starts',
    },
    ends: {
      type: String,
      default: 'ends',
    },
  },
  computed: {
    startsv() {
      return this.object[this.starts]
    },
    endsv() {
      return this.object[this.ends]
    },
    ostartsv() {
      return this.object[`o${this.starts}`]
    },
    oendsv() {
      return this.object[`o${this.ends}`]
    },
    range() {
      const opts = {}
      // date is meaningful
      if (this.ostartsv.getYear() > 0) opts.dateStyle = 'medium'
      // time is meaningful
      if (this.ostartsv.getHours() > 0) opts.timeStyle = 'short'
      return Intl.DateTimeFormat(
        // use 24h time in all locales
        `${this.$i18n.locale}-u-hc-h24`,
        opts
      ).formatRange(this.ostartsv, this.oendsv)
    },
  },
}
</script>
