<li>Baskar Balasubramanyam, Ph.D. Brandeis University, 2007, mentored by  Prof. Amnon Besser</li>
<li>Erika Damian, Ph.D. University of Trento, Italy, mentored by  Prof. Yoav Segev.</li>
<li>Stanislav Dubrovskiy, Ph.D. 2004 Northeastern University, mentored by Prof. Vladimir Goldstein.</li>
<li>Rafal Filipow, Ph.D. Institute of Mathematics, Polish Academy of Sciences, 2004, mentored by Prof. Matti Rubin and Prof. Uri Abraham</li>
<li>Dmitry Kerner, Ph.D. 2007 Tel Aviv University, mentored by Prof. Victor Vinnikov and Prof. Amnon Yekutieli. </li>
<li>Christian Pech, Ph.D. Dresden University of Technology, 2003, Prof. Michael Klin</li>
<li>Amir Sapir, Ph.D.  2005 Ben Gurion University, mentored by Prof. Daniel Berend.</li>
<li>Ajadi Suraju, Ph.D. Obafemi Awolowo University, Nigeria, 2005, mentored by Prof. Vladimir Goldstein</li>
<li>Shuichiro Takeda, Ph.D. University of Pennsylvania, 2006, mentored by Dr. Nadia Gurevich</li>
<li>Gheorghe Tigan, Ph.D. West University of Timisoara, 2006 , mentored by Prof. Dmitry Turaev.</li>
<li>Arkady Tsurkov, Ph.D. Hebrew University of Jerusalem, 2004, Prof. Ruvim Lypianski</li>
<li>Prasad Vegulla, Ph.D. Washington University, St. Louis, 2007, mentored by Prof. Victor Vinnikov and Prof. Daniel Alpay</li>
<li>Marco Zunino, Ph.D. Universit&egrave; Louis Pasteur (France), 2002, mentored by Prof. Miriam Cohen.</li>
