<li>Prof. Prof. Aalt Dijksma, University of Groningen, Holland</li>
<li>Prof. Mboup Mamadou, Universite Rene Descartes, France</li>
<li>Prof. Popov Mykhaylo, Chernivtsi National University, Ukraine</li>
<li>Dr. Yitwah Cheung, San Francisco State University, USA</li>
<li>Prof. Andrey Vladimirov, Weierstrass Institute for Applied Analysis and Stochastics, Germany</li>
<li>Prof. Willam Kantor, University of Oregon, USA</li>
<li>Dr. Alexander Stasinski, University of Cambridge, UK</li>
<li>Dr. Sergey Zelik, University of Surrey, UK</li>
<li>Prof. Aleksander Pelczynski, Academy of Sciences, Poland</li>
<li>Prof. Clemente Zanco, Universita' degli Studi, Italy </li>
<li>Prof. Stanislav Molchanov, University of North Carolina at Charlotte, USA</li>
<li>Prof. Victor Nikonenko, Kuban State University, Russia</li>
<li>Prof. Patrick Fowler, University of Sheffield, UK</li>
<li>Prof. Michael Goldshtein, University of Toronto, Canada</li>
<li>Prof. Dmitry Kaluzniy-Verbovetskii, Drexel University, USA</li>
<li>Dr. Pioter Kowalski, Wroclaw University, Poland</li>
