<template>
  <seminar-form />
</template>

<script>
import SeminarForm from '@/Components/research/SeminarForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    SeminarForm,
  },
  extends: EditPage,
}
</script>
