<template>
  <term-pager :to="(t) => `/research/${t.to_param}/seminars`" />
  <div class="row justify-evenly items-start">
    <seminar-item v-for="sem in items" :key="sem.id" :object="sem" />
  </div>

  <form-dialog v-slot="slotProps">
    <seminar-form modal v-bind="slotProps" />
  </form-dialog>

  <q-page-sticky position="top-right" :offset="[18, 10]">
    <new-btn />
  </q-page-sticky>
</template>

<script>
import SeminarForm from '@/Components/research/SeminarForm.vue'
import SeminarItem from '@/Components/research/SeminarItem.vue'
import TermPager from '@/Components/TermPager.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import NewBtn from '@/Shared/NewBtn.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    SeminarForm,
    SeminarItem,
    FormDialog,
    NewBtn,
    TermPager,
  },
  extends: IndexPage,
}
</script>
