<template>
  <term-pager />
  <object-page-header />
  <with-photo>
    <div class="text-subtitle1" dir="auto" v-html="$md(seminar.description)" />
  </with-photo>

  <p class="text-center">
    <pe-select attr="day" :items="$dayOptions[$i18n.locale]" />,
    <temp-range time />, <pe-text-field attr="room" />
  </p>

  <q-separator class="q-my-lg" />

  <meeting-table
    v-if="upcoming_meetings.length > 0 || bmeeting"
    :seminar="seminar"
    :items="upcoming_meetings"
    :new-object="bmeeting"
    :title="ttC('upcoming', { what: $tc('models.meeting', 2) })"
  />
  <q-separator class="q-my-lg" />
  <meeting-table
    v-if="past_meetings.length > 0"
    :seminar="seminar"
    :items="past_meetings"
    :title="ttC('past', { what: $tc('models.meeting', 2) })"
  />
  <form-dialog v-slot="props" :object="bmeeting">
    <meeting-form modal v-bind="props" />
  </form-dialog>
</template>

<script>
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import TempRange from '@/Shared/TempRange.vue'
import PeSelect from '@/Shared/SimpleForm/PeSelect.vue'
import ObjectPageHeader from '@/Components/ObjectPageHeader.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import MeetingForm from '@/Components/research/MeetingForm.vue'
import MeetingTable from '@/Components/research/MeetingTable.vue'
import TermPager from '@/Components/TermPager.vue'
import WithPhoto from '@/Components/WithPhoto.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    PeTextField,
    TempRange,
    PeSelect,
    ObjectPageHeader,
    FormDialog,
    MeetingForm,
    MeetingTable,
    TermPager,
    WithPhoto,
  },
  extends: ShowPage,
  props: {
    meeting: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      bmeeting: this.$bless(this.meeting),
    }
  },
  computed: {
    seminar() {
      return this.object
    },
    upcoming_meetings() {
      return this.seminar.meetings.filter((m) => m.upcoming)
    },
    past_meetings() {
      return this.seminar.meetings.filter((m) => !m.upcoming)
    },
  },
}
</script>

<style lang="css" scoped>
.bordered {
  border-radius: 4px;
  border-style: groove;
}
</style>
