<%= underlined("#{@what.seminar} Seminar") %>

On *<%= l @what.date, format: :daylong %>*,

At *<%= l @what.starts %> -- <%= l @what.ends %>*
<% if @what.room.present? %>

In *<%= @what.room %>*
<% end %>
<% if @what.online %>

<%= @what.room.present? ? 'or ' : '' %>[Online](<%= @what.online %>)
<% end %>

### <%= @what.full_speaker_text %>

will talk about

<%= underlined(@what.title, '-') %>
<% if @what.abstract %>

### Abstract:

<%= word_wrap(@what.abstract || '', line_width: 72) %>
<% end %>
<% if @what.unusual %>

**Please note the unusual <%= @what.unusual %>!**
<% end %>

==
Information about this seminar can also be obtained on its
[webpage](<%= @what.seminar.show_url %>), as a 
[calendar](<%= @what.seminar.ical_url %>) or via
[news feed](<%= @what.seminar.feed_url %>)

