# <%= @what.seminar %>

ביום <%= l @what.date, format: :daylong %>,
בשעות <%= l @what.starts %> -- <%= l @what.ends %>
<% if @what.room.present? %>

ב<%= @what.room %>
<% end %>
<% if @what.online %>

<%= @what.room.present? ? 'או ' : '' %>[ברשת](<%= @what.online %>)
<% end %>

<%= centered(@what.full_speaker_text) %>

נושא ההרצאה:

## <%= @what.title %>
<% if @what.abstract %>

### <%= tt(:abstract) %>:
<%= word_wrap(@what.abstract || '', line_width: 72) %>
<% end %>
<% if @what.unusual %>

     <%= tt :unusual, what: @what.unusual %>!
<% end %>

==
מידע על הסמינר ניתן למצוא גם 
[באתר](<%= @what.seminar.show_url %>), בצורת 
[לוח שנה](<%= @what.seminar.ical_url %>) או דרך
[קורא חדשות](<%= @what.seminar.feed_url %>)

