<li><a href="/~lin/CLT-workshop.pdf">Workshop on the Central Limit Theorem</a>, July 2, 2013. </li>

<li>
  <a href="/~arkady/Eilat_2013_conference/Poster_2013_3.pdf">
    Interactions between Logic, Topological structures and Banach spaces theory
  </a>, May 19-24, 2013 at Eilat.
</li>

<li> <a href="http://www.math.tau.ac.il/~barakw/action/2012/fourthmeeting/index.html">Action Now Seminar: Mostow and Rigidity</a>, May 7, 2013.</li>

<li> <a href="https://sites.google.com/site/aatg2013/">Workshop on Algebraic, Analytic, and Tropical Geometry (AATG2013)</a>, April 28 - May 3, 2013 at Kibbutz Ein Gedi. </li>
<li> <a href="/~oshalit/MiniConference2013/MiniConference2013.htm">Mini conference in operator algebras</a>, April 9 - 10, 2013. </li>
<li> <a href="/~cstar/workshop/">Workshop on C*-algebras and Noncommutative Dynamics</a>, March 11 - 14, 2013 at Sde Boker. </li>
<li> <a href="/~cstar/school/">Spring School on Group C*-algebras</a>, March 17 - 21, 2013 at Sde Boker. </li>
<li> Dynamics on parameter spaces 2013, January 27 - February 1, 2013 at Sde Boker.</li>
<li><a href="/files/center/events/NorikoSakuraiFellowship2013.pdf">Award of the Noriko Sakurai Postdoctoral Fellowship for 2013</a>,  Dec. 25, 2012.</li>

