<li>Dr. Marco Antei, Ph.D. University of Lille, France</li>
<li>Dr. Yana Cherkunsky,  Ph.D. Ben-Gurion University, Israel</li>
<li>Dr. Amichai Eisenmann, Ph.D. Hebrew University of Jerusalem, Israel</li>
<li>Dr. Shimon Garti, Ph.D. Hebrew University of Jerusalem, Israel</li>
<li>Dr. Roi Krakovski, Ph.D. Ben-Gurion University, Israel</li>
<li>Dr. Natalia Krapivnik, Ph.D. Ben-Gurion University, Israel</li>
<li>Dr. Arnab Mitra, Ph.D., Tata Institute of Fundamental Research, Mumbai, India</li>
<li>Dr. Viorica Motreanu, Ph.D., University of Perpignan, France</li>
<li>Dr. Mithun Mukherjee, Ph.D. Indian Statistical Institute, Bangalore, India</li>
<li>Dr. Ophir Nave, Ph.D. Ben-Gurion University, Israel</li>
<li>Dr. Ahuva Shkop, University of Illinois at Chicago, USA   </li>
<li>Dr. Guillermo Pineda Villavicencio, Ph.D., University of Ballarat, Australia</li>
<li>Dr. Sourav Pal, Ph.D., Indian Institute of Science, Bangalore, India</li>
<li>Dr. Saurabh Ray, Ph.D., Universität des Saarlandes, Saarbrücken, Germany</li>
<li>Dr. Dmitry Sustretov, Ph.D., University of Oxford, England</li>
<li>Dr. David Ralston, Ph.D. Rice University, USA</li>
<li>Dr. Vera Tonic, Ph.D., University of Oklahoma,, USA</li>
<li>Dr. Coolimuttam Gopalakrishnan Venketasubramanian, Ph.D., University of Hyderabad, Hyderabad, India</li>
