<li>Ehud Ben Efraim, Copenhagen University, Denmark</li>
<li>Vladimir Bolotnikov, College of William and Mary, USA</li>
<li>Victor Burenkov, Cardiff University, United Kingdom</li>
<li>Jean-Pierre Conze, University of Rennes, France</li>
<li>Christophe Cuny, Ecole Centrale de Paris, France</li>
<li>Dikran Dikranjan, Universita di Udine, Italy</li>
<li>Kenneth Ralph Davidson, University of Waterloo, Canada</li>
<li>Yaroslav Kopolov, Sobolev Institute of Mathematics, Russia</li>
<li>Michael Megrelishvili, Bar Ilan University, Israel</li>
<li>Mihai Popa, Queen's University at Kingston, Canada</li>
<li>Irene Sabadini, Politecnico di Milano, Italy</li>
<li>Hans Jurgen Schneider, University of Munich, Germany</li>
<li>Miroslav Silhavy, Institute of Mathematics of the AV ČR Prague, Czech Republic</li>
<li>Pooja Singla, Indian Institute of Science, India</li>
<li>Przemyslaw Woltaszczyk, University of Warsaw, Poland</li>
<li>Clemente Zanco, University of Milano, Italy</li>
