<hr />

<div class="text-center form-button">
  <%= f.button :submit, 
    tt("actions.#{params[:action] == 'new' ? 'create' : 'update'}", 
       what: tt(Issue, count: 1)) %>
</div>

<%= render 'support' %>

