<%= f.association :course, collection: courses %>

<%= f.input :title %>

<%= f.input :content, pagedown %>

<%= f.input :correspondence, input_html: { rows: 10 }, hint_html: {
  class: %w[lead border rounded-lg mx-3 px-3 font-weight-bold bg-warning]
} %>

