<div class="row row-cols-1 my-3">
  <div class="col col-md-6 mx-auto">
<div class="card">
  <% if response_policy.modify? %>

    <%= render 'form_includes' %>

    <div class="card-body">
      <%= simple_form_for response_form_path, response_form_opts do |f| %>
        <%= f.hidden_field :issue_id, value: bare_object.id %>
        <%= f.input :content, pagedown %>
        <div class="text-center form-button">
          <%= f.button :submit %>
          <%= f.button :button, type: :submit, value: :commit_no_email do %>
            <%= t '.respond_no_email' %>
          <% end %>
          <% if issue_response.persisted? %>
            <%= f.button(:button, (issue_response.held? ?  {
              class: %w[btn btn-warning], data: {confirm: t(
                '.publish_confirm', count: issue_response.publish_delay
              )}
            } : { class: %w[btn btn-info] })
              .merge(type: :submit, value: 'publish')) do %>
            <%= t '.publish' %>
          <% end %>

          <%= link_to tt('actions.destroy', issue_response.object.class),
            issue_response.destroy_path,
            method: :delete,
            data: {confirm: tt(
              :confirm_action,
              scope: [issue_response.class.sing_model_name('.'), :destroy], 
              cascade: true,
              act: t('actions.to_destroy',
                     title: tt(IssueResponse, the: true)),
            )},
           class: %w[btn btn-primary] %>
       <% end %>
        </div>
      <% end %>
    </div>

<% else %>
  <% if issue_response.published? %>
    <h6 class="card-header bg-success"><%= t '.final' %></h6>
  <% else %>
    <h6 class="card-header bg-warning"><%= t '.pending' %></h6>
  <% end %>
  <div class="card-body mathjax" dir="auto">
    <%= markdown(issue_response.content) %>
  </div>
<% end %>
</div>
</div>
</div>

