<tr>
  <td role="gridcell"><%= issue.slug %></td>
  <td role="gridcell"><%= issue.linked_with_actions %></td>
  <td role="gridcell" data-order="<%= issue.created_at.to_i %>">
    <%= l issue.created_at, format: :long %>
  </td>
  <td role="gridcell" data-order="<%= issue.replied_at.to_i %>">
    <%= l issue.replied_at, format: :long %>
  </td>
  <td role="gridcell"><%= issue.course.linked %></td>
  <td role="gridcell" data-order="<%= issue.status_i %>">
    <%= tt "teaching.issues.show.status.#{issue.status}" %>
  </td>
</tr>
