<% if user.present? %>
  <% id = user.try(:email) || user.try(:login) || user.try(:slug) || '' %>
  <% @resend_id ||= 0; @resend_id += 1 %>
  <div class="btn-group btn-group-sm">
    <% %w[created update].each do |email| %>
      <% if policy.public_send("send_#{email}?", user) %>
        <%= button_to t(".#{email}"), 
          {action: "send_#{email}", id: issue.id, to: user}, 
          remote: true, data: { 
            confirm: t('.confirm_to', who: user.to_s), 
            disable_with: t('.resending'),
            toggle: :tooltip,
          },
          title: t('.confirm_to', who: user.to_s), 
          disabled: (email == 'update') && (issue.status == :open),
          form: { data: {type: :json}, class: 'resend-form', 
                  id: "#{id}-#{email}-form-#{@resend_id}" }, 
          class: %w[resend-button btn btn-outline-dark btn-sm], 
          id: "#{id}-#{email}-button-#{@resend_id}" %>
      <% end %>
    <% end %>
  </div>
<% end %>


