<% if uu = User.admin.try(:decorate) %>
<% content_for :inner_footer do %>
<div class="text-center mx-auto my-1">
  <%= uu.mailed(tt('support', scope: [:teaching, :issue]), 
              subject: '[IS]',  class: %w[btn btn-danger],
              data: { toggle: 'tooltip'}, 
              title: tt('support_tt', scope: [:teaching, :issue])) %>
</div>
<% end %>
<% end %>
