<% if params[:show_flowchart] %>
  <%= toast(markdown(t('.flowchart'), inline: true), 
            cssclass: 'toast-wide flex-fill') do %>
    <div class="embed-responsive embed-responsive-a4 file-embed">
      <object class="embed-responsive-item" width=99% height=99% 
              data="/files/issues_flowchart.png">
        <%= link_to('issues flowchart', '/files/issues_flowchart.png') %>
    </object>
    </div>
  <% end %>
<% end %>

<%= h1 %>

<%= table(id: 'item-list', 
          data: { order: [[5, :asc], [2, :desc]] }) do |table| %>
  <thead>
    <tr>
      <%= table.th tt :id %>
      <%= table.th tt :title %>
      <%= table.th tt :reported_at %>
      <%= table.th tt :replied_at %>
      <%= table.th tt Course %>
      <%= table.th tt 'teaching.issues.index.status' %>
    </tr>
  </thead>
  <tbody>
    <%= render issues %>
  </tbody>
<% end %>


<%= form_button index_type: :dt %>

<%= index_button(IssuesUser) %>

<%= index_button(Department) %>

<%= render 'support' %>

