<% extrajs do %>
  <%= javascript_include_tag 'resend' %>
<% end %>

<%= h1(get_title + object.action_list) %>

<dl class="row lead">
  <dt class="col-sm-3 col-lg-2"><%= tt 'id' %></dt>
  <dd class="col-sm-9 col-lg-4"><%= issue.slug %></dd>
  <dt class="col-sm-3 col-lg-2"><%= tt 'teaching.issues.index.status' %></dt>
  <dd class="col-sm-9 col-lg-4"><%= t ".status.#{issue.status}" %></dd>
  <dt class="col-sm-3 col-lg-2"><%= tt Course %></dt>
  <dd class="col-sm-9 col-lg-4"><%= issue.course.linked_with_id %></dd>
  <dt class="col-sm-3 col-lg-2"><%= tt 'teaching.lecturer' %></dt>
  <dd class="col-sm-9 col-lg-4">
  <%= issue.lecturer.try(:linked) %>
  <%= render 'resend', user: issue.lecturer %>
  </dd>
  <dt class="col-sm-3 col-lg-2"><%= tt :reported_at %></dt>
  <dd class="col-sm-9 col-lg-4"><%= l issue.created_at, format: :long %></dd>
  <% if reporter.present? && reporter != student_rep %>
    <dt class="col-sm-3 col-lg-2"><%= tt :reported_by %></dt>
    <dd class="col-sm-9 col-lg-4"><%= reporter.linked %></dd>
  <% end %>
  <dt class="col-sm-3 col-lg-2"><%= tt IssuesStudentRep, count: 2 %></dt>
  <dd class="col-sm-9 col-lg-4">
  <%= student_rep.try(:linked) || student_rep %>
  <%= render 'resend', user: student_rep %>
  </dd>
  <% if issue.replied? %>
    <dt class="col-sm-3 col-lg-2"><%= tt :replied_at %></dt>
    <dd class="col-sm-9 col-lg-4"><%= l issue.replied_at,
      format: :long %></dd>
    <dt class="col-sm-3 col-lg-2"><%= tt :replied_by %></dt>
    <dd class="col-sm-9 col-lg-4">
    <%= replier.try(:linked) || replier %>
    <%= render 'resend', user: replier %>
    </dd>
    <% if issue.published? %>
      <dt class="col-sm-3 col-lg-2"><%= tt :published_at %></dt>
      <dd class="col-sm-9 col-lg-4"><%= l issue.published_at, format: :long %>
      </dd>
    <% end %>
  <% end %>
</dl>

<div class="row row-cols-1 row-cols-md-2 my-3">
  <div class="col">
<div class="card h-100">
  <h4 class="card-header"><%= Issue.human_attribute_name(:content) %></h4>
  <div class="card-body mathjax" dir="auto">
    <%= markdown(issue.content) %>
  </div>
</div>
  </div>

  <div class="col">
<div class="card h-100">
  <h4 class="card-header">
    <%= Issue.human_attribute_name(:correspondence) %>
  </h4>
  <%= code_block(code: (issue.correspondence.presence || t('.missing')), 
                 lang: :email, pre_classes: 'mb-0 h-100', code_opts: {
    class: %w[p-3 mathjax h-100]
  }) %>
</div>
  </div>
</div>

<% if show_response %>
  <h3 class="my-3"><%= t '.reply' %></h3>
  <%= render issue_response %>
<% end %>

<% if policy.show_staff? || policy.show_aguda? %>
  <h3 class="my-3"><%= t '.extra_people' %></h3>

  <div class="row row-cols-1 row-cols-md-2 my-3">
  <% if policy.show_staff? %>
    <div class="col">
      <h4><%= tt IssuesStaff, count: 2 %></h4>
      <% departments.each do |dept| %>
        <h5><%= dept.linked %></h5>
        <ul>
          <% (staff(dept) || []).each do |w| %>
            <% who = w.decorate %>
            <li><%= who.linked %><%= render 'resend', user: who %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if policy.show_aguda? %>
    <div class="col">
    <h4><%= tt IssuesAgudaRep %></h4>
    <% if aguda_rep.respond_to?(:linked) %>
      <div>
        <%= aguda_rep.linked %><%= render 'resend', user: aguda_rep %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<%# bottom buttons %>
  <%= alt_fmt(:pdf) %>
  <%= alt_fmt(:tex) %>
  <% %w[send_created send_update].each do |email| %>
    <% if policy.public_send("#{email}?") %>
      <%= footer_gitem do
        button_to t(".re#{email}"), 
          {action: email, id: issue.id}, remote: true, data: { 
          confirm: t('.resend_confirm'), disable_with: t('.resending') },
        disabled: (email == 'send_update') && (issue.status == :open),
        form: { 'data-type' => 'json', class: 'resend-form', 
                id: "#{email}-form" }, 
        class: %w[resend-button btn btn-warning nav-link font-weight-bold
                  text-dark], 
      id: "#{email}_button" 
      end %>
    <% end %>
<% end %>


<%# display sent mail, see resend.js %>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" 
                                                      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" dir="auto">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label"><%= tt 'email_sent' %></h5>
          <button type="button" data-dismiss="modal" id="modal-close" 
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" dir="auto">
          <pre class="pre-code pre-scrollable" id="modal-content" dir="auto">
          </pre>
        </div>
      </div>
    </div>
  </div>

  <%= render 'support' %>

