<%# following is needed since we render from an ActiveJob %>
<% class_eval { include ApplicationHelper } %>
<% content_for :document_class do %>
\documentclass[final,12pt]{article}
<% end %>
<% content_for :preamble do %>
  \usepackage{verbatim}
  \title{<%= md2tex issue.to_s %>}
  \author{<%= lesc reporter %>}
  \date{<%= l issue.created_at, format: :long %>}
<% end %>

\maketitle

\section*{<%= lesc t('.details') %>}
\begin{description}
      \item[<%= tt 'id' %>] <%= lesc issue.slug %>
  \item[<%= tt 'teaching.issues.index.status' %>]
  <%= t ".status.#{issue.status}" %>
  \item[<%= tt Course %>] <%= lesc course %>
  \item[<%= tt 'teaching.lecturer' %>] <%= lesc lecturer %>
  \item[<%= tt :reported_at %>]
  <%= l issue.created_at, format: :long %>
  <% if reporter.present? && reporter != student_rep %>
    \item[<%= tt :reported_by %>]
    <%= lesc reporter %>
  <% end %>
  \item[<%= IssuesStudentRep.model_name.human %>] <%= lesc student_rep %>
  <% if issue.replied? %>
    \item[<%= tt :replied_at %>] <%= l issue.replied_at, format: :long %>
    \item[<%= tt :replied_by %>] <%= lesc replier %>
    <% if issue.published? %>
      \item[<%= tt :published_at %>] <%= l issue.published_at, format: :long 
      %>
    <% end %>

  <% end %>
\end{description}

\section*{<%= lesc Issue.human_attribute_name(:content) %>}
<%= md2tex(issue.content) %>

\section*{<%= Issue.human_attribute_name(:correspondence) %>}
\begin{verbatim}
<%= issue.correspondence.presence || t('.missing') %>
\end{verbatim}

<% if show_response && issue.replied? %>
  \section*{<%= lesc(t '.reply') +
            (issue.published? ? '' : "(#{t('.pending')})") %>}
<%= md2tex(issue.response.content) %>
<% end %>

  \section*{<%= t '.extra_people' %>}

    \subsection*{<%= tt IssuesStaff, count: 2 %>}
    <% departments.each do |dept| %>
      \subsubsection*{<%= md2tex(dept) %>}
        <%# `staff` must be used as a local variable, not a helper function, 
          since we use this in a job %>
        <% if staff[dept.id].present? %>
      \begin{itemize}
        <% (staff[dept.id] || []).each do |who| %>
          \item <%= md2tex(who.decorate) %>
        <% end %>
      \end{itemize}
    <% end %>
    <% end %>

  <% if aguda_rep %>
    \subsection*{<%= tt IssuesAgudaRep %>}
    <%= md2tex aguda_rep %>
  <% end %>

% vim: ft=eruby.tex:

