<div class="my-2">
<h2>תקלה במערכת הפניות!</h2>

<p class="lead error text-center">
  מערכת הפניות אינה פעילה עקב תקלה. נשלחה הודעה לאחראים. אנא הפנו את הפניות
  בדואל אל <%= email_html(full_email, tt(:department)) %>.

</p>
</div>

