<template>
  <model-table
    :items="people"
    :attrs="attrs"
    :new-object="user"
    v-bind="$attrs"
  >
    <template #item="props">
      <div class="q-pa-md">
        <user-card :user="props.row" />
      </div>
    </template>

    <template #body="props">
      <q-tr :props="props">
        <slot name="prepend" :item="props.row">
          <q-td v-if="colExists('photo_url')" key="photo">
            <q-img
              v-if="props.row.photo_url"
              :alt="`Photo of ${props.row}`"
              contain
              :height="`${$photoHeight}px`"
              :width="`${$photoWidth}px`"
              :src="props.row.photo_url"
              class="q-my-md"
            />
          </q-td>

          <q-td key="fullname">
            <Link :href="props.row.show_path">{{ props.row }}</Link>
            <web-ids class="q-mx-xs" :user="props.row" />
            <q-btn
              v-if="mayDelete(props.row)"
              size="xs"
              glossy
              rounded
              dense
              color="secondary"
              icon="$delete"
              :label="ttC('actions.delete')"
              @click="deleteprops.row(props.row)"
            />

            <ul v-if="roles(props.row)">
              <li v-for="role in roles(props.row)" :key="role.id">
                <role-title :role="role" />
              </li>
            </ul>

            <p v-for="(note, i) in notes(props.row)" :key="i" class="q-my-md">
              <q-markdown :src="note" />
            </p>
          </q-td>
        </slot>
        <slot name="body" :item="props.row">
          <q-td v-if="colExists('email')" key="email">
            <a :href="`mailto:${props.row.email_address}`">
              {{ props.row.email }}
            </a>
          </q-td>
          <q-td v-if="colExists('office')" key="office">
            <pe-text-field :object="props.row" attr="office" />
          </q-td>
          <q-td v-if="colExists('phone')" key="phone">
            <pe-text-field :object="props.row" attr="phone" />
          </q-td>
        </slot>
        <slot name="append" :item="props.row" />
      </q-tr>
    </template>
  </model-table>
  <form-dialog :object="user">
    <component :is="form" modal :user="user" />
  </form-dialog>
</template>

<script>
import RoleTitle from '@/Components/RoleTitle.vue'
import UserForm from '@/Components/people/UserForm.vue'
import VisitorForm from '@/Components/people/VisitorForm.vue'
import userMixin from '@/Components/people/userMixin'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import UserCard from '@/Components/people/UserCard.vue'
import WebIds from '@/Components/people/WebIds.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import ModelTable from '@/Shared/ModelTable.vue'

export default {
  components: {
    RoleTitle,
    UserForm,
    VisitorForm,
    PeTextField,
    UserCard,
    WebIds,
    FormDialog,
    ModelTable,
  },
  mixins: [userMixin],
  props: {
    people: {
      type: Array,
      required: true,
    },
    user: Object,
    prependColumns: {
      type: Array,
      default: () => [
        ['photo', { field: 'photo_url', sortable: false }],
        [
          'fullname',
          {
            filter: (val, str, item) => {
              if (!this.search) return true

              return Object.values(item.to_s).some(this.searchRe.test)
            },
          },
        ],
      ],
    },
    bodyColumns: {
      type: Array,
      default: () => ['email', 'office', 'phone'],
    },
    appendColumns: {
      type: Array,
      default: () => [],
    },
    form: {
      type: String,
      default: 'user-form',
    },
  },
  data() {
    return {}
  },
  computed: {
    searchRe() {
      return new RegExp(this.search)
    },
    attrs() {
      return [
        ...this.prependColumns,
        ...this.bodyColumns,
        ...this.appendColumns,
      ]
    },
  },

  methods: {
    colExists(col) {
      return this.people.some((row) => row[col])
    },
    mayDelete(who) {
      return !!(who.actions && who.actions['delete'])
    },
    roles(user) {
      const res = user.relevant_roles
      return res && res.length > 0 ? this.$bless(res) : null
    },
    notes(user) {
      return user.all_notes || []
    },
  },
}
</script>
