<template>
  <q-card>
    <q-btn
      v-if="user.editable"
      :href="user.edit_path"
      outline
      round
      color="negative"
      icon="$edit"
      size="xs"
      class="absolute-top-right edit-btn"
    />

    <q-card-section horizontal>
      <q-card-section class="col">
        <q-item class="card-title" :href="user.show_path">
          <q-item-section>
            <q-item-label>
              <h6 class="no-margin">{{ user }}<web-ids :user="user" /></h6>
            </q-item-label>
          </q-item-section>
        </q-item>
        <div v-if="user.interests || editable">
          <pe-textarea attr="interests" dir="ltr" />
        </div>

        <div v-if="user.phd_from || user.phd_year || editable">
          <span class="text-bold" v-html="ttC('phd')" />:
          <pe-text-field attr="phd_from" />,
          <pe-text-field attr="phd_year" />
        </div>
      </q-card-section>
      <q-card-section v-if="user.photo_url" class="col-4 flex">
        <q-img :src="user.photo_url" fit="contain" :alt="`Photo of ${user}`" />
      </q-card-section>
    </q-card-section>

    <q-separator />

    <q-card-section v-if="research_groups">
      <h6 class="no-margin" v-html="ttC('research_groups')" />
      <object-list :objects="research_groups" dir="ltr" dense />
    </q-card-section>

    <q-card-section v-if="postdocs || cur_students" class="row">
      <div v-if="postdocs" class="col">
        <h6 class="no-margin" v-html="ttC('attributes.user.postdocs')" />
        <object-list :objects="postdocs" dir="ltr" dense />
      </div>

      <div v-if="cur_students" class="col">
        <h6 class="no-margin" v-html="ttC('attributes.user.cur_students')" />
        <object-list :objects="cur_students" dir="ltr" dense />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import ObjectList from '@/Shared/ObjectList.vue'
import WebIds from '@/Components/people/WebIds.vue'
import User from '@/models/User'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    PeTextField,
    PeTextarea,
    ObjectList,
    WebIds,
  },
  mixins: [objectProvider],
  props: {
    user: {
      type: User,
      required: true,
    },
  },
  computed: {
    object() {
      return this.user
    },
    research_groups() {
      return this.nonempty_list('research_groups')
    },
    cur_students() {
      return this.nonempty_list('cur_students')
    },
    postdocs() {
      return this.nonempty_list('postdocs')
    },
  },
  methods: {
    nonempty_list(list) {
      return (this.user[list] || []).length > 0 ? this.user[list] : null
    },
  },
}
</script>
<style lang="css" scoped>
.card-title {
  padding-inline-start: 0px;
}

.edit-btn {
  z-index: 100;
  right: -12px;
  top: -8px;
}
</style>
