<template>
  <simple-form :object="user" type="user" v-bind="$attrs">
    <q-tabs v-model="tab" stretch>
      <q-tab name="personal">{{ ttC('forms.legend.user.personal') }}</q-tab>
      <q-tab name="photos">{{ ttC('photos') }}</q-tab>
      <q-tab name="administration">{{ ttC('administration') }}</q-tab>
      <q-tab v-if="professionalContent" name="professional">
        {{ ttC('professional') }}
      </q-tab>
    </q-tabs>
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="personal">
        <fieldset class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('forms.legend.user.personal')" />
          <div class="row justify-between">
            <sf-select
              class="col-3 q-px-md"
              attr="status"
              :items="$options.statuses"
              required
            />
            <sf-select
              class="col-3 q-px-md"
              attr="rank"
              :items="$options.ranks"
              required
            />
            <sf-text-field
              class="col-6 q-px-md"
              attr="email"
              autocomplete="username"
              suffix="@...bgu.ac.il"
              dir="ltr"
              required
            />
          </div>

          <sf-loc-text-field
            :attrs="{
              first: { autocomplete: 'given-name' },
              last: { autocomplete: 'family-name' },
            }"
          />

          <div class="row">
            <sf-text-field
              attr="webpage"
              type="url"
              dir="ltr"
              class="col-6 q-px-md"
              :readonly="dwebpage"
            >
              <template #prepend>
                <q-toggle v-model="dwebpage" dense />
              </template>
            </sf-text-field>
            <sf-text-field class="col-3 q-px-md" attr="office" />
            <sf-text-field
              attr="phone"
              type="tel"
              class="col-3 q-px-md"
              autocomplete="tel-local-suffix"
            />
          </div>

          <q-card class="q-my-md">
            <card-title><h6 class="text-h6 no-margin">Password</h6></card-title>
            <card-text>
              Leave blank to use the University password. When a local password
              exists, either it or the University password can be used
              <sf-new-password-field />
            </card-text>
          </q-card>

          <q-card class="q-my">
            <card-title>
              <h6 class="text-h6 no-margin">Employment dates</h6>
            </card-title>
            <card-text>
              <p>
                Please enter approximate date if unknown. These are used to sort
                between regular/retired etc.
              </p>
              <div class="row justify-between">
                <sf-temporal
                  date
                  class="col-4 q-px-md"
                  attr="start"
                  :title="user.email"
                />
                <sf-temporal
                  date
                  class="col-4 q-px-md"
                  attr="finish"
                  :title="user.email"
                />
                <sf-temporal
                  date
                  class="col-4 q-px-md"
                  attr="deceased"
                  :title="user.email"
                />
              </div>
            </card-text>
          </q-card>
        </fieldset>
      </q-tab-panel>

      <q-tab-panel name="photos">
        <fieldset class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('photos')" />
          <sf-image-select
            attr="photo_signed_id"
            items="photos_attributes"
            :upload-url="$options.photosUploadUrl"
          />
        </fieldset>
      </q-tab-panel>

      <q-tab-panel name="administration">
        <fieldset class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('roles.title')" />
          <sf-options attr="admins" :items="availRoles" dense />
        </fieldset>

        <fieldset v-if="collaborates" class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('collaboration')" />

          <div v-if="canHost" class="q-my-md">
            <h6 class="text-h6 no-margin" v-html="ttC('postdocs')" />
            <sf-association attr="postdocs" dense />
          </div>

          <div v-if="isHosted" class="q-my-md">
            <h6 class="text-h6 no-margin" v-html="ttC('hosts')" />
            <sf-association attr="hosts" dense />
          </div>

          <div v-if="canSupervise" class="q-my-md">
            <h6 class="text-h6 no-margin" v-html="ttC('students')" />
            <sf-association attr="students" dense />
          </div>

          <div v-if="isSupervised" class="q-my-md">
            <h6 class="text-h6 no-margin" v-html="ttC('supervisors')" />
            <sf-association attr="supervisors" dense />
          </div>
        </fieldset>
      </q-tab-panel>

      <q-tab-panel v-if="professionalContent" name="professional">
        <fieldset v-if="isResearcher" class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('research')" />

          <div v-if="isSenior" class="row">
            <sf-text-field attr="phd_from" class="col-md-6 q-px-md" />
            <sf-text-field
              attr="phd_year"
              type="number"
              class="col-md-6 q-px-md"
            />
          </div>

          <sf-textarea attr="interests" />

          <sf-association attr="research_groups" dense />

          <q-card class="q-my-md">
            <card-title>
              <h6 class="text-h6 no-margin" v-html="ttC('webids')" />
            </card-title>
            <card-text class="row">
              <sf-text-field
                v-for="webid in Object.keys($options.webidUrls)"
                :key="webid"
                class="col-md-3 q-px-md"
                :attr="webid"
              />
            </card-text>
          </q-card>
        </fieldset>

        <fieldset v-if="isTeacher" class="q-my-md q-pa-md">
          <legend class="text-h5" v-html="ttC('teaching')" />
          <q-card class="q-my-md">
            <card-title>
              <h6 class="text-h6 no-margin" v-html="ttC('office_hours')" />
            </card-title>
            <card-text class="row">
              <sf-text-field class="col-md-6 q-px-md" attr="hours" />
              <sf-text-field class="col-md-6 q-px-md" attr="oh_location" />
            </card-text>
          </q-card>
        </fieldset>
      </q-tab-panel>
    </q-tab-panels>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import CardTitle from '@/Shared/CardTitle.vue'
import CardText from '@/Shared/CardText.vue'
import userMixin from './userMixin'

export default {
  components: {
    CardTitle,
    CardText,
    ...simpleForm,
  },
  mixins: [userMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      tab: 'personal',
      dwebpage: this.user.webpage == '1',
    }
  },
  photosUploadUrl: '/rails/active_storage/direct_uploads',
  computed: {
    availRoles() {
      return this.$page.props.formInfo.roles.map((role) => ({
        value: role.id,
        label: role.title_i18n[this.$i18n.locale],
        hint: role.description_i18n[this.$i18n.locale],
      }))
    },
  },
}
</script>
