<template>
  <simple-form :object="user" type="visitor" v-bind="$attrs">
    <div class="row justify-between">
      <sf-select
        class="col-1 q-px-md"
        attr="rank"
        :items="['Prof', 'Dr', 'Mr', 'Ms']"
      />
      <sf-text-field
        class="col-5 q-px-md"
        attr="email"
        autocomplete="email"
        dir="ltr"
      />
      <sf-association attr="hosts" class="col-6" />
    </div>

    <sf-loc-text-field
      :attrs="{
        first: { autocomplete: 'given-name' },
        last: { autocomplete: 'family-name' },
      }"
    />

    <div class="row">
      <sf-boolean attr="centre" class="col-2 q-px-md" />
      <sf-text-field
        attr="webpage"
        type="url"
        dir="ltr"
        class="col-4 q-px-md"
      />
      <sf-text-field class="col-3 q-px-md" attr="office" />
      <sf-text-field
        attr="phone"
        type="tel"
        class="col-3 q-px-md"
        autocomplete="tel-local-suffix"
      />
    </div>
    <div class="row">
      <sf-text-field attr="origin" class="col-4 q-px-md" />
      <sf-temporal
        date
        attr="starts"
        class="col-4 q-px-md"
        :title="user.email"
      />
      <sf-temporal date attr="ends" class="col-4 q-px-md" :title="user.email" />
    </div>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'

export default {
  components: {
    ...simpleForm,
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  computed: {},
}
</script>
