<template>
  <q-btn-group class="inline q-mb-md academicons">
    <q-btn
      v-for="aid in webids()"
      :key="aid"
      :href="webidUrl(aid)"
      size="xs"
      dense
      outline
      color="secondary"
      :icon="`$${aid}`"
    />
  </q-btn-group>
</template>

<script>
import userMixin from './userMixin'

export default {
  mixins: [userMixin],
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  computed: {},
}
</script>

