<template>
  <div>
    <page-header content="Positions Available in Mathematics" />
    <div lang="en" dir="ltr" class="row justify-center">
      <div class="col col-xs col-md-10 col-xl-8">
        <q-card color="text-warning">
          <card-title class="text-center justify-center q-py-md text-break">
            <h2 class="text-h4 text-bold">
              The Department of Mathematics at Ben-Gurion University of the
              Negev in Israel is inviting applications for:
            </h2>
          </card-title>

          <q-tabs v-model="tabs" align="justify">
            <q-tab
              v-for="item in items"
              :key="item.title"
              :name="item.title"
              :label="item.title"
            />
          </q-tabs>
          <q-tab-panels v-model="tabs" animated>
            <q-tab-panel
              v-for="item in items"
              :key="item.title"
              :name="item.title"
            >
              <static-content :loc="item.loc" class="q-ma" />
            </q-tab-panel>
          </q-tab-panels>

          <q-separator />
          <div class="q-pa-md">
            <h4 class="text-h6">
              All application materials should be sent to:
            </h4>

            <address>
              <pre>

<user-link userid="chair" />, Chairman

{{$setting('dept_snail')}}

Email: <a :href="`mailto:${$setting('dept_email')}`"
>{{$setting('dept_email')}}</a>
</pre>
            </address>
          </div>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import StaticContent from '@/Components/StaticContent.vue'
import PageHeader from '@/Components/PageHeader.vue'
import UserLink from '@/Components/UserLink.vue'
import CardTitle from '@/Shared/CardTitle.vue'

export default {
  components: {
    StaticContent,
    PageHeader,
    UserLink,
    CardTitle,
  },
  remember: 'tabs',
  data() {
    return {
      tabs: null,
      items: [
        {
          title: 'Postdoctoral Fellowships',
          loc: 'people/positions/Postdoctoral-Fellowships.html',
        },
        {
          title: 'Tenure track Positions',
          loc: 'people/positions/Tenure-track-Positions.html',
        },
      ],
    }
  },
  computed: {
    deptEmail() {
      return this.$page.props.settings['dept_email']?.value
    },
  },
  created() {
    this.tabs = this.items[0].title
  },
}
</script>
