<template>
  <q-card>
    <card-title>
      <a
        class="text-info text--darken-4"
        :href="`mailto:${$setting('dept_email')}`"
      >
        {{ ttC('contact') }}
      </a>
    </card-title>
    <card-text>
      <q-markup-table>
        <tbody>
          <tr>
            <td>{{ ttC('phone') }}</td>
            <td>
              <a :href="`tel:${$setting('dept_phone')}`">
                {{ $setting('dept_phone') }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{{ ttC('fax') }}</td>
            <td>
              <a :href="`fax:${$setting('dept_fax')}`">
                {{ $setting('dept_fax') }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{{ ttC('email') }}</td>
            <td>
              <a :href="`mailto:${$setting('dept_email')}`">
                {{ $setting('dept_email') }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{{ ttC('building') }}</td>
            <td>
              <a :href="$route.community_visitors()">
                {{ $setting('building') }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{{ ttC('snail') }}</td>
            <td>
              <pre title="mailing address">{{ $setting('dept_snail') }}</pre>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </card-text>
  </q-card>
</template>

<script>
import CardTitle from '@/Shared/CardTitle.vue'
import CardText from '@/Shared/CardText.vue'

export default {
  components: {
    CardTitle,
    CardText,
  },
}
</script>
