<template>
  <q-item>
    <q-item-section side>
      <q-icon name="$calendar" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-date
            :model-value="value"
            :options="options"
            mask="YYYY-MM-DD"
            today-btn
            @update:model-value="goDate"
          />
        </q-popup-proxy>
      </q-icon>
    </q-item-section>
    <q-separator vertical />
    <q-item-section side class="q-px-md">
      {{ $dateString(value) }}
    </q-item-section>
  </q-item>
</template>

<script>
import objectMixin from '@/mixins/objectMixin'

export default {
  mixins: [objectMixin],
  props: {
    attr: {
      type: String,
      default: 'date',
    },
    options: {
      type: Array,
    },
  },
  computed: {
    value() {
      return this.object[this.attr]
    },
  },
  methods: {
    goDate(val) {
      this.$inertia.get(this.object.path({ id: val }))
    },
  },
}
</script>
