<template>
  <template v-for="(item, i) in list" :key="i">
    <template v-if="i > 0">, </template>
    <Link :href="item.show_path">{{ item }}</Link>
  </template>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
}
</script>
