<template>
  <page-header>
    {{ ttitle }}
    <edit-btn page />
    <slot name="sub" />
  </page-header>
</template>

<script>
import PageHeader from '@/Components/PageHeader.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    PageHeader,
    EditBtn,
  },
  mixins: [objectMixin],
  props: {
    title: {
      type: String,
    },
  },
  computed: {
    ttitle() {
      return this.title ?? this.object.to_s
    },
  },
}
</script>
