<template>
  <header role="banner">
    <h1 class="text-h3 q-mx-md">
      <slot>
        <div v-html="content" />
      </slot>
    </h1>
    <slot name="sub" />
    <q-separator />
  </header>
</template>

<script>
export default {
  props: {
    content: {
      type: String,
    },
  },
}
</script>

<style lang="postcss" scoped>
header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}
</style>
