<template>
  <i18n-t v-if="role?.resource" keypath="admin.roleof">
    <template #role>
      <Link v-if="linked" :href="role.show_path">{{ role.to_s }}</Link>
      <span v-else>{{ role.to_s }}</span>
    </template>
    <template #the_fullname>
      <i18n-t keypath="resources.the_fullname">
        <template #resource>
          <Link :href="role.resource.show_path">{{ role.resource }}</Link>
        </template>
        <template #restype>
          {{ restype }}
        </template>
        <template #therestype>
          {{ therestype }}
        </template>
      </i18n-t>
    </template>
  </i18n-t>
  <span v-else>
    <Link v-if="linked" :href="role.show_path">{{ role.to_s }}</Link>
    <span v-else>{{ role.to_s }}</span>
  </span>
</template>

<script>
import Role from '@/models/Role'

export default {
  props: {
    role: {
      type: Role,
      required: true,
    },
    linked: Boolean,
  },
  computed: {
    opts() {
      return this.role.resource.fullnameOpts
    },
    restype() {
      return this.opts?.restype
    },
    therestype() {
      return this.opts?.therestype
    },
  },
}
</script>
