<template>
  <q-list v-if="files.length > 0">
    <q-item v-for="item in files" :key="item.signed_id" :href="item.url">
      <q-item-section thumbnail>
        <img :src="item.thumb_url" />
      </q-item-section>
      <q-item-section>
        <q-item-label class="full-width ellipsis">{{ item.to_s }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  props: {
    files: {
      type: Array,
      required: true,
    },
  },
}
</script>
