<template>
  <div v-html="content" />
</template>

<script>
export default {
  props: {
    loc: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      content: 'Loading...',
    }
  },
  created() {
    fetch(`/content/${this.loc}`)
      .then((res) => res.text())
      .then((text) => (this.content = text))
  },
}
</script>
