<template>
  <div class="row q-pa-md justify-evenly items-center">
    <div v-for="item in items" :key="item.title" class="col-auto q-my-sm">
      <slot :item="item">
        <q-card class="info-card" :dir="item.dir ?? 'ltr'">
          <card-title class="text-break">
            <h6 class="no-margin">{{ item.title }}</h6>
          </card-title>
          <card-text>
            <static-content :loc="item.route" />
          </card-text>
        </q-card>
      </slot>
    </div>
  </div>
</template>

<script>
import StaticContent from '@/Components/StaticContent.vue'
import CardTitle from '@/Shared/CardTitle.vue'
import CardText from '@/Shared/CardText.vue'

export default {
  components: {
    StaticContent,
    CardTitle,
    CardText,
  },
  props: {
    route: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      items: [],
    }
  },
  created() {
    fetch(`/content/${this.route}/manifest.json`)
      .then((res) => res.json())
      .then((json) => (this.items = json))
  },
}
</script>

<style lang="css" scoped>
.info-card {
  min-width: 20rem;
  max-width: 50rem;
}
</style>
