<template>
  <div class="row justify-between">
    <slot name="title">
      <h3 class="text-h5 no-margin col-md-6" v-html="title" />
    </slot>
    <q-select
      v-model="term"
      :options="available_terms"
      class="col-md-6"
      emit-value
      map-options
      dense
    />
  </div>
  <slot :termed="termed">
    <object-list :objects="termed" v-bind="$attrs" />
  </slot>
</template>

<script>
import ObjectList from '@/Shared/ObjectList.vue'

export default {
  components: {
    ObjectList,
  },
  props: {
    title: String,
    objects: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      cur_term: this.$bless(this.$page.props.current_term),
      term: this.$page.props.current_term.to_param,
    }
  },
  computed: {
    available_terms() {
      if (!this.cur_term) console.log('No current term')
      return [
        ...new Set([this.cur_term, ...this.objects.map((obj) => obj.term)]),
      ]
        .filter((t) => t)
        .map((t) => this.trm2opt(t))
    },
    termed() {
      return (this.objects || []).filter(
        (obj) => obj.term.to_param === this.term
      )
    },
  },
  methods: {
    trm2opt(trm) {
      if (trm) {
        return {
          value: trm.to_param,
          // $mdi doesn't do it, for some reason (TODO)
          label: trm.to_s.replace(/--/g, '\u2013'),
        }
      } else {
        console.log('Undefined trm')
        return {}
      }
    },
  },
}
</script>
