<template>
  <q-toolbar class="justify-center term-pager">
    <q-tabs
      :model-value="cur"
      shrink
      outside-arrows
      active-color="teal-10"
      indicator-color="primary"
      class="bg-yellow-3"
    >
      <q-tab
        v-for="term in avail_terms"
        :key="term.to_param"
        :name="term.to_param"
        :label="toLabel(term)"
        :alert="
          term.to_param === $page.props.current_term.to_param ? 'red' : false
        "
        @click="$inertia.visit(toUrl(term), visitOpts)"
      >
      </q-tab>
    </q-tabs>
  </q-toolbar>
</template>

<script>
import objectMixin from '@/mixins/objectMixin'
import Term from '@/models/Term'

export default {
  mixins: [objectMixin],
  props: {
    to: {
      type: Function,
    },
    terms: {
      type: Array,
    },
    visitOpts: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      cterm: this.$bless(this.object?.term ?? this.$page.props.term, Term),
    }
  },
  computed: {
    cur() {
      return this.cterm?.to_param
    },
    avail_terms() {
      return (
        this.terms ??
        this.$page.props.avail_terms ??
        this.object.avail_terms ??
        []
      ).map((t) => this.$bless(t, Term))
    },
  },
  methods: {
    toUrl(term) {
      return this.to
        ? this.to(term)
        : this.object.path({ term_id: term.to_param })
    },
    toLabel(term) {
      return this.$mdi(term.to_s || term.label)
    },
  },
}
</script>
<style lang="postcss">
.term-pager {
  padding: 0 15px;
  & > .q-tabs {
    border-radius: 15px;
  }
}
</style>
