<template>
  <Link v-if="user" :href="url">{{ name }}</Link>
</template>

<script>
export default {
  props: {
    userid: {
      type: String,
      required: true,
    },
  },
  computed: {
    user() {
      return this.$page.props.users[this.userid][0]
    },
    name() {
      const first = this.user.first_i18n || {}
      const last = this.user.last_i18n || {}
      const loc = first[this.$i18n.locale] ? this.$i18n.locale : 'en'
      return (
        this.$i18n.tc(`rank.${this.user.rank}`) + ` ${first[loc]} ${last[loc]}`
      )
    },
    url() {
      return this.user.webpage == '1' ? `/~${this.user.email}` : this.user.web
    },
  },
}
</script>
