<template>
  <div class="row justify-evenly items-center">
    <div v-if="object.photo_url" class="col-12 col-sm-6 col-md-3">
      <q-img
        :src="object.photo_url"
        :alt="`Photo of ${object}`"
        class="bordered"
      />
    </div>
    <div class="col q-mx-md">
      <slot />
    </div>
  </div>
</template>

<script>
import objectMixin from '@/mixins/objectMixin'
export default {
  mixins: [objectMixin],
}
</script>
