<% unless @included_dynamic_js %>
<% extrajs do %>
  <%= javascript_include_tag 'dynamic' %>
<% end %>
<% @included_dynamic_js = true %>
<% end %>
<div class="card">
  <div
    id="heading-<%= item.id %>"
    class="card-header collapsed"
    role="tab"
    data-toggle="collapse"
    href="#content-<%= item.id %>"
    aria-expanded="false"
    aria-controls="content-<%= item.id %>"
    >
    <a class="retarget" id="link-<%= item.id %>" href="#<%= item.id %>">
       <%= yield :title %>
    </a>
  </div>
  <div id="content-<%= item.id %>"
       class="collapse"
       role="tabpanel"
       aria-labelledby="heading-<%= item.id %>"
       data-parent="#<%= item.accordion.id %>"
       >
       <div class="card-body">
         <%= yield %>
       </div>
       <div class="card-footer">
         <%= yield :item_footer %>
       </div>
  </div>
</div>

