<%= h1(get_title + object.action_list) %>

<div class="mathjax text-center" dir="auto">
  <% if object.shnaton %>
    <%= button(tt(Shnaton), object.shnaton.show_path) %>
  <% else %>
    <%= new_button(tt(Shnaton),
                   new_teaching_shnaton_path(shnaton: {ac_year: object}),
                   policy(Shnaton).new?) %>
    <% if policy(Shnaton).new? && shnaton_years.present? %>
      <%= simple_form_for :shnaton, 
        url: teaching_ac_year_shnaton_path(object) do |f| %>
        <%= f.button :submit, tt('actions.create', what: '') %>
        <%= tt(Shnaton, the: true) %>
        <%= tt('fromw', what: '') %>
        <%= f.input :clone_year, value: shnaton_years.first.try(:year),
          collection: shnaton_years,
          value_method: :year,
          label: false, 
          wrapper_html: {style: 'display: inline'},
          input_html: {style: 'display: inline; width: auto' } %>
      <% end %>
      </div>
    <% end %>
 <% end %>

</div>




