<%= f.input :type, collection: IssuesUser.types, include_blank: false, 
  as: :hidden %>

<%= f.input :login, wrapper: :vertical_input_group, 
  wrapper_html: { dir: :auto }, label_html: { dir: loc2dir } do %>
  <%= f.input_field :login, dir: :ltr, lang: :en, 
     class: %w[form-control], pattern: '^[^@]*$', autocomplete: 'username' %>
  <span class="input-group-append input-group-text">@<%= f.object.mail_domain %>
</span>
<% end %>

<% [:password, :password_confirmation].each do |field| %>
  <%= f.input field,
    input_html: { dir: :ltr, lang: :en, autocomplete: 'new-password' } %>
<% end %>

<%= f.input :fullname, input_html: {autocomplete: 'name'}  %>

<%= modl = modal(
t('terms', scope: [:simple_form, :labels_ext, :issues_user]),
button: false) do |modal| %>
<%= modal.header %>
<%= modal.body do |body| %>
  <div class="embed-responsive embed-responsive-a4 file-embed">
    <object class="embed-responsive-item" width=99% height=99% 
            data="/files/issues_terms.pdf">
      <%= link_to('issues terms of usage', '/files/issues_terms.pdf') %>
    </object>
  </div>

<% end %>
<% end %>

<%= f.input :terms_of_usage, as: :boolean,
  label: t('read_terms_of_usage', 
            scope: [:simple_form, :labels_ext, :issues_user], 
            terms: modl.button_tag(
              class: %w[btn btn-outline-danger btn-sm p-0]
            )).html_safe %>

<%= f.input :active %>

<%= render "teaching/issues_users/#{try(:type, f.object).presence || f.object.model_name.singular}_form", f: f %>

