<div class="card" dir="auto">
  <h5 class="card-header" dir="auto">
    <%= issues_user.linked_with_actions(
      'edit', 'destroy', 
      ['reset_password', reset_password_teaching_issues_user_path(issues_user)]) %>
</h5>
  <div class="card-body" dir="auto">
    <% Term.order(starts: :desc).limit(4).each do |trm| %>
      <% next unless courses = issues_user.object.try(:courses).try(:this_term, trm).presence %>
    <h6><%= trm.decorate.to_html %></h6>
    <ul>
      <% courses.decorate.each do |cc| %>
        <li><%= cc.linked(markdown(cc.to_label(nil), inline: true)) %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>
