<% others = [tt('others'), 'others'] %>
<%= form = form_button issues_student_rep, button: false,
  index_id: "table-#{others[1]}", index_type: :dt,
  form_opts: { as: :issues_user }, id_prefix: 'issues-student-reps-' %>
<div class="d-flex justify-content-center my-3">
  <%= form&.button_tag %>
</div>

<%= tabs(recent_terms.push(others), ->(obj) { obj.to_html }, 
         color: 'bg-success-lighter', id_prefix: id_prefix) do |term| %>
  <h3><%= term.try(:to_html) || term[0] %></h3>

  <%= table id: "issues-student-reps-table-#{term.try(:slug) || term[1]}" do |table| %>
    <thead>
      <tr>
      <%= table.th tt(IssuesStudentRep) %>
      <%= table.th tt('name_of', Course) %>
      <%= table.th (IssuesUser.human_attribute_name('active') + '?') %>
      </tr>
    </thead>
    <tbody>
      <% if term.kind_of?(Term) %>
        <%= render IssuesStudentRep.all.decorate, term: term %>
      <% else %>
        <%= render IssuesStudentRep.not_current(Term.last(4)).decorate %>
        <% end %>
    </tbody>
  <% end %>
<% end %>

