<% issues_student_rep.term_courses(local_assigns[:term]).each do |cc| %>
<tr>
  <td>
    <%# don't do this, since we then cannot access the student in any way %>
    <%# editable_select cc, :student_rep, IssuesStudentRep.all, 
      multiple: false, allowClear: true, placeholder: '--' do %>
  <%= issues_student_rep.linked_with_actions(
      'edit', 'destroy', 
      ['reset_password', 
       reset_password_teaching_issues_user_path(issues_student_rep)]) %>
  <%# end %>
</td>
  <td><%= cc %></td>
  <td><%= editable_bool(issues_student_rep, 'active', 'active', 
                                  data: { model: :issues_user }) %>
            </td>

</tr>
<% end %>
