<%= tabs(Department.by_name.decorate, color: 'bg-success-lighter', 
         id_prefix: id_prefix) do |dept| %>
  <div class="my-3">

    <h3><%= dept.linked_with_actions %></h3>

    <% indexid = "item-list-#{dept.slug}" %>
    <% fid_prefix = "issues-staff-#{dept.slug}-" %>
    <%= form = form_button issues_staff(dept), button: false,
      index_id: indexid, form_opts: { as: :issues_user },
      id_prefix: fid_prefix %>

    <h4>
        <%= tt Member, count: 2 %>
        <%= form.button_tag(class: 'btn btn-primary btn-sm mx-2') if form %>
    </h4>
    <ul id="<%= fid_prefix + indexid %>">
      <%= render dept.people.select(&:persisted?) %>
    </ul>

    <h4><%= tt Course, count: 2 %></h4>
    <% recent_terms.each do |term| %>
      <h5><%= term.linked(term.to_html(full: true)) %></h5>
      <ul>
        <% policy_scope(dept.term_courses(term)).decorate.each do |cc| %>
          <li><%= cc.linked(cc.with_shid) %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
<% end %>

