<h4><%= tt Course, count: 2 %></h4>
<%= tabs(recent_terms(scope: Term.with_courses(Course.issuable)),
         ->(obj) { obj.to_html }) do |term| %>
  <%= f.association :courses, as: :custom_check_boxes,
    collection: term.courses.issuable.by_shid.decorate,
    label_method: ->(obj) { obj.to_label(false) },
    label: tt(:in_which, what: tt(Course, count: 2), 
              which: term.to_html(full: true)).html_safe %>
<% end %>

