<%= form = form_button issues_aguda_rep, button: false, 
   form_opts: { as: :issues_user }, id_prefix: 'aguda-' %>
<% if form.present? %>
<div class="d-flex justify-content-center my-3">
  <%= form.button_tag %>
</div>
<% end %>

<div id="aguda-item-list" class="card-columns columns-wide">
  <%= render IssuesAgudaRep.decorate %>
</div>

