<%= h1 %>

<%= tabs(issues_user_types, 
         ->(type) { tt(type, count: 2) }, 
         ->(type) { type.to_s }) do |cls| %>

  <h2>
    <%= tt cls, count: 2 %>

    <% if current_user %>
      <%= @email_modal = modal tt('emails_of', who: tt(cls, count: 2)),
        id: "#{cls}-emails", button: false do |modal| %>
        <%= modal.header %>
        <%= modal.body do |body| %>
          <tt><%= cls.all.decorate.map(&:email_address).join(', ') %></tt>
        <% end %>

      <% end %>
      <%= @email_modal.button_tag(glyphicon(:ml), 
                                  class: 'btn btn-primary btn-sm') %>
    <% end %>
  </h2>

  <%= render "#{cls.model_name.plural}", id_prefix: "#{cls}-tab_"  %>

<% end %>

  <% in_outer_locale do %>
<%= index_button(Issue) %>

<%= index_button(Department)  %>

<%= new_button(Department) %>

<% end %>

<hr/>

<%= render 'support' %>

