<%= h1 do %>
  <%= get_title %><%= object.action_list(
    'edit', 'destroy',
    ['reset_password', reset_password_teaching_issues_user_path(object)]
  ) %>
<% end %>
<% unless object.active? %>
  <h3><em><%= tt 'session.user_disabled' %></em></h3>
<% end %>
<h2>
  <%= tt object.object.class, count: 1 %>
</h2>

<% if department %>
<div dir="auto">
  <strong><%= tt Department, count: 1 %>:</strong>
<%= department.linked %>

</div>
<% end %>

<div dir="auto">
  <% terms.each do |trm| %>
  <% next unless courses(trm) %>
    <strong>
      <%= tt Course, count: 2 %> 
      <%= tt('in', what: markdown(trm.decorate, inline: true)).html_safe %>:
    </strong>
    <ul>
  <% courses(trm).decorate.each do |cc| %>
    <li><%= cc.linked %></li>
  <% end %>
    </ul>
<% end %>

</div>

<%= render 'support' %>

