<tr>

  <td role="gridcell" data-order="<%= paper_trail_version.created_at.to_i %>">
    <%= l paper_trail_version.created_at, format: :long %>
  </td>

  <td role="gridcell">
  <%= paper_trail_version.linked %>
  <span
        <% undone=paper_trail_version.undone_at
           if undone %>
    class="disabled" data-toggle="tooltip" 
                     title="Undone on <%= l undone, format: :long %>"
    <% end %>>
    <%= paper_trail_version.action_list(
      'undo', disabled: undone, 
      tooltip: 'Revert to version prior to change'
    ) %>
  </span>
  </td>

  <td role="gridcell">
    <%= paper_trail_version.blame %>
  </td>

  <td role="gridcell">
    <% unless paper_trail_version.changeset.blank? %>
    <pre>
    <%= paper_trail_version.changeset.to_yaml(line_width: 40) %>
    </pre>
    <% end %>
  </td>

  <td role="gridcell">
    <%= paper_trail_version.message %>
  </td>

</tr>




