<%= h1 %>
<%= table(data: {order: '[[0, "desc"]]'}) do |table| %>
  <thead>
    <tr>
      <%= table.th('When', style: {'max-width' => '12rem'}) %>
      <%= table.th('What', style: {'max-width' => '35%'}) %>
      <%= table.th('Whodunnit', style: {'max-width' => '15rem'}) %>
      <%= table.th('Changes') %>
      <%= table.th('Message') %>
    </tr>
  </thead>
  <tbody>
    <%= render paper_trail_versions %>
  </tbody>
<% end %>

