<%= h1 do %>
  <%= paper_trail_version.to_s(true) %>
<% end %>

<p class="lead center">
By <%= paper_trail_version.blame %> on <%= l paper_trail_version.created_at, format: :long %>
</p>

<% if paper_trail_version.undone_at %>
<p class="lead center">
<strong>Undone</strong> on <%= l paper_trail_version.undone_at, format: :long %>
</p>
<% end %>
<% unless paper_trail_version.message.blank? %>
  <h2>Modification message</h2>
  <p class="lead">
  <%= paper_trail_version.message %>
  </p>
<% end %>

<% unless paper_trail_version.changeset.blank? %>
  <h2>Modifications</h2>
  <pre>
  <%= paper_trail_version.changeset.to_yaml %>
  </pre>
<% end %>

<h2>Object before change</h2>
<pre>
<%= (paper_trail_version.object.object).to_yaml %>
</pre>

<% in_outer_locale do %>
<%= footer_item('Undo', paper_trail_version.show_path, method: :delete
                  ) if paper_trail_version.undone_at.blank? %>

<% end %>


