<template>
  <q-card :class="`col-md-5 q-mb-md course-item-${object.level}`">
    <edit-btn class="absolute-top-right edit-btn" />
    <q-card-section horizontal>
      <q-card-section class="col">
        <q-card-section horizontal>
          <q-btn outline dense class="col-2" :href="object.shnaton_url">
            {{ object.shid }}
          </q-btn>
          <q-item
            dir="auto"
            class="card-title bg-yellow-2 col"
            :href="object.show_path"
          >
            <q-item-section>
              <q-item-label dir="auto">
                <h5 class="no-margin" v-html="object.to_s" />
              </q-item-label>
              <q-item-label v-if="object.lecturer" caption dir="auto">
                {{ object.lecturer.to_s }}
              </q-item-label>
            </q-item-section>
            <q-separator />
          </q-item>
          <q-card-actions class="col-md-1">
            <q-btn
              v-if="object.some_info"
              :icon="show ? '$hide' : '$show'"
              flat
              dense
              round
              @click="show = !show"
            />
          </q-card-actions>
        </q-card-section>
        <q-slide-transition v-if="object.some_info">
          <div v-show="show">
            <q-separator class="q-mt-sm" />

            <q-card-section class="text-break">
              <div dir="auto" v-html="$md(object.some_info)" />
            </q-card-section>
          </div>
        </q-slide-transition>
      </q-card-section>
      <q-card-section v-if="object.photo_url" class="col-4 flex">
        <q-img
          :src="object.photo_url"
          fit="contain"
          :alt="`Photo of ${object}`"
        />
      </q-card-section>
    </q-card-section>
  </q-card>
</template>

<script>
import EditBtn from '@/Shared/EditBtn.vue'
import Course from '@/models/Course'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    EditBtn,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: Course,
      required: true,
    },
  },
  data() {
    return {
      show: true,
    }
  },
}
</script>
