<template>
  <simple-form>
    <div class="row q-col-gutter-x-sm">
      <sf-association attr="generic_course" class="col">
        <template #after>
          <q-btn flat icon="$update" size="lg" @click="update()" />
        </template>
      </sf-association>
      <sf-association attr="term" class="col term-select" />
      <sf-association attr="lecturer" class="col" />
      <sf-association attr="student_rep" class="col" />
    </div>

    <fieldset>
      <legend class="text-h5" v-html="tattr('content')" />
      <sf-loc-text-field
        :attrs="{
          title: {},
          content: { kind: 'textarea' },
          abstract: { kind: 'textarea' },
        }"
      />
      <h6 v-html="tattr('descfiles')" />
      <sf-file-select attr="descfiles" />
    </fieldset>

    <fieldset>
      <legend class="text-h5" v-html="ttC('location')" />
      <div class="row q-col-gutter-x-sm">
        <sf-text-field attr="web" class="col-4" autocomplete="url" />
        <sf-textarea attr="hours" class="col" dir="rtl" />
      </div>
    </fieldset>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    ...simpleForm,
  },
  mixins: [objectMixin],
  methods: {
    update() {
      this.$inertia.reload({ data: { shid: this.object.generic_course.shid } })
    },
  },
}
</script>

<style lang="css">
.term-select {
  flex: 0 0 11rem;
}
</style>
