<template>
  <article>
    <div class="row q-col-gutter-md">
      <section
        v-if="object.description || object.descfiles.length > 0"
        class="col"
      >
        <h3 class="text-h5" v-html="tattr('description')" />
        <div class="row q-col-gutter-lg">
          <div class="col">
            <pe-textarea attr="description" />
            <div v-if="object.replaces.length > 0">
              <h4 class="text-h6" v-html="tattr('replaces')" />
              <object-list :objects="object.replaces" />
            </div>
            <div v-if="object.replaced_by.length > 0">
              <h4 class="text-h6" v-html="tattr('replaced_by')" />
              <object-list :objects="object.replaced_by" />
            </div>
          </div>
          <embed-files
            v-if="object.descfiles.length > 0"
            :files="object.descfiles"
            class="col q-my-lg"
          />
        </div>
        <q-separator vertical />
      </section>

      <section class="col-md-3">
        <q-list class="text-subtitle1" separator>
          <q-item :href="object.shnaton_url">
            <q-item-section side>
              {{ tattr('shid') }}
            </q-item-section>
            <q-item-section>
              {{ object.shid }}
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section side>
              {{ tattr('level') }}
            </q-item-section>
            <q-item-section>
              {{ ttC(`${object.attrKey('levels')}.${object.level}`) }}
            </q-item-section>
          </q-item>

          <q-item v-if="object.lectures">
            <q-item-section side>
              {{ tattr('lectures') }}
            </q-item-section>
            <q-item-section>
              {{ object.lectures }}
            </q-item-section>
          </q-item>

          <q-item v-if="object.exercises">
            <q-item-section side>
              {{ tattr('exercises') }}
            </q-item-section>
            <q-item-section>
              {{ object.exercises }}
            </q-item-section>
          </q-item>

          <q-item v-if="object.credits">
            <q-item-section side>
              {{ tattr('credits') }}
            </q-item-section>
            <q-item-section>
              {{ object.credits }}
            </q-item-section>
          </q-item>

          <q-item v-if="object.year_added">
            <q-item-section side>
              {{ tattr('year_added') }}
            </q-item-section>
            <q-item-section>
              {{ object.year_added }}
            </q-item-section>
          </q-item>

          <q-item
            v-if="object.replaces.length > 0"
            :href="object.replaces[0].show_path"
          >
            <q-item-section side>
              {{ tattr('replaces') }}
            </q-item-section>
            <q-item-section>
              {{ object.replaces[0] }}
            </q-item-section>
          </q-item>

          <q-expansion-item
            v-if="object.departments.length > 0"
            :content-inset-level="1"
            :label="tattr('departments')"
          >
            <object-list :objects="object.departments" dense />
          </q-expansion-item>

          <q-expansion-item
            v-if="object.issues_staffs.length > 0"
            :content-inset-level="1"
            :label="tattr('issues_staffs')"
          >
            <object-list :objects="object.issues_staffs" dense />
          </q-expansion-item>

          <q-item v-if="object.aguda_rep" :href="object.aguda_rep.show_path">
            <q-item-section side>
              {{ tattr('aguda_rep') }}
            </q-item-section>
            <q-item-section>
              {{ object.aguda_rep }}
            </q-item-section>
          </q-item>
        </q-list>
      </section>
    </div>

    <div v-if="graph.edges.length > 0" class="fit">
      <section>
        <h3 class="text-h5" v-html="tattr('dependencies')" />
        <di-graph
          :nodes="nodes"
          :edges="edges"
          :tooltip="(n) => n?.object?.description"
        />
      </section>
    </div>
  </article>
</template>

<script>
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import DiGraph from '@/Shared/DiGraph.vue'
import ObjectList from '@/Shared/ObjectList.vue'
import EmbedFiles from '@/Shared/EmbedFiles.vue'
import GenericCourse from '@/models/GenericCourse'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    PeTextarea,
    DiGraph,
    ObjectList,
    EmbedFiles,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: GenericCourse,
      required: true,
    },
  },
  computed: {
    graph() {
      return this.object.to_graph
    },
    nodes() {
      return JSON.parse(JSON.stringify(this.graph.nodes))
    },
    edges() {
      return JSON.parse(JSON.stringify(this.graph.edges))
    },
  },
}
</script>
