<template>
  <simple-form :form-obj="form">
    <div class="row q-col-gutter-x-sm">
      <sf-text-field v-model="object.shid" attr="shid" size="10" maxlength="10">
        <template #after>
          <q-btn flat icon="$update" size="lg" @click="update()" />
        </template>
      </sf-text-field>
      <div class="col" />
      <sf-text-field attr="slug" class="col-md-4" />
    </div>
    <fieldset>
      <legend class="text-h5" v-html="tattr('description')" />
      <sf-loc-text-field
        :attrs="{ name: {}, description: { kind: 'textarea' } }"
      />
      <h6 v-html="tattr('descfiles')" />
      <sf-file-select attr="descfiles" />
    </fieldset>

    <div class="row">
      <fieldset class="col">
        <legend class="text-h5" v-html="tattr('hours_credits')" />
        <div class="column full-height justify-between">
          <div class="col">
            <sf-slider
              attr="lectures"
              :min="0"
              :max="6"
              :step="1"
              snap
              markers
            />
          </div>
          <div class="col">
            <sf-slider
              attr="exercises"
              :min="0"
              :max="6"
              :step="1"
              snap
              markers
            />
          </div>
          <div class="col">
            <sf-slider
              v-model="credits"
              attr="credits"
              :min="0"
              :max="10"
              :step="0.5"
              snap
              markers
              disabled
            />
          </div>
        </div>
      </fieldset>

      <fieldset class="col row">
        <legend class="text-h5" v-html="tattr('attribs')" />
        <div class="col column q-col-gutter-md">
          <div class="col">
            <sf-boolean attr="advanced" />
          </div>
          <div class="col">
            <sf-boolean attr="graduate" />
          </div>
          <div class="col">
            <sf-boolean attr="prereq" />
          </div>
          <div class="col">
            <sf-boolean attr="core" />
          </div>
        </div>
        <div class="col">
          <h6 class="q-my-none text-h6" v-html="tattr('given_in')" />
          <div class="row full-height justify-center">
            <div class="col">
              <sf-boolean attr="fall" />
            </div>
            <div class="col">
              <sf-boolean attr="spring" />
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <fieldset>
      <legend class="text-h5" v-html="tattr('issues')" />
      <div class="row q-col-gutter-md">
        <sf-association attr="departments" class="col-8" />
        <sf-association attr="aguda_rep" class="col-4" />
      </div>
    </fieldset>

    <fieldset>
      <legend class="text-h5" v-html="tattr('shnaton')" />
      <sf-association attr="requires" ftype="generic_courses" />
      <sf-association attr="course_lists" />
    </fieldset>

    <fieldset>
      <legend class="text-h5" v-html="tattr('history')" />
      <div class="row">
        <sf-association attr="year_added" ftype="ac_years" class="col" />
        <sf-association attr="year_removed" ftype="ac_years" class="col" />
        <sf-association attr="replaces" ftype="generic_courses" class="col" />
      </div>
    </fieldset>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import objectMixin from '@/mixins/objectMixin'
import { typeKey } from '@/Shared/SimpleForm/base/keys'

export default {
  components: {
    ...simpleForm,
  },
  mixins: [objectMixin],
  provide() {
    return {
      [typeKey]: this.type,
    }
  },
  data() {
    return {
      form: this.$inertia.form(this.formId(), {
        [this.otype()]: {},
      }),
    }
  },
  computed: {
    type() {
      return this.otype()
    },
    model() {
      return this.form[this.type]
    },
    create() {
      return !this.object.id
    },
    credits() {
      return this.model.lectures + this.model.exercises / 2
    },
  },
  watch: {
    credits() {
      this.model.credits = this.credits
    },
  },
  methods: {
    // cannot use computed properties in data
    otype() {
      return this.object.constructor.type
    },
    update() {
      this.$inertia.reload({ data: { shid: this.object.shid } })
    },
    formInfo(field) {
      return this.$page.props.formInfo[field]
    },
    formId() {
      return this.create
        ? `create${this.type}`
        : `edit${this.otype()}${this.object.id}`
    },
  },
}
</script>
