<%= underlined(@what) %>

<%= word_wrap(@what.description || '', line_width: 72) %>

-----------------------------------------

**Time**: <%= date_range(@what.starts, @what.ends) %>

**Place**: <%= @what.location %>

[More details](<%= @what.url %>)

