<% deps.each do |dep| %>
import <%= dep %> from '@/models/<%= dep %>'
<% end %>
<% if hasm %>
import { hasMany } from '@/models/Base'
<% end %>

export default class <%= name %> extends <%= base %> {
  static singular = '<%= singular %>'
  static collection = '<%= collection %>'
  static type = '<%= type %>'

  static {
    this.register()
  }
  <% if fields.present? %>

  /*
  <% fields.each do |field| %>
  <%= field %>
  <% end %>
*/
  <% end %>
  <% if rels.present? %>

  static get relations() {
    return {
      ...super.relations,
      <% rels.each do |k,v| %>
      <%= k %>: <%= v %>,
      <% end %>
    }
  }
  <% end %>
  <% getters.each do |attr| %>

  get <%= attr %>() {
    return this.<%= attr %>_i18n[this.$i18n.locale]
  }
  <% end %>
  <% temporals.each do |str, js| %>

  get <%= js %>() {
    Object.defineProperty(this, '<%= js %>', {
      value: new Date(<%= str %>),
    })
    return this.<%= js %>
  }
  <% end %>
<%= render partial: "jsmodels/#{name}" rescue '' %>}
