<template>
  <div v-html="content" />
</template>

<script>
import BaseLayout from '@/Layouts/BaseLayout.vue'
export default {
  layout: BaseLayout,
  props: {
    content: {
      type: String,
      required: true,
    },
  },
}
</script>
