<template>
  <div class="bg-teal-1">
    <q-parallax :src="img" :alt="$t('dep.building')">
      <h1 class="text-h4 text-md-h3 text-lg-h2 text-xl-h1 text-center">
        {{ $setting('department') }}
      </h1>
      <h2 class="text-h5 text-md-h4 text-lg-h3 text-xl-h2 text-center">
        {{ $setting('university') }}
      </h2>
    </q-parallax>
    <front-items
      v-slot="{ item }"
      title="current.events"
      :items="bevents"
      class="q-my-xl"
    >
      <events-front-item :object="item" />
    </front-items>
    <front-items
      v-slot="{ item }"
      title="current.meetings"
      :items="bmeetings"
      class="q-my-xl"
    >
      <meetings-front-item :object="item" />
    </front-items>
    <front-items
      v-slot="{ item }"
      title="current.courses"
      :items="bcourses"
      class="q-my-xl"
    >
      <courses-front-item :object="item" />
    </front-items>
    <front-items
      v-slot="{ item }"
      title="role.heads"
      :items="bheads"
      class="q-my-xl"
    >
      <roles-front-item :object="item" />
    </front-items>
    <front-items
      v-slot="{ item }"
      title="role.admins"
      :items="badmins"
      class="q-my-lg"
    >
      <roles-front-item :object="item" />
    </front-items>
    <q-separator />
    <div class="row q-pa-md q-my-auto justify-evenly items-center">
      <div class="col-auto">
        <address-table />
      </div>
    </div>
  </div>
</template>

<script>
import FrontItems from '@/Components/Home/FrontItems.vue'
import CoursesFrontItem from '@/Components/Home/CoursesFrontItem.vue'
import EventsFrontItem from '@/Components/Home/EventsFrontItem.vue'
import MeetingsFrontItem from '@/Components/Home/MeetingsFrontItem.vue'
import RolesFrontItem from '@/Components/Home/RolesFrontItem.vue'
import AddressTable from '@/Components/AddressTable.vue'
import HomeImg from '@/images/home.jpg'

export default {
  components: {
    FrontItems,
    CoursesFrontItem,
    EventsFrontItem,
    MeetingsFrontItem,
    RolesFrontItem,
    AddressTable,
  },
  props: {
    courses: {
      type: Array,
      default() {
        return []
      },
    },
    events: {
      type: Array,
      default() {
        return []
      },
    },
    meetings: {
      type: Array,
      default() {
        return []
      },
    },
    heads: {
      type: Array,
      default() {
        return []
      },
    },
    admins: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      img: HomeImg,
      bmeetings: this.$bless(this.meetings),
      bevents: this.$bless(this.events),
      bcourses: this.$bless(this.courses),
      bheads: this.$bless(this.heads),
      badmins: this.$bless(this.admins),
    }
  },
}
</script>
