<template>
  <div :lang="lang">
    <static-content :loc="`${route}.html`" />
  </div>
</template>

<script>
import StaticContent from '@/Components/StaticContent.vue'

export default {
  components: {
    StaticContent,
  },
  props: {
    route: {
      type: String,
      required: true,
    },
    lang: {
      type: String,
      default: 'en',
    },
  },
}
</script>
