<template>
  <div :lang="lang">
    <static-grid :route="route" />
  </div>
</template>

<script>
import StaticGrid from '@/Components/StaticGrid.vue'

export default {
  components: {
    StaticGrid,
  },
  props: {
    route: {
      type: String,
      required: true,
    },
    lang: {
      type: String,
      default: 'en',
    },
  },
}
</script>
