<li><a href="http://www.math.bgu.ac.il/~urionn/representation_growth/index.html">Batsheva seminar on Representation Growth</a>, 21-26 June 2009.</li>
<li><a href="http://www.math.bgu.ac.il/~yairgl/Conferences/AutFn/Sde_Boker.html">Lis Gaines Workshop: Action of Aut(F<sub>n</sub>) on representation varieties</a>, January 6-11, 2009.</li>
<li><!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf_sp.html --><i>The Martin Blackman Conference on Stochastic Analysis and Financial Mathematics</i>, December 2 and 3, 2008</li>
