<li>Dawn Archey, Ph.D. University of Oregon 2008, mentored by Dr. Ilan Hirshberg.</li>
<li>Mark Berman, Ph.D., University of Oxford, 2006, mentored by Dr. Uri Onn.</li>
<li>Erika Damian, Ph.D. University of Trento, Italy, mentored by  Prof. Yoav Segev.</li>
<li>Dmitry Kerner, Ph.D. Tel Aviv University, 2007, mentored by Prof. Victor Vinnikov and Prof. Amnon Yekutieli. </li>
<li>Yonah Maissel, Ph.D. Ben-Gurion University 2008, mentored by Prof. Matti Rubin.</li>
<li>Andrey Melnikov, Ph.D. Ben-Gurion University 2008, mentored by Prof. Victor Vinnikov.</li>
<li>Zachary Mesyan, Ph.D. University of California at Berkeley, 2006, mentored by Prof. Miriam Cohen and Dr. Yair Glasner.</li>
<!-- <li>. Yossi Moshe 	-->
<li>Marco Porta  Ph.D., University Denis Diderot (Paris VII-Jussieu) in Paris, France in</li>
co-tutoring with the University of Milan, Italy, 2008, mentored by Prof. Amnon Yekutieli 
<li>Katarzyna Osiak, Ph.D., University of Silesia, Katowice, Poland, 2005, mentored by Prof. Ido Efrat</li>
<li>Amir Sapir, Ph.D.  2005 Ben Gurion University, mentored by Prof. Daniel Berend.</li>
<li>Ajadi Suraju, Ph.D. Obafemi Awolowo University, Nigeria, 2005, mentored by Prof. Vladimir Goldstein</li>
<li>Gheorghe Tigan, Ph.D. West University of Timisoara, 2006 , mentored by Prof. Dmitry Turaev.</li>
<li>Arkady Tsurkov, Ph.D. Hebrew University of Jerusalem, 2004, Prof. Ruvim Lypianski</li>
<li>Prasad Vegulla, Ph.D. Washington University, St. Louis, 2007, mentored by Prof. Victor Vinnikov and Prof. Daniel Alpay</li>
<li>Arthur Yosef, Ph.D. Bar-Ilan University, 2007, mentored by Prof. Michael Lin.</li>
<li>Marco Zunino, Ph.D. Universit&eacute; Louis Pasteur (France), 2002, mentored by Prof. Miriam Cohen.</li>
