<li>Prof. Yann Bugeaud, University Louis Pasteur, France</li>
<li>Dr. Viatcheslav Bykov, University of Karlsruche, Germany</li>
<li>Prof. Christophe Cuny, University of New Caledonia, New Caledonia</li>
<li>Prof. Sergii Favorov, Kharkov National University, Russia</li>
<li>Prof. Yuval Flicker, Ohio State University, USA</li>
<li>Prof. Sergey Gonchenko, Nizhny Novgorod University, Russia</li>
<li>Dr. W. Patrick Hooper, Northwestern University, USA</li>
<li>Prof. Vadim Kaimanovitch, Jacobs University, Germany</li>
<li>Prof. Grigory Kolesnik, California State University, USA</li>
<li>Dr. Yohey Kuroiwa, Royal Institute of Technology, Sweden</li>
<li>Prof. Erwan Lanneau, Centre de Physique Theorique de Marseille, France</li>
<li>Prof. Yair Minski, Yale University, USA</li>
<li>Prof. Boris Schein, University of Arkansas, USA</li>
<li>Prof. Yuliy Semenov, University of Toronto, Canada</li>
<li>Prof. Volodymyr Sergeichuk, National Academy Of Sciences, Ukraine</li>
<li>Dr. Pooja Singla, IMSc, India</li>
<li>Prof. Earl Taft, Rutgers University, USA</li>
<li>Prof. Clemente Zanco, Universita' degli Studi, Italy</li>

