<div class="my-2">
  <h2><%= degree_plan.to_s.html_safe + degree_plan.action_list %></h2>
  <% if degree_plan.remarks.present? %>
    <div class="lead mathjax">
      <%= markdown(degree_plan.remarks) %>
    </div>
  <% end %>
  <div class="row-flex">
    <%= render degree_plan.term_plans %>
  </div>
  <%= new_button(TermPlan, degree_plan.new_term_path) %>
</div>
