<%= trasto_field(f, [:name, :remarks], nil, remarks: pagedown) %>

  <%= f.association :degree, collection: shnaton.degrees %>

  <%= f.input :slug %>

  <% if params[:degree_plan_id] %>
    <%= f.hidden_field :degree_plan_id, value: params[:degree_plan_id] %>
  <% end %>

