<%= h1 %>

<div class="mathjax" dir="auto">
  <strong>Name:</strong>
  <%= degree_plan.name %>
</div>

<div class="mathjax" dir="auto">
  <strong>Degree:</strong>
  <%= degree_plan.degree %>
</div>

<div class="mathjax" dir="auto">
  <strong>Remarks:</strong>
  <%= degree_plan.remarks %>
</div>



