<% cache object_cache_key(degree) do %>
  <div class="card bordered degree mb-3">
      <h4 class="card-header" dir="auto"><%= degree.linked_with_actions %></h4>
    <div class="card-body">
      <div class="mathjax card-text pb-3" dir="auto">
        <%= markdown(degree.description) %>
      </div>
      <% unless degree.prereqs.empty? %>
        <h5><%= tt ProgPrereq, count: 2, the: true %></h5>
        <ul>
          <% degree.top_prereqs.each do |prereq| %>
            <li><%= prereq.linked_with_actions %>
            <% if prereq.to_short.present? %>
              <span class="credits">
              <%= markdown(prereq.to_short.capitalize, inline: true) %>
              </span>
            <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <div>
        <% if degree.credits.present? %>
        <h5><%= tt 'teaching.tcredits' %>: <%= degree.credits %></h5>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
  

