<%= f.input :type, as: :custom_radio_buttons, collection: Degree.types.keys %>

<%= trasto_field(f, [:name, :description], nil, description: pagedown) %>

<%= f.input :credits %>

<%= f.association :prereqs, as: :multiselect,
  collection: f.object.prereqs.all.decorate %>

<%= f.input :slug %>

