<tr>
  <td role="gridcell" colspan="2">
    <%= free_plan_item.to_html.html_safe + free_plan_item.action_list %>
  </td>
  <td role="gridcell">
    <%= markdown(free_plan_item.cred_range, inline: true) %>
  </td>
</tr>

