<% course = plan_item.generic_course.decorate %>
<tr>
  <td role="gridcell" data-order="<%= course.shid %>">
    <%= course.shid_linked(short: true) %>
  </td>
  <td role="gridcell" data-order="<%= course %>">
    <%= plan_item.linked_with_actions %>
  </td>
  <td role="gridcell">
    <%= course.credits %>
  </td>
</tr>

