<div class="card my-2">
  <h4 class="card-header">
    <%= prog_prereq.linked_with_actions %>
    <%= badge(markdown(prog_prereq.to_long, inline: true)) %>
  </h4>

<div class="card-body">
    <div class="mathjax">
      <%= markdown(prog_prereq.description) %>
    </div>

    <%= render "teaching/prog_prereqs/show_#{prog_prereq.type.underscore}",
      object: prog_prereq %>

    <% if prog_prereq.subreqs.present? %>
      <h5><%= tt :add_req %></h5>
      <ul>
        <%= render collection: prog_prereq.subreqs,
          partial: "teaching/prog_prereqs/subreq" %>
    </ul>
  <% end %>

  <% content_for :item_footer, flush: true do %>
    <div class="d-flex justify-content-around">
      <%= prog_prereq.action_list(
        'edit', 
        ['subreq', prog_prereq.degree.new_prereq_path(parent: prog_prereq)], 
        'destroy',
        bare: true, class: %w[btn btn-primary], btn_cls: ''
        ).join("\n").html_safe %>
    </div>
    <% end %>

</div>
</div>

