<div class="col-12 col-md-6">
  <div class="card my-2">
    <h4 class="card-header"><%= term_plan.linked_with_actions %></h4>
    <% if term_plan.plan_items.present? || term_plan.free_plan_items.present? %>
      <%= table(data: false, id: term_plan.to_id + '-table') do |table| %>
        <% if term_plan.remarks.present? %>
          <caption class="mathjax px-1">
            <%= markdown(term_plan.remarks, inline: true) %>
          </caption>
        <% end %>
        <thead>
          <%= table.th tt 'teaching.courseid' %>
          <%= table.th tt(:name_of, Course, count: 1)%>
          <%= table.th tt('teaching.credits', count: '') %>
        </thead>
        <tfoot>
          <tr>
            <th colspan="2">
              <div style="text-align: end"><%= tt 'teaching.tcredits' %></div>
            </th>
            <th><%= markdown(term_plan.cred_range, inline: true) %></th>
          </tr>
        </tfoot>
        <tbody>
          <%= render term_plan.plan_items %>
          <%= render term_plan.free_plan_items %>
        </tbody>
      <% end %>
    <% end %>
  </div>
</div>
