<%= h1 do %>
  <%= get_title %><%= degree.action_list %>
<% end %>

<div class="mathjax lead" dir="auto">
  <%= markdown(degree.description) %>
</div>

<%= tabs(['dependency', ProgPrereq] + degree.plans,
         ->(part) {
  part.kind_of?(DegreePlan) ? part.to_s : tt(part, count: 2, the: true)
},
->(part) { part.try(:to_id) || part.to_s.parameterize },
id_prefix: degree.to_id + '-',
        ) do |part,name,id| %>
  <% if part == ProgPrereq %>
  <h2><%= name %></h2>
    <p class="lead mx-3 my-1 text-center">
    <%= markdown(tt('teaching.prog_prereqs!details'), inline: true) %>
    </p>
    <div class="card-columns columns-wide">
      <%= render prereqs %>
    </div>


  <% elsif part == 'dependency' %>

    <%= graph(degree.to_sigma_graph) %>

  <% else %>

    <%= render part %>

  <% end %>
<% end %>

<%= new_button(ProgPrereq, degree.new_prereq_path(degree: degree)) %>
<%= new_button(DegreePlan, degree.new_plan_path(degree: degree)) %>

