<template>
  <generic-course-form />
</template>

<script>
import GenericCourseForm from '@/Components/Teaching/GenericCourseForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    GenericCourseForm,
  },
  extends: EditPage,
}
</script>
