<template>
  <page-header :content="object.to_s" />
  <h2 class="text-h4">
    {{ $page_title('/teaching/catalog_info') }}
    <edit-btn page />
  </h2>
  <generic-course-info :object="object" />

  <q-separator class="q-my-md" />

  <article>
    <term-pager
      :to="(t) => `/teaching/${t.to_param}/courses/${object.to_param}`"
    />
  </article>
</template>

<script>
import PageHeader from '@/Components/PageHeader.vue'
import TermPager from '@/Components/TermPager.vue'
import GenericCourseInfo from '@/Components/Teaching/GenericCourseInfo.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    PageHeader,
    TermPager,
    EditBtn,
    GenericCourseInfo,
  },
  extends: ShowPage,
}
</script>
