**שם משתמש**: `<%= @user.login %>`

**סיסמא**: <%= @password.present? ? "`#{@password}`" : '*הסיסמא המערכתית באב"ג* (לפי ההוראות בדף הכניסה)' %>

ניתן להיכנס למערכת
ב[דף הכניסה](<%= login_teaching_issues_url %>)

<% unless @user.pass_changed? %>
על מנת להשתמש במערכת יש להחליף סיסמא, על פי ההוראות בדף
<% end %>
