רישומך במערכת הוא בתור **<%= @user.class.model_name.human(locale: :he) %>** בקורסים:

<% (@user.courses || []).each do |c| %>
  - <%= c.to_label(meth: :to_s) %>
<% end %>

==

בברכה,
צוות המחלקה למתמטיקה
