שלום רב,

סיסמתך במערכת הפניות של המחלקה למתמטיקה השתנתה (כפי הנראה על-ידך).

במידה ולא יזמתם את השינוי, אנא צרו קשר בדחיפות עם
[מנהל האתר](mailto:<%= User.admin.decorate.email_address %>)

<%= md_render 'signature' %>
