<template>
  <event-form />
</template>

<script>
import EventForm from '@/Components/research/EventForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    EventForm,
  },
  extends: EditPage,
}
</script>
