<template>
  <div v-if="upcoming.length > 0">
    <h2
      class="text-h4"
      v-html="ttC('upcoming', { what: $tc('models.event', 2) })"
    />
    <event-item v-for="event in upcoming" :key="event.id" :object="event" />
  </div>

  <div v-if="recent.length > 0">
    <h2
      class="text-h4"
      v-html="ttC('recent', { what: $tc('models.event', 2) })"
    />
    <event-item v-for="event in recent" :key="event.id" :object="event" />
  </div>

  <div v-if="past.length > 0">
    <h2
      class="text-h4"
      v-html="ttC('past', { what: $tc('models.event', 2) })"
    />
    <event-item v-for="event in past" :key="event.id" :object="event" />
  </div>

  <form-dialog v-slot="slotProps">
    <event-form modal v-bind="slotProps" />
  </form-dialog>

  <q-page-sticky position="top-right" :offset="[18, 10]">
    <new-btn />
  </q-page-sticky>
</template>

<script>
import EventForm from '@/Components/research/EventForm.vue'
import EventItem from '@/Components/research/EventItem.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import NewBtn from '@/Shared/NewBtn.vue'
import IndexPage from '@/Components/IndexPage'

const past = new Date()
past.setMonth(past.getMonth() - 6)

export default {
  components: {
    EventForm,
    EventItem,
    FormDialog,
    NewBtn,
  },
  extends: IndexPage,
  computed: {
    upcoming() {
      return this.items.filter((it) => it.upcoming)
    },
    recent() {
      return this.items.filter((it) => !it.upcoming && it.endsAfter(past))
    },
    past() {
      return this.items.filter((it) => !it.endsAfter(past))
    },
  },
}
</script>
