<template>
  <object-page-header>
    <template #sub>
      <h3 class="text-h6 row justify-center">
        <temp-range date time class="coordinates" />
        <pe-text-field attr="location" class="coordinates" />
      </h3>
    </template>
  </object-page-header>
  <article>
    <with-photo class="q-my-lg">
      <div class="row">
        <pe-textarea
          attr="description"
          class="col-12 col-lg-6 q-mx-md q-my-lg"
        />
        <embed-files :files="object.descfiles" class="col q-my-lg" />
      </div>
    </with-photo>
  </article>
</template>

<script>
import WithPhoto from '@/Components/WithPhoto.vue'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import TempRange from '@/Shared/TempRange.vue'
import EmbedFiles from '@/Shared/EmbedFiles.vue'
import ShowPage from '@/Components/ShowPage'
import ObjectPageHeader from '@/Components/ObjectPageHeader.vue'

export default {
  components: {
    ObjectPageHeader,
    WithPhoto,
    PeTextField,
    PeTextarea,
    TempRange,
    EmbedFiles,
  },
  extends: ShowPage,
}
</script>

<style lang="postcss" scoped>
.coordinates {
  &:after {
    content: ', ';
    padding-inline-end: 5px;
  }
  &:last-of-type:after {
    content: '';
  }
}
</style>
