<li><!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf2007.html -->
  <i>Characteristic Functions and Transfer Functions in Operator Theorem and 
    System Theory</i>: a conference dedicated to Paul Fuhrmann on his 70th 
  anniversary and to the memory of Moshe Livsic on his 90th anniversary, July 
  9-13 2007
</li>
<li>
  <i>Dynamic of Lie group actions on parameter spaces</i>, Jan. 1-6, 
  2007
</li>
<li>
    <a href="/files/center/events/workshop6.pdf">The Sixth Israeli 
      Mini-Workshop in Applied Mathematics</a>, dedicated to the Memory of 
    Lee Segel, Jan. 1, 2007
</li>

