<li>Eliot Brenner, Ph.D. 2005 Yale University, mentored by Dr. Barak Weiss.</li>
<li>Stanislav Dubrovskiy, Ph.D. 2004 Northeastern University, mentored by Prof. Vladimir Goldstein.</li>
<li>Dr. Dmitry Kerner, Ph.D. 2007 Tel Aviv University, mentored by Prof. Victor Vinnikov and Prof. Amnon Yekutieli. </li>
<li>Frederick Leitner, Ph.D. 2005 University of Arizona, mentored by Prof. Amnon Yekutieli.</li>
<li>Irena Lerman, Ph.D 2006 Ben Gurion University of the Negev, mentored by Prof. Garik Belitskii.</li>
<li>Henryk Michalevski, Ph.D. 2002, Warsaw University, mentored by Prof. Menachem Kojman.</li>
<li>Elina Moldavskaya, Ph.D. 2004, University of Kiev, mentored Professors M. Lin, D. Turaeev, M. Braverman.</li>
<li>Andrzej Nagorko, Ph.D. 2007 Warsaw University,  mentored by Prof. Michael Levin.</li>
<li>Amir Sapir, Ph.D.  2005 Ben Gurion University, mentored by Prof. Daniel Berend.</li>
<li>Yossi Strauss, Ph.D, Tel-Aviv University, mentored by Prof. Paul Fuhrmann.</li>
<li>Gheorghe Tigan, Ph.D. 2006 West University of Timisoara,  mentored by Prof. Dmitry Turaev.</li>
<li>Yoav Yaffe, Ph.D. 2004, Hebrew University of Jerusalem, mentored by Prof. Menachem Kojman.</li>
