<li>Joseph Ball, Virginia Tech, USA </li>
<li>Gene Cooperman, Northeastern University, USA </li>
<li>Tadeusz Dobrowolski, Pittsburg University, USA </li>
<li>Jerzy Dydak, University of Tennessee at Knoxville, USA </li>
<li>Manfred Einsiedler, Ohio State University, USA </li>
<li>Lubomir Gavrilov, Toulouse University, France </li>
<li>Sergey Gonchenko, Institute for Applied Mathematics, Russia </li>
<li>Issac Gorelic, University of Toronto, Canada </li>
<li>Leif Jorgensen, Alborg University, Denmark </li>
<li>Alexander Kirillov, Institute for Applied Mathematics, Russia </li>
<li>Istvan Kovacs Janus Pannonius University of P&eacute;cs, Hungary </li>
<li>Rodman Leiba, College of William and Mary, USA</li>
<li>Pierre Milman, University of Toronto, Canada </li>
<li>Yair Minsky, Yale University, USA </li>
<li>Evgeny Pechersky, Russian Academy of Sciences, Moscow, Russia </li>
<li>Clemente Zanco, Univesita Degli Studi Di Milano, Italy </li>

