<% unless @sigma_graph_done %>
  <% @sigma_graph_done = true %>
  <% extracss do %>
    <%= stylesheet_link_tag 'tree', 'data-turbolinks-track' => true %>
  <% end %>  
  <% extrajs do %>
    <%= unpkg_js_tag 'd3' %>
    <%= javascript_include_tag 'd3_graph' %>
  <% end %>

<% end %>

