<% extracss do %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/treant-js/#{TREANT_VERSION}/Treant.css" %>
  <%= stylesheet_link_tag 'tree', 'data-turbolinks-track' => true %>
<% end %>

<% extrajs do %>

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/raphael/#{RAPHAEL_VERSION}/raphael.#{ASSETMIN}js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/treant-js/#{TREANT_VERSION}/Treant.#{ASSETMIN}js" %>
  <%= javascript_include_tag 'tree' %>

<% end %>


