<div class="col mb-4">
  <div class="card h-100 bordered">
    <div class="card-header">
      <h4 class="card-title">
        <%= job.linked_with_actions :destroy %>
      </h4>
    </div>

    <div class="card-body">
      <%= dlify(job.args, exclude: %w[job_class queue_name]) %>
      <% if job.data.present? %>
        <h5>Data</h5>
        <%= dlify(job.data) %>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="row justify-content-between">
        <div class="col">
          <code><%= job.run_at %></code>
        </div>
        <% if job.priority != 100 %>
          <div class="col text-warning text-center">
            <em>Priority:</em><%= job.priority %>
          </div>
        <% end %>
        <% if job.error_count > 0 %>
          <div class="col text-danger text-right">
            <strong>Errors:</strong><%= job.error_count %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
