<% unless person.students.empty? %>
  <div class="pb-2">
  <h5><%= tt Student, count: 42 %></h5>
  <div><%= list_to_l(person.students) %></div>
  </div>
<% end %>
<% unless person.postdocs.empty? %>
  <div class="pb-2">
  <h5><%= tt Postdoc, count: 42 %></h5>
  <div><%= list_to_l(person.postdocs) %></div>
  </div>
<% end %>

