<% unless person.hosts.empty? %>
  <div class="pb-2">
  <h5>
    <%= Postdoc.human_attribute_name('hosts', 
                                     count: person.hosts.count).camelize %>
  </h5>
<div><%= list_to_l(person.hosts) %></div>
  </div>
<% end %>
