<% unless person.supervisors.empty? %>
  <div class="pb-2">
  <h5>
    <%= Postdoc.human_attribute_name('supervisors', 
                                 count: person.supervisors.count).camelize %>
  </h5>
<div><%= list_to_l(person.supervisors) %></div>
  </div>
<% end %>
