<template>
  <meeting-form />
</template>

<script>
import MeetingForm from '@/Components/research/MeetingForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    MeetingForm,
  },
  extends: EditPage,
}
</script>
