<template>
  <object-page-header :title="meeting.seminar">
    <template #sub>
      <h3 class="text-h6 row justify-center">
        <date-pager
          :options="meeting.seminar.meeting_dates"
          class="bg-yellow"
        />
      </h3>
    </template>
  </object-page-header>

  <article v-if="meeting.announcement" v-html="$md(meeting.announcement)" />
  <article v-else>
    <with-photo>
      <h3 class="text-h6" v-html="$mdi(meeting.fullSpeaker)" />
      <h2 class="text-h5 text-center">
        <pe-text-field attr="title" />
      </h2>
      <p class="text-center">
        <temp-range time />,
        <pe-text-field attr="room" />
      </p>
    </with-photo>
    <section v-if="showAbstractAny">
      <h3 class="text-h5" v-html="ttC('attributes.meeting.abstract')" />
      <div class="row">
        <div v-if="showAbstract" class="col">
          <pe-textarea attr="abstract" />
        </div>
        <show-files class="col" :files="meeting.descfiles" />
      </div>
    </section>
  </article>
</template>

<script>
import ObjectPageHeader from '@/Components/ObjectPageHeader.vue'
import WithPhoto from '@/Components/WithPhoto.vue'
import ShowFiles from '@/Components/ShowFiles.vue'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import TempRange from '@/Shared/TempRange.vue'
import DatePager from '@/Components/DatePager.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    ObjectPageHeader,
    WithPhoto,
    ShowFiles,
    PeTextField,
    PeTextarea,
    TempRange,
    DatePager,
  },
  extends: ShowPage,
  computed: {
    meeting() {
      return this.object
    },
    showAbstract() {
      return this.meeting.abstract || this.editing
    },
    showAbstractAny() {
      return this.showAbstract || this.meeting.descfiles.length > 0
    },
  },
}
</script>
