<div id="carousel" class="carousel slide h-100" data-ride="carousel">
  <div class="carousel-inner h-100">
    <% @active = ' active' %>
    <%= render partial: 'carousel_item_show', collection: policy_scope(CarouselItem).decorate.all %>
  </div>
</div>
