<div class="card home-menu-items">
  <div class="card-header d-flex justify-content-between">
    <h2 class="card-title"><%= tt("#{title}.title") %></h2>
    <%= image_tag(img, height: '64', dir: loc2dir, alt: '', **img_opts) %>
  </div>
  <div class="card-body p-0">
    <div class="list-group list-group-flush" role="menu">
      <% items.each do |x| %>
        <% next unless x %>
        <% variant = x.respond_to?(:sub!) && x.sub!(/^\|/, '') ? 'danger' : 'warning' %>
        <%= menu_item(title, x, id_suffix: '-home',
                      class: (%w[list-group-item list-group-item-action] |
                      ["list-group-item-#{variant}"])) %>
      <% end %>
    </div>
  </div>
</div>


