<h1><%= tt 'pages#show.history' %></h1>
<hr />
<div class="row justify-content-center">
  <div class="col col-md-10">
    <div class="row-center">
      <div class="col a4-wrap">
        <div class="embed-responsive embed-responsive-a4 file-embed" style="min-width: 210mm">
          <object width="99%" height="99%" data="/community/history/history.pdf">
            <a href="/community/history/history.pdf">BGU Math history</a>
          </object>
        </div>
      </div>
    </div>
  </div>
</div>
