<% extracss do %>
  <%= stylesheet_link_tag 'home', 'data-turbolinks-track' => true %>
<% end %>

<% internal = policy(:internal).show?; colg = internal ? '' : 'col-lg-4' %>

<% cache [:home, internal, I18n.locale] do %>

  <section id="jumbo">
    <%# render 'carousel' %>
    <h1 dir="<%= loc2dir %>">
      <%= text_or_icon(tt(:department), tt(:department_short)) %>
    </h1>
    <h2>
      <a href="<%= AppSetup.parent_url %>">
        <%= image_tag(
          'bgu_logo.png', alt: '', class: 'img h2', width: '26', height: '30'
        ) %>
      <span>
        <%= text_or_icon(tt(:university), tt(:university_short)) %>
      </span>
      </a>
    </h2>
  </section>

  <section class="jumbotron" id="jumbo_main">
    <div class="card-columns">
      <%= render partial: 'home_item', locals: {
        title: :people, img: 'gauss.png', img_opts: { width: 50 }, 
        items: %w[admins members postdocs students adjuncts |positions]
      } %>

    <%= render partial: 'home_item', locals: {
      title: :research, img: 'trefoil.png', img_opts: { width: 60 }, 
      items: [
        [:'research_groups#faculty', faculty_research_research_groups_path]
      ] + %w[research_groups weekly seminars events |center]
    } %>

  <%= render partial: 'home_item', locals: {
    title: :teaching, img: 'teacher.png', img_opts: { width: 91 }, 
    items: %w[cterm hours issues shnaton grad rusprog] 
  } %> 

<%= render partial: 'home_item', locals: {
  title: :community, img: 'community.png', img_opts: { width: 64 }, 
  items: %w[visitors history |school wiki imu |facebook]
} %>

    <% if internal %>
      <%= render partial: 'home_item', locals: {
        title: :internal, img: 'internal.png', img_opts: { width: 58 }, 
        items: ['resources', 'support', policy('git').show? ? 'git' : nil, 
                'xmail']
      } %>
  <% end %>

  <div class="card home-menu-items">
    <div class="card-header d-flex justify-content-between">
      <h2 class="card-title">
        <%= email_html(full_email, tt(:contact)) %>
      </h2>
      <%= image_tag('contact.png', width: '64', height: '41', 
                    dir: loc2dir, alt: '') %>
    </div>
    <div class="card-body">
      <address>
        <div class="home-menu-items">
          <%= render partial: 'address' %>
        </div>

      </address>
    </div>
  </div>
    </div>
  </section>
<% end %>

