  <div class="row-center my-3">
    <div class="col-sm-8 col-md-6">
      <div class="well bordered p-1">
        <h4><%= tt 'notes' %></h4>
        <ul>
          <%= render partial: 'teaching/generic_courses/generic_course_notes' %>
        </ul>
      </div>
    </div>
  </div>
