<div>
  <p class="text-center mb-0">
    <em>Name</em> is only for ad-hoc terms, for a regular term
    (fall/spring) <strong>leave it blank</strong>
  </p>
  <div class="row">
    <%= trasto_field(f, [:name], langdiv_opts: { class: 'col' }) %>
  </div>
</div>
<div class="row datetimerange">
  <%= f.input :starts, as: :date_picker, html5: true,
    wrapper: :ranged_datetime %>
  <%= f.input :ends, as: :date_picker, html5: true,
    wrapper: :ranged_datetime  %>
</div>
<% if params[:action] == 'new' %>
  <%= f.association :seminars, as: :custom_check_boxes,
    collection: term.seminars %>
<% end %>
