<% cache object_cache_key(term) do %>
<tr>
  <td data-order="<%= term.starts %>"><%= term.linked_with_actions %></td>
  <td data-order="<%= term.starts %>"><%= l term.starts, format: :long %></td>
  <td data-order="<%= term.ends %>"><%= l term.ends, format: :long %></td>
</tr>
<% end %>
