<%= h1 %>
<%= table title: 'teaching.terms', dir: loc2dir do |table| %>
  <thead>
    <tr>
      <%= table.th tt 'teaching.term.title' %>
      <%= table.th tt 'teaching.term.starts' %>
      <%= table.th tt 'teaching.term.ends' %>
    </tr>
  </thead>

  <tbody>
    <%= render terms %>
  </tbody>
<% end %>

<%= new_button %>

