<h1>Results of populating courses for <%= term.linked %></h1>
<ul>
  <% @result.each do |cc| %>
    <li>
      <% if cc.is_a?(GenericCourse) %>
        Course <%= cc.linked %> already exists in this term, <em>skipped</em>
      <% else %>
      <% if cc.errors.blank? %>
        Created <%= cc.linked %>, <%- if cc.lecturer.present? %>
        with lecturer <%= cc.lecturer.linked %>
    <%- else %>
      <strong>without lecturer</strong>
    <%- end %>
      <% else %>
        Error creating <%= cc.generic_course.linked %>, <%= cc.generic_course.shid_linked %>:
        <strong><%= cc.errors.full_messages.to_sentence %></strong>
      <% end %>
    <% end %>
    </li>
  <% end %>
</ul>

<%= action_button(:show, term) %>
