\begin{center}
{\Huge{<%= tt Course, count: 2, type: 
       tt('teaching.generic_course.type.advanced', count: 2) %>}}
\bigskip

\bigskip

{\Large{<%=
        lesc term.to_s(full: true, noyear: true) +
" (#{date_range(term.starts, term.ends, format: :long, separator: ' -- ') })" %>}}

\bigskip

\bigskip
\end{center}

<% [:advanced_undergrad, :grad].each do |type| %>
<% if courses.public_send(type).present? %>
\begin{center}
  {\large{<%= tt Course, count: 2, type: 
          tt("teaching.generic_course.type.#{type}", count: 2) %>}}
\end{center}

<%= render partial: 'teaching/courses/table',
  locals: { courses: courses.public_send(type) } %>

\bigskip
\newpage
<% end %>
<% end %>

% vim: ft=eruby.tex
