<div class="text-center">
<%= term_pager term %>
</div>

<% if term %>
<%= h1 do %>
  <%= get_title(full: true) %><%= term.action_list %>
<% end %>

<div>
  <h3 class="text-center">
    <span class="px-3">
      <%= editable_date_range term, :starts, :ends %>
    </span>
  </h3>
</div>

<div class="py-1">
    <h2 class="py-3"><%= tt Course, count: 2 %> </h2>
  <%= render 'teaching/courses/course_list', object: courses %>

  <%= render 'course_notes' %>

</div>

<% in_outer_locale do %>
  <%= alt_fmt(:pdf) %>
  <%= alt_fmt(:tex) %>

  <%= form_button course, prefix: 'teaching/courses' %>
  <%= footer_item tt('teaching.courses#all', year: term.year), 
                  teaching_courses_path(year: term.year),
                  title: tt('teaching.courses#all_tip', 
                            year: t(:ac_year, year: term.year))%>

  <%= action_button :populate, Term, populate_teaching_term_path(term) %>

  <%= action_button(:gsheets_update, Course, 
                    gsheets_update_teaching_term_courses_path(term)) %>

<% end %>
<% end %>


