<template>
  <div id="maincontent" class="q-px-sm">
    <page-header v-if="header" :content="header" />
    <section id="pagecontent">
      <slot />
    </section>
  </div>
</template>

<script>
import PageHeader from '@/Components/PageHeader.vue'

export default {
  components: {
    PageHeader,
  },
  computed: {
    tkey() {
      return this.$page_key()
    },
    header() {
      return this.$te(this.tkey) ? this.ttC(this.tkey) : null
    },
  },
}
</script>
