<template>
  <AppHead :title="$page.props.head.title || $t(ttkey)">
    <meta name="description" :content="$setting('department')" />
    <meta name="keywords" :content="$setting('keywords')" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css"
    />
  </AppHead>
  <q-layout view="lHh Lpr lFf">
    <q-drawer
      v-model="drawer"
      class="column justify-between no-wrap"
      show-if-above
      elevated
      dark
    >
      <div>
        <q-item v-ripple href="/" dark class="text-info">
          <q-item-section avatar><q-icon name="$home" /></q-item-section>
          <q-item-section>{{ $setting('depname') }}</q-item-section>
        </q-item>

        <q-btn
          id="closeDrawer"
          class="text-accent"
          :class="{ flipped: $q.lang.rtl }"
          icon="$closeDrawer"
          @click.stop="drawer = false"
        />

        <q-separator dark />

        <side-menu />

        <q-separator dark />

        <side-menu-link
          v-slot="{ tkey }"
          section="people"
          item="positions"
          dark
          class="text-warning"
        >
          <q-item-section avatar>
            <q-icon name="$alert" />
          </q-item-section>
          <q-item-section>{{ ttC(tkey) }}</q-item-section>
        </side-menu-link>
      </div>

      <div>
        <user-menu v-if="user" />
        <q-expansion-item v-else icon="$login" :label="ttC('login')" dark>
          <login-form class="q-pa-md" />
        </q-expansion-item>

        <lang-switch />
      </div>
    </q-drawer>

    <q-page-container id="mainpage" class="fill-height">
      <q-page>
        <slot />
      </q-page>
    </q-page-container>
    <q-page-sticky v-if="!drawer" position="top-left" :offset="[10, 10]">
      <q-btn fab-mini icon="$menu" color="info" @click="drawer = true" />
    </q-page-sticky>

    <q-page-sticky position="bottom-right" :offset="[18, 10]">
      <q-btn
        fab-mini
        :icon="$state.editing ? '$edit' : '$noedit'"
        :color="$state.editing ? 'accent' : 'primary'"
        @click="$state.toggleEdit()"
      />
    </q-page-sticky>
  </q-layout>
</template>

<script>
import SideMenu from '@/Layouts/parts/SideMenu.vue'
import SideMenuLink from '@/Layouts/parts/SideMenuLink.vue'
import LoginForm from '@/Layouts/parts/LoginForm.vue'
import UserMenu from '@/Layouts/parts/UserMenu.vue'
import LangSwitch from '@/Layouts/parts/LangSwitch.vue'
import AppHead from '@/Layouts/parts/AppHead.vue'
import Base from '@/models/Base'

const myIcons = {
  scopus: { cls: 'ai ai-scopus' },
  gs: { cls: 'ai ai-google-scholar' },
  wos: { cls: 'ai ai-wos' },
  arxiv: { cls: 'ai ai-arxiv' },
  orcid: { cls: 'ai ai-orcid' },
  mathscinet: { cls: 'ai ai-mathscinet' },
  pure: { cls: 'ai ai-bgupure' }, // TODO
  email: 'mdi-email',
  fax: 'mdi-fax',
  building: 'mdi-warehouse',
  phone: 'mdi-phone-classic',
  office: 'mdi-door-closed',
  snail: 'mdi-card-account-mail',
  edit: 'mdi-pencil',
  noedit: 'mdi-pencil-off',
  delete: 'mdi-delete',
  deleteOutline: 'mdi-delete-outline',
  hide: 'mdi-chevron-up',
  show: 'mdi-chevron-down',
  close: 'mdi-close',
  calendar: 'mdi-calendar',
  time: 'mdi-clock-outline',
  select: 'mdi-checkbox-marked-circle-outline',
  unselect: 'mdi-radiobox-blank',
  home: 'mdi-home',
  closeDrawer: 'mdi-menu-open',
  alert: 'mdi-alert-octagram',
  login: 'mdi-account-question',
  menu: 'mdi-menu',
  people: 'mdi-account-box-multiple',
  research: 'mdi-infinity',
  teaching: 'mdi-human-male-board',
  community: 'mdi-account-group',
  internal: 'mdi-clipboard-flow',
  admin: 'mdi-cogs',
  help: 'mdi-help-box',
  enter: 'mdi-login',
  visible: 'mdi-eye',
  invisible: 'mdi-eye-off',
  loggedin: 'mdi-account-check',
  userpage: 'mdi-account',
  star: 'mdi-star',
  search: 'mdi-magnify',
  rotateLeft: 'mdi-rotate-left',
  rotateRight: 'mdi-rotate-right',
  flipVertical: 'mdi-flip-vertical',
  flipHorizontal: 'mdi-flip-horizontal',
  add: 'mdi-plus',
  web: 'mdi-web',
  bulletRight: 'mdi-hand-pointing-right',
  bulletLeft: 'mdi-hand-pointing-left',
  minus: 'mdi-minus-box',
  plus: 'mdi-plus-box',
  check: 'mdi-check-circle',
  cancel: 'mdi-close-circle',
  update: 'mdi-update',
  send: 'mdi-send',
}

export default {
  components: {
    SideMenu,
    SideMenuLink,
    UserMenu,
    LoginForm,
    LangSwitch,
    AppHead,
  },
  data() {
    return {
      drawer: null,
    }
  },
  computed: {
    user() {
      return this.$page.props.auth?.user?.email
    },
    ttkey() {
      return `dep.title${this.$page.url.replaceAll('/', '.')}`
    },
    side() {
      return this.$q.lang.rtl ? 'right' : 'left'
    },
  },
  beforeCreate() {
    const loc = this.$page.props.i18n.locale

    this.$root.$i18n.locale = loc
    Base.locale = loc
    this.$q.iconMapFn = (iname) => {
      if (iname.startsWith('$')) {
        const res = myIcons[iname.substring(1)]
        return typeof res === 'string' ? { icon: res } : res
      }
    }
  },
}
</script>

<style lang="css">
#closeDrawer {
  top: 10px;
  inset-inline-end: 1px;
  position: absolute;
}
.flipped {
  transform: scaleX(-1);
}
</style>
