<h2>New Api key generated</h2>

<p>Your new api key is:

<%= code_block code: @key %>
</p>

<p><em>Please store it safely</em>, as knowledge of this code provides the same
access privileges as a logged in session. For example, if you use the unix
<code>pass</code> utility, you could do something like:

<%= code_block code: "echo '#{@key}' | pass insert bgumath/#{pundit_user.login}" %>
</p>

<p>You can then use it similarly to

<%= code_block code: "curl -H 'Authorization Token token=`pass bgumath/#{pundit_user.login}`' -X POST 'https://math.bgu.ac.il/...'" %>
</p>

<p>
Please note that for security reasons, this key cannot be displayed again. If 
it is lost, you may simply generate a new one.
</p>

<p>See the <%= link_to 'docs', internal_about_path %> for more details and
examples on api usage.</p>

