<li><a href="/~arkady/Eilat2010_conference/poster_Eilat2010.pdf">
    Automorphism groups of Topological structures
  </a>, June 19-24, 2010.
</li>
<li>
  <a href="/~berend/mia-conference/index.html">
    Conference in Hopf Algebras and Noncommutative Algebra</a> (CONForMIA 2010),
  May 24-27, 2010.
</li>
<li><!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf_2010b.html --><i>New Aspects of Operator Theory and Applications</i> , May 2, 2010.</li>
<li>Workshop on CAT(0) Spaces and Affine Buildings, Sde-Boker, Jan. 31-Feb. 6, 2010.</li>
<li>A Day of Operator Theory, Jan. 19, 2010.</li>
<li>Twelfth Mini-Workshop on Applied and Computational Mathematics, Dec. 31 2009.</li>

