<li>Dawn Archey, Ph.D. University of Oregon 2008, mentored by Dr. Ilan Hirshberg.</li>
<li>Jonathan Brown, Ph.D. Dartmouth University 2009, mentored by Dr. Ilan Hirshberg.</li>
<li>Panagiotis Cheilaris, Ph.D. City University of New York 2008, mentored by Dr. Shakhar Smorodinsky.</li>
<li>Misha Gavrilovich, D. Phil. University of Oxford 2006, mentored by Dr. Assaf Hasson.</li>
<li>Christopher Jankowski, Ph. D. University of Pennsylvania 2009, mentored by Dr. Daniel Markiewicz and Dr. Ilan Hirshberg.</li>
<li>Dmitry Kerner, Ph.D. Tel Aviv University 2007, mentored by Prof. Victor Vinnikov and Prof. Amnon Yekutieli. </li>
<li>Zoltan Leka, Ph.D. University of Szeged 2009., mentored by Prof. Michael Lin.</li>
<li>Yonah Maissel, Ph.D. Ben-Gurion University 2008, mentored by Prof. Matti Rubin.</li>
<li>Zachary Mesyan, Ph.D. University of California at Berkeley, 2006, mentored by Prof. Miriam Cohen and Dr. Yair Glasner.</li>
<li>Atish Mitra, Ph.D. University of Tennessee - Knoxville 2006, mentored by Prof. Michael Levin.</li>

<li>Viorica Motreanu, Ph.D. University of Perpignan, mentored by Dr. Vladimir Goldshtein.</li>

<li>Mihai Popa, Ph.D. University of California - Los Angeles, mentored by Prof. Victor Vinnikov.</li>
<li>Marco Porta  Ph.D., University Denis Diderot (Paris VII-Jussieu)  in co-tutoring with the University of Milan, Italy, 2008, mentored by Prof. Amnon Yekutieli </li>
<li>Pooja Singla, Ph.D. Institute of Mathematical Sciences - Chennai,  mentored by Dr. Uri Onn.</li>
<li>Santi Spadaro, Ph.D. Auburn University 2009, mentored by Prof. Menachem Kojman.</li>
<li>Dani Szpruch, Ph.D. Tel Aviv University 2009, mentored by Dr. Nadya Gurevich.</li>
<li>Arthur Yosef, Ph.D. Bar-Ilan University, 2007, mentored by Prof. Michael Lin.</li>

