<li>Prof. Robert Bonnet, Universit&eacute; de Savoie, France </li>
<li>Prof. Jean-Pierre Conze, Universit&eacute; de Rennes 1, France </li>
<li>Prof. Aalt Dijksma, University of Groningen, Netherlands </li>
<li>Prof. Jerzy Dydak, University of Tennessee, USA </li>
<li>Prof. Yuval Flicker, Ohio State University, USA </li>
<li>Prof. Mikhail Goldman, People's Friendship University, Russia </li>
<li>Prof. Michael Goldshtein, University of Toronto, Canada </li>
<li>Dr. Matthias Herold, Strasbourg University and Kaiserslautern University, France </li>
<li>Prof. Sharon Hollander, Instituto Superior Tecnico, Portugal </li>
<li>Dr. Dmitry Kaluzhniy, Drexel University, USA </li>
<li>Dr. Benjamin Klopsch, Royal Holloway University, UK</li>
<li>Prof. Heintz Langer, Technical University Vienna, Austria </li>
<li>Dr. Martin Makaj, Comenius University, Slovakia </li>
<li>Prof. Ludomir Newelski, University of Wroclaw, Poland </li>
<li>Prof. Moshe Rosenfeld, University of Washington, USA  </li>
<li>Prof. Tomasz Rybicki, AGH University of Science and Technology, Poland </li>
<li>Dr. Mark Sapir, Vanderbilt University, USA  </li>
<li>Prof. Claude Schochet, Wayne State University, USA </li>
<li>Dr. Christopher Voll, Southampton University, UK </li>
<li>Prof. Paul-Herman Zieschang, University of Texas, US</li>

