<% role, person = row %>
<tr>
  <td><%= role.linked_with_actions %></td>
  <td data-order="<%= person.last %>">
    <%= person.linked_with_actions %>
  </td>
  <%= person.email_td %>
  <td class="email"><%= person.phone %></td>
  <td class="email"><%= person.office %></td>
  </td>
</tr>
