<% role, person = front
roleid = "#{role.name.parameterize}-Description-#{person.to_slug}"
%>
<% cache [object_cache_key(role), object_cache_key(person)] do %>
  <div class="col-md-6 col-lg-4">
    <div class="card bordered front">
      <div class="card-header">
        <h4 class="card-title">
          <% if role.description.present? %>
          <a data-toggle="collapse" href="#<%= roleid %>" 
             aria-expanded="false" aria-controls="<%= roleid %>">
          <%= role %>
          </a>
          <% else %>
          <%= role %>
          <% end %>
          <%= role.action_list %>
        </h4>

        <h5><%= person.linked_with_actions %></h5>
        <div class="collapse" id="<%= roleid %>">
          <div class="row-flex justify-content-center mt-1">
            <div class="col-8">
              <%= markdown(role.description) %>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body row">
        <div class="col-<%= person.photo ? '8' : '12' %> 
        col-sm-<%= person.photo ? '7' : '12' %>">
          <dl class="row card-text">
            <dt class="col-4"><%= tt('email') %></dt>
            <dd class="col-8"><%= email_html(role.email_address, role) %></dd>
            <dt class="col-4"><%= tt('phone') %></dt>
            <dd class="col-8"><%= person.phone %></dd>
            <dt class="col-4"><%= tt('office') %></dt>
            <dd class="col-8"><%= person.office %></dd>
          </dl>
        </div>
        <% if person.photo %>
          <div class="col">
            <%= person.photo_html(class: %w[img-fluid avatar]) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

