<%= h1 %>

<section>
  <h2><%= tt('contact_details') %></h2>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <address class="lead">
        <%= render partial: 'address' %>
      </address>
    </div>
  </div>
</section>

<section>
  <% unless staff.empty? %>
    <div class="front-section">
      <div id="item-list-Admin" class="card-deck">
        <%= render collection: staff,  partial: 'front' %>
      </div>
    </div>
  <% end %>

  <% unless chairs.empty? %>
    <div class="front-section">
      <h2><%= tt('people.chairs') %></h2>
      <div class="card-deck">
        <%= render collection: chairs, partial: 'front' %>
      </div>
    </div>
  <% end %>
</section>

<%= form_button partial: 'people/form', index_type: 'cards' %>




