<template>
  <user-form :user="object" />
</template>

<script>
import UserForm from '@/Components/people/UserForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    UserForm,
  },
  extends: EditPage,
}
</script>
