<template>
  <object-page-header>
    <template #sub>
      <h2 class="text-h5 text-center" v-html="ttC(`status.${user.status}`)" />
    </template>
  </object-page-header>

  <with-photo>
    <div class="row">
      <q-list class="col-md-8">
        <q-item
          v-if="user.email_address"
          :href="`mailto:${user.email_address}`"
        >
          <q-item-section avatar><q-icon name="$email" /></q-item-section>
          <q-item-section>
            <q-item-label>{{ user.email_address }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="user.phone || editable">
          <q-item-section avatar><q-icon name="$phone" /></q-item-section>
          <q-item-section>
            <q-item-label>
              <pe-text-field attr="phone" />
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="user.office || editable">
          <q-item-section avatar><q-icon name="$office" /></q-item-section>
          <q-item-section>
            <q-item-label>
              <pe-text-field attr="office" />
              <span v-if="ohLocation || editable">
                ({{ ttC('office_hours') }}:
                <pe-text-field attr="oh_location" />)
              </span>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="user.webpage" :href="user.webpage">
          <q-item-section avatar><q-icon name="$web" /></q-item-section>
          <q-item-section>
            <q-item-label>{{ ttC('personal_web') }}</q-item-label>
          </q-item-section>
        </q-item>

        <template v-if="roles">
          <q-separator />
          <q-item>
            <h6 class="no-margin" v-html="ttC('roles.title')" />
          </q-item>
          <object-list v-slot="scope" :objects="roles" dense>
            <role-title :role="scope.object" />
          </object-list>
        </template>
      </q-list>

      <div v-if="mwebids" class="col-md-4">
        <h5 class="no-margin" v-html="ttC('webids')" />
        <q-list dir="ltr">
          <q-item
            v-for="webid in mwebids"
            :key="webid"
            :href="editable ? undefined : webidUrl(webid)"
          >
            <q-item-section>
              <q-item-label>
                {{ ttC(`attributes.user.${webid}`) }}
                <q-icon :name="'$' + webid" class="icon-small" />
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <pe-text-field :attr="webid" />
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </with-photo>

  <q-separator class="q-my-lg" />

  <div class="row">
    <div v-if="research_groups" class="col-md-6">
      <h5 class="no-margin" v-html="ttC('research_groups')" />
      <object-list :objects="research_groups" dir="ltr" />
    </div>

    <div class="col-md-6 q-px-lg" dir="ltr">
      <div v-if="user.interests || editable">
        <pe-textarea attr="interests" dir="ltr" />
      </div>

      <div v-if="has_phd || editable">
        <span class="text-bold" v-html="ttC('phd')" />:
        <pe-text-field attr="phd_from" />,
        <pe-text-field attr="phd_year" />
      </div>
    </div>
  </div>

  <div class="row q-my-lg">
    <div v-if="students" class="col-md-4">
      <h5 class="no-margin" v-html="ttC('attributes.user.students')" />
      <div class="row items-start justify-evenly">
        <user-card
          v-for="person in bstudents"
          :key="person.id"
          class="q-ma-md"
          :user="person"
        />
      </div>
    </div>
    <div v-if="postdocs" class="col-md-4">
      <h5 class="no-margin" v-html="ttC('attributes.user.postdocs')" />
      <div class="row items-start">
        <user-card
          v-for="person in bpostdocs"
          :key="person.id"
          class="q-ma-md"
          :user="person"
        />
      </div>
    </div>
    <div v-if="visitors" class="col-md-4">
      <h5 class="no-margin" v-html="ttC('attributes.user.visitors')" />
      <div class="row items-start">
        <user-card
          v-for="person in visitors"
          :key="person.id"
          class="q-ma-md"
          :user="person"
          kind="people_visitor"
        />
      </div>
    </div>
    <div v-if="supervisors" class="col-md-4">
      <h5 class="no-margin" v-html="ttC('attributes.user.supervisors')" />
      <div class="row items-start">
        <user-card
          v-for="person in supervisors"
          :key="person.id"
          class="q-ma-md"
          :user="person"
        />
      </div>
    </div>
    <div v-if="hosts" class="col-md-4">
      <h5 class="no-margin" v-html="ttC('attributes.user.hosts')" />
      <div class="row items-start">
        <user-card
          v-for="person in hosts"
          :key="person.id"
          class="q-ma-md"
          :user="person"
        />
      </div>
    </div>

    <div v-if="courses" class="col-auto">
      <h5 class="no-margin" v-html="ttC('menu.teaching.title')" />
      <object-list :objects="courses" />
    </div>
  </div>

  <div v-if="role_events">
    <q-separator />
    <h5>Role history</h5>
    <object-list v-slot="{ object }" :objects="role_events">
      <em>{{ createdAt(object) }}</em
      >:
      {{ ttC('models.role') }}
      <role-title :role="object.role" linked />
      {{ $t(`roles.${object.constructor.type}`) }}
      ({{ $t('updated_by', { who: '' }) }}
      <Link v-if="object.creator" :href="object.creator.show_path">{{
        object.creator
      }}</Link
      >)
    </object-list>
  </div>
</template>

<script>
import userMixin from '@/Components/people/userMixin'
import RoleTitle from '@/Components/RoleTitle.vue'
import UserCard from '@/Components/people/UserCard.vue'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import ObjectList from '@/Shared/ObjectList.vue'
import ObjectPageHeader from '@/Components/ObjectPageHeader.vue'
import WithPhoto from '@/Components/WithPhoto.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    RoleTitle,
    UserCard,
    PeTextField,
    PeTextarea,
    ObjectList,
    ObjectPageHeader,
    WithPhoto,
  },
  extends: ShowPage,
  mixins: [userMixin],
  computed: {
    user() {
      return this.object
    },
    ohLocation() {
      return this.user.oh_location && this.user.oh_location != this.user.office
        ? this.user.oh_location
        : null
    },
    has_phd() {
      return this.user.phd_from || this.user.phd_year
    },
    mwebids() {
      const res = this.editable
        ? Object.keys(this.$options.webidUrls)
        : this.webids()
      return res.length > 0 ? res : null
    },
    research_groups() {
      return this.nonempty_list('research_groups')
    },
    courses() {
      return this.nonempty_list('current_courses')
    },
    roles() {
      return this.nonempty_list('relevant_roles')
    },
    role_events() {
      return this.nonempty_list('relevant_role_events')
    },
    students() {
      return this.nonempty_list('students')
    },
    postdocs() {
      return this.nonempty_list('postdocs')
    },
    supervisors() {
      return this.nonempty_list('supervisors')
    },
    hosts() {
      return this.nonempty_list('hosts')
    },
    visitors() {
      return this.nonempty_list('visitors')
    },
  },
  methods: {
    nonempty_list(list) {
      return (this.user[list] || []).length > 0
        ? this.$bless(this.user[list])
        : null
    },
    createdAt(ob) {
      return ob.createdAt()
    },
  },
}
</script>

<style lang="css" scoped>
.bordered {
  border-radius: 4px;
  border-style: groove;
}
</style>
