<div itemscope itemtype="https://schema.org/Person">
  <a itemprop="sameAs" 
     content="<%= webid&.id_url %>"
     href="<%= webid&.id_url %>"
     rel="noopener noreferrer external">
     <%= webid&.id %>
  </a>
</div>

