<div class="row">
  <div class="col-md-6">
    <%= f.input :date, as: :date_picker, html5: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :online, input_html: { autocomplete: 'url' } %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= f.input :room %>
  </div>
  <div class="col-md-8">
<%= f.input :shift, as: :timerange %>
  </div>
</div>

<%= f.input :speaker, input_html: {autocomplete: 'name'} %>
<%= f.input :from, input_html: {autocomplete: 'organization'} %>
<%= f.input :speaker_web,
  input_html: { dir: :ltr, lang: :en, autocomplete: 'url' } %>
<%= f.input :title %>
<%= f.input :abstract, pagedown %>
<%= res = f.input :descfiles, as: :attachment_preview, 
  label: tt('file', what: tt('abstract'), count: 2) %>

<div class="card">
  <h5 class="card-header">
    <%= tt 'research.seminar.meetings!announcement' %>
</h5>
  <div class="card-body">
<p class="form-hint">
If the announcement field is not blank, it will be displayed <em>instead</em> of the other information
</p>
<%= trasto_field(f, :announcement, nil, announcement: pagedown(required: false)) %>
  </div>
</div>

