\<%= meeting.unusual_day ? 'emph' : 'textrm' %>{<%= l(meeting.date, 
      format: (meeting.unusual_day ? :dayshort : :short)) %>}%
<%= un = ''
    un += ", \\emph{#{l meeting.starts}--#{l meeting.ends}}" if meeting.unusual_time
    un += ", In \\textbf{#{meeting.room}}" if meeting.unusual_place
    un %>%
  &
  <% if meeting.announcement.blank? %>
  <%= lesc meeting.speaker %><% unless meeting.from.blank? %>
    (<%= lesc meeting.from %>)%
  <% end %>
  &
  <%= md2tex(meeting).chomp.html_safe %>\\
  <% else %>
    \multicolumn{2}{|c|}{<%= md2tex(meeting.announcement).chomp.html_safe %>}\\
  <% end %>

  \hline


