<% cache object_cache_key(meeting) do %>
<%= tag.tr(class: (meeting.date < Date.current.end_of_week and
                              meeting.date > Date.current.beginning_of_week) ?
                              %w[current] : []) do %>
  <td role="gridcell" data-order="<%= meeting.date.to_s %>">
    <%= content_tag(
      meeting.unusual_day ? :em : :span, 
      l(meeting.date, format: (meeting.unusual_day ? :dayshort : :short))) %><%= un = ''
    un += ", <em>#{l meeting.starts}&ndash;#{l meeting.ends}</em>" if meeting.unusual_time
    un += ", In <strong>#{meeting.room}</strong>" if meeting.unusual_place
    un.html_safe %>
  </td>

  <% if meeting.announcement.blank? %>

    <td role="gridcell" dir="auto"
    class="<%= meeting.cancelled? ? 'cancelled' : '' %>">
      <%= meeting.linked_with_actions %><%= meeting.online_icon %>
    </td>

    <td role="gridcell" dir="auto">
      <%= meeting.full_speaker(true, bdi: false) %>
    </td>

  <td role="gridcell">
    <div class="expander" dir="auto">
    <%= markdown(meeting.abstract) %>
    </div>
    <%= render meeting.descfiles, size: :sm %>
    </div>
  </td>

  <% else %>
    <!-- Datatables has an issue when number of cols is not equal -->
    <td hidden="hidden"></td>
    <td hidden="hidden"></td>
    <td role="gridcell" colspan="3">
      <div class="expander text-center mathjax" dir="auto">
    <%= meeting.linked_with_actions %>
      </div>
    </td>
  <% end %>
  <% end %>


<% end %>
