<% if meetings.present? || force %>
  <%= table **(table_opts || {}) do |table| %>
    <thead>
      <tr>
        <%= table.th tt 'datename' %>
        <%= table.th tt 'title' %>
        <%= table.th tt 'speaker' %>
        <%= table.th tt 'abstract' %>
      </tr>
    </thead>

    <tbody>
      <%= render meetings %>
    </tbody>
  <% end %>
<% end %>

