<% unless meetings.blank? %>
  <% side = loc2dir[0] %>
<% content_for :preamble do %>
\usepackage{longtable}
\usepackage{tabu}
\addtolength{\textwidth}{0.3\linewidth}
\addtolength{\hoffset}{-0.15\linewidth}
<% end %>

  {\renewcommand{\arraystretch}{1.2}
  \global\tabulinesep=2mm
  \begin{longtabu}{|X[-1,<%= side %>]|X[-2,c]|X[-3,<%= side %>]|}
  \hline
  \textbf{<%= tt 'datename'%>} & \textbf{<%= tt 'speaker' %>} &
  \textbf{<%= tt 'title' %>}\\
  \hline
  <%= render meetings %>
\end{longtabu}}
<% end %>

% vim: ft=eruby.tex
