<%= h1 do %>
  <%= get_title %><%= object.action_list %>
<% end %>

<% if meeting.announcement.blank? %>
  <h3 class="my-2"><%= meeting.full_speaker(true) %></h3>

  <div class="row justify-content-around">
    <div class="col-auto">
      <div class="coords">
        <p>
          <em><%= l meeting.date, format: :daylong %>, 
            <%= l meeting.starts %> &ndash; <%= l meeting.ends %></em>, 
          <b><%= meeting.place %></b>
      </div>
      <% if meeting.unusual %>
        <div class="lead text-center">
          <p>
            <strong><%= tt :unusual, what: meeting.unusual %>!</strong>
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-auto">
      <%= meeting.online_btn %>
    </div>
  </div>

  <% if meeting.has_abstract? %>
    <div class="row justify-content-center">
      <div class="col col-md-8 my-2">
        <div class="seminar bordered lead p-1" dir="auto">
          <strong><%= tt :abstract %>: </strong>
          <div dir="auto">
          <%= markdown(meeting.abstract) %>
          </div>
          <%= embed meeting.descfiles %>

        </div>
      </div>
    </div>
  <% end %>

<% else %>

  <div class="row justify-content-center">
    <div class="col col-md-8 my-2">
      <div class="bordered well mathjax lead text-center" dir="auto">
        <%= markdown(meeting.announcement) %>
      </div>
    </div>
  </div>

<% end %>

<% in_outer_locale do %>
<%= alt_fmt(:pdf) %>
<%= alt_fmt(:tex) %>
<% if current_user %>
  <%= footer_item(tt(:sendemail), 
        email_research_term_seminar_meeting_path(
                    meeting.term, meeting.seminar, meeting)) %>
<% end %>
<%= addr = policy.email_ml? ? msg.to.first : ''
footer_gitem do
  mail_to(addr.blank? ? 'some@one' : addr,
        tt(:emailto, who: addr.present? ? tt(:ml) : '...'),
        subject: meeting.seminar.to_s, 
        body: msg.text_part.decoded.to_str.gsub(//, ''),
        class: 'btn btn-warning nav-link text-dark font-weight-bold',
        dir: :auto
         )
end
%>
<% end %>


