\begin{center}
\vspace*{\baselineskip}

{\Large <%= tt 'fdepname' %>}

\vspace*{\baselineskip}

\rule{\textwidth}{1.6pt}\vspace*{-\baselineskip}\vspace*{2pt}
\rule{\textwidth}{0.4pt}\\[\baselineskip]

{\Huge <%= lesc meeting.seminar %>}\\[0.2\baselineskip]

\rule{\textwidth}{0.4pt}\vspace*{-\baselineskip}\vspace{3.2pt}
\rule{\textwidth}{1.6pt}\\[\baselineskip]

<% if meeting.announcement.blank? %>
\textbf{On} \emph{<%= lesc(l meeting.date, format: :daylong) %>}
\bigskip

\textbf{At} \emph{<%= lesc l meeting.starts %> -- <%= lesc l meeting.ends %>}
\bigskip

\textbf{In} \emph{<%= lesc meeting.room %>}

\vspace*{2\baselineskip}

{\large\scshape <%= lesc meeting.speaker %><% unless meeting.from.blank?  %> 
  %
  (<%= lesc meeting.from %>)
<% end %>}
\bigskip

will talk about
\bigskip

{\Large\bfseries <%= md2tex(meeting) %>\par}
\bigskip

\end{center}
\vfill

<% if meeting.has_abstract? %>
\textsc{Abstract:}
<%= md2tex(meeting.abstract) %>

<%= embed meeting.descfiles %>


<% end %>
<% if meeting.unusual %>
\bigskip
\begin{center}
{\bfseries <%= tt :unusual, what: meeting.unusual %>!}
\end{center}
<% end %>

<% else %>
  \vfill
  {\LARGE <%= md2tex(meeting.announcement) %> }
  \vfill
\end{center}
<% end %>


% vim: ft=eruby.tex:
