<template>
  <user-table
    :people="bphds"
    :user="bphd"
    :title="$page_title('/people/phds')"
    :append-columns="['supervisors']"
    class="q-my-lg"
  >
    <template #append="{ item }">
      <q-td key="supervisors"><link-list :list="item.supervisors" /></q-td>
    </template>
  </user-table>

  <user-table
    :people="bmscs"
    :user="bmsc"
    :title="$page_title('/people/mscs')"
    :append-columns="['supervisors']"
    class="q-my-lg"
  >
    <template #append="{ item }">
      <q-td key="supervisors"><link-list :list="item.supervisors" /></q-td>
    </template>
  </user-table>
</template>

<script>
import UserTable from '@/Components/people/UserTable.vue'
import LinkList from '@/Components/LinkList.vue'

export default {
  components: {
    UserTable,
    LinkList,
  },
  props: {
    phds: Array,
    mscs: Array,
    phd: Object,
    msc: Object,
  },
  data() {
    return {
      bphds: this.$bless(this.phds),
      bmscs: this.$bless(this.mscs),
      bphd: this.$bless(this.phd),
      bmsc: this.$bless(this.mscs),
    }
  },
}
</script>
