<div class="row">
  <div class="col-md-6">
    <%= f.association :term, collection: Term.all.decorate, 
      selected: f.object.term_id %>
  </div>
  <div class="col-md-6">
    <%= f.input :slug %>
  </div>
</div>


<%= trasto_field(f, [:name, :description], nil, description: pagedown) %>

<div class="row">
  <div class="col-md-6">
    <%= f.input :room %>

  </div>
  <div class="col-md-6">
    <%= f.input :online, input_html: { autocomplete: 'url' }  %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= f.input :day,
      collection: t('date.day_names').map.with_index{|d,i| [d.camelize, i]} %>
  </div>

  <div class="col-md-8">
    <%= f.input :shift, as: :timerange %>
  </div>
</div>

<%= f.input :web %>

<%= f.input :list_id, hint: "Mailing list (on <code>#{ml_domain}</code>) where meetings are announced. It is also possible to give a full url, if the list is managed elsewhere".html_safe %>

<%= f.association :research_groups, as: :custom_check_boxes %>

<%= f.input_admins %>

