<% cache object_cache_key(seminar) do %>
  <% I18n.with_locale(seminar.allowed_locale) do %>
  <div class="card bordered seminar mb-3">
    <h4 class="card-header" dir="auto">
      <%= link_to(seminar.to_html(wrapper: {}), seminar.show_path) %>
      <%= seminar.action_list %>
    <span class="formats">
      <%= link_to_glyphicon :external, seminar.object.web -%>
      <%= link_to_glyphicon :online, seminar.online -%>
      <%= link_to_glyphicon :ical, seminar.ical_url,
        style: "color: ##{seminar.colour}"
      -%>
      <%= link_to_glyphicon :atom, seminar.feed_url -%>
      <%= link_to_glyphicon :pdf, seminar.show_path(format: :pdf) -%>
      <%= link_to_glyphicon :ml, seminar.ml_path -%>
    </span>
    </h4>

  <div class="card-body">
    <p class="no-indent card-text" dir="auto">
    <%= editable_or seminar, :day, type: :select2, 
      select2: { width: '10rem' }, title: 'day', autotext: :auto,
      source: t('date.day_names').map.with_index{|x,i| {value: i, text: x.camelize}} do %>
      <%= seminar.day.camelize %>
    <% end %>

    <%= editable_or seminar, :starts, type: :time, 
      value: l(seminar.starts) do %>
      <%= l seminar.starts, format: :default %>
    <% end %>&ndash;<%= editable_or seminar, :ends, type: :time, 
      value: l(seminar.ends) do -%>
      <%= l seminar.ends %>
    <% end -%>,
    <bdi><%= editable_or seminar, :room do %>
      <%= seminar.place %>
    <% end %></bdi>
    </p>


    <div dir="auto" class="mathjax card-text">
      <%= editable_or seminar, :description, type: :textarea do %>
        <%= markdown(seminar.description) %>
      <% end %>
    </div>
  </div>
  </div>

<% end %>
<% end %>

