<div class="row-flex justify-content-center">
  <div class="col-md-10 col-lg-8 seminar bordered my-1 p-2">
    <h3 class="mathjax" dir="auto">
      <%= event.linked %> <%= event.online_icon %>
    </h3>
    <div class="my-1">
      <p dir="<%= loc2dir %>" class="text-center">
      <em><%= date_range(event.starts, event.ends) %></em>, 
      <strong><%= event.location %></strong>
      </p>

      <% if event.description %>
        <div class="mathjax" dir="auto">
          <%= markdown(event.description) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

