<% meeting = meeting.decorate %>
<h2><%= meeting.seminar.name %></h2>
<% if meeting.announcement.blank? %>
  <div class="row-flex justify-content-center">
    <div class="col-md-10 col-lg-8 bordered my-1 p-2">

      <h3 class="mathjax" dir="auto">
        <%= meeting.linked %> <%= meeting.online_icon %>
      </h3>

      <div class="my-1">
        <p class="text-center no-indent" dir="<%= loc2dir %>">
        <em><%= date_range(meeting.starts.on(meeting.date),
                           meeting.ends.on(meeting.date)) %></em>, 
                         <strong dir="auto"><%= meeting.room %></strong>
        </p>

        <% unless meeting.speaker.blank? %>
          <h4 dir="<%= loc2dir %>"><%= tt 'speaker' %></h4>
          <p dir="ltr" class="text-center lead no-indent">
          <%= meeting.full_speaker(speaker_tag: :b, from_tag: :em) %>
          </p>
        <% end %>

        <% unless meeting.abstract.blank? %>
          <h4 dir="<%= loc2dir %>"><%= tt 'abstract' %></h4>
          <div class="mathjax" dir="auto">
            <%= markdown(meeting.abstract) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

<% end %>
