<% extracss do %>
  <%= unpkg_css_tag "qtip2/dist/jquery.qtip.#{ASSETMIN}css" %>
  <%= unpkg_css_tag "fullcalendar@^5/main.#{ASSETMIN}css" %>
<% end %>

<% extrajs do %>
  <%= unpkg_js_tag 'moment' %>
  <%= unpkg_js_tag 'moment/locale/he.js' %>
  <%= unpkg_js_tag 'qtip2' %>
  <%= unpkg_js_tag 'fullcalendar', version: '^5' %>
  <%= javascript_include_tag 'fullcal' %>
<% end %>

<%= h1 %>
<div class="text-center">
<%= term_pager(term, to_path: ->(tt) { research_term_seminars_path(tt) }) %>
</div>

<%= tag.div id: 'fcalendar', data: { events: events },
  class: %w[mb-3 rounded] %>

<div class="card-columns" id="item-list">
  <%= render seminars %>
</div>

<%= form_button %>

