<% content_for :preamble do %>
  \usepackage{verbatim}
<% end %>

\begin{center}
  \vspace*{\baselineskip}

  {\Large <%= tt 'depname' %>}

  \vspace*{\baselineskip}

  \rule{\textwidth}{1.6pt}\vspace*{-\baselineskip}\vspace*{2pt}
  \rule{\textwidth}{0.4pt}\\[\baselineskip]

  {\Huge <%= lesc seminar %>}\\[0.5\baselineskip]
  {\Large <%= tt 'research.meetings', term: term %>}


  \rule{\textwidth}{0.4pt}\vspace*{-\baselineskip}\vspace{3.2pt}
  \rule{\textwidth}{1.6pt}\\[\baselineskip]

  <% unless coming.blank? %>
    % it actually does not make much sense to include "this week`` if this is 
    % going to hang somewhere, hence the comment
\begin{comment}
    \vspace*{2\baselineskip}
    {\Large <%= tt :thisweek %>}
    <% coming.each do |m| %>

      <% if m.announcement.blank? %>
        {\large
        <% if m.unusual_day %>
          \textbf{<%= tt 'coord.day' %>}: <%= l m.date, format: :daylong %>

      <% end %>
      <% if m.unusual_time %>
        \textbf{<%= tt 'coord.time' %>}: <%= l m.starts %>--<%= l m.ends %>

    <% end %>
    <% if m.unusual_place %>
      \textbf{<%= tt 'coord.place' %>}: <%= m.room %>

  <% end %>
  }

  \centering{<%= lesc m.speaker %><% unless m.from.blank? %>%
    (\emph{<%= m.from %>})<% end %>}

  {\Large <%= m.title %>}

  <%= md2tex(m.abstract) %>

<% else %>

\smallskip
  {\large <%= md2tex(m.announcement) %> }
  \smallskip
<% end %>
<% end %>
\end{comment}
<% end %>

\end{center}

<%= render 'research/seminar/meetings/meeting_table', meetings: meetings %>

\vfill
<%= t 'research.seminar.coords_pdf', day: seminar.day, starts: 
  l(seminar.starts), ends: l(seminar.ends), room: seminar.place(:pdf) %>

<% if seminar.ml_path %>
  To subscribe for email announcements, please visit:\\
  \url{<%= seminar.ml_path %>}
<% end %>

% vim: ft=eruby.tex
