<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, seminar.feed_url %>
  <%= auto_discovery_link_tag :rss, seminar.feed_url(format: :rss) %>
<% end %>
<%= h1 do %>
  <%= get_title %>
  <span class="formats">
    <%= link_to_glyphicon :external, seminar.object.web -%>
    <%= link_to_glyphicon :ical, seminar.ical_url -%>
    <%= link_to_glyphicon :atom, seminar.feed_url -%>
    <%= link_to_glyphicon :ml, seminar.ml_path, glyphicon_text: tt(:ml) -%>
  </span>
  <%= seminar.action_list *%w[edit duplicate] %>
<% end %>

<% if seminar.description %>
  <div class="row-flex justify-content-center">
    <div class="col col-sm-10 col-md-8 col-lg-6 bordered well mathjax" 
         dir="auto">
      <%= markdown(seminar.description) %>
    </div>
  </div>
<% end %>

<div class="lead row justify-content-around" dir="auto">
  <div class="col-auto">
    <%= t 'research.seminar.coords_html', day: seminar.day, 
      starts: l(seminar.starts), ends: l(seminar.ends), 
      room: seminar.place %>
  </div>
  <div class="col-auto">
    <%= seminar.online_btn %>
  </div>
</div>

<% unless coming.blank? %>
  <div>
    <h2 dir="auto"><%= tt :thisweek %></h2>
    <% coming.each do |m| %>
      <div>
        <hr/>
        <% if m.announcement.blank? %>
          <div class="lead text-center">
            <%= m.unusual_html %>
          </div>

          <h4 class="text-center"><%= m.full_speaker(from_tag: :em) %></h4>

          <% if m.title.present? || m.abstract.present? %>
          <div class="row-flex justify-content-center">
            <div class="col-sm-10 col-md-8 seminar bordered mt-1">
              <h3><%= markdown(m.title) %></h3>
              <div class="mathjax seminar-abstract" dir="auto">
                <%= markdown(m.abstract) %>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
          <div class="lead text-center mathjax seminar-announcement" 
          dir="auto">
            <%= markdown(m.announcement) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<hr/>
<h2><%= tt('research.meetings', term: seminar.term.to_html).html_safe %></h2>
<div class="text-center">
  <%= term_pager seminar.term,
    list: seminar.avail_terms.reorder(starts: :asc),
    to_path: ->(tt) { research_term_seminar_path(seminar, term_id: tt.slug) } 
  %>
</div>

<%# If a meeting can be created, we should have the 'following' meetings, 
  even if they are empty since the new one will be added here %>
<% show_following = following.present? || policy(meeting).create? %>
<% if show_following %>
  <% if past.present? %>
    <h3 dir="auto" class="mt-1"><%= tt 'research.meetings!upcoming' %></h3>
  <% end %>
  <%= render 'research/seminar/meetings/meeting_table', meetings: following,
    table_opts: { id: 'following-meetings' }, force: true %>
<% end %>

<% if past.present? %>
  <% if show_following %>
    <h3 dir="auto" class="mt-1"><%= tt 'research.meetings!past' %></h3>
  <% end %>
  <%= render 'research/seminar/meetings/meeting_table', meetings: past,
    table_opts: { id: 'past-meetings' } %>

<% end %>

<% if seminar.admins.present? %>
  <div class="my-2 lead seminar-admins">
    <p>
    <%= t('runby_html', what: tt(Seminar), who: seminar.linked_admins) %>
  </p>
  </div>
<% end %>

<% in_outer_locale do %>

  <%= form_button meeting, index_id: 'following-meetings', index_type: :dt,
    partial: 'research/seminar/meetings/form' %>

  <%= alt_fmt(:pdf) %>

  <%= alt_fmt(:tex) %>

  <% if policy.create_ml? %>
    <%= @ml_modal = modal(
    t('.create_ml_confirm_title', list: seminar.list_def), t('.create_ml'),
      id: 'create_ml', button: false) do |modal| %>
      <%= modal.header %>
      <%= modal.body do |body| %>
        <p>
          <%= t('create_ml_confirm_html', scope: %i[research seminars show],
                lists: ml_domain) %>
        </p>

        <%= code_block(
          code: mail2human(seminar.create_ml_email), lang: :email
        ) %>
    <% end %>
    <%= modal.footer(class: %w[modal-footer form-modal-footer justify-content-between]) do |footer| %>
      <%= dismiss_button :modal, tt(:cancel),
        data: { target: "##{modal.id}" }, class: %w[btn btn-secondary] %>
      <%= button_to tt('confirm'), { action: :create_ml, id: seminar.id },
        remote: true, data: { disable: true },
        class: %w[btn btn-primary], id: 'create_ml_confirm'
      %>
    <% end %>
  <% end %>
  <%= footer_gitem do %>
    <%= @ml_modal.button_tag %>
  <% end %>
  <%= javascript_tag nonce: true, defer: :defer do -%>
    document.body.addEventListener('ajax:complete', function(ev) {
      $('#create_ml').modal('hide')
    })
  <% end -%>
<% end %>
<% end %>

