<%= render 'datetime' %>

<%= h1 %>

<div class="row-flex justify-content-center my-1">
  <div class="col-md-8">
    <%= render partial: 'weekly_abstract' %>
  </div>
</div>

<div id="dayacc" role="tablist" aria-multiselectable="true">
  <% @days.keys.sort.each do |day| %>
    <% id = day.to_s.tr('-', '')
    idh = 'h_' + id
    idb = 'b_' + id
  %>
    <div class="mb-2">
      <div role="tab" id="<%= idh %>">
        <h3>
          <a data-toggle="collapse" data-parent="#dayacc" aria-expanded="true"
             href="#<%= idb %>" aria-controls="<%= idb %>">
             <em><%= l day, format: :daymonth %></em>
          </a>
        </h4>
      </div>

      <div id="<%= idb %>" class="collapse show" 
                           role="tabpanel" aria-labelledby="<%= idh %>">
          <% @days[day].each do |item| %>
            <div class="my-3">
            <%= name = item.object.class.to_s.downcase
            render partial: "weekly_#{name}", object: item, as: name %>
          </div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>


<hr>

<div class="row-flex justify-content-center">
  <div class="col-sm-8 col-md-6 well bordered py-1" id="dates-form">
<h3><%= tt('research.weekly!dates') %></h3>

    <%= simple_form_for :dates, method: :get  do |f| %>
      <div class="row datetimerange">
        <%= f.input :from, label: tt(:from), required: false, 
          as: :date_picker, html5: true, wrapper: :ranged_datetime,
          input_html: { placeholder: tt(:from) }, 
          label_html: {class: 'sr-only' } %>
        <%= f.input :to, label: tt(:to), required: false, 
          as: :date_picker, html5: true, wrapper: :ranged_datetime,
          input_html: { placeholder: tt(:to) }, 
          label_html: {class: 'sr-only' } %>
      </div>

      <div class="row-flex justify-content-center">
        <div class="col text-center">
          <nav aria-label="Events navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <%= link_to( 
              tag.span('&laquo;'.html_safe, aria: {hidden: true}), 
                  @params.merge(dates: { to: @from.to_date }),
                  class: 'page-link', 'aria-label' => 'previous week') %>
            </li>
            <li class="page-item">
              <button name="commit" value="<%= t('research.weekly!last') %>" class="page-link"><%= t('research.weekly!last') %></button>
            </li>
            <li class="page-item">
              <button name="commit" value="<%= t('research.weekly!range') %>" class="page-link"><%= t('research.weekly!range') %></button>
            </li>
            <li class="page-item">
              <button name="commit" value="<%= t('research.weekly!next') %>" class="page-link"><%= t('research.weekly!next') %></button>
            </li>
            <li class="page-item">
              <%= link_to(
              tag.span('&raquo;'.html_safe, aria: {hidden: true}), 
              @params.merge(dates: { from: @to.to_date + 1.day }),
                class: 'page-link', 'aria-label' => 'previous week') %>
          </li>
            </ul>
          </nav>
        </div>
      </div>
    <% end %>
  </div>
</div>


