<%= trasto_field(f, [:title, :description], nil, description: pagedown) %>
<div class="card">
  <div class="card-body">
    <%= f.input :visibility, 
      collection: RoleDecorator.visibility_collection,
      as: :custom_radio_buttons %>
</div>
<%= f.input :email %>
<%# f.association :users, collection: User.all.decorate %>
</div>
