<% cache object_cache_key(role) do %>
  <li class="list-group-item">
    <h4>
      <%= role.to_s(:linked) %>
      [<em><%= tt(role.visibility, scope: [:roles, :visibility], 
                  default: role.visibility.to_s) %></em>]
                <%= role.action_list %>
    </h4>
    <% if role.email.present? %>
      <code><%= role.email_address %></code>
    <% end %>
    <% if role.description %>
      <p class="mathjax">
        <%= markdown(role.description) %>
      </p>
    <% end %>
    <% unless users(role).empty? %>
      <h5>Users</h5>
      <ul>
        <% users(role).each do |u| %>
          <li><%= u.linked_with_actions('edit') %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless role.events.empty? %> 
      <h5>History</h5>
      <ul>
        <% role.events.each do |ee| %>
          <li><%= ee.to_s(:linked) %></li>
        <% end %>
      </ul>
    <% end %>

  </li>
<% end %>

