<%= h1 %>
<% troles.each do |type, roles| %>
  <% if roles.present? %>
    <div class="card">
      <h2 class="card-header"><%= tt(type, scope: %w[roles type]) %></h2>
      <div class="card-body">
        <ul class="list-group list-group-flush text-start card-text">
          <%= render roles.decorate %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
<%= new_button %>
