<%= h1 do %>
  <%= get_title %><%= role.action_list %>
<% if role.email.present? %>
  <h3><code><%= role.email %></code></h3>
<% end %>

<% end %>


<% if role.description.present? %>
<div class="row row-flex justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-6">
<div class="card">
  <div class="card-body mathjax">
    <%= markdown(role.description) %>
  </div>
</div>
  </div>
</div>

<% end %>

  <% users = User.with_rol(role).decorate; unless users.empty? %>
  <h5>Users</h5>
  <ul>
    <% users.each do |u| %>
      <li><%= u.linked_with_actions(%w[edit]) %></li>
    <% end %>
  </ul>
<% end %>


