<template>
  <q-banner
    v-if="showFormErrors"
    dense
    rounded
    inline-actions
    class="text-negative"
  >
    {{ errors }}
    <template #action>
      <q-btn
        round
        flat
        class="bg-info"
        icon="$close"
        @click="showErrors = false"
      />
    </template>
  </q-banner>
</template>

<script>
export default {
  props: {
    errors: String,
  },
  data() {
    return {
      showErrors: true,
    }
  },
  computed: {
    showFormErrors() {
      return this.showErrors && this.errors
    },
  },
}
</script>
