<%- trasto = attributes.select{|x| x.type == :trasto} -%>
<%- if trasto.present? -%>
<%%= trasto_field(f, [<%= trasto.map{|t| ":#{t.name}"}.join(', ') %>], nil, {}) %>

<%- end -%>
<%- attributes.reject{|x| x.type == :trasto}.each do |attribute| -%>
  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>

<%- end -%>
<%- if attributes.find{|a| a.name.to_s == 'name'} -%>
  <%%= f.input :slug %>
<%- end -%>

