<%%= h1 %>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<div class="mathjax" dir="auto">
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_name %>.<%= attribute.name %> %>
</div>

<% end -%>


