<template>
  <course-form />
</template>

<script>
import CourseForm from '@/Components/Teaching/CourseForm.vue'
import EditPage from '@/Components/EditPage'

export default {
  components: {
    CourseForm,
  },
  extends: EditPage,
}
</script>
