<template>
  <term-pager :to="(t) => `/teaching/${t.to_param}/courses`" />
  <div class="flex justify-between q-pa-sm q-gutter-sm q-mb-md">
    <q-toggle
      v-for="it in types"
      :key="it"
      v-model="selected"
      :val="it"
      :label="$page_title(`/teaching/course/type/${it}`)"
    />
    <q-space />
    <q-btn-group rounded glossy>
      <q-btn icon="$minus" size="sm" color="amber" @click="none()" />
      <q-btn icon="$plus" size="sm" color="amber" @click="all()" />
    </q-btn-group>
  </div>

  <div class="grid-masonry grid-masonry--2">
    <course-item v-for="course in curItems" :key="course.id" :object="course" />
  </div>

  <form-dialog v-slot="slotProps">
    <course-form modal v-bind="slotProps" />
  </form-dialog>

  <q-page-sticky position="top-right" :offset="[18, 10]">
    <new-btn />
  </q-page-sticky>
</template>

<script>
import CourseForm from '@/Components/Teaching/CourseForm.vue'
import CourseItem from '@/Components/Teaching/CourseItem.vue'
import TermPager from '@/Components/TermPager.vue'
import FormDialog from '@/Shared/FormDialog.vue'
import NewBtn from '@/Shared/NewBtn.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    CourseForm,
    CourseItem,
    FormDialog,
    NewBtn,
    TermPager,
  },
  extends: IndexPage,
  data() {
    return {
      types: ['first_year', 'advanced_undergrad', 'graduate', 'service'],
      selected: ['first_year'],
    }
  },
  computed: {
    curItems() {
      return this.items.filter((it) => this.selected.includes(it.level))
    },
  },
  methods: {
    all() {
      this.selected = this.types
    },
    none() {
      this.selected = []
    },
  },
}
</script>
<style lang="postcss" scoped>
.grid-masonry--2 {
  column-count: 2;
}

.grid-masonry--3 {
  column-count: 3;
}

.grid-masonry {
  flex-direction: column;
  column-fill: balance;
  display: block;
}
</style>
