<template>
  <page-header>{{ generic }}</page-header>
  <h2 class="text-h4">
    {{ $page_title('/teaching/catalog_info') }}
    <edit-btn :object="generic" page />
  </h2>
  <generic-course-info :object="generic" />

  <q-separator class="q-my-md" />

  <article id="termed">
    <h2 class="text-h4">{{ object.term }} <edit-btn page /></h2>
    <term-pager :visit-opts="{ only: ['record'] }" />
    <div class="row q-col-gutter-md">
      <section class="col-md-3">
        <q-list class="text-subtitle1" separator>
          <q-item v-if="object.lecturer" :href="object.lecturer.show_path">
            <q-item-section side>
              {{ tattr('lecturer') }}
            </q-item-section>
            <q-item-section>
              {{ object.lecturer.to_s }}
            </q-item-section>
          </q-item>

          <q-item v-if="object.hours">
            <q-item-section side>
              {{ tattr('hours') }}
            </q-item-section>
            <q-item-section>
              <div dir="rtl" v-html="$md(object.hours)" />
            </q-item-section>
          </q-item>

          <q-item
            v-if="object.student_rep"
            :href="object.student_rep.show_path"
          >
            <q-item-section side>
              {{ tattr('student_rep') }}
            </q-item-section>
            <q-item-section>
              {{ object.student_rep }}
            </q-item-section>
          </q-item>
        </q-list>
      </section>
      <div class="col">
        <with-photo>
          <section v-if="object.abstract">
            <h3 class="text-h5" v-html="tattr('abstract')" />
            <div
              class="text-subtitle1"
              dir="auto"
              v-html="$md(object.abstract)"
            />
          </section>
        </with-photo>
        <section v-if="object.content">
          <h3 class="text-h5" v-html="tattr('content')" />
          <div class="text-subtitle1" dir="auto" v-html="$md(object.content)" />
        </section>
      </div>
    </div>
  </article>
</template>

<script>
import WithPhoto from '@/Components/WithPhoto.vue'
import PageHeader from '@/Components/PageHeader.vue'
import TermPager from '@/Components/TermPager.vue'
import GenericCourseInfo from '@/Components/Teaching/GenericCourseInfo.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import ShowPage from '@/Components/ShowPage'

export default {
  components: {
    WithPhoto,
    PageHeader,
    TermPager,
    EditBtn,
    GenericCourseInfo,
  },
  extends: ShowPage,
  props: {
    genericCourse: {
      type: Object,
      required: true,
    },
  },
  computed: {
    generic() {
      return this.$bless(this.genericCourse)
    },
  },
}
</script>
