<div class="card bordered">
  <div class="card-header">
    <h4 class="card-title">
      <%= setting.linked_with_actions :destroy %>
    </h4>
  </div>
  <div class="card-body">
    <% case setting.value %>
    <% when Array %>
      <%= editable_or setting, :value, type: :select2,
        source: Role.global.map{|rr| {value: rr.name, text: rr.name}},
        title: :value, select2: {multiple: true} %>
    <% when Hash %>
      <dl>
      <% setting.value.each do |k,v| %>
        <dt><%= tt(k, scope: %i[langname]) %></dt>
        <dd><%= editable_or setting, "value_#{k}" %>
    <% end %>
      </dl>
        

    <% else %>
      <%= editable_or setting, :value %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= editable_or setting, :visibility, type: :select2,
      source: setting.class.visibilities.map{|k,v| {value: k, text: tt(k, scope: %i[settings visibility])}}, select2: {multiple: false} %>
  </div>
</div>
