<li><i>Honourary colloquium</i>: Prof. Sir Roger Penrose, Oxford University, April 2005</li>
<li>Workshop on Linear System Theory, September 2005</li>
<li> <!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf3.html --><i>Miniworkshop on Operator Theory, System Theory and Scattering Theory: Multidimensional Generalizations and Related Topics</i>, June 26-July 1, 2005 </li>

