<li>Sudipta Dutta, Ph.D. Indian Statistical Institute, mentored by Prof. Vladimir Fonf.</li>
<li>Yuval Gabay, Ph.D. Cornell University, mentored by Prof. Menachem Kojman.</li>
<li>Natalya Gulko, Ph.D. Ben-Gurion University of the Negev, mentored by Prof. Yitzchak Rubinstein</li>
<li>Dmitry Kalyuzhnyi-Verbovetzki, Ph.D. University of Kharkov, mentored by Prof. Daniel Alpay and Dr. Victor Vinnikov.</li>
<li>Owen Patashnick, mentored by Dr. Amnon Besser.</li>
<li>Dvora Peretz, mentored by Prof. Theodore Eisenberg.</li>
<li>Akira Sano, Ph.D. University of Illinois at Urbana-Champaign, mentored by Prof. Yoav Segev, Prof. Miriam Cohen, Prof. Ronen Peretz, Dr. Amnon Yekutieli and Dr. Nadya Gurevich.</li>
<li>Kobi Snitz, Ph.D. University of Maryland, mentored by Dr. Nadya Gurevich</li>
<li>Gia Vuong Nyuyen Chu, Ph.D University Paris, mentored by Dr. Nadya Gurevich</li>
