<li>Y. Bilu, University Bordeaux I, France </li>
<li>A. Dijksma, Groningen University, Netherlands </li>
<li>I. Fesenko, University of Nottingham, England </li>
<li>Y. Flicker, Ohio State University, U.S.A </li>
<li>S. Gonchenko, Nizhny Novgovod University, Russia </li>
<li>A. Kirillov, Institute for Applied Mathematics and Cybernetics, Russia </li>
<li>P. Milman, University of Toronto, Canada </li>
<li>M. Moeller, University of Essen, Germany </li>
<li>A. Shilnikov, Institute for Applied Mathematics and Cybernetics, Russia </li>
<li>L. Shilnikov, Institute for Applied Mathematics and Cybernetics, Russia </li>
<li>A. Shouman, University New Mexico, U.S.A.</li>
