<% extracss do %>
  <style type="text/css">
    ul { column-count: 2 }
  </style>
<% end %>

# <%= tt 'mir#index', scope: [:admin] %>

## Responders

<% if responders.present? %>
<% responders.each do |resp| %>
- [<%= resp %>](<%= resp.edit_url %>)
<% end %>
<% else %>
**No issues responders are present, issues system is inactive**
<% end %>

[Faculty members](<%= people_members_url %>) can be assigned as issue responders

## Catalogue Courses

<%= generic %>

## Active Courses for <%= term.year - 1 %> -- <%= term.year %>

### Current term

<%= tcourses %>

### Other term

<%= ocourses %>

## Departments

<%= depts %>

