<%= h1 %>
<div class="row justify-content-center my-3">
  <div class="col col-lg-10">
    <%= render 'table', table_opts: {id: "item-list-Adjunct"} %>
  </div>
</div>

<%= form_button index_type: :dt, partial: 'people/form' %>

