<template>
  <user-table
    :people="bpostdocs"
    :user="bpostdoc"
    :title="$page_title()"
    :append-columns="['hosts']"
    class="q-my-lg"
  >
    <template #append="{ item }">
      <q-td key="hosts"><link-list :list="item.hosts" /></q-td>
    </template>
  </user-table>

  <h4 class="text-center" v-html="$page_title('/people/visitors')" />

  <user-table
    :people="bvisitors"
    :user="bvisitor"
    :title="$page_title('/people/visitors')"
    form="visitor-form"
    :prepend-columns="['fullname']"
    :append-columns="[['duration', { field: 'starts' }], 'hosts']"
    class="q-my-lg"
  >
    <template #prepend="{ item }">
      <q-td key="fullname">
        <Link :href="item.show_path">{{ item }}</Link>

        <q-btn
          v-if="mayDelete(item)"
          size="xs"
          glossy
          rounded
          dense
          color="secondary"
          icon="$delete"
          :label="ttC('actions.delete')"
          @click="deleteitem(item)"
        />
      </q-td>
    </template>
    <template #append="{ item }">
      <q-td key="duration">{{ item.duration }}</q-td>
      <q-td key="hosts"><link-list :list="item.hosts" /></q-td>
    </template>
  </user-table>
</template>

<script>
import UserTable from '@/Components/people/UserTable.vue'
import LinkList from '@/Components/LinkList.vue'

export default {
  components: {
    UserTable,
    LinkList,
  },
  props: {
    postdocs: Array,
    visitors: Array,
    postdoc: Object,
    visitor: Object,
  },
  data() {
    return {
      bpostdocs: this.$bless(this.postdocs),
      bvisitors: this.$bless(this.visitors),
      bpostdoc: this.$bless(this.postdoc),
      bvisitor: this.$bless(this.visitor),
    }
  },
  methods: {
    mayDelete(who) {
      return !!(who.actions && who.actions['delete'])
    },
  },
}
</script>
