<%= simple_fields_for (model || model_name.safe_constantize)&.new,
  builder: DataFormBuilder do |ff| %>
<% if local_assigns[:array] %>
  <%= ff.input_field(:photo_id, collection: [photo],
  label_method: ->(ii) { ii.to_label(field, builder: ff) },
  as: :custom_radio_buttons, include_hidden: false, 
  class: 'custom-control-input') %>
<% else %>
  <%= photo.to_label(field, builder: ff, img: { data: { cropperOpts: {
		aspectRatio: nil,
		minContainerWidth: nil,
		minContainerHeight: nil,
		viewMode: 2,
		zoomOnWheel: false,
  }}}) %>
<% end %>
<% end %>
