<%= local_assigns[:prep] || '' %><% if course_list.courses.empty? %>%
<%= lesc course_list %>. <%= md2tex(course_list.remarks) %>
<% else %>%
  \emph{<%= lesc tt('table', count: 1).html_safe 
  %>~\ref{tab:<%= course_list.slug %>}}, 
  \textbf{\nameref{tab:<%= course_list.slug %>}}
  <%= render 'ctable', local_assigns.merge(object: course_list) %>
<% end %>

<%# vim: ft=eruby.tex
-%>
