<% @printed_tables ||= {} %>
<% unless @printed_tables[object.slug] %>
<% @printed_tables[object.slug] = true %>
<% side = loc2dir[0] %>
\begin{table}[pbht]
\begin{tabu} to\textwidth{|X[<%= side %>]|X[<%= side %>]|X[<%= side %>]|X[c]|X[c]|X[<%= side %>]|}
  \tabucline-
  \textbf{<%= lesc tt('teaching.courseid') %>} &
  \textbf{<%= lesc tt('name_of', Course) %>} &
  \textbf{\footnotesize{<%= lesc tt('teaching.course_hours') %>}} &
  \textbf{\scriptsize{<%= lesc tt('teaching.credits', count: '') %>}} &
  \textbf{\scriptsize{<%= lesc tt(Term, count: 2) %>}} &
  \textbf{<%= lesc tt('teaching.requires') %>}\\
  \tabucline-
<%= render partial: 'course', collection: object.courses %>
<% if local_assigns[:total] %>
\multicolumn3{|c}{<%= lesc tt('teaching.tcredits') %>:} & \multicolumn3{<%= side %>|}{<%= object.credits %>}\\
\tabucline-
<% end %>
\end{tabu}
\caption[<%= md2tex(object.to_s) %>]{<%= md2tex(object.to_s) %>. <%= md2tex(object.remarks, inline: true) %>\label{tab:<%= object.slug %>}}
\end{table}
<% end %>

