\section{<%= lesc degree %>}
<% if degree.description.present? %>
  \subsection*{<%= tt 'description_of', Degree %>}
  <%= md2tex(degree.description) %>
<% end %>

<% if degree.top_prereqs.present? %>
  \subsection*{<%= tt ProgPrereq, count: 2, the: true %>}
  <%= render degree.top_prereqs %>

  \newpage
  \subsection*{<%= tt :dependency, count: 2 %>}
    \begin{tikzpicture}[remember picture, overlay]
      \node [shift={(0cm,-1.5cm)}] at (current page) {%
  \tikzstyle{every node}=[text width=70pt,align=center]

  <%= graph2tex(degree.to_sigma_graph({}, {}, false)) %>
  };
\end{tikzpicture}
\newpage
<% end %>

<% if degree.plans.present? %>
  <%= render degree.plans %>
<% end %>

\clearpage

<%# vim: ft=eruby.tex
%>

