<div class="mx-lg-3">
  <h4 class="text-start"><%= degree_plan.linked_with_actions %></h4>
  <div class="mathjax">
    <%= markdown(degree_plan.remarks) %>
  </div>
  <div class="row-flex">
    <%= render degree_plan.term_plans %>
  </div>
  <%= new_button(TermPlan, degree_plan.new_term_path) %>
</div>
