<%= f.association :ac_year,
  collection: AcYear.all.decorate, label: tt('ac_year', year: ''), 
  as: :custom_radio_buttons %>

<%= trasto_field(f, :preamble, preamble: pagedown) %>

<%= f.association :degrees, as: :multiselect, 
  collection: Degree.where(shnaton: f.object) %>

