\subsubsection{<%= lesc prog_prereq %>}
<%= md2tex(prog_prereq.description) %>

<%= render "teaching/prog_prereqs/show_#{prog_prereq.type.underscore}",
  object: prog_prereq %>
<% if prog_prereq.subreqs.present? %>

\subsubsubsection{<%= tt :add_req %>}
\begin{itemize}
  <%= render collection: prog_prereq.subreqs, partial: 
    "teaching/prog_prereqs/subreq" %>
\end{itemize}
<% end %>
