<div class="mx-lg-3">
  <h4>
    <%= prog_prereq.linked_with_actions %>&emsp;
    <%= badge(markdown(prog_prereq.to_long, inline: true)) %>
  </h4>
  <div class="pl-3 pr-3">
  <div class="mathjax">
  <%= markdown(prog_prereq.description) %>
  </div>

  <%= render "teaching/prog_prereqs/show_#{prog_prereq.type.underscore}",
    object: prog_prereq %>

<% if prog_prereq.subreqs.present? %>
  <h5><%= tt :add_req %></h5>
  <ul>
  <%= render collection: prog_prereq.subreqs, partial: "teaching/prog_prereqs/subreq" %>
  </ul>
<% end %>
</div>
</div>
