\noindent\begin{minipage}[t]{.48\linewidth}\small
\subsection*{\centering{<%= lesc term_plan %>}}
  <% if term_plan.plan_items.present? || term_plan.free_plan_items.present? %>
    \begin{tabu} to\textwidth{|X|X|X|}
      \tabucline-
      \textbf{<%= lesc tt 'teaching.courseid' %>} &
      \textbf{<%= lesc tt('name_of', Course) %>} &
      \textbf{<%= lesc tt 'teaching.credits', count: '' %>}\\
      \tabucline-
      <%= render term_plan.plan_items %>
      <%= render term_plan.free_plan_items %>
      \multicolumn2{|c|}{<%= lesc tt 'teaching.tcredits' %>} &
    \LR{<%= md2tex(term_plan.cred_range) %>}\\
      \tabucline-
    \end{tabu}
  <% end %>
\end{minipage}
<% if term_plan.spring? -%>

\bigskip

<% else -%>
  \hfill
<% end -%>
<%# vim: ft=eruby.tex
%>
