<div class="col-12 col-md-6">
  <div class="card my-2">
    <h5 class="card-header"><%= term_plan.linked_with_actions %></h5>
    <% if term_plan.plan_items.present? || term_plan.free_plan_items.present? %>
      <%= table(data: false) do |table| %>
        <thead>
          <tr>
          <%= table.th tt 'teaching.courseid' %>
          <%= table.th tt('name_of', Course) %>
          <%= table.th(tt 'teaching.credits', count: '') %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="2">
              <div style="text-align: end"><%= tt 'teaching.tcredits' %></div>
            </th>
            <th><%= markdown(term_plan.cred_range, inline: true) %></th>
          </tr>
        </tfoot>
        <tbody>
          <%= render term_plan.plan_items %>
          <%= render term_plan.free_plan_items %>
        </tbody>
      <% end %>
    <% end %>
  </div>
</div>
