<div class="mt-2 text-center">
<%= pager(AcYear.decorate.select(&:shnaton).reverse, shnaton.ac_year.decorate, 
          default: AcYear.current,
          to_path: ->(x) { x.shnaton.show_path }) %>
</div>

<%= h1 shnaton.decorate.linked_with_actions %>

<!-- General handbook overview -->
<div class="row justify-content-center">
  <div class="col col-lg-10">
  <%= render html: preamble %>
  </div>
</div>

  <h1>
    <%= tt Degree, count: 2, the: true %>
  </h1>
  <%= tabs(degrees.keys, 
           ->(type) { tt type, scope: [:teaching, :degree_type] },
           ->(type) { type.to_sym },
          ) do |type, name| %>
          <h2><%= name %></h2>
  <div class="card-columns columns-wide">
    <%= render degrees[type], type: type %>
  </div>
<% end %>

<%# #### Summary #### %>

<h1><%= tt 'teaching.shnaton_summary.title' %></h1>

<%= table(title: 'teaching.shnaton_summary.title') do |table| %>

  <thead>
    <tr>
  <%= table.th(tt(ProgPrereq, count: 1)) %>
  <% deg_list.each do |deg| %>
    <%= table.th(deg.to_html) %>
  <% end %>
    </tr>
  </thead>

  <tbody>
    <% by_prereq.each do |kk,degs| %>
      <tr>
        <%= table.th(
          tt(kk, scope: [:teaching, :shnaton_summary], 
             default: markdown(degs.values.third.to_s, inline: true)).html_safe, 
             scope: :row, id: "#{kk}-row", 
             data: {order: degs[:order],
                    toggle: :tooltip },
             title: degs[:tip],
        ) %>
      <% deg_list.each do |deg| %>
        <td><%= markdown(degs[deg.object].try(:to_long) || '') %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr class="table-primary">
      <%= table.th(tt('teaching.tcredits'), scope: :row) %>
      <% deg_list.each do |deg| %>
        <td><%= markdown(deg.credits) %></td>
      <% end %>
    </tr>
  </tfoot>

<% end %>

<% in_outer_locale do %>
  <%= alt_fmt(:pdf) %>
  <%= alt_fmt(:tex) %>
  <%= new_button(Degree, 
                 new_teaching_ac_year_shnaton_degree_path(shnaton.ac_year)) %>
               <% if policy(shnaton).edit? %>
                 <%= index_button(CourseList,
                                  teaching_ac_year_shnaton_course_lists_path(shnaton.ac_year)) %>
                              <% end%>
                              <%# end %>
                            <% end %>


