<% content_for :document_class do %>
\documentclass[notitlepage,final,12pt]{book}
<% end %>
<% content_for :preamble do %>
  \usepackage{geometry}
  \usepackage{tabu}
  %\usepackage{dot2texi}
  \usepackage{tikz}
  \usetikzlibrary{shapes,arrows}
\title{<%= shnaton.to_tex %>}
\author{<%= md2tex(tt :fdepname) %>}
\providecommand{\subsubsubsection}[1]{\noindent\textbf{#1}}
\renewcommand{\arraystretch}{1.2}
% (bold) table cells
\newcommand{\TC}[1]{\scriptsize{#1}}
\newcommand{\BTC}[1]{\textbf{\TC{#1}}}
\setcounter{secnumdepth}{3}
\makeatletter
\newcommand*{\toccontents}{\@starttoc{toc}}
\makeatother
<% end %>

\pagestyle{headings}
\pagenumbering{arabic}
\renewcommand*{\thesection}{\localnumeral*{section}}
\renewcommand*{\thesubsubsection}{\localnumeral*{section}.\arabic{subsubsection}}
\maketitle


\toccontents
\newgeometry{hmargin=1cm}
<%= md2tex(object.preamble) %>

\section*{<%= md2tex(tt 'teaching.shnaton_summary.title') %>}
\global\tabulinesep=1mm
{

  \begin{tabu} to\linewidth{<%= 'X|' * deg_list.count %>X}
    \hline
    \BTC{<%= tt(ProgPrereq, count: 1) %>}
    <% deg_list.each do |deg| %>
      & \BTC{<%= deg.decorate.to_tex %>}
    <% end %>
    \\
    \hline
    <% by_prereq.each do |kk,degs| %>
      \hline
      \BTC{<%= tt(kk, scope: [:teaching, :shnaton_summary],
                     default: md2tex(degs.values.third.to_s)) %>}
      <% deg_list.each do |deg| %>
        & \TC{<%= md2tex(degs[deg.object].try(:to_long) || '') %>}
    <% end %>
    \\
  <% end %>
  \hline
  \BTC{<%= md2tex(tt('teaching.tcredits')) %>}
    <% deg_list.each do |deg| %>
      & \TC{<%= md2tex(deg.credits) %>}
  <% end %>
  \\
  \hline
  \end{tabu}
  }
\restoregeometry

<% degrees.keys.each do |type| %>
\chapter*{<%= tt Degree, count: 2 %> -- <%= tt "teaching.degree_type.#{type}" 
  %>}
    <%= render degrees[type], type: type %>
<% end %>

\appendix
\chapter{<%= md2tex(tt(:in_which, Course, count: 2,
                        type: 
                        tt('teaching.generic_course.type.advanced_undergrad', 
                           count: 2), which: shnaton.ac_year
                       )) %>}

<% [shnaton.ac_year.fall, shnaton.ac_year.spring].compact.each do |term| %>
  <% courses = policy_scope(term.courses).advanced_undergrad %>
  <% if courses.present? %>
\section*{<%= term.decorate.to_tex(full: true, noyear: true) %>}
  \begin{itemize}
  <% courses.decorate.each do |cc| %>
  \item \emph{<%= cc.to_tex %>}<% if cc.lecturer.present? %>, <%= 
                                      cc.lecturer.to_tex %><% end %>
  <% end %>
  \end{itemize}
<% end %>
        
  <% end %>


<%# vim: ft=eruby.tex
%>

