<h2><%= degree_plan.decorate %></h2>
<h3><%= degree.decorate %></h3>
<%= trasto_field(f, [:remarks], nil, remarks: pagedown) %>

<div class="row">
  <div class="col">
    <%= f.input :year %>
  </div>
  <div class="col">
    <%= f.input :term, collection: TermPlan.terms.keys.map(&:to_sym),
      as: :custom_radio_buttons, wrapper: :custom_collection_inline
    %>
  </div>
</div>

<%= f.association :generic_courses, as: :custom_check_boxes,
  label: tt(Course, count: 2), group_method: :level,
  collection: policy_scope(GenericCourse).active_in(shnaton.year).reorder(:shid).decorate
%>

<%= f.simple_fields_for :free_plan_items do |ff| %>
  <div class="card my-2">
    <div class="card-body">
      <%= trasto_field(ff, [:title]) %>

      <div class="row-flex justify-content-around">
        <%= ff.input :minp, input_html: { step: 0.5 }, disabled: false,
          readonly: false %>
        <%= ff.input :maxp, input_html: { step: 0.5 }, disabled: false,
          readonly: false %>
      </div>
    </div>
  </div>
<% end %>


