<template>
  <div class="center-year">
    <div v-if="haveEvents" class="center-events">
      <h4>Conferences and Special Lectures:</h4>
      <ul>
        <slot name="events">
          <li v-for="event in events" :key="event.id">
            <a :href="event.web">{{ event.title }}</a
            >, <em> {{ dateRange(event.starts, event.ends) }} </em>,
            <strong>{{ event.location }}</strong>
          </li>
        </slot>
      </ul>
    </div>

    <div v-if="haveVisitors" class="center-visitors">
      <h4>Visitors:</h4>
      <ul>
        <slot name="visitors">
          <li v-for="visitor in visitors" :key="visitor.id">
            <a v-if="visitor.webpage" :href="visitor.webpage">
              {{ fullName(visitor) }}
            </a>
            <span v-else>{{ fullName(visitor) }}</span
            >, <strong>{{ visitor.origin }}</strong
            >,
            <em>
              {{ dateRange(visitor.starts, visitor.ends) }}
            </em>
          </li>
        </slot>
      </ul>
    </div>
    <div v-if="havePostdocs" class="center-postdocs">
      <h4>Postdocs:</h4>
      <ul>
        <slot name="postdocs">
          <li v-for="postdoc in postdocs" :key="postdoc.id">
            <a v-if="postdoc.webpage" :href="postdoc.webpage">
              {{ fullName(postdoc) }}
            </a>
            <span v-else>{{ fullName(postdoc) }}</span
            >, <strong>{{ postdoc.origin }}</strong
            >,
            <em>
              {{ dateRange(postdoc.starts, postdoc.ends) }}
            </em>
          </li>
        </slot>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    events: {
      type: Array,
      default() {
        return []
      },
    },
    visitors: {
      type: Array,
      default() {
        return []
      },
    },
    postdocs: {
      type: Array,
      default() {
        return []
      },
    },
  },
  computed: {
    haveVisitors() {
      return !!this.$slots.visitors || !!this.visitors.length
    },
    haveEvents() {
      return !!this.$slots.events || !!this.events.length
    },
    havePostdocs() {
      return !!this.$slots.postdocs || !!this.postdocs.length
    },
  },
  methods: {
    fullName(visitor) {
      return visitor.fullname['en']
    },
    dateRange(starts, ends) {
      const opts = { year: 'numeric', month: 'long', day: 'numeric' }
      const start = new Date(starts).toLocaleDateString('en-US', opts)
      if (starts == ends) {
        return start
      } else {
        return start + '—' + new Date(ends).toLocaleDateString('en-US', opts)
      }
    },
  },
}
</script>

<style lang="css" scoped>
h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
</style>
