<template>
  <article>
    <h3 class="text-h5">
      <Link :href="object.show_path">{{ object }}</Link>
      <edit-btn class="edit-btn" />
    </h3>
    <with-photo>
      <p>
        <temp-range date time class="coordinates" />
        <pe-text-field attr="location" class="coordinates" />
      </p>
      <div class="row justify-evenly items-center">
        <pe-textarea attr="description" class="col q-mx-md" />
        <show-files
          class="col-12 col-sm-6 col-md-3"
          :files="object.descfiles"
        />
      </div>
    </with-photo>
  </article>
</template>

<script>
import WithPhoto from '@/Components/WithPhoto.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import TempRange from '@/Shared/TempRange.vue'
import ShowFiles from '@/Components/ShowFiles.vue'
import Event from '@/models/Event'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    WithPhoto,
    EditBtn,
    PeTextField,
    PeTextarea,
    TempRange,
    ShowFiles,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: Event,
      required: true,
    },
  },
}
</script>
<style lang="postcss" scoped>
.coordinates {
  &:after {
    content: ', ';
    padding-inline-end: 3px;
  }
  &:last-of-type:after {
    content: '';
  }
}
</style>
