<template>
  <simple-form>
    <div class="row q-col-gutter-x-sm">
      <sf-text-field attr="slug" class="col-md-6 q-px-md" />
      <sf-temporal date time attr="starts" class="col-md-2 q-px-md" />
      <sf-temporal date time attr="ends" class="col-md-2 q-px-md" />
      <sf-temporal date attr="expires" class="col-md-2 q-px-md" />
    </div>
    <div class="row q-col-gutter-x-sm">
      <sf-boolean attr="centre" class="col-md-1 q-px-md" />
      <sf-text-field
        attr="online"
        class="col-md-6 q-px-md"
        autocomplete="url"
      />
      <sf-text-field attr="location" class="col-md-5 q-px-md" />
    </div>
    <fieldset class="q-my-md q-pa-md">
      <legend class="text-h5" v-html="ttC('content')" />
      <div class="row q-col-gutter-x-sm">
        <sf-text-field attr="title" class="col-md-6 q-px-md" />
        <sf-text-field attr="web" class="col-md-6 q-px-md" autocomplete="url" />
      </div>
      <sf-textarea attr="description" />
      <h6 v-html="ttC('attributes.event.descfiles')" />
      <sf-file-select attr="descfiles" />
    </fieldset>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    ...simpleForm,
  },
  mixins: [objectMixin],
}
</script>
