<template>
  <simple-form>
    <div class="row q-col-gutter-x-sm">
      <sf-temporal date attr="date" class="col-md-2 q-px-md" required />
      <sf-temporal time attr="starts" class="col-md-2 q-px-md" />
      <sf-temporal time attr="ends" class="col-md-2 q-px-md" />
      <sf-text-field
        attr="online"
        class="col-md-4 q-px-md"
        autocomplete="url"
      />
      <sf-text-field attr="room" class="col-md-2 q-px-md" />
    </div>
    <fieldset class="q-my-md q-pa-md">
      <legend class="text-h5" v-html="ttC('speaker')" />
      <div class="row q-col-gutter-x-sm">
        <sf-text-field attr="speaker" class="col-md-4" required />
        <sf-text-field
          attr="speaker_web"
          class="col-md-4"
          dir="ltr"
          lang="en"
          autocomplete="url"
        />
        <sf-text-field
          attr="from"
          class="col-md-4"
          autocomplete="organization"
        />
      </div>
    </fieldset>
    <fieldset class="q-my-md q-pa-md">
      <legend class="text-h5" v-html="ttC('content')" />
      <sf-text-field attr="title" />
      <sf-textarea attr="abstract" />
      <h6 v-html="ttC('attributes.meeting.descfiles')" />
      <sf-file-select attr="descfiles" />
    </fieldset>

    <sf-loc-text-field :attrs="{ announcement: { type: 'textarea' } }" />
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    ...simpleForm,
  },
  mixins: [objectMixin],
}
</script>
