<template>
  <model-table
    :attrs="attrs"
    wrap-cells
    hide-pagination
    external
    :no-data-label="ttC('none', { what: $tc('models.meeting', 2) })"
    v-bind="$attrs"
  >
    <template #body-cell-abstract="props">
      <q-td dir="auto" :props="props">
        <div class="row">
          <div v-if="props.value" class="col" v-html="props.value" />
          <show-files :files="props.row.descfiles" class="col" />
        </div>
      </q-td>
    </template>
  </model-table>
</template>

<script>
import ModelTable from '@/Shared/ModelTable.vue'
import ShowFiles from '@/Components/ShowFiles.vue'
import Seminar from '@/models/Seminar'

export default {
  components: {
    ModelTable,
    ShowFiles,
  },
  props: {
    seminar: {
      type: Seminar,
      required: true,
    },
  },
  data() {
    return {
      attrs: [
        [
          'date',
          {
            format: (dd) => this.$dateString(dd),
            classes: 'text-no-wrap',
          },
        ],
        [
          'title',
          {
            field: (row) =>
              `[${row.title || this.$t('tbd')}](${row.show_path})`,
            format: (val) => this.$mdi(val || this.$t('tbd')),
            edit: true,
          },
        ],
        [
          'speaker',
          {
            field: (row) => row.fullSpeaker,
            format: this.$mdi,
            classes: 'text-no-wrap',
          },
        ],
        [
          'abstract',
          {
            format: this.$md,
          },
        ],
      ],
    }
  },
}
</script>
