<template>
  <div>
    <q-separator class="q-my-md" />

    <h2 class="text-h4 text-center">{{ object }}<edit-btn /></h2>
    <div class="grid-mas">
      <with-photo>
        <section
          v-if="object.description || editable"
          class="q-px-lg"
          dir="ltr"
        >
          <h3 class="text-h5 no-margin" v-html="ttC('description')" />
          <pe-textarea attr="description" dir="ltr" />
        </section>
      </with-photo>

      <section v-if="object.members.length > 0" class="q-px-lg">
        <h3 class="text-h5 no-margin" v-html="ttC('members')" />
        <div class="row items-start justify-evenly">
          <user-card
            v-for="person in object.members"
            :key="person.email"
            class="col-auto q-ma-md"
            :user="person"
          />
        </div>
      </section>

      <section v-if="object.seminars.length > 0" class="q-px-lg">
        <termed-list
          :title="ttC('seminars')"
          :objects="object.seminars"
          dir="ltr"
        />
      </section>
    </div>
  </div>
</template>

<script>
import WithPhoto from '@/Components/WithPhoto.vue'
import EditBtn from '@/Shared/EditBtn.vue'
import PeTextarea from '@/Shared/SimpleForm/PeTextarea.vue'
import TermedList from '@/Components/TermedList.vue'
import UserCard from '@/Components/people/UserCard.vue'

import ResearchGroup from '@/models/ResearchGroup'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    WithPhoto,
    EditBtn,
    PeTextarea,
    TermedList,
    UserCard,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: ResearchGroup,
      required: true,
    },
  },
}
</script>
