<template>
  <simple-form :object="group" type="research_group" v-bind="$attrs">
    <sf-text-field attr="name" required />
    <sf-textarea attr="description" />
    <div class="row justify-between">
      <sf-association attr="seminars" dense class="col-md-6" />
      <sf-association attr="members" dense class="col-md-6" />
    </div>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'

export default {
  components: {
    ...simpleForm,
  },
  props: {
    group: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {}
  },
  computed: {},
}
</script>
