<template>
  <q-card class="col-md-5 q-ma-md">
    <edit-btn class="absolute-top-right" />
    <q-card-section horizontal>
      <q-card-section class="col">
        <q-item
          dir="auto"
          class="card-title no-padding"
          :href="object.show_path"
        >
          <q-item-section>
            <q-item-label dir="auto">
              <h6 class="no-margin" v-html="object" />
            </q-item-label>
          </q-item-section>
        </q-item>
        <p>
          <pe-select attr="day" :items="$dayOptions[$i18n.locale]" />,
          <temp-range time />, <pe-text-field attr="room" />
        </p>
        <div dir="auto" v-html="$md(object.description)" />
      </q-card-section>
      <q-card-section v-if="object.photo_url" class="col-4 flex">
        <q-img
          :src="object.photo_url"
          fit="contain"
          :alt="`Photo of ${object}`"
        />
      </q-card-section>
    </q-card-section>
  </q-card>
</template>

<script>
import EditBtn from '@/Shared/EditBtn.vue'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import TempRange from '@/Shared/TempRange.vue'
import PeSelect from '@/Shared/SimpleForm/PeSelect.vue'
import Seminar from '@/models/Seminar'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    EditBtn,
    PeTextField,
    TempRange,
    PeSelect,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: Seminar,
      required: true,
    },
  },
}
</script>
