<template>
  <simple-form>
    <div class="row q-col-gutter-x-sm">
      <sf-text-field attr="slug" class="col-md-4" />
      <sf-association attr="term" class="term-select" />
      <sf-text-field attr="online" class="col" autocomplete="url" />
    </div>
    <sf-loc-text-field
      :attrs="{ name: {}, description: { type: 'textarea' } }"
    />
    <div class="row q-col-gutter-x-sm">
      <sf-select
        class="col-md-3 q-px-md"
        attr="day"
        :items="$dayOptions[$i18n.locale]"
        required
      />
      <sf-text-field attr="room" class="col-md-3" required />
      <sf-temporal time attr="starts" class="col-md-3 q-px-md" required />
      <sf-temporal time attr="ends" class="col-md-3 q-px-md" required />
    </div>
  </simple-form>
</template>

<script>
import * as simpleForm from '@/Shared/SimpleForm'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    ...simpleForm,
  },
  mixins: [objectMixin],
}
</script>

<style lang="css">
.term-select {
  flex: 0 0 11rem;
}
</style>
