<li> <a href="http://www.math.bgu.ac.il/~oshalit/Conference2012.htm">Conference on Operator theory and Operator Algebras</a>, May 21-24, 2012. </li>
<li><a href="/files/center/events/NorikoSakuraiFellowship2012.pdf">2012 Award of the Noriko Sakurai Postdoctoral Fellowship</a>,  May 13, 2012. </li>
<ul>
  <li> Prof. Maeda's <a href="/files/center/events/NorikoSakurai-Maeda.pdf">presentation</a> (pdf file).</li>
</ul>
<li> <a href="http://www.cs.bgu.ac.il/~berend/ted-conference/index.html">Mathematics and Mathematics Education: Toward a Common Ground</a>, TEDucation 2012: A Symposium in Mathematics and Mathematics Education, Apr. 29 - May 3, 2012. </li>
<li> <a href="http://www.math.bgu.ac.il/~yairgl/Conferences/IRS/IRS.html">Invariant Random Subgroups</a>, Feb. 26 - Mar. 2, 2012. </li>
<li> <a href="http://www.math.bgu.ac.il/~barakw/action/secondmeeting/index.html">Action Now Wandering Seminar</a>, Dec. 27, 2011.</li>
