<li>Dr.	Marco	Antei, Ph.D. University of Lille, France</li>
<li>Dr.	Shibananda	Biswas, Ph.D. Indian Statistical Institute, India</li>
<li>Dr.	Alex	Gonzales, Ph.D. Universitat Autonoma de Barcelona</li>
<li>Dr.	Stefan	Gyurki, Ph.D. Comenius University, Slovak Republic</li>
<li>Dr. Roi 	Krakovski, Ph.D. Ben-Gurion University</li>
<li>Dr.	Viorica	Motreanu, Ph.D. University of Perpignan, France</li>
<li>Dr.	Mithun	Mukherjee, Ph.D. Indian Statistical Institute, Bangalore, India </li>
<li>Dr. Ophir   Nave, Ph.D. Ben-Gurion University</li>
<li>Dr.	David	Ralston,  Ph.D. Rice University, USA</li>
<li>Dr.	Ahuva	Shkop, University of Illinois at Chicago, USA</li>
<li>Dr. Pooja   Singla, Ph.D. The Institute of Mathematical Sciences, Chennai, India </li>
<li>Dr.	Dmitry	Sustretov, Ph.D. University of Oxford, England</li>


