<li>Robert Bonnet, University of Savoie, France </li>
<li>Zanco Clemente, University of Milan, Italy </li>
<li>Fabrizio Colombo, Politechnic Milano, Italy </li>
<li>Sudipta Dutta, Indian Institute of Technology Kanpur, India </li>
<li>Kazuhiro Kawamura, University of Tsukuba, Japan </li>
<li>Yoshiaki Maeda, Keio University, Yokohama, Japan. </li>
<li>Andrzej Nagorko, Warsaw University, Poland </li>
<li>Sergey Shpektorov, University of Birmingham, UK </li>
<li>Reichard Sven, Technical University Dresden, Germany</li>


