<%= f.association :supervisors, collection: User.can_supervise.decorate %>

<div class="my-3">
<%= render 'research_fields', f: f, student: true %>
</div>

<div class="my-3">
<%= render 'teaching_fields', f: f%>
</div>

