
<div class="my-3">
<%= render 'research_fields', f: f %>
</div>

<%= f.association :students, collection: User.students.decorate %>
<%= f.association :postdocs, collection: Postdoc.decorate  %>

<div class="my-3">
<%= render 'teaching_fields', f: f%>
</div>

