<% cache object_cache_key(visitor) do %>
<tr>
  <td role="gridcell" data-order="<%= visitor.last %>">
    <div dir="ltr">
    <%= visitor.editable_or_linked %>
    <% if visitor.centre %>
      <a href="#centre"><%= glyphicon(:star) %></a>
    <% end %>
     <%= visitor.action_list %>
    </div>
  </td>

  <td role="gridcell" dir="ltr">
    <%= my_editable visitor, :origin %>
  </td>

  <td role="gridcell" data-order="<%= visitor.starts %>">
    <%= editable_date_range visitor, :starts, :ends %>
  </td>

  <%= visitor.email_td %>

  <td role="gridcell" class="email">
    <%= my_editable visitor, :office %>
  </td>

  <td role="gridcell" class="email">
    <%= my_editable visitor, :phone %>
  </td>

  <td role="gridcell">
    <%= editable_select visitor, :hosts, User.can_host %>
  </td>

</tr>
<% end %>
