<% @noeditable = true %>
<%= h1 %>
<div class="editable-allowed">
	<% if policy(object).new? || people.present? %>
		<h2><%= tt(Postdoc, count: 2) %></h2>
		<div class="row justify-content-center my-3">
			<div class="col col-lg-10">
				<%= render 'table', 
					table_opts: {title: 'people.postdocs', id: 'item-list-Postdoc'} %>
			</div>
		</div>
	<% end %>
</div>

<% if policy(visitor).new? || visitors.present? %>
	<h2><%= tt(Visitor, count: 2) %></h2>

	<div class="editable-allowed">
		<div class="row-flex justify-content-center">
			<div class="col-lg-10">
				<%= table(data: {order: '[[2, "desc"]]'}, 
									title: 'people.visitors',
									id: 'visitor-item-list') do |table| %>
									<thead>
										<tr>
											<%= table.th(tt :name) %>
											<%= table.th(tt 'people.visitorfrom') %>
											<%= table.th(tt 'people.visitdates') %>
											<%= table.th(tt :email) %>
											<%= table.th(tt :office) %>
											<%= table.th(tt :phone) %>
											<%= table.th(cap(Postdoc.human_attribute_name('hosts', count: 2))) %>
										</tr>
									</thead>
									<tbody>
										<%=  render visitors %>
									</tbody>
								<% end %>
			</div>
		</div>
	</div>
<% end %>


<% if past_postdocs.present? %>
<hr />
<div class="editable-allowed">
	<h2><%= tt('past', what: tt(Postdoc, count: 2, nocap: true)) %></h2>
	<div class="row justify-content-center my-3">
		<div class="col col-lg-10">
			<%= render 'table', 
				table_opts: {
					title: 'people.postdocs',
					id: 'item-list-PastPostdoc',
				}, people: past_postdocs %>
		</div>
	</div>
</div>
<% end %>

<% content_for :notes do %>
	<li id="centre">
		<%= render partial: 'index_center' %>
	</li>
<% end %>
<% content_for :notes_he do %>
	<li>
		<%= render partial: 'index_center' %>
	</li>
<% end %>



<%= form_button index_type: :dt, partial: 'people/form' %>
<%= form_button visitor, index_type: :dt,
	partial: 'people/visitors/form', id_prefix: 'visitor-' %>

