<template>
  <div>
    <q-tabs v-model="tab" align="justify" dark>
      <q-tab
        v-for="item in ['members', 'emeriti', 'deceased']"
        :key="item"
        :name="item"
        :label="$page_title(`/people/${item}`)"
      />
    </q-tabs>
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel
        v-for="type in ['members', 'emeriti']"
        :key="type"
        :name="type"
      >
        <user-table
          :people="people[type]"
          :user="object"
          :title="$page_title(`/people/${type}`)"
        />
      </q-tab-panel>
      <q-tab-panel name="deceased">
        <div class="row items-start">
          <user-card
            v-for="person in people.deceased"
            :key="person.id"
            class="q-ma-lg"
            :user="person"
          />
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import UserCard from '@/Components/people/UserCard.vue'
import UserTable from '@/Components/people/UserTable.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    UserCard,
    UserTable,
  },
  extends: IndexPage,
  data() {
    return {
      tab: 'members',
    }
  },
  computed: {
    people() {
      return {
        members: this.items.filter((it) => it.isActive),
        emeriti: this.items.filter((it) => it.isRetired),
        deceased: this.items.filter((it) => it.isDeceased),
      }
    },
  },
}
</script>
