<template>
  <div class="flex justify-between q-pa-sm q-gutter-sm">
    <q-toggle
      v-for="group in bgroups"
      :key="group.id"
      v-model="groups"
      :val="group.id"
      :label="group.to_s"
    />
    <q-toggle v-model="other" :label="ttC('other')" />
    <q-space />
    <q-btn-group rounded glossy>
      <q-btn icon="$minus" size="sm" color="amber" @click="none()" />
      <q-btn icon="$plus" size="sm" color="amber" @click="all()" />
    </q-btn-group>
  </div>
  <user-table :people="people" :user="object" :title="$page_title()" grid />
</template>

<script>
import UserTable from '@/Components/people/UserTable.vue'
import IndexPage from '@/Components/IndexPage'

export default {
  components: {
    UserTable,
  },
  extends: IndexPage,
  props: {
    members: Array,
    record: Object,
    allGroups: Array,
  },
  data() {
    return {
      groups: this.allGroups.map((g) => g.id),
      bgroups: this.$bless(this.allGroups),
      other: true,
    }
  },
  computed: {
    people() {
      const grps = new Set(this.groups)
      return this.items.filter(
        (who) =>
          who.research_groups.some((grp) => grps.has(grp.id)) ||
          (who.research_groups.length == 0 && this.other)
      )
    },
  },
  methods: {
    all() {
      this.groups = this.allGroups.map((g) => g.id)
      this.other = true
    },
    none() {
      this.groups = []
      this.other = false
    },
  },
}
</script>
