<%= h1 %>
<% %w[Phd Msc].each do |k| %>
  <% if policy.create? || students[k].present? %>
    <h2><%= tt(k.constantize, count: 2) %></h2>
    <div class="row justify-content-center my-3">
      <div class="col col-lg-10">
        <%= render 'table', people: students[k].decorate,
          table_opts: { id: "item-list-#{k}" } %>
    </div>
    </div>
  <% end %>
<% end %>

<% if past_students.present? %>
	<hr />
	<h2><%= tt('past', what: tt(Student, count: 2, nocap: true)) %></h2>
	<div class="row justify-content-center my-3">
		<div class="col col-lg-10">
			<%= render 'table', people: past_students,
				table_opts: { id: "item-list-PastStudents" } %>
		</div>
	</div>
<% end %>

<%= form_button index_type: :dt, partial: 'people/form' %>

