<template>
  <div lang="en" dir="ltr" class="q-pa-md">
    <page-header content="the center for advanced studies in Mathematics" />
    <q-img
      class="float-left q-ma-md"
      alt="Center's logo"
      src="/images/logo-color-transparent.png"
      width="221px"
      height="270px"
    />
    <section id="about">
      <static-content loc="/research/center/about.html" />
    </section>
    <section id="activities" class="q-my-md">
      <h2 class="text-h4">Center activities</h2>
      <p>
        The following activities and visitors were supported by the center in
        recent years
      </p>
      <q-card>
        <q-toolbar class="bg-secondary" dark>
          <q-toolbar-title>Center Activities</q-toolbar-title>
        </q-toolbar>
        <q-splitter v-model="splitter">
          <template #before>
            <q-tabs v-model="tabYear" vertical class="bg-warning" dark>
              <q-tab v-for="year in recent" :key="year" :name="year + 2013">
                {{ year + 2013 }}
              </q-tab>
              <q-tab v-for="n in 10" :key="n" :name="2013 - n">
                {{ 2013 - n }}
              </q-tab>
            </q-tabs>
          </template>

          <template #after>
            <q-tab-panels
              v-model="tabYear"
              animated
              swipeable
              vertical
              class="activities-panel"
            >
              <q-tab-panel
                v-for="year in recent"
                :key="year"
                :title="year + 2013"
                :name="year + 2013"
                class="q-pa-md"
              >
                <center-activities
                  :events="events[year]"
                  :visitors="visitors[year]"
                />
              </q-tab-panel>
              <q-tab-panel
                v-for="n in 10"
                :key="n"
                :title="2013 - n"
                :name="2013 - n"
                class="q-pa-md"
              >
                <center-activities>
                  <template #events>
                    <static-content
                      :loc="`/research/center/years/${2013 - n}/events.html`"
                    />
                  </template>
                  <template #visitors>
                    <static-content
                      :loc="`/research/center/years/${2013 - n}/visitors.html`"
                    />
                  </template>
                  <template #postdocs>
                    <static-content
                      :loc="`/research/center/years/${2013 - n}/postdocs.html`"
                    />
                  </template>
                </center-activities>
              </q-tab-panel>
            </q-tab-panels>
          </template>
        </q-splitter>
      </q-card>
    </section>
  </div>
</template>

<script>
import StaticContent from '@/Components/StaticContent.vue'
import CenterActivities from '@/Components/research/center/CenterActivities.vue'
import PageHeader from '@/Components/PageHeader.vue'

export default {
  components: {
    StaticContent,
    CenterActivities,
    PageHeader,
  },
  props: {
    events: Array,
    visitors: Array,
  },
  data() {
    return {
      tabYear: null,
      splitter: 20,
    }
  },
  computed: {
    recent() {
      return [...Array(new Date().getFullYear() - 2012).keys()]
        .filter((yy) => !!this.events[yy].length || !!this.visitors[yy].length)
        .reverse()
    },
  },
  created() {
    this.tabYear = this.recent[0]
  },
}
</script>

<style lang="css">
.activities-panel {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
