<template>
  <div lang="en" dir="ltr" class="q-ma-md">
    <page-header content="Friedman Prize For Outstanding Graduate Students" />
    <section id="about">
      <static-content loc="/research/friedman.html" />
    </section>
    <section id="prizes" class="q-my-md">
      <h4>Prize winners</h4>
      <div class="row justify-evenly">
        <div v-for="i in 10" :key="i" class="col-auto">
          <q-card class="q-ma-md q-pb-md prize-year">
            <card-title class="bg-primary" v-text="i + 2002" />
            <static-content :loc="`/research/friedman/${i + 2002}.html`" />
          </q-card>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PageHeader from '@/Components/PageHeader.vue'
import StaticContent from '@/Components/StaticContent.vue'
import CardTitle from '@/Shared/CardTitle.vue'

export default {
  components: {
    StaticContent,
    PageHeader,
    CardTitle,
  },
  props: {
    route: {
      type: String,
      required: true,
    },
    lang: {
      type: String,
      default: 'en',
    },
  },
}
</script>

<style lang="css">
blockquote {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border-left: 1px solid;
  padding-left: 5px;
  columns: 30rem 2;
  column-gap: 2rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
}

.blockquote-footer::before {
  content: '\2014\00A0';
}

.prize-year {
  min-width: 23rem;
  max-width: 30rem;
}
</style>
