<%= f.input :rank, collection: %w[Prof Dr Mr Ms Emeritus] %>
<%= trasto_field(f, [:first, :last], nil, first: {label_id: :first}, last: {label_id: :last}) %>
<%= f.input :email %>
<%= f.input :office %>
<%= f.input :phone %>
<%= f.input :webpage, as: :url %>

<%= f.input :origin %>

<h4><%= tt 'people.visitdates' %></h4>
<%= f.input :duration %>

<%= f.association :hosts,  input_html: { multiple: true }, 
  collection: User.can_host.all.decorate %>

<%= f.input :centre, default: 1 %>

