<% id_prefix = local_assigns[:id_prefix] || '' %>
<%= tabs(
  %w[first_year advanced_undergrad grad service].select{|type|
    policy.edit? || object.public_send(type).present?},
  ->(type) { tt type, scope: %i[teaching generic_course type], count: 2 },
  ->(type) { "#{id_prefix}#{type}-courses" }, id_prefix: id_prefix) do |type| %>

  <%# the following id should correspond to the header set in 
    CoursesController#ajax_prerender %>
  <div class="card-columns columns columns-wide" 
       id="<%= id_prefix %>item-list-<%= type %>">
       <%= render partial: 'teaching/courses/course', 
         collection: object.public_send(type).decorate %>
  </div>
<% end %>


