<% unless @expander_included %>
  <% @expander_included = true %>
<% extrajs do %>
  <%= unpkg_js_tag 'jquery-expander' %>
  <%= javascript_include_tag 'expander' %>
<% end %>
<% end %>

<% cache object_cache_key(course) do %>
  <div class="card bordered course mb-3 course-<%= course.advanced ? 'advanced' : 'basic' %>">
    <div class="card-header">

      <h4 class="card-title d-flex align-items-center">
        <span><%= course.linked_with_actions %><%= course.marks %></span>

        <div class="d-inline-flex flex-grow-1 justify-content-between">
          <span class="formats"><%= 
          link_to_glyphicon :pdf, course.show_path(format: :pdf) 
          %></span>

          <span class="shid">
            <%= course.shid_linked %>
          </span>
          <% if course.credits.present? %>
            <span class="credits mx-1"><%= 
            tt 'teaching.credits', count: course.credits 
            %></span>
          <% end %>
        </div>
      </h4>

      <h5 class="no-indent card-subtitle d-flex justify-content-between 
        align-items-center">
        <%= editable_select course, :lecturer, lecturers, 
          multiple: false do %>
          <%= course.linked_lecturer %>
        <% end %>

        <% if false %>
        <p dir="auto" class="course-hours card-text no-indent">
          <%= markdown(course.hours, inline: true) %>
        </p>
        <% end %>
      <%= render course.descfiles, size: :sm %>
      </h5>
    </div>

    <% if course.some_info.present? %>
    <div class="card-body">
      <div dir="auto" class="expander mathjax card-text">
        <%= markdown(course.some_info) %>
      </div>

    </div>
  <% end %>

  </div>

<% end %>
