<% id_prefix ||= '' %>
<div class="card">
  <div class="card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-8">
          <%= f.label tt(GenericCourse) %>
          <%= f.hint tt(
            :generic_course, scope: %i[simple_form hints course]
          )%>
          <div class="input-group">
            <%= f.association :generic_course, 
              collection: policy_scope(GenericCourse).reorder(:shid).decorate,
              wrapper: false, label: false, hint: false,
              input_html: { class: 'col-11' } %>
            <span class="input-group-append">
              <button type="submit"
                      class="btn btn-warning"
                      data-toggle="tooltip"
                      title="<%= tt('teaching.course_update_tip') %>"
                      name="commit" value="generic_course">
                      <%= tt 'actions.update', title: '' %>
              </button>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <%= f.association :term, collection: policy_scope(Term).decorate %>
        </div>
      </div>
    </div>

    <%= f.button :submit, tt('actions.new', what: tt(GenericCourse)), 
      class: 'btn btn-primary', local: true %>
    <%= f.button :submit, tt('actions.edit', what: tt(GenericCourse)), 
      class: 'btn btn-primary', local: true %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5">
    <%= f.association :lecturer, collection: lecturers %>
  </div>
  <div class="col-sm-7">
    <%= f.input :web, as: :url %>
  </div>
</div>

<div class="card">
  <h5 class="card-header"><%= tt 'teaching.courses!content' %></h5>
  <div class="card-body">
    <div class="row flex">
    <%= trasto_field(f, [:title, :content, :abstract], nil, content: pagedown,
                     abstract: pagedown, langdiv_opts: { class: 'col-md-6' }) 
                   %>
  </div>
  </div>
  <div class="card-body">
<%= f.input :descfiles, as: :attachment_preview, 
  label: tt('file', what: tt('teaching.syllabus')) %>
</div>
</div>

<div class="row">
  <div class="col-sm-7">
    <%= f.input :hours, input_html: { dir: :auto } %>
  </div>
  <div class="col-sm-5">
    <%= f.association :student_rep,
      collection: policy_scope(IssuesStudentRep).decorate %>
  </div>
</div>


