<% content_for :preamble do %>
\usepackage{longtable}
\usepackage{tabu}
\addtolength{\linewidth}{2.7\marginparwidth}
\addtolength{\marginparwidth}{-0.85\marginparwidth}
\addtolength{\textwidth}{0.2\linewidth}
\addtolength{\hoffset}{-0.1\linewidth}
<% end %>

{\renewcommand{\arraystretch}{1.2}
\global\tabulinesep=2mm
%% hours are always in Hebrew
\begin{longtabu}{|X[-2,l]|X[-2,l]|X[-4,r]|}
  <% if local_assigns[:caption] %>
    \caption{<%= lesc caption %>}\\
  <% end %>
  \hline
  \rowfont[l]{}
  \textbf{<%= tt 'name_of', Course, count: 1 %>} &
  \textbf{<%= tt 'teaching.lecturer' %>} & 
  \textbf{<%= tt 'teaching.course_hours' %>} \\
  \hline
  \hline
  <%= render partial: 'teaching/courses/course', collection: courses.decorate 
%>
\end{longtabu}}

%% vim: ft=eruby.tex
