<%= h1(tt('teaching.courses#all', year: year)) %>

<% if fterm %>
    <h2 class="mt-3"><%= fterm.to_html(full: true) %></h2>
  <%= render 'course_list', object: fall, id_prefix: 'fall-' %>
  <%= form_button form_object(term: fterm),
    id_prefix: 'fall',
    title: tt('actions.new',
              what: tt(Course, type: t('teaching.term.name.gfall'), count: 1)) %>

<% end %>

<% if sterm %>
    <h2 class="mt-3"><%= sterm.to_html(full: true) %></h2>
  <%= render 'course_list', object: spring, id_prefix: 'spring-' %>
  <%= form_button form_object(term: sterm),
    id_prefix: 'spring',
    title: tt('actions.new',
              what: tt(Course, type: t('teaching.term.name.gspring'), count: 1)) %>
<% end %>

<%= render 'teaching/terms/course_notes' %>

