<%= h1 do %>
  <%= course.linked_with_actions %>
<% end %>

<div class="row-center">
  <div class="col-xl-10">

    <h3><%= course.term.linked %></h3>

    <% if course&.lecturer.present? %>

      <h2><%= course.linked_lecturer %></h2>

    <% end %>

    <% if false %>
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <h4>
            <%= tt 'coord.time' %> <%= tt('and', what: tt('coord.place')) %>: 
          </h4>
        </div>
        <div class="col-auto">
          <p class="lead mathjax" dir="auto">
            <%= markdown(course.hours, inline: true) %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="card-columns columns-wide">
      <% if course.abstract.present? %>
        <div class="card">
          <h2 class="card-header">
            <%= Course.human_attribute_name(:abstract).capitalize %>
          </h2>

          <div class="card-body course lead mathjax" dir="auto">

            <%= markdown(course.abstract) %>
          </div>
        </div>
      <% end %>
      <% if course.description.present? || 
          course.generic_course.descfiles.present? %>
        <div class="card">
          <h2 class="card-header">
            <%= GenericCourse.human_attribute_name(:description).capitalize %>
          </h2>

          <div class="card-body course lead mathjax" dir="auto">

            <%= markdown(course.description) %>

            <%= embed course.generic_course.descfiles %>

          </div>
        </div>
      <% end %>
      <% if course.content.present? or course.descfiles.present? %>

        <div class="card">
          <h2 class="card-header">
            <%= Course.human_attribute_name(:content).capitalize %>
          </h2>

          <div class="card-body course lead mathjax" dir="auto">

            <%= markdown(course.content) %>

            <%= embed course.descfiles %>

          </div>
        </div>

      <% end %>

    </div>

    <% if course.shid.present? %>

      <h3 class="my-3">
        <%= tt 'teaching.catalog' %>: <%= course.shid_linked %>
      </h3>

    <% end %>

    <% if course.has_issues? %>
      <h2><%= tt 'teaching.issues#index' %></h2>
      <dl class="row">
        <% if course.student_rep.present? %>
          <dt class="col-sm-3">
          <%= tt IssuesStudentRep, count: 1 %>
          </dt>
          <dd class="col-sm-9"><%= course.student_rep.linked %></dd>
        <% end %>
        <% if course.aguda_rep.present? %>
          <dt class="col-sm-3">
          <%= tt IssuesAgudaRep, count: 1 %>
          </dt>
          <dd class="col-sm-9"><%= course.aguda_rep.linked %></dd>
        <% end %>
        <% if course.issues_staffs.present? %>
          <dt class="col-sm-3">
          <%= tt IssuesStaff, count: 2 %>
          </dt>
          <dd class="col-sm-9">
          <ul>
            <% course.issues_staffs.each do |pp| %>
              <li><%= pp.linked(pp.with_dept(:to_html)) %></li>
            <% end %>
          </ul>
          </dd>
        <% end %>

        <% if issues.present? %>
          <dt class="col-sm-3"><%= tt Issue, count: 2 %></dt>
          <dd class="col-sm-9">
          <ul>
            <% issues.decorate.each do |issue| %>
              <li><%= issue.linked_with_actions %> (<%= issue.slug %>)</li>
            <% end %>
          </ul>
          </dd>
        <% end %>
      </dl>
    <% end %>

  </div>
</div>

<% in_outer_locale do %>
  <%= alt_fmt(:pdf) %>
  <%= alt_fmt(:tex) %>
  <% if policy(course.generic_course).show? %>
    <%= footer_item(tt(GenericCourse, count: 1), 
                    [:teaching, course.generic_course]) %>
                <% end %>
              <% end %>


              <%# vim: sw=2 fo=tcqwa ft=eruby.html: 
            %>

