<% content_for :document_class do %>
  \documentclass[oneside,final,11pt]{article}
<% end %>
<% content_for :preamble do %>
  \usepackage{fancyhdr}
  \addtolength{\headheight}{5\baselineskip}
  \renewcommand{\headrulewidth}{0pt}
  \fancyhead[L,R]{}
  \fancyhead[C]{\includegraphics[scale=0.5]{bguhead.png}}
  \fancyfoot[L,C,R]{}
  \addtolength{\voffset}{-70pt}
<% end %>

\pagestyle{fancy}
\begin{center}

  \huge{<%= tt :department %>}\\[0.1\baselineskip]
  \Large{<%= lesc course.term.to_s(full: true) %>}\\[0.2\baselineskip]

\end{center}

\begin{description}
  \item[<%= tt :name_of, Course, count: 1 %>]
    <%= md2tex(course, inline: true) %>

    <% if course.shid.present? %>
  \item[<%= tt 'teaching.shn_name' %>]
    \LRE{<%= course.shid.gsub(/\./, "\u202d.") %>}
    <% end %>

  \item[<%= Course.human_attribute_name(:web).capitalize %>]\mbox{}\\
    \url{<%= course.url %>}

    <% if course.lecturer.present? %>
  \item[<%= Course.human_attribute_name(:lecturer).capitalize %>]
    <%= md2tex(course.lecturer) %>,
    \nolinkurl{<%= "<#{course.lecturer.email_address}>".html_safe %>},
    <%= tt :office %> <%= lesc course.lecturer.office %>
<% end %>

\item[<%= tt 'actions.hours' %>]
  \url{<%= teaching_hours_url %>}
\end{description}

\section*{<%= Course.human_attribute_name(:abstract).capitalize  %>}

<% if course.abstract =~ /[א-ת]/ %>
  \begin{RTL}
  <% end %>
<%= md2tex(course.abstract) %>
<% if course.abstract =~ /[א-ת]/ %>
\end{RTL}
  <% end %>


\section*{<%= Course.human_attribute_name(:content).capitalize  
%>\footnote{<%= tt 'teaching.course_disclaimer' %>}}

<% if course.content =~ /[א-ת]/ %>
  \begin{RTL}
  <% end %>
<%= md2tex(course.content) %>
<% if course.content =~ /[א-ת]/ %>
\end{RTL}
  <% end %>

<%= embed course.descfiles %>

\section*{<%= GenericCourse.human_attribute_name(:description).capitalize %>}

<%= md2tex(course.description) %>

% vim: ft=eruby.tex:
