<template>
  <q-card :class="`course-card ${cardClass}`">
    <q-card-actions>
      <q-btn
        dense
        flat
        :href="object.web"
        :class="`text-info text-h6 ${cardClass}`"
        :style="`max-width: ${someInfo ? '90' : '100'}%`"
        :label="object.to_s"
      />
      <q-space />
      <q-btn
        v-if="someInfo"
        :icon="show ? '$hide' : '$show'"
        flat
        dense
        round
        :class="cardClass"
        @click="show = !show"
      />
    </q-card-actions>

    <card-text>
      <q-btn
        v-if="object.lecturer"
        flat
        class="text-none accent"
        :href="object.lecturer.show_path"
        :class="cardClass"
      >
        {{ object.lecturer }}
      </q-btn>
    </card-text>

    <q-slide-transition v-if="someInfo">
      <div v-show="show">
        <q-separator />

        <card-text class="text-break">
          <q-markdown :src="someInfo" />
        </card-text>
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script>
import CardText from '@/Shared/CardText.vue'
import Course from '@/models/Course'

export default {
  components: {
    CardText,
  },
  props: {
    object: {
      type: Course,
      required: true,
    },
  },
  data() {
    return {
      show: false,
    }
  },
  computed: {
    cardClass() {
      return this.object.level === 'grad' ? 'bg-amber-1' : 'bg-red-1'
    },
    someInfo() {
      return this.object.some_info
    },
  },
}
</script>
<style>
.course-card {
  width: 30rem;
}
</style>
