<template>
  <q-card>
    <card-title dir="auto">
      <Link :href="object.show_path" class="text-info text-h5">{{
        object.title
      }}</Link>
    </card-title>
    <card-subtitle> {{ duration }} {{ object.location }} </card-subtitle>
    <card-text dir="auto">
      <q-markdown :src="object.description" />
    </card-text>
  </q-card>
</template>

<script>
import CardTitle from '@/Shared/CardTitle.vue'
import CardSubtitle from '@/Shared/CardSubtitle.vue'
import CardText from '@/Shared/CardText.vue'

export default {
  components: {
    CardTitle,
    CardSubtitle,
    CardText,
  },
  props: {
    object: {
      type: Object,
      required: true,
    },
  },
  computed: {
    duration() {
      return this.object.duration_text[this.$i18n.locale]
    },
  },
}
</script>
