<template>
  <section v-if="items && items.length > 0" class="q-px-md">
    <h2 class="text-h4 q-pa q-my-auto">
      {{ ttC(title) }}
    </h2>
    <div class="row q-pa-md q-gutter-xs justify-evenly items-center">
      <div v-for="item in items" :key="item.id" class="col-auto q-my-sm">
        <slot :item="item" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
}
</script>
