<template>
  <q-card class="meeting-card">
    <card-text dir="auto">
      <q-btn flat class="bg-success" :href="object.seminar.show_path">
        <span dir="auto">{{ object.seminar }}</span>
      </q-btn>
      {{ object.dateString }}, <temp-range time />

      <q-card-actions>
        <q-btn
          dense
          flat
          :href="object.show_path"
          class="text-info text-h6"
          :style="`max-width: ${object.abstract ? '90' : '100'}%`"
          :label="object.to_s"
        />
        <q-space />
        <q-btn
          v-if="object.hasInfo"
          :icon="show ? '$hide' : '$show'"
          flat
          dense
          round
          @click="show = !show"
        />
      </q-card-actions>

      <q-btn flat class="text-accent" :href="object.speaker_web" dir="auto">
        <q-markdown :src="object.fullSpeakerText" />
      </q-btn>
    </card-text>

    <q-slide-transition v-if="object.hasInfo">
      <div v-show="show">
        <q-separator />

        <card-text v-if="object.abstract" dir="auto" class="text-break">
          <q-markdown :src="object.abstract" />
        </card-text>
        <show-files :files="object.descfiles" />
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script>
import CardText from '@/Shared/CardText.vue'
import TempRange from '@/Shared/TempRange.vue'
import ShowFiles from '@/Components/ShowFiles.vue'
import Meeting from '@/models/Meeting'
import objectProvider from '@/mixins/objectProvider'

export default {
  components: {
    CardText,
    TempRange,
    ShowFiles,
  },
  mixins: [objectProvider],
  props: {
    object: {
      type: Meeting,
      required: true,
    },
  },
  data() {
    return {
      show: false,
    }
  },
}
</script>

<style>
.meeting-card {
  width: 30rem;
}
</style>
