<template>
  <q-card>
    <card-title class="text-info" dir="auto">
      {{ object }}
      <q-btn v-if="mailto" flat :href="mailto">{{ fullEmail }}</q-btn>
    </card-title>

    <q-card-section>
      <q-list v-for="user in users" :key="user.id" dense>
        <q-item>
          <q-item-section v-if="userPhoto(user)" avatar>
            <q-avatar><img :src="userPhoto(user)" /></q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <q-btn
                flat
                :href="user.show_path"
                dir="auto"
                class="text-accent no-padding"
              >
                {{ user }}
              </q-btn>
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="userEmail(user)" :href="userTo(user)">
          <q-item-section avatar><q-icon name="$email" /></q-item-section>
          <q-item-section>
            <q-item-label>{{ userEmail(user) }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="user.phone">
          <q-item-section avatar><q-icon name="$phone" /></q-item-section>
          <q-item-section>
            <q-item-label>{{ user.phone }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-if="user.office">
          <q-item-section avatar><q-icon name="$office" /></q-item-section>
          <q-item-section>
            <q-item-label>{{ user.office }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
import CardTitle from '@/Shared/CardTitle.vue'
import Role from '@/models/Role'

export default {
  components: {
    CardTitle,
  },
  props: {
    object: {
      type: Role,
      required: true,
    },
  },
  computed: {
    users() {
      return this.object.users
    },
    fullEmail() {
      return this.object.email_address
    },
    mailto() {
      return `mailto:${this.fullEmail}`
    },
  },
  methods: {
    userPhoto(user) {
      return user.photo?.web
    },
    userEmail(user) {
      return user.email_address
    },
    userTo(user) {
      return `mailto:${this.userEmail(user)}`
    },
  },
}
</script>
