<% cache object_cache_key(event) do %>
<li dir="auto">
  <p class="no-indent my-1">
    <%= event.action_list %>
    <%= event.online_icon %>
    <%= event.to_pagehtml('#centre') %>

  <%= render event.descfiles, size: :sm %>
  </p>

  <% if event.description %>
    <div class="seminar bordered mathjax mt-2 mb-3 px-1" dir="auto">
      <%= markdown(event.description) %>
    </div>
  <% end %>
</li>

<% end %>
