<%= f.input :title %>
<hr/>
<%= f.input :web, as: :url %>
<%= f.input :description, pagedown %>
<%= f.input :descfiles, as: :attachment_preview, 
  label: tt('file', what: tt('description')) %>

<div class="row">
  <div class="col-md-6">
    <%= f.input :location %>
  </div>
  <div class="col-md-6">
    <%= f.input :online, input_html: { autocomplete: 'url' } %>
  </div>
</div>

<%= f.input :duration %>

<%= f.input :expires, as: :date_picker, html5: true %>

<%= f.input :slug %>

<%= f.input :centre, default: 1 %>

<%= f.input_admins %>


