<% unless list.empty? %>
  <div class="row-flex justify-content-center">
  <div class="col col-md-10 col-lg-8 my-2">
    <h3><%= title %></h3>
      <%= yield :top %>
       <ul class="event-list">
         <%= render list %>
       </ul>
  </div>
  </div>
 <% end %>

