<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, research_events_url(format: :atom) %>
  <%= auto_discovery_link_tag :rss, research_events_url( format: :rss)%>
<% end %>

<%= h1 do %>
  <%= get_title %>
  <span class="formats">
    <%= link_to_glyphicon :ical, 
      research_events_url(format: :ics, protocol: 'webcal') %>
    <%= link_to_glyphicon :atom, research_events_url(format: :atom) %>
  </span>
<% end %>

<%= tabs([[tt('research.events!upcoming'), 'upcoming', cur],
          [tt('research.events!recent'), 'recent', recent],
          [tt('research.events!past'), 'past', past]].select{|x| 
            x.last.present? }) do |l| %>
<% if l[1] == 'past' %>
  <p class="text-larger text-center">
  <strong>Some older events may be found on the pages of the 
    <a href="<%= research_center_path(anchor: :past) %>">
      Center for Advanced Studies</a>.
  </strong>
  </p>
<% end %>

  <%= render partial: 'period', locals: { list: l[2], title: l[0] } %>
<% end %>

<div class="row-flex justify-content-center">
  <div class="bordered well col-md-6" id="centre">
    <%= render partial: 'index_center' %>
  </div>
</div>

<%= new_button %>

