\begin{center}
\vspace*{\baselineskip}

{\Large <%= tt 'fdepname' %>}

\vspace*{\baselineskip}

\rule{\textwidth}{1.6pt}\vspace*{-\baselineskip}\vspace*{2pt}
\rule{\textwidth}{0.4pt}\\[\baselineskip]

{\Huge <%= lesc event %>}\\[0.2\baselineskip]

\rule{\textwidth}{0.4pt}\vspace*{-\baselineskip}\vspace{3.2pt}
\rule{\textwidth}{1.6pt}\\[\baselineskip]
\end{center}

<%= md2tex(event.description) %>

<%= embed event.descfiles %>

\vfill

\textbf{Time}: \emph{<%= date_range(event.starts, event.ends) %>}

\bigskip

\textbf{Location}: \emph{<%= lesc event.location %>}

\vspace*{2\baselineskip}

\bigskip

\textbf{Web}: \emph{<%= lesc event.web %>}


% vim: ft=eruby.tex:

