<% provide(:title, event) %>
<%= h1 do %>
  <%= event %><%= event.action_list %>
<% end %>

<div class="row-flex justify-content-stretch align-items-center">
  <div class="col-auto">
    <dl class="row details-dl">
      <dt class="col-5"><%= tt 'coord.time' %></dt>
      <dd class="col-7"><%= date_range(event.starts, event.ends) %></dd>
      <dt class="col-5"><%= tt 'coord.place' %></dt>
      <dd class="col-7"><%= event.location %></dd>

<% unless current_page?(event.web) %>
      <dt class="col-5"><%= tt 'teaching.webpage' %></dt>
      <dd class="col-7"><%= event.linked %></dd>
<% end %>
    </dl>
  </div>
<% if event.online.present? %>
    <div class="col-auto">
      <%= event.online_btn %>
    </div>
  <% end %>
</div>


<% unless event.description.blank? and event.descfiles.empty? %>
  <div class="row-flex justify-content-center my-1">
<div class="col col-lg-10 col-xl-8 mathjax" dir="auto">
  <%= markdown(event.description) %>
  <%= embed event.descfiles %>
</div>
  </div>
<% end %>


    <div class="text-center my-1">
      <%= alt_fmt(:pdf) %>
      <%= alt_fmt(:tex) %>

      <% if current_user %>
        <%= footer_item(tt(:sendemail), email_research_event_path(event)) %>
      <% end %>

    </div>


