<li>
  <i>Distinguished Lecture Series</i>:
  Prof. Percy Deift, Courant Institute, U.S.A., March 04, 2004
</li>
<li>
  <i>Honorary Colloquium</i>:
  Prof. Beno Eckmann, ETH, Switzerland, May 2004.
</li>
<li>
  <i>Honorary Colloquium</i>:
  Prof. Gene Golub, Standford University, U.S.A., May 2004
</li>
<li>
  <a href="http://www.isib.cnr.it/control/gombani/workshop/">
    Workshop on Observation and Estimation</a>, July 12-16, 2004
</li>
<li>
  <a href="/~arkady/Topo_conference/poster_top6.pdf">
    A Short Conference in General Topology</a>, Apr. 29-30, 2004
</li>
<li><!-- BROKEN: http://www.math.bgu.ac.il/~dany/conf2.html -->
<i>Conference on Operator Theory, System Theory and Scattering Theory: 
  Multidimensional Generalizations</i>, June 30-July 3, 2003
</li>
<li><a href="/~berend/hillel-conference/index.html">FurstenFest 2003: Conference on Probability in Mathematics</a>, held in honor of Hillel Furstenberg, June 22-24, 2003</li>
<li><a href="/~borisz/workshop.html">Fifth Negev Workshop on Applied Mathematics</a>, June 17-21, 2003 </li>
<li>Lecture Series - The PCP theorem and its applications, Irit Dinur, Jan. 13-14, 2003</li>

