<li>Guy Cohen, Ph.D. at Ben-Gurion University of the Negev, was mentored by Prof.  Michael Lin and Prof. Paul Fuhrmann.</li>
<li>Christophe Cuny, Ph.D. University of Rennes, mentored by Prof. Michael Lin and Prof.  Yossi Francos.</li>
<li>Dmitry Kalyuzhnyi-Verbovetzki, Ph.D. University of Kharkov, mentored by Prof. Daniel Alpay and Dr. Victor Vinnikov.</li>
<li>Henryk Michalewski, Ph.D. University of Warsaw, mentored by Prof. Menachem Kojman.</li>
<li>Owen Patashnick, Ph.D. University of Chicago, mentored by Dr. Amnon Besser.</li>
<li>Dvora Peretz, Ph.D. at Ben-Gurion University of the Negev was mentored by Prof.  Theodore Eisenberg.</li>
<li>Kobi Snitz, Ph.D. University of Maryland, mentored by Dr. Nadya Gurevich.</li>
<li>Dan Volok, Ph.D. Weizmann Institute, mentored by Prof. Daniel Alpay and Dr. Victor Vinnikov.</li>
<li>XiaoXiang Yu, Ph.D. Purdue University was mentored by Dr. Nadya Gurevich.</li>
