<li>B. Balcar, Institute for Advanced Studies of Charles University and the Academy of Sciences of the Czech Republic</li>
<li>V. Bergelson, Ohio State University, U.S.A</li>
<li>R. Boneh, Univesite' de Savoie, France</li>
<li>A. Bufetov, Princeton University, USA</li>
<li>Z. Clemente, Milano University, Italy</li>
<li>P. Deift, Courant Institute, NY, USA</li>
<li>I. Dinur, The Institute of Advanced Studies, Princeton, NJ, U.S.A</li>
<li>B. Eckmann, ETH, Zurich, Switzerland</li>
<li>A. Filippov, Moscow State University, Russia</li>
<li>G. Golub, Stanford University, California, USA</li>
<li>S. Gulko, Tomsk University, Russia</li>
<li>F. Hidekazu, Research Institute of Mathematical Sciences (RIMS) in Kyoto, Japan</li>
<li>A. Iserles, Cambridge, England</li>
<li>V. Kaimanovich, CNRS, Rennes University, France</li>
<li>G. Kolesnik, California State University, U.S.A</li>
<li>W. Kubish, University of Katovice, Poland</li>
<li>M. Kulikov, Moscow State University, Russia</li>
<li>B. Lin, University of Iowa, USA</li>
<li>P. Milman, University of Toronto, Canada</li>
<li>T. Mills, Latrobe University, Bendigo, Australia</li>
<li>S. Moltchanov, University of North Carolina of Charlotte, U.S.A</li>
<li>M. Mustafa, Taurida National University, Ukraine</li>
<li>D. Nikolova , Bulgarian Academy of Sciences, Bulgaria</li>
<li>S. Raianu, Cal State University, California, USA</li>
<li>A. Ramm, Kansas State University, U.S.A</li>
<li>L. Rodman, Wiiliam and Mary, USA</li>
<li>B. Shapira, Technion, Israel</li>
<li>M. Shapiro-Fishman, IPN, Mexico city, Mexico.</li>
<li>D. Sternheimer, CNRS, Dijon, France</li>
<li>G. Surdotovich, Institute of Radifisik and Electronics of the Russian Academy of Sciences, Russia</li>
<li>D. Yakobov, Universidad Autonoma de Madrid, Spain</li>
