<template>
  <vue-cropper
    ref="cropper"
    :src="url"
    auto-zoom
    :stencil-props="stencil"
    :min-width="width"
    :min-height="height"
    @change="change"
  />
  <div
    v-if="controls || extraButtons.length"
    class="row justify-center q-py-md"
  >
    <q-btn-group rounded>
      <q-btn
        v-for="btn in buttons"
        :key="btn.icon"
        rounded
        glossy
        size="xs"
        :icon="'$' + btn.icon"
        @click="btn.click()"
      >
        <q-tooltip>{{ ttC(`actions.${btn.icon}`) }}</q-tooltip>
      </q-btn>
    </q-btn-group>
  </div>

  <div v-if="details" class="row justify-between q-py-md">
    <q-input
      v-model.number="image.x"
      square
      outlined
      dense
      type="number"
      prefix="L"
      class="col"
    />
    <q-input
      v-model.number="image.y"
      square
      outlined
      dense
      type="number"
      prefix="T"
      class="col"
    />
    <q-input
      v-model.number="image.width"
      square
      outlined
      dense
      type="number"
      prefix="W"
      class="col"
    />
    <q-input
      v-model.number="image.height"
      square
      outlined
      dense
      type="number"
      prefix="H"
      class="col"
    />
  </div>
</template>

<script>
import { Cropper as VueCropper } from 'vue-advanced-cropper'
//import 'vue-advanced-cropper/dist/style.css'

export default {
  components: {
    VueCropper,
  },
  props: {
    image: {
      type: Object,
      required: true,
    },
    details: {
      type: Boolean,
      default: false,
    },
    controls: {
      type: Boolean,
      default: false,
    },
    width: {
      type: Number,
      default: null,
    },
    height: {
      type: Number,
      default: null,
    },
    extraButtons: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    const stencil = {}
    if (this.height) {
      stencil.aspectRatio = this.width / this.height
    }
    const me = this
    return {
      stencil,
      defaultButtons: [
        { icon: 'flipHorizontal', click: me.fliph },
        { icon: 'flipVertical', click: me.flipv },
        { icon: 'rotateLeft', click: me.rotl },
        { icon: 'rotateRight', click: me.rotr },
      ],
    }
  },
  computed: {
    cropper() {
      return this.$refs.cropper
    },
    file() {
      return this.image.file
    },
    url() {
      return this.image.url ?? this.file?.__img?.src ?? null
    },
    buttons() {
      return this.defaultButtons.concat(this.extraButtons)
    },
  },
  mounted() {
    this.cropper.setCoordinates({
      width: this.image.width,
      height: this.image.height,
      left: this.image.x,
      top: this.image.y,
    })
    if (this.file) {
      this.file.___cropper = this.cropper
      this.file.___uploadTransform = async () => {
        const { canvas } = this.cropper.getResult()
        const blob = await new Promise((resolve) => canvas.toBlob(resolve))
        const file = new File([blob], this.file.name, { type: this.file.type })
        file.__key = this.file.__key
        file.__progress = this.file.__progress
        file.__progressLabel = this.file.__progressLabel
        file.__sizeLabel = this.file.__sizeLabel
        file.__status = this.file.__status
        file.__uploaded = this.file.__uploaded
        return file
      }
    }
  },
  methods: {
    change(det) {
      this.image.x = det.coordinates.left
      this.image.y = det.coordinates.top
      this.image.width = det.coordinates.width
      this.image.height = det.coordinates.height
    },
    flipv() {
      this.cropper.flip(false, true)
    },
    fliph() {
      this.cropper.flip(true, false)
    },
    rotl() {
      this.cropper.rotate(-90)
    },
    rotr() {
      this.cropper.rotate(90)
    },
  },
}
</script>

<style lang="css">
.q-field--outlined .q-field__control {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
</style>
