<template>
  <pe-input :attr="attr">
    <template #display="prps">
      <slot name="display" v-bind="prps">
        <ul :class="cls">
          <li v-for="it in value" :key="it" v-html="it" />
        </ul>
      </slot>
    </template>

    <template #input="prps">
      <sf-association v-bind="prps" :options="options" />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfAssociation from './SfAssociation.vue'

export default {
  components: {
    SfAssociation,
  },
  extends: PeComponent,
  props: {
    attr: {
      type: String,
      required: true,
    },
    options: {
      type: Array,
    },
  },
  computed: {
    editable() {
      return this.object.editable && this.$state.editing
    },
    ids() {
      return this.object[this.$iattr(this.attr)]
    },
    value() {
      return (
        this.object[this.attr] ||
        this.options.filter((opt) => this.ids.includes(opt.id))
      )
    },
    cls() {
      return 'q-mt-none' + (this.editable ? ' editable' : '')
    },
  },
}
</script>

<style lang="postcss" scoped>
.editable {
  border: red dashed thin;
}
</style>
