<template>
  <component :is="parent" v-if="editable || content || $slots.display">
    <slot name="display" :scope="{ editable }">
      <component
        :is="parent"
        :class="editable ? 'editable' : ''"
        v-html="content"
      />
    </slot>
    <popup-edit
      :object="object"
      :target="editable"
      class="bg-accent text-white"
      :buttons="buttons"
    >
      <slot name="input" :attr="attr" :object="object" v-bind="$attrs" />
    </popup-edit>
  </component>
</template>

<script>
import PopupEdit from './PopupEdit.vue'
import objectMixin from '@/mixins/objectMixin'

export default {
  components: {
    PopupEdit,
  },
  mixins: [objectMixin],
  props: {
    attr: {
      type: String,
      required: true,
    },
    parent: {
      type: String,
      default: 'span',
    },
    buttons: {
      type: Boolean,
      default: false,
    },
    display: {
      type: String,
    },
    locale: {
      type: String,
    },
  },
  computed: {
    editable() {
      return this.object.editable && this.$state.editing
    },
    value() {
      return this.locale
        ? this.object[this.attr][this.locale]
        : this.object[this.attr]
    },
    content() {
      return (
        this.display ??
        (this.parent === 'span'
          ? this.$mdi(this.value || '')
          : this.$md(this.value || ''))
      )
    },
  },
}
</script>
<style lang="postcss" scoped>
.editable {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: red;
  text-underline-offset: 3px;
  &:empty {
    &::before {
      font-family: 'Material Design Icons';
      cursor: pointer;
      content: '\F03EB';
    }
  }
}
</style>
