<template>
  <pe-input :object="object" :attr="attr" :locale="locale">
    <template #input="prps">
      <sf-text-field
        v-bind="prps"
        :label-slot="false"
        :locale="locale"
        autofocus
        standout
        hide-bottom-space
      />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfTextField from './SfTextField.vue'

export default {
  components: {
    SfTextField,
  },
  extends: PeComponent,
  props: {
    attr: {
      type: String,
      required: true,
    },
    locale: {
      type: String,
      required: true,
    },
  },
}
</script>
