<template>
  <pe-input :attr="attr" :display="content">
    <template #input="prps">
      <sf-select :items="items" v-bind="prps" />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfSelect from './SfSelect.vue'

export default {
  components: {
    SfSelect,
  },
  extends: PeComponent,
  props: {
    attr: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
  computed: {
    objval() {
      return this.object ? this.object[this.attr] : null
    },
    content() {
      return this.items[this.objval].label
    },
  },
}
</script>
