<template>
  <pe-input :object="object">
    <template #input="prps">
      <sf-text-field
        v-bind="prps"
        :label-slot="false"
        autofocus
        standout
        hide-bottom-space
      />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfTextField from './SfTextField.vue'

export default {
  components: {
    SfTextField,
  },
  extends: PeComponent,
}
</script>
