<template>
  <pe-input :attr="attr" buttons :display="asText">
    <template v-if="$slots.display" #display="scope">
      <slot name="display" v-bind="scope" />
    </template>
    <template #input="prps">
      <sf-temporal :date="date" :time="time" v-bind="prps" />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfTemporal from './SfTemporal.vue'

export default {
  components: {
    SfTemporal,
  },
  extends: PeComponent,
  props: {
    attr: {
      type: String,
      required: true,
    },
    date: Boolean,
    time: Boolean,
  },
  computed: {
    val() {
      return this.object[this.attr]
    },
    asText() {
      return this.date ? this.$dateString(this.val, this.time) : this.val
    },
  },
}
</script>
