<template>
  <pe-input buttons parent="div">
    <template #input="prps">
      <sf-textarea
        :before="{ class: 'bg-white' }"
        :after="{ class: 'bg-brown' }"
        v-bind="prps"
      />
    </template>
  </pe-input>
</template>

<script>
import PeComponent from './PeComponent'
import SfTextarea from './SfTextarea.vue'

export default {
  components: {
    SfTextarea,
  },
  extends: PeComponent,
}
</script>
