<template>
  <q-menu v-model="isOpen" dark class="q-popup-edit" @before-hide="csubmit">
    <q-form ref="form" @submit.prevent="submit">
      <form-errors :errors="formErrors" />
      <slot />
      <div
        v-if="buttons"
        class="q-popup-edit__buttons row justify-center no-wrap"
      >
        <q-separator />
        <q-btn
          flat
          class="col"
          color="primary"
          icon="$cancel"
          @click="cancel"
        />
        <q-btn
          flat
          class="col"
          color="primary"
          icon="$check"
          @click="csubmit"
        />
      </div>
    </q-form>
  </q-menu>
</template>

<script>
import BaseForm from './base/BaseForm'
import FormErrors from './base/FormErrors.vue'

export default {
  components: {
    FormErrors,
  },
  extends: BaseForm,
  props: {
    buttons: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isOpen: false,
    }
  },
  computed: {
    verb() {
      return 'patch'
    },
    formErrors() {
      if (!this.form.errors) return null

      const keys = Object.keys(this.form.errors)
      return keys.length > 0
        ? keys.map((k) => `${k}: ${this.form.errors[k]}`).join('; ')
        : null
    },
  },
  methods: {
    _success() {
      this.isOpen = false
      return this.success()
    },
    csubmit(evt) {
      if (this.modified) return this.submit(evt)
      else this.isOpen = false
    },
    cancel() {
      this.modelReset()
      this.isOpen = false
    },
  },
}
</script>
