<template>
  <component
    :is="`sf-${as}`"
    :items="items"
    :attr="iattr"
    :tattr="attr"
    :multiple="multiple"
    :itype="itype"
    :use-chips="multiple"
    stack-label
    v-bind="$attrs"
  >
    <template v-for="(index, sname) in $slots" :key="index" #[sname]="sdata">
      <slot :name="sname" v-bind="sdata" />
    </template>
  </component>
</template>

<script>
import SfOptions from './SfOptions.vue'
import SfSelect from './SfSelect.vue'

function isPlural(word) {
  return word.endsWith('s')
}

function pluralize(word) {
  return isPlural(word) ? word : word + 's'
}

export default {
  name: 'SfAssociation',
  components: {
    SfOptions,
    SfSelect,
  },
  props: {
    attr: {
      type: String,
      required: true,
    },
    as: {
      type: String,
      default: 'select',
    },
    ftype: {
      type: String,
      default: (props) => pluralize(props.attr),
    },
    options: {
      type: Array,
    },
    toItem: {
      type: Function,
    },
  },
  computed: {
    multiple() {
      return isPlural(this.attr)
    },
    itype() {
      return this.multiple ? 'checkbox' : 'radio'
    },
    iattr() {
      return this.$iattr(this.attr)
    },
    items() {
      const opts = this.options || this.$page.props.formInfo[this.ftype]
      if (!opts) {
        alert(
          `'${this.ftype}' is missing from form info. Please add it in the controller`
        )
        return
      }
      return opts.map(this.asItem)
    },
  },
  methods: {
    asItem(it) {
      return this.toItem
        ? this.toItem(it)
        : this.$bless(it).asItem ?? {
            value: it.id,
            label: it.label,
            hint: it.hint,
          }
    },
  },
}
</script>
