<template>
  <component
    :is="`q-${itype}`"
    v-model="model[attr]"
    :true-value="true"
    :false-value="false"
    :label="clabel"
    :hint="chint"
  />
</template>

<script>
import BaseInput from './base/BaseInput'
import { QToggle } from 'quasar'

export default {
  components: {
    QToggle,
  },
  extends: BaseInput,
  props: {
    itype: {
      type: String,
      default: 'toggle',
    },
  },
}
</script>
