<template>
  <div class="row">
    <div class="col">
      <div class="row q-col-gutter-md justify-evenly">
        <div
          v-for="item in value"
          :key="item.signed_id"
          class="col q-pa-md q-ma-md relative-position"
        >
          <q-badge v-if="!multiple" transparent outline floating class="select">
            <q-radio
              v-model="model[selected_id]"
              checked-icon="$select"
              unchecked-icon="$unselect"
              :val="item.signed_id"
            />
            <q-tooltip>
              {{ ttC('actions.what.select', { what: ttC(doctype) }) }}
            </q-tooltip>
          </q-badge>

          <q-badge transparent outline floating class="delete">
            <q-checkbox
              v-model="item._destroy"
              text-color="warning"
              color="negative"
              checked-icon="$delete"
              unchecked-icon="$deleteOutline"
              :true-value="1"
              :false-value="null"
            />
            <q-tooltip>{{ ttC('actions.delete') }}</q-tooltip>
          </q-badge>

          <slot name="current" :item="item">
            <q-avatar v-if="item.thumb_url" rounded>
              <img :src="item.thumb_url" />
            </q-avatar>
            <code v-html="item.filename" />
          </slot>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <as-q-uploader
        v-if="uploadUrl"
        multiple
        :accept="docmime"
        :url="uploadUrl"
        :label="
          ttC('actions.what.upload', {
            what: $t(`attributes.${type}.${attr}`),
          })
        "
        @uploaded="uploaded"
      >
        <template #list="scope">
          <q-list separator>
            <q-item v-for="file in scope.files" :key="file.__key">
              <slot name="preview" :file="file" :scope="scope">
                <q-item-section thumbnail class="gt-xs justify-center">
                  <img v-if="file.__img" :src="file.__img.src" />
                </q-item-section>
                <q-item-section>
                  <q-item-label class="full-width ellipsis">{{
                    file.name
                  }}</q-item-label>
                </q-item-section>
                <q-item-section top side>
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="$delete"
                    @click="scope.removeFile(file)"
                  />
                </q-item-section>
              </slot>
            </q-item>
          </q-list>
        </template>
      </as-q-uploader>
    </div>
  </div>
</template>

<script>
import BaseInput from './base/BaseInput'
import AsQUploader from './AsQUploader'

export default {
  components: {
    AsQUploader,
  },
  extends: BaseInput,
  props: {
    multiple: {
      type: Boolean,
      default: true,
    },
    uploadUrl: {
      type: String,
      default: '/rails/active_storage/direct_uploads',
    },
    doctype: {
      type: String,
      default: 'document',
    },
    docmime: {
      type: String,
      default: 'application/pdf',
    },
    // signed_id of the currently selected item, if `multiple` is false
    selectedId: {
      type: String,
      default: null,
    },
  },
  computed: {},
  methods: {
    uploaded({ blob }) {
      this.value.push(blob)
    },
  },
}
</script>

<style lang="css">
.q-badge.select {
  right: -12px;
  top: -6px;
  z-index: 100;
  border: 0;
}

.q-badge.delete {
  left: -10px;
  top: -6px;
  right: unset;
  z-index: 100;
  border: 0;
}
</style>
