<template>
  <div class="row q-col-gutter-md justify-evenly">
    <div
      v-for="item in values"
      :key="item.signed_id"
      class="col-md-3 q-pa-md q-ma-md relative-position"
    >
      <q-badge transparent outline floating class="select">
        <q-radio
          v-model="model[attr]"
          checked-icon="$select"
          unchecked-icon="$unselect"
          :val="item.signed_id"
        />
        <q-tooltip>{{
          ttC('actions.what.select', { what: ttC('photo') })
        }}</q-tooltip>
      </q-badge>

      <q-badge transparent outline floating class="delete">
        <q-checkbox
          v-model="item._destroy"
          text-color="warning"
          color="negative"
          checked-icon="$delete"
          unchecked-icon="$deleteOutline"
          :true-value="1"
          :false-value="null"
        />
        <q-tooltip>{{ ttC('actions.delete') }}</q-tooltip>
      </q-badge>

      <image-cropper
        :image="item"
        :width="$photoWidth"
        :height="$photoHeight"
        details
      />
    </div>
  </div>

  <div class="row justify-evenly">
    <as-q-uploader
      v-if="uploadUrl"
      multiple
      accept="image/*"
      :url="uploadUrl"
      @uploaded="uploaded"
    >
      <template #list="scope">
        <q-list separator>
          <q-item v-for="file in scope.files" :key="file.__key">
            <q-item-section thumbnail class="gt-xs justify-center">
              <image-cropper
                :image="{ file: file }"
                :details="false"
                :extra-buttons="[
                  {
                    icon: 'delete',
                    click() {
                      scope.removeFile(file)
                    },
                  },
                ]"
              />
            </q-item-section>
          </q-item>
        </q-list>
      </template>
    </as-q-uploader>
  </div>
</template>

<script>
import BaseInput from './base/BaseInput'
import ImageCropper from './ImageCropper.vue'
import AsQUploader from './AsQUploader'

export default {
  components: {
    ImageCropper,
    AsQUploader,
  },
  extends: BaseInput,
  props: {
    items: {
      type: String,
      required: true,
    },
    uploadUrl: {
      type: String,
      default: null,
    },
  },
  computed: {
    values() {
      return this.model[this.items]
    },
  },
  methods: {
    uploaded({ blob }) {
      this.values.push({
        signed_id: blob.signed_id,
        //url: //this.$getRoute('rails_service_blob', {
        url: `/rails/active_storage/blobs/${blob.signed_id}/${blob.filename}`,
      })
    },
  },
}
</script>

<style lang="css">
.q-badge.select {
  right: -12px;
  top: -6px;
  z-index: 100;
  border: 0;
}

.q-badge.delete {
  left: -10px;
  top: -6px;
  right: unset;
  z-index: 100;
  border: 0;
}
</style>
