<template>
  <component
    :is="`sf-${kind}`"
    :attr="attr"
    :src="value || ''"
    :dir="$dir(locale)"
    :lang="locale"
    :label="clabel"
    :class="`${tattr}-input ${tattr}-${locale}-input locale-${kind} ${locale}-${kind}`"
    v-bind="$attrs"
  />
</template>

<script>
import BaseInput from './base/BaseInput'
import SfTextField from './SfTextField.vue'
import SfTextarea from './SfTextarea.vue'

export default {
  components: {
    SfTextField,
    SfTextarea,
  },
  extends: BaseInput,
  props: {
    kind: {
      type: String,
      default: 'text-field',
    },
    locale: {
      type: String,
      required: true,
    },
  },
  computed: {
    value() {
      return this.model[this.attr][this.locale]
    },
    clabel() {
      return (
        this.label ||
        `${this.message('labels', true, this.locale, this.tattr)} (${this.ttC(
          'langname.' + this.locale,
          this.locale
        )})`
      )
    },
    chint() {
      if (this.hint) return this.hint

      const hint = this.message('hints', false, this.locale, this.tattr)
      return hint
        ? `${hint} (${this.ttC('langname.' + this.locale, this.locale)})`
        : null
    },
  },
  created() {
    this.model[this.attr] ||= {}
  },
}
</script>

<style lang="css">
div.loc-sf-textarea {
  border: solid 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}
</style>
