<template>
  <div class="row q-col-gutter-x-sm" dir="ltr">
    <div
      v-for="loc in $i18n.availableLocales"
      :key="loc"
      class="col-md-6"
      :lang="loc"
      :dir="$dir(loc)"
    >
      <component
        :is="`sf-${kind(atr)}`"
        v-for="atr in Object.keys(attrs)"
        :key="atr"
        :locale="loc"
        :tattr="atr"
        :attr="`${atr}_i18n`"
        v-bind="attrsOf(atr)"
      />
    </div>
  </div>
</template>

<script>
import SfTextField from './SfTextField.vue'
import SfTextarea from './SfTextarea.vue'

export default {
  components: {
    SfTextField,
    SfTextarea,
  },
  props: {
    attrs: {
      type: Object,
      required: true,
    },
  },
  methods: {
    kind(atr) {
      return this.attrs[atr]['kind'] || 'text-field'
    },
    attrsOf(atr) {
      const { kind, ...res } = this.attrs[atr]
      return Object.assign({}, this.$attrs, res)
    },
  },
}
</script>
