<template>
  <div class="row">
    <div class="col col-md-6 q-px-md">
      <sf-password-field :attr="attr" autocomplete="new-password" />
    </div>
    <div class="col col-md-6 q-px-md">
      <sf-password-field :attr="confAttr" persistent-hint :rules="[ident]" />
    </div>
  </div>
</template>

<script>
import BaseInput from './base/BaseInput'
import SfPasswordField from './SfPasswordField.vue'

export default {
  components: {
    SfPasswordField,
  },
  extends: BaseInput,
  props: {
    attr: {
      type: String,
      default: 'password',
    },
  },
  computed: {
    confAttr() {
      return `${this.attr}Confirmation`
    },
  },
  methods: {
    ident(val) {
      return (
        val === this.value || this.ttC(`forms.errors.${this.attr}.confirmation`)
      )
    },
  },
}
</script>
