<template>
  <div class="row">
    <q-list v-for="i in 2" :key="i" class="col" v-bind="$attrs">
      <q-item
        v-for="(item, ind) in items.slice((i - 1) * hlen, i * hlen)"
        :key="ind"
        v-ripple
        tag="label"
      >
        <q-item-section avatar>
          <component
            :is="`q-${itype}`"
            v-model="model[attr]"
            :val="item.value"
            :true-value="true"
            :false-value="null"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ item.label }}</q-item-label>
          <q-item-label v-if="item.hint" caption>{{ item.hint }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import BaseInput from './base/BaseInput'
import { QCheckbox, QRadio } from 'quasar'

function isPlural(word) {
  return word.match(/s$/)
}

export default {
  components: {
    QCheckbox,
    QRadio,
  },
  extends: BaseInput,
  props: {
    items: Array,
    multiple: {
      type: Boolean,
      default: (props) => isPlural(props.attr),
    },
    itype: {
      type: String,
      default: (props) => (props.multiple ? 'checkbox' : 'radio'),
    },
  },
  computed: {
    hlen() {
      return Math.ceil(this.items.length / 2)
    },
  },
}
</script>
