<template>
  <sf-text-field
    :attr="attr"
    :type="show ? 'text' : 'password'"
    dir="ltr"
    lang="en"
  >
    <slot />
    <template #append>
      <slot name="append">
        <q-icon
          :name="show ? '$visible' : '$invisible'"
          class="cursor-pointer"
          @click="show = !show"
        />
      </slot>
    </template>
  </sf-text-field>
</template>

<script>
import BaseInput from './base/BaseInput'
import SfTextField from './SfTextField.vue'

export default {
  components: {
    SfTextField,
  },
  extends: BaseInput,
  props: {
    attr: {
      type: String,
      default: 'password',
    },
  },
  data() {
    return {
      show: false,
    }
  },
}
</script>
