<template>
  <q-select
    v-model="model[attr]"
    bottom-slots
    label-slot
    map-options
    emit-value
    :error="!!errors"
    :options="options"
    v-bind="$attrs"
  >
    <slot />
    <template #prepend>
      <slot name="prepend" />
    </template>
    <template #append>
      <slot name="append" />
    </template>
    <template v-if="chint" #hint>
      <slot name="hint">
        <span class="select-hint" v-html="chint" />
      </slot>
    </template>
    <template #label>
      <slot name="label">
        <span class="all-pointer-events select-label" v-html="clabel" />
      </slot>
    </template>
    <template v-if="errors" #error>
      <slot name="error">
        <span class="all-pointer-events select-errors" v-html="errors" />
      </slot>
    </template>
  </q-select>
</template>

<script>
import BaseInput from './base/BaseInput'

export default {
  extends: BaseInput,
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  computed: {
    options() {
      return this.items.map((it) =>
        typeof it === 'object' ? it : { label: this.itemText(it), value: it }
      )
    },
  },
  methods: {
    itemText(it) {
      return this.ttC(`${this.attr}.${it}`)
    },
  },
}
</script>
