<template>
  <q-field :label="dlabel" stack-label>
    <template #control>
      <q-slider v-model="value" label v-bind="$attrs" />
    </template>
  </q-field>
</template>

<script>
import BaseInput from './base/BaseInput'

export default {
  extends: BaseInput,
  computed: {
    dlabel() {
      return `${this.clabel}: ${this.value}`
    },
  },
}
</script>
