<template>
  <sf-text-field
    v-model="model[attr]"
    :attr="attr"
    :subtitle="clabel"
    :title="title"
  >
    <template v-if="date" #prepend>
      <q-icon name="$calendar" class="cursor-pointer">
        <q-popup-proxy
          ref="qDateProxy"
          cover
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date
            v-model="model[attr]"
            :mask="mask"
            @update:model-value="$refs.qDateProxy.hide()"
          />
        </q-popup-proxy>
      </q-icon>
    </template>

    <template v-if="time" #append>
      <q-icon name="$time" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-time v-model="model[attr]" :mask="mask" format24h now-btn />
        </q-popup-proxy>
      </q-icon>
    </template>
  </sf-text-field>
</template>

<script>
import BaseInput from './base/BaseInput'
import SfTextField from './SfTextField.vue'

export default {
  components: {
    SfTextField,
  },
  extends: BaseInput,
  props: {
    title: {
      type: String,
      default: '',
    },
    date: {
      type: Boolean,
      default: false,
    },
    time: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      mask: [this.date && 'YYYY-MM-DD', this.time && 'HH:mm']
        .filter((x) => x)
        .join(' '),
    }
  },
  methods: {
    formatDate(date) {
      if (!date) return null

      return date.split('-').reverse().join('/')
    },
    parseDate(date) {
      if (!date) return null

      return date
        .split('/')
        .reverse()
        .map((x) => x.padStart(2, '0'))
        .join('-')
    },
  },
}
</script>
