<template>
  <div class="q-py-md">
    <q-splitter v-model="splitter" class="items-stretch">
      <template #before>
        <sf-text-field
          :attr="attr"
          :tattr="tattr"
          hide-bottom-space
          type="textarea"
          outlined
          class="no-padding"
          v-bind="beforea"
          :label="label"
          :hint="hint"
          :locale="locale"
        />
      </template>

      <template #after>
        <div class="q-px-sm" v-bind="after">
          <h6
            class="no-margin text-subtitle2"
            v-html="ttC('forms.misc.preview', loc)"
          />
          <q-markdown :src="ssrc" />
        </div>
      </template>
    </q-splitter>
  </div>
</template>

<script>
import BaseInput from './base/BaseInput'
import { QMarkdown } from '@quasar/quasar-ui-qmarkdown'
import SfTextField from './SfTextField.vue'

export default {
  components: {
    QMarkdown,
    SfTextField,
  },
  extends: BaseInput,
  props: {
    src: {
      type: String,
    },
    before: {
      type: Object,
      default: () => {},
    },
    after: {
      type: Object,
      default: () => {},
    },
    label: String,
    hint: String,
    locale: String,
  },
  data() {
    return {
      splitter: 50,
    }
  },
  computed: {
    loc() {
      return this.locale || this.$i18n.locale
    },
    ssrc() {
      //return this.src ?? this.model[this.attr]
      return this.value
    },
    beforea() {
      return Object.assign({}, this.$attrs, this.before)
    },
  },
}
</script>

<style src="@quasar/quasar-ui-qmarkdown/dist/index.css"></style>
