<template>
  <q-input
    v-model="value"
    bottom-slots
    label-slot
    :dir="$dir(locale)"
    :lang="locale"
    :label="clabel"
    :error="!!errors"
    :class="`${tattr}-input ${tattr}-${locale}-input`"
    v-bind="$attrs"
  >
    <slot />
    <template v-if="$slots.prepend" #prepend>
      <slot name="prepend" />
    </template>
    <template v-if="$slots.append" #append>
      <slot name="append" />
    </template>
    <template v-if="$slots.before" #before>
      <slot name="before" />
    </template>
    <template v-if="$slots.after" #after>
      <slot name="after" />
    </template>
    <template v-if="chint" #hint>
      <slot name="hint">
        <span class="hint" v-html="chint" />
      </slot>
    </template>
    <template v-if="clabel" #label>
      <slot name="label">
        <span class="label all-pointer-events" v-html="clabel" />
      </slot>
    </template>
    <template #error>
      <slot v-if="errors" name="error">
        <span class="error all-pointer-events" v-html="errors" />
      </slot>
    </template>
  </q-input>
</template>

<script>
import BaseInput from './base/BaseInput'

export default {
  extends: BaseInput,
}
</script>
