<template>
  <component :is="modal ? 'q-card' : 'div'">
    <q-form ref="fform" @submit.prevent="submit">
      <slot name="header" :title="formTitle">
        <q-toolbar v-if="modal" class="bg-secondary glossy">
          <q-toolbar-title>{{ formTitle }}</q-toolbar-title>
          <q-btn v-close-popup flat icon="$close" />
        </q-toolbar>
        <h1 v-else class="text-h4 text-center" v-html="formTitle" />
      </slot>

      <component
        :is="modal ? 'q-card-section' : 'div'"
        :class="dense ? 'no-padding q-px-md' : ''"
      >
        <form-errors :errors="formErrors" />
        <slot />
      </component>

      <q-separator />

      <slot name="actions">
        <component
          :is="modal ? 'q-card-actions' : 'div'"
          class="row justify-evenly q-my-md"
          :dense="modal"
        >
          <q-btn color="primary" type="submit" :disabled="form.processing">
            {{ ttC('submit') }}
          </q-btn>
          <q-space v-if="modal" />
          <q-btn color="secondary" type="reset" @click="reset">
            {{ ttC('reset') }}
          </q-btn>
        </component>
      </slot>
    </q-form>
  </component>
</template>

<script>
import BaseForm from './base/BaseForm'
import FormErrors from './base/FormErrors.vue'
import { QCard, QCardSection, QCardActions } from 'quasar'

export default {
  components: {
    QCard,
    QCardSection,
    QCardActions,
    FormErrors,
  },
  extends: BaseForm,
  props: {
    dense: {
      type: Boolean,
      default: false,
    },
    modal: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    formTitle() {
      return this.ttC(`actions.what.${this.create ? 'new' : 'edit'}`, {
        what: this.$t(`models.${this.type}`),
      })
    },
    formErrors() {
      return this.form.errors && Object.keys(this.form.errors).length > 0
        ? this.form.errors['base'] || 'Please correct form errors'
        : null
    },
  },
}
</script>
