<div class="row">
  <div class="col-md-6">
<%= f.input :shid,  wrapper: :vertical_input_group, 
  wrapper_html: { dir: :auto } do %>
  <%= f.input_field :shid, class: 'form-control' %>
  <span class="input-group-append">
    <button type="submit" 
            class="btn btn-warning" 
            data-toggle="tooltip" 
            title="<%= tt 'teaching.course_info_tip' %>" 
            name="commit" value="shnaton">
      <%= tt 'actions.update', title: tt('teaching.course_info') %>
    </button>
  </span>
<% end %>
</div>
  <div class="col-md-6">
<%= f.input :slug %>
</div>
</div>


<h4><%= tt('teaching.courses!content') %></h4>
<div class="row">
  <%= trasto_field(f, [:name, :description], nil, description: pagedown,
                   langdiv_opts: { class: 'col-md-6' }) %>
</div>
<%= f.input :descfiles, as: :attachment_preview, 
  label: tt('file', what: tt('teaching.syllabus')) %>

<h5><%= tt 'teaching.generic_course.hours_credits' %></h5>
<div class="row flex">
  <div class="col">
    <%= f.input :lectures %>
  </div>
  <div class="col">
    <%= f.input :exercises %>
  </div>
  <div class="col">
    <%= f.input :credits, wrapper_html: {
      data: { toggle: 'tooltip' }, title: 'Leave empty for computed' }, 
    input_html: {
        value: f.object[:dcredits] ? f.object.credits : nil
      } %>
  </div>
</div>

<h5><%= tt :attribs %></h5>
<%= f.input :advanced, wrapper_html: { data: { toggle: 'tooltip' },
                                       title: 'Show in course list' }  %>
<%= f.input :graduate %>
<%= f.input :prereq %>
<%= f.input :core %>
<h6><%= tt 'teaching.generic_course.given_in' %></h6>
<div class="row">
  <div class="col">
<%= f.input :fall %>
  </div>
  <div class="col">
<%= f.input :spring %>
  </div>
</div>

<h4><%= tt 'teaching.issues#index' %></h4>
<%= f.association :departments,
  collection: policy_scope(Department).decorate %>
<%= f.association :aguda_rep,
  collection: policy_scope(IssuesAgudaRep).decorate %>

<h4><%= tt Shnaton, count: 1 %></h4>
<%= f.association :requires,
  collection: policy_scope(GenericCourse).reorder(:shid).decorate %>

<%= f.association :course_lists %>

<h4><%= tt 'teaching.generic_course.history' %></h4>

<%= f.association :year_added, collection: AcYear.all.decorate %>
<%= f.association :year_removed, collection: AcYear.all.decorate %>
<%= f.association :replaces, collection: GenericCourse.include_deprecated.decorate  %>


