          <li>
            Courses marked with <%= glyphicon('flash', '(*)') %> are required 
            for admission to the M.Sc.  program in Mathematics.
          </li>
          <li>
            The M.Sc. degree requires the successful completion of at least 2 
            courses marked <%= glyphicon('education', '(#)') %>. See the 
            <%= link_to('graduate program', teaching_grad_path) %> for details
          </li>
          <li>
            The graduate courses are open to strong undergraduate students who 
            have a grade average of 85 or above and who have obtained 
            permission from the instructors and the head of the teaching 
            committee.
          </li>
          <li>
            Please see the detailed
            <%= link_to('undergraduate', teaching_shnaton_path) %> 
            and <%= link_to('graduate', teaching_grad_path) %> programs for the
            for details on the requirments and possibilities for complete the
            degree.
          </li>
