<% cache object_cache_key(generic_course) do %>

  <% id = "collapse#{grad}-#{generic_course_iteration.index}"
  @course = generic_course.current_or_next.try(:decorate)
  @style = @course ? 'success' : 'default'
  @level = generic_course.advanced ? 'gc-advanced' : 'gc-basic'
%>

<div class="card <%= @level %>">

  <div class="card-header" role="tab" id="<%= "#{id}-label" %>">

    <h5 class="mb-0">
      <div class="btn-group gc-btn-group" role="group">
        <button type="button" class="gc-title btn btn-sm btn-<%= @style %>"
                              data-toggle="collapse" 
                              data-parent="#accordion<%= grad %>"
                              data-target="#<%= id %>" 
                              aria-expanded="false" aria-controls="<%= id %>">
                              <%= generic_course.to_html %>
        </button>

        <% if generic_course.shid.present? %>
          <%= generic_course.shid_linked(class: %w[btn btn-sm btn-secondary]) %>
        <% end %>
        <% if policy(Course).create? && Term.next_or_cur_id.present? %>
          <%= link_to(tt('new'), new_teaching_term_course_path(
            term_id: Term.next_or_cur_id,
            generic_course_id: generic_course.id,
            shnaton: 1,
          ), title: 'Create a new instance of the course for the current term',
         'data-toggle' => 'tooltip', class: %w[btn btn-sm btn-secondary]) %>
     <% end %>
      </div>
    </h5>

  </div>

  <div id="<%= id %>" class="collapse" role="tabpanel" 
    arialabelledby="<%= "#{id}-label" %>" >
    <div class="card-body">

      <% if generic_course.desc.present? %>
        <div class="bordered well mathjax">
          <%= markdown(generic_course.desc) %>
        </div>
      <% end %>

      <%= render generic_course.descfiles, size: :sm %>

      <% if generic_course.prereq or 
          (generic_course.policy.edit? and not generic_course.graduate) %>
        <div class="center">
          <%= glyphicon('info') %>
          <%= editable_bool generic_course, :prereq, 
            tt('teaching.generic_course.msc_prereq') %>
        </div>
      <% end %>

      <% if generic_course.core or 
          (generic_course.policy.edit? and generic_course.graduate) %>
        <div class="center">
          <%= glyphicon('info') %>
          <%= editable_bool generic_course, :core, 
            tt('teaching.generic_course.core') %>
      </div>
    <% end %>

    <% if @course %>
      <hr />
      <div>
        <h4 class="text-center"><%= @course.term.linked %></h4>

        <% unless @course.title.blank? or @course.title == generic_course.to_s %>
          <h5><%= @course.title %></h5>
        <% end %>

        <% unless @course.content.blank? or @course.content == generic_course.desc %>
          <div class="bordered well mathjax">
            <%= markdown(@course.content) %>
          </div>
        <% end %>

        <div class="text-center">
          <% if @course.lecturer %>
            <p>
            <strong><%= tt 'teaching.lecturer' %>:</strong>
            <%= @course.linked_lecturer  %>
            </p>
          <% end %>

          <% if @course.hours %>
            <p>
            <strong><%= tt 'teaching.course_hours' %>:</strong>
            <%= @course.hours %>
            </p>
          <% end %>

          <p class="no-indent">
          <strong><%= @course.linked(tt('teaching.webpage'), 
                                     class: 'btn btn-success') %></strong>
          </p>
        </div>
      </div>
    <% end %>
    </div>
    <% if generic_course.action_list(*%w[edit duplicate destroy]).present? %>
      <div class="card-footer d-flex justify-content-around">
        <%= generic_course.action_list('edit', 'duplicate', 'destroy',
          bare: true, class: %w[btn btn-primary], btn_cls: ''
        ).join("\n").html_safe %>
    </div>
  <% end %>
  </div>
</div>

<% end %>
