          <li>
            קורסים המסומנים ב-<%= glyphicon('flash', '(*)') %> מהווים דרישת קדם 
            לרישום לתאר מוסמך
          </li>
          <li>
            קורסים המסומנים ב-<%= glyphicon('education', '(#)') %> הינם קורסי 
            חובה אפשריים למוסמך, בתחומים המתאימים, כמתואר 
            ב<%= link_to('תכנית הלימודים למוסמך', teaching_grad_path) %>. לפחות
            שניים כאלה, מתחומים שונים, נדרשים לעמידה בדרישות התואר.
          </li>
          <li>
            קורסים לתארים מתקדמים פתוחים גם בפני תלמידי בוגר חזקים, להם ציון
            ממוצע של 85 ומעלה, ואשר ניתן להם אישור של המרצים בקורם ושל ראש 
            ועדת ההוראה
          </li>
          <li>
            אנא עיינו בתכניות הלימודים המלאות
            ל<%= link_to('תואר בוגר', teaching_shnaton_path) %> 
          ול<%= link_to('תארים מתקדמים', teaching_grad_path) %> למידע על 
          הדרישות והאפשרויות המלאות.
          </li>
