<% content_for :head do %>
  <style>
#accordion0 div.gc-basic {
  display: none !important;
}

#accordion0 div.gc-advanced {
  display: none !important;
}

button#basic-cb.active ~ div.gc-basic {
  display: inline-block !important;
}

button#advanced-cb.active ~ div.gc-advanced {
  display: inline-block !important;
}
</style>

<% end %>

<%= h1 %>
<div class="row-center">
  <div class="col">
    <h2>
      <%= tt Course, count: 2,
        type: t(:undergrad, scope: [:teaching, :generic_course, :type], 
                 count: 2) %>
  </h2>

    <div class="card-columns columns-wide" id="accordion0" role="tablist" 
      aria-multiselectable="true">
      <button id="basic-cb" data-toggle="button" 
              class="btn btn-outline-info btn-toggle active mb-3" 
              style="float: inline-start" aria-pressed="true">
        <%= tt Course, count: 2,
          type: t(:basic, 
                  scope: [:teaching, :generic_course, :type], count: 2) %>
      </button>
      <button id="advanced-cb" data-toggle="button" 
              class="btn btn-outline-info btn-toggle active mb-3"
              style="float: inline-end" aria-pressed="true">
        <%= tt Course, count: 2,
          type: t(:advanced,
                  scope: [:teaching, :generic_course, :type], count: 2) %>
      </button>
      <%= render partial: 'generic_course', 
                 collection: undergrad, locals: {grad: 0} %>
    </div>
  </div>
</div>

<div class="row-center">
  <div class="col">
    <h2><%= tt Course, count: 2,
      type: t(:grad, scope: [:teaching, :generic_course, :type], count: 2) %>
  </h2>
    <div class="card-columns columns-wide" id="accordion1" role="tablist" 
      aria-multiselectable="true">
      <%= render partial: 'generic_course', collection: grad, 
        locals: {grad: 1} %>
    </div>
  </div>
</div>

<% if dep.present? %>
<div class="row-center">
  <div class="col">
    <h2><%= tt Course,  count: 2,
      type: t(:deprecated, 
              scope: [:teaching, :generic_course, :type], count: 2) %>
  </h2>
    <div class="card-columns columns-wide" id="accordion2" role="tablist" 
         aria-multiselectable="true">
      <%= render partial: 'generic_course', 
        collection: dep.reorder(:shid).decorate, 
        locals: {grad: 2} %>
  </div>
  </div>
</div>
<% end %>


<div class="row-center my-3">
  <div class="col-sm-8 col-md-6">
    <div class="well bordered p-1">
      <h4><%= tt 'notes' %></h4>
      <ul>
        <%= render partial: 'generic_course_notes' %>
      </ul>
    </div>
  </div>
</div>
      

<%= new_button %>

