<% provide(:title, generic_course) %>
<%= h1 do %>
  <%= generic_course.to_html %><%= generic_course.action_list %>
<% end %>

<div class="card-deck">
  <% if generic_course.description.present? || policy.edit? %>
<div class="card">
  <h3 class="card-header">
    <%= GenericCourse.human_attribute_name(:description).capitalize %>
  </h3>
  <div class="card-body">
    <div class="card-text mathjax">
      <%= markdown(generic_course.description) %>
    </div>
  </div>
</div>
<% end %>

<div class="card">
  <h3 class="card-header"><%= tt 'teaching.course_info' %></h3>
  <div class="card-body">
    <dl class="row">
      <% if generic_course.shid.present? || policy.edit? %>
      <dt class="col-sm-7"><%= tt 'teaching.catalog' %>:</dt>
      <dd class="col-sm-5"><%= generic_course.shid_linked %></dd>
    <% end %>

      <dt class="col-sm-7"><%= tt :level %>:</dt>
      <dd class="col-sm-5"><%= tt generic_course.level,
        scope: %i[teaching generic_course type] %></dd>

      <% if generic_course.credits.present? || policy.edit? %>
      <dt class="col-sm-7"><%= tt 'teaching.credits', count: '' %>:</dt>
      <dd class="col-sm-5"><%= generic_course.credits || '' %></dd>
    <% end %>
    </dl>

    <% if @courses = generic_course.courses.presence %>
      <h5><%= tt 'teaching.generic_course.recent' %></h5>
      <ul>
      <% @courses.recent.all.each do |cc| %>
        <li>
          <%= cc.linked(cc.term.to_html) %><% if cc.lecturer.present? || policy.edit? %> (<%= cc.lecturer&.linked %>)<% end %>
        </li>
      <% end %>
      </ul>
    <% end %>

    <% if generic_course.departments.present? || policy.edit? %>
    <h6><%= tt Department, count: 2 %></h6>
    <ul>
      <% generic_course.departments.all.each do |dp| %>
        <li><%=  dp.linked %></li>
      <% end %>
    </ul>
  <% end %>

    <% if generic_course.aguda_rep.present? || policy.edit? %>
    <h6><%= tt IssuesAgudaRep, count: 1 %></h6>
    <p><%= generic_course.aguda_rep&.linked %></p>
  <% end %>


  </div>
</div>
</div>

<% if generic_course.children.present? %>
  <%= graph(generic_course.to_sigma_graph({}, {}, true)) %>
<% end %>

