<template>
  <q-card class="col-md-5 q-ma-md">
    <q-card-section horizontal>
      <q-card-section class="col">
        <q-item class="card-title no-padding">
          <q-item-section>
            <q-item-label>
              <h6 class="no-margin" v-html="name" />
            </q-item-label>
            <q-item-label v-if="help" caption>
              <div v-html="$md(help)" />
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card-section>

    <q-card-section>
      <pe-association
        v-if="Array.isArray(value)"
        :attr="attr"
        :options="options"
        :object="object"
      />
      <dl v-else-if="typeof value === 'object'" class="row">
        <div v-for="loc in $i18n.availableLocales" :key="loc" class="col">
          <dt>{{ ttC('langname.' + loc) }}</dt>
          <dd dir="auto">
            <pe-loc-input
              :attr="attr"
              :object="object"
              :locale="loc"
              :label="`${name} (${loc})`"
            />
          </dd>
        </div>
      </dl>
      <div v-else>
        <pe-text-field :object="object" :attr="attr" />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import objectMixin from '@/mixins/objectMixin'
import PeTextField from '@/Shared/SimpleForm/PeTextField.vue'
import PeLocInput from '@/Shared/SimpleForm/PeLocInput.vue'
import PeAssociation from '@/Shared/SimpleForm/PeAssociation.vue'

export default {
  components: {
    PeTextField,
    PeLocInput,
    PeAssociation,
  },
  mixins: [objectMixin],
  props: {
    attr: {
      type: String,
      required: true,
    },
    options: {
      type: Array,
    },
  },
  computed: {
    keybase() {
      return `settings.attributes.${this.attr}`
    },
    name() {
      return this.ttC(`${this.keybase}.name`)
    },
    help() {
      return this.$te(`${this.keybase}.help`)
        ? this.ttC(`${this.keybase}.help`)
        : false
    },
    value() {
      return this.object[this.attr] || this.object[this.$iattr(this.attr)]
    },
  },
}
</script>
