<div id="footer">

<%= yield(:footer) %>

<footer class="footer">
  <nav class="navbar navbar-light navbar-main navbar-expand-sm
       justify-content-between align-items-center" id="bottom-nav">
    
    <div id="loginbox" dir="ltr">

      <% if current_user_session %>
        <div class="btn-group">
          <span class="btn btn-secondary navbar-btn userid">
            <%= current_session_user.email %>
          </span>
          <%= link_to glyphicon(:logout), 
              logout_path, method: :delete, 
              class: 'btn btn-primary navbar-btn',
              'aria-describedby'=> 'loggedin' %>
            <%= button_to 'Api Token', generate_api_key_people_users_path,
              class: %w[btn btn-info navbar-btn],
              data: { confirm: 'Regenerate api access key?' } %>
        </div>

      <% else %>

        <%= form_for(
          :user_session, 
          url: (Rails.env.development? || Rails.env.test?) ? login_path
              : login_url(protocol: :https), 
        html: {class: 'form-inline collapse navbar-collapse', id: 'loginform'}
                    ) do |f| %>
                    <div class="form-row align-items-center">
                    <div class="form-group col-auto">
            <%= f.label(:email, class: 'sr-only', id: 'label-el') %>
            <%= f.text_field(:email, class: 'form-control navbar-btn', 
                             placeholder: tt(:userid),
                             autocomplete: 'username',
                             'aria-describedby'=> 'label-el',
                             data: { toggle: :tooltip },
                             title: tt(:userid_hint)) %>
                    </div>
                    <div class="form-group col-auto">
            <%= f.label(:password, class: 'sr-only', id: 'label-ps') %>
            <%= f.password_field(:password,  
                                 class: 'form-control navbar-btn', 
                                 placeholder: tt(:password),
                                 autocomplete: 'current-password',
                                 'aria-describedby'=> 'label-ps',
                                 data: { toggle: :tooltip },
                                 title: tt(:password_hint)) %>
                    </div>
                    <div class="col-auto">
            <%= f.button glyphicon(:login), value: 'login',
                         class: "btn navbar-btn btn-primary", id: :login %>
                    </div>
                    <div class="col-auto">
            <%= tag.button(
              glyphicon(:question,
                tt(:title, scope: %i[auth], cascade: false)), 
            class: %w[btn btn-info],
            type: :button,
            title: tt(:title, scope: %i[auth], cascade: false),
            data: {
              toggle: :popover, html: true, placement: :auto,
              trigger: 'hover click',
              content: render('login_help', view_source_map: false,
                              methods: User.auth_methods)
            }) %>
                    </div>
                    </div>
        <% end %>

      <% end %>

    </div>

    <% unless current_session_user %>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#loginform" aria-controls="loginform"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <span class="btn navbar-btn btn-secondary">
      <%= link_to(text_or_icon(tt('teaching.hebsite'), "&alefsym;"),
                  hebsite_url) %>
    </span>

    <% uu = User.admin.try(:decorate) %>
    <% if uu %>
    <span class="btn navbar-btn btn-secondary">
      <em><%= text_or_icon(uu.mailed, uu.mailed('✉')) %></em>
    </span>
  <% end %>

    <div id="langswitch-bot" class="langswitch">
      <%= render partial: 'layouts/langswitch' %>
    </div>
  </nav>
</footer>
</div>
