<% cache page_cache_key.push(title, items) do %>
<% btn ||= 'text-white' %>
<div class="nav-item dropdown">
  <a role="menuitem" class="nav-link dropdown-toggle font-weight-bold <%= btn %>" 
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
     id="<%= title %>" href="#" dir="<%= loc2dir %>">
      <%= tt("#{title}.title") %>
  </a>
  <div class="dropdown-menu" role="menu" aria-labelledby="<%= title %>">
    <% items.each do |x| %>
      <% next unless x %>
      <% if x == '|' %>
        <div class="dropdown-divider"></div>
      <% else %>
        <%= menu_item(title, x, class: %w[dropdown-item]) %>
      <% end %>
    <% end %>
  </div>
</div>

<% end %>

