<% cache page_cache_key do %>
<div id="header">
  <header>
    <nav class="navbar fixed-top navbar-expand-md navbar-main 
         navbar-dark bg-dark justify-content-between" 
         id="top-nav" dir="<%= loc2dir %>">

      <%# brand %>
      <%= link_to(root_path, id: "logo", class: %w[navbar-brand]) do %>
        <span class="d-none d-lg-inline-block"><%= t(:depname) %> </span>
        <%= glyphicon(:home) %>
      <% end %>

      <%# toggle button %>
      <button type="button" class="navbar-toggler navbar-toggler-right"
              data-toggle="collapse" data-target="#topmenu"
              aria-controls="topmenu" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="langswitch-top">
        <%= render partial: 'layouts/langswitch' %>
      </div>

      <%# menu %>
      <nav class="nav-pills nav-fill collapse navbar-collapse 
      justify-content-around" id="topmenu" role="menubar" 
      dir="<%= loc2dir %>">

        <%# positions %>
        <div id="navbar-pos" class="btn-group" role="group" aria-label="positions">
          <a href="/people/positions" 
             class="btn btn-warning text-dark"
             id="navbar-posi"
             role="menuitem"
          >
            <strong>
              <%= text_or_icon(tt('people.positions#index'),
                               tt('people.positions_short#index')) %>
            </strong>
          </a>
          <a href="/teaching/grad" 
             class="btn btn-warning text-dark"
             id="navbar-grad"
             role="menuitem"
          >
            <strong>
              <%= text_or_icon(tt('teaching.grad#show'),
                               tt('teaching.grad#show')) %>
            </strong>
          </a>
        </div>

        <%# People %>
        <%= render partial: 'layouts/header_menu_item', locals: {
                   title: :people,
                   items: %w[admins members postdocs students adjuncts] +
                   (cur_user.present? ?
                    ['|', 'users', '|', cur_user.as_menu_item] :
                    [])
        } %>

        <%# Research %>
        <%= render partial: 'layouts/header_menu_item', locals: {
                   title: :research,
                   items: [[
                       :'research_groups#faculty', 
                       faculty_research_research_groups_path
                   ]] +
                   %w[research_groups weekly seminars events | center] +
                   (cur_user&.menu_items(:seminars) || [])
        } %>

        <%# Teaching %>
        <%= render partial: 'layouts/header_menu_item', locals: {
                   title: :teaching,
                   items:
                   %w[cterm hours] +
                  [[:issues, permitted: true]] +
                  %w[issues_users | shnaton grad generic_courses catalog] +
                  (cur_user&.menu_items(:courses) || [])
        } %>

        <%# Community %>
        <%= render partial: 'layouts/header_menu_item', locals: {
                   title: :community,
                   items: %w[visitors history school wiki imu | facebook] } 
                 %>

        <%# Internal %>
        <% if policy(:internal).show? %>
          <%= render partial: 'layouts/header_menu_item', locals: {
                     title: :internal,
                     items: %w[resources support git xmail | about]
          } %>

        <% end %>

        <%# Settings %>
        <% if policy('settings').show? %>
          <%= render partial: 'layouts/header_menu_item', locals: {
                     title: :admin,
                     items: %i[settings roles versions jobs carousel_items
                     ] + [[:mir, action: :index]], 
                     btn: 'text-warning'
          } %>
        <% end %>
      </nav>

    </nav>
  </header>
</div>
<% end %>
