<div class="btn-group" role="group" aria-label="language" dir="ltr">
  <% if I18n.locale == :en %>
    <%= link_to text_or_icon('English', '&Escr;'), 
      cur_url(locale: 'en'), 
      class: 'btn btn-info navbar-btn disabled' %>
    <%= link_to text_or_icon('עברית', 'ע'),
      cur_url(locale: 'he'), 
      class: 'btn btn-info navbar-btn' %>
  <% else %>
    <%= link_to text_or_icon('English', '&Escr;'), 
      cur_url(locale: 'en'), 
      class: 'btn btn-info navbar-btn' %>
    <%= link_to text_or_icon('עברית', 'ע'), 
      cur_url(locale: 'he'), 
      class: 'btn btn-info navbar-btn disabled' %>
  <% end %>
</div>

