<%= vite_javascript_tag 'application', defer: true %>
<%= javascript_include_tag 'mathjax-config', defer: true %>
<%= unpkg_js_tag 'mathjax/es5/tex-chtml.js',
  defer: true, id: 'Mathjax-script' %>

<%= unpkg_js_tag 'jquery', "dist/jquery.#{ASSETMIN}js" %>

<%= unpkg_js_tag 'bootstrap', "dist/js/bootstrap.bundle.#{ASSETMIN}js", version: '^4.6.0'%>

<%= javascript_include_tag 'application' %>
<%# email de-obfuscation, see mail_to in common_helper.rb %>
<%= javascript_include_tag 'decode-email' %>



