<%= content_for?(:document_class) ? yield(:document_class) : <<'EODC'
\documentclass[oneside,final,12pt]{book}
EODC
%>
\usepackage{amssymb}
\usepackage{amsmath}
\usepackage{xunicode}
<%= yield :preamble %>
\usepackage{hyperref}
\usepackage{xstring}
\def\rooturl{<%= Rails.application.routes.url_helpers.root_url %>}
\hyperbaseurl{\rooturl}
\let\hhref\href
\providecommand{\extrahref}[2][]{\LTRfootnote{\LR{\IfBeginWith*{#2}{http}{\nolinkurl{#2}}{\nolinkurl{\rooturl#2}}}}}
\renewcommand{\href}[2]{\IfBeginWith*{#1}{http}{\hhref{#1}{#2}}{\hhref{\rooturl#1}{#2}}\extrahref{#1}}

\usepackage{polyglossia}
\usepackage{longtable}
%% even in English, we sometimes have Hebrew (as in course hours), and we
%% can't add it in :preamble, since it comes after hyperref
%%\usepackage{bidi}
<% if is_rtl? %>
\setdefaultlanguage{hebrew}
\setotherlanguage{english}
%%\setmainfont[Script=Hebrew,Ligatures=TeX]{Libertinus Serif}
\setmainfont[Script=Hebrew,Ligatures=TeX]{LibertinusSerif}[
  UprightFont = *-Regular,
  BoldFont = *-Bold,
  ItalicFont = *-Italic,
  BoldItalicFont = *-BoldItalic,
  Extension = .otf]

%%\newfontfamily{\hebrewfonttt}{Libertinus Serif}
\newfontfamily{\hebrewfonttt}{Liberation Serif}
<% else %>
\setdefaultlanguage{english}
\setotherlanguage{hebrew}
%%\setmainfont[Ligatures=TeX]{Libertinus Serif}
\setmainfont[Script=Hebrew,Ligatures=TeX]{LibertinusSerif}[
  UprightFont = *-Regular,
  BoldFont = *-Bold,
  ItalicFont = *-Italic,
  BoldItalicFont = *-BoldItalic,
  Extension = .otf]

<% end %>
\SepMark{‭.}
\robustify\hebrewnumeral
\robustify\Hebrewnumeral
\robustify\Hebrewnumeralfinal

% vim: ft=eruby.tex:

