<!DOCTYPE html>
<html xml:lang="<%= outer_locale.to_s %>" lang="<%= outer_locale.to_s %>">
  <head>
    <% unless @minimal_head %>
      <% I18n.available_locales.each do |l| %>
        <%= tag(:link,
                rel: :alternate, hreflang: l, href: cur_url(locale: l)) %> 
      <% end %>
      <link rel="alternate" 
            hreflang="x-default" 
            href="<%= cur_url(locale: '') %>"
      >
    <% end %>

    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <!-- http://stackoverflow.com/q/6771258 -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%# following is required for rails-ujs %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= vite_client_tag %>

    <% if legacy %>
      <%= favicon_link_tag %>
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track' => true %>
      <% unless @minimal_head %>
        <% if content_for?(:description) %>
          <meta name="description" content="<%= yield(:description) %>" >
        <% end %>
        <% if content_for?(:keywords) %>
          <meta name="keywords" content="<%= yield(:keywords) %>" >
        <% end %>
      <% end %>

      <%= yield :head %>

    <% end %>

    <%# vite_stylesheet_tag 'application.scss' %>
    <%# extracss %>

    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="tex2jax_ignore">

    <%= yield %>

    <% if Rails.env.development? %>
      <div class="debug">
        <%= debug(params) %>
        <p>Current User: <%= current_user&.decorate %></p>
        <p>Inner Locale: <%= inner_locale %></p>
        <p>Outer Locale: <%= outer_locale %></p>
        <p>Today: <%= Date.current %></p>
      </div>
    <% end %>

    <%# render 'layouts/layoutjs' %>
    <%# extrajs %>

    <% if (schema = to_schema) && %w[index show].include?(action_name) %>
      <script type="application/ld+json">
        <%= schema.merge(:@context => 'http://schema.org').to_json.html_safe %>
      </script>
    <% end %>

  </body>
</html>

