<!DOCTYPE html>
<html xml:lang="he" lang="he" class="carousel">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- http://stackoverflow.com/q/6771258 -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%# reload page automatically %>
    <meta http-equiv="refresh" content="<%= reload_secs %>">
    <%# following is required for rails-ujs %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <!-- CSS -->
    <%# stylesheet_link_tag "https://use.fontawesome.com/releases/v#{FA_VERSION}/css/all.css", crossorigin: 'anonymous' %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'carousel', media: 'all',
      'data-turbolinks-track' => true %>
    <!--        -->

    <title>
      <%=  t(:depname) %>
    </title>
    <meta name="description" 
          content="<%= content_for?(:description) ? yield(:description) 
          : t(:department_long) %>">
          <meta name="keywords" 
                content="<%= content_for?(:keywords) ? yield(:keywords)
                : t(:keywords) %>">

                <%= csrf_meta_tags %>

  </head>

  <body class="tex2jax_ignore">
    <div id="fullpage">

      <main aria-label="Content">

        <div id="maincontent" dir="<%= loc2dir %>" lang="<%= I18n.locale %>"
          class="vh-100 vw-100">

          <%= yield %>

        </div>

      </main>


    </div>

    <% if Rails.env.development? %>
      <div class="debug">
        <%= debug(params) %>
        <p>Inner Locale: <%= inner_locale %></p>
        <p>Outer Locale: <%= outer_locale %></p>
      </div>
    <% end %>

    <%= render 'layouts/layoutjs' %>

    <%= unpkg_js_tag 'jquery-expander' %>

    <%= javascript_include_tag 'carousel-expander' %>

    <%= yield :extrajs %>

  </body>
</html>

