<div id="maincontent" dir="<%= loc2dir %>" lang="<%= I18n.locale %>"
     class="<%= @noeditable ? '' : 'editable-allowed' %>">
  <%= yield :inner_header %>
  <%= render partial: "#{action_name}_header" rescue nil %>

  <div aria-live="polite" aria-atomic="true" 
    class="d-flex justify-content-end align-items-center">
    <%= content_for :toasts %>
  </div>

  <section id="pagecontent" style="width: 100%">
    <%= yield %>
  </section>
  <%= render partial: "#{action_name}_footer" rescue nil %>

  <%# buttons %>
  <% if content_for?(:buttons_footer) %>
    <div id="buttons-div" class="container mt-3">
      <nav class="navbar nav navbar-expand-md navbar-light bg-light
                  justify-content-center" id="buttons-nav">
        <%# toggle button %>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse" data-target="#footer-buttons"
                aria-controls="footer-buttons" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="footer-buttons">
          <ul class="navbar-nav justify-content-around">
            <%= content_for(:buttons_footer) %>
          </ul>
        </div>
      </nav>
    </div>
  <% end %>
  <%= yield :inner_footer %>

</div>

